body {background:#F2F2F2;margin:0;padding:0;text-align:center;font-family: 'Roboto', Arial, Heveltica, sans-serif;font-size:0.95rem;color:#4D4D4D;}
input:focus, textarea:focus{outline:none;}
a{text-decoration:none;color:#4D4D4D;}
textarea {font-family:inherit;resize:none;color:inherit;box-sizing: border-box;}
input[type=submit] {-webkit-border-radius:0px;}
input[type=text], input[type=password] {-webkit-border-radius:0px;box-sizing:border-box;}

#container{margin:0 auto;padding:0;width:1000px;padding:15px;text-align: left;padding-bottom: 10px;background:#F2F2F2;position:relative}
#branding {position:relative;}

#head{width:100%;height:80px;margin-bottom:15px;color:#fff;}
#head.admin {height:56px;}
#head.admin #head_bottom {display:none;}
#head.subcats {height:110px}

#head_top {height:50px;background:#000;}
#head_g1 {display:none}
#head_g2 {float:left;height:50px;overflow:hidden;}
#head_g3 {float:right;}

#head_top.v3 {height:56px;}
#head_top.v3 #head_g2 {height:56px}

/*#head_home{display:block;float:left;width:100px;height:46px;margin:3px 5px 0 5px;background:url(/resp/img/sp2.png?20200727) 0px -1px no-repeat;}*/
#head_home{display:block;float:left;width:100px;height:40px;margin:5px 6px 0 15px;background:url(/resp/img/logo.svg) 0px 0px no-repeat;}
#head_top.v3 #head_home {margin-top:8px}
/*#head_games, #head_login, #head_dating {float:left;width:170px;height:30px;margin-top:10px;background:#fff url(/resp/img/sp2.png?20200727) -2px -52px no-repeat;border-radius:4px;color:#000;}*/
#head_games, #head_login, #head_dating, #head_ocean {display:block;float:right;margin-right:20px;width:70px;height:25px;padding-top:5px;padding-left:40px;background:#fff url(/resp/img/sp2.png?20200727) -3px -88px no-repeat;text-transform:uppercase}
#head_games {width:1px;overflow:hidden;}
#head_dating {background: linear-gradient(90deg, #fb536b 0%, #fb529a 100%); width:80px;padding:2px 10px;height:26px;}
#head_dating span {display:block;width:100%;height:100%;background: url(/resp/img/dating/sprite.svg?20210303#logo) center center no-repeat;}
#head_profile {float:right;height:40px;margin-top:5px;}
#head_profile .news_num {display:none}

/*
#head_search {margin-left:20px}
#head_search input {padding:3px 5px;background:#fff;width:135px;margin:3px 0 0 30px;font-size:0.9rem;border:none}*/

#head_top.v3 #head_games {border-radius:0;}
#head_top.v3 #head_games {background:url(/resp/img/icons.svg?20210921#ico-games) 0px 0px no-repeat;background-size:40px 25px;color:#fff;padding:5px 0 5px 47px;font-size:0.85rem;width:auto;margin-top:15px}
#head_top.v3 #head_ocean {background:url(/resp/img/svg/palm.svg) 0px 0px no-repeat;background-size:40px 40px;color:#fff;padding:12px 0 5px 40px;font-size:0.85rem;width:auto;margin-top:8px}

#head_search {width:1px;height:1px;float:left;background:url(/resp/img/icons.svg?20210921#ico-search) 0px 0px no-repeat;background-size:24px 24px;padding:23px 23px 0px 0px;margin:15px 0 0 0px;cursor:pointer;}
#head_search {margin-left:0px;margin-right:20px}

#search_overlay {position:fixed;z-index:100;width:400px;height:30px;border-bottom:1px solid #fff;top:50%;left:50%;transform: translate(-50%,-50%);font-size:1.15rem}
#search_overlay span, #search_overlay input, #search_overlay a {display:block;float:left;width:}
#search_overlay span {width:70px}
#search_overlay input {width:300px;background:none;border:none;font-size:1.15rem;color:#fff}
#search_overlay a {float:right;padding:20px 20px 0 0;background:url(/resp/img/icons.svg?20210921#ico-search) 0 0 no-repeat;}
/*
#head_search input {background:none;border:none;width:100%;padding:0;margin:0;color:#fff}
#head_search input::placeholder {color:#fff}*/

#head_login {margin:5px 10px;background-position: 4px -203px;}
#head_nick {display:block;float:right;padding:12px 10px 10px 42px;background:url(/resp/img/sp2.png?20200727) 8px -161px no-repeat;text-transform:uppercase;font-size:0.8rem;color:#fff;}

#head_top.v3 #head_nick, #head_top.v3 #head_login {background: url(/resp/img/icons.svg?20210921#ico-profile) center 0px no-repeat;margin-top:2px;padding:32px 10px 0px 10px;min-width:60px;text-align:center;height:12px;border-left:1px solid #fff;font-size:0.65rem;background-size:25px 27px;max-width:120px;overflow:hidden;}
#head_top.v3 #head_login {background: url(/resp/img/icons.svg?20210921#ico-profile-gray) center 2px no-repeat;width:1px;height:1px;overflow:hidden;min-width:0;background-size:30px 35px;border-radius:0;padding:43px 60px 0px 0px;margin-left:0px;margin-right:0px}

#head_ballons {margin-right:10px;float:right;}
#head_ballons a {float:left;display:block;height:25px;min-width:25px;padding:0px 5px;margin-top:5px;background:#fff;border-radius:3px;color:#000;font-size:0.8rem;margin-right:4px;text-align:center;}
#head_ballons a.red {background:#DA4942;color:#fff;}
#head_ballons span {display:inline-block;padding: 5px 0 5px 22px;height:15px;min-width:1px;min-height:0.9rem;}
#head_ballons tri {display:block;margin:auto;position:relative;top:-4px;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-top: 8px solid #fff;}
#head_ballons a.red tri {border-top: 8px solid #DA4942;top:0px}
#head_ballons a br {display:none}

#head_top:not(.v3) #head_ballons #head_msg span {background:url(/resp/img/sp2.png?20200727) -5px -411px no-repeat;}
#head_top:not(.v3) #head_ballons #head_msg.red span {background:url(/resp/img/sp2.png?20200727) -5px -437px no-repeat;}
#head_top:not(.v3) #head_ballons #head_notif_com span {background:url(/resp/img/sp2.png?20200727) -5px -357px no-repeat;}
#head_top:not(.v3) #head_ballons #head_notif_com.red span {background:url(/resp/img/sp2.png?20200727) -5px -384px no-repeat;}
#head_top:not(.v3) #head_ballons #head_notif_no-com span {background:url(/resp/img/sp2.png?20200727) -5px -469px no-repeat;}
#head_top:not(.v3) #head_ballons #head_notif_no-com.red span {background:url(/resp/img/sp2.png?20200727) -5px -503px no-repeat;}
#head_top:not(.v3) #head_ballons #head_notif_no-com {margin-right:0}

#head_top:not(.v3) #head_ballons #head_messenger span {background:url(/resp/img/sp2.png?20200727) -323px -225px no-repeat;}
#head_top:not(.v3) #head_ballons #head_messenger.red span {background:url(/resp/img/sp2.png?20200727) -324px -251px no-repeat;}

#head_ballons.anon a {opacity:0.6}

#head_top.v3 #head_ballons {border-left:1px solid #fff;height:44px;padding:0 18px;margin-top:2px;margin-right:0}
#head_top.v3 #head_ballons tri, #head_top.v3 #head_ballons br  {display:none}
#head_top.v3 #head_ballons a, #head_top.v3 #head_ballons a.red {background:none;border-radius:0;padding:8px 0 0px 27px;color:#fff;width:auto;min-width:5px;margin-right:15px}
#head_top.v3 #head_ballons a.red  {padding-left:32px;margin-right:12px}
#head_top.v3 #head_ballons span {display:inline;padding:0;height:auto;}

#head_top.v3 #head_ballons #head_messenger {background:url(/resp/img/icons.svg?20210921#ico-msg-white) 0px 0px no-repeat;background-size:32px 30px;padding-left:29px}
#head_top.v3 #head_ballons #head_messenger.red {background:url(/resp/img/icons.svg?20210921#ico-msg-red) 0px 0px no-repeat;background-size:32px 30px;padding-left:34px}
#head_top.v3 #head_ballons #head_notif_com {background:url(/resp/img/icons.svg?20210921#ico-head-com) 0px 2px no-repeat;background-size:30px 29px;margin-right:13px}
#head_top.v3 #head_ballons #head_notif_com.red {background:url(/resp/img/icons.svg?20210921#ico-head-com-act) 0px 2px no-repeat;background-size:30px 29px;margin-right:11px}
#head_top.v3 #head_ballons #head_notif_no-com {background:url(/resp/img/icons.svg?20210921#ico-head-notif) 0px -1px no-repeat;background-size:30px 30px;margin-right:0;padding-left:20px}
#head_top.v3 #head_ballons #head_notif_no-com.red {background:url(/resp/img/icons.svg?20210921#ico-head-notif-act) 0px -1px no-repeat;background-size:30px 30px;padding-left:25px}


#head_bottom, #head_bottom2  {height:28px;border-bottom:2px solid #ADADAD;font-size:0.9rem;overflow:hidden;}
#head.subcats #head_bottom {border:none;}

.head_cats span {display:block;float:left;text-transform:uppercase;margin:6px 10px 0 5px}
.head_cats a {color:#333;}
.head_cats span.morec {float: right;}
.head_cats a img {display:none}
.head_cats a.act {font-weight:bold}
.head_cats a[href="/latvija-tests"] {color:#FB6167}

#head_sub_cats {border-top:1px solid #ADADAD}
#head_sub_cats span {font-size:0.8rem; text-transform:none;}

/*** menus ***/
#open_menu_overlay {display:none;}
#open_menu_wrap {position:relative;}
#open_menu {position:absolute;z-index:11;width:340px;right:0;background:#000}
#open_menu a {cursor:pointer}
#open_menu a span{display:block;color:#fff;padding:8px;font-size:0.9rem;}
#open_menu a:hover span {background:#333}
#open_menu.morecats a {float:left;width:50%}
#open_menu a span.lime {color:lime}
#open_menu a span.red {color:red}
#open_menu a span.gold {color:#FED701}

#open_menu.order, #open_menu.order_meme {margin-top:20px;width:auto;text-transform:uppercase;min-width:85px}
#open_menu.order a span, #open_menu.order_meme a span {font-size:0.8rem;}
#open_menu.prof.web {width:auto;padding: 0 5px}

#head_top:not(.v3).menu_act.web #head_nick {background-color:#333;background-position:8px -156px;position:relative;padding:17px 10px 17px 42px;margin-top:-5px;}
#head_top.v3.menu_act.web #head_nick {background-color:#333;}

#head_bottom.menu_act {overflow:visible}
#head_bottom.menu_act span.morec {background:#000;margin:2px 0 0 0;padding:4px 10px 6px 5px;position:relative;z-index:2}
#head_bottom.menu_act span.morec a {color:#fff}


/*** globls ***/
.left {float:left;}
.right {float:right;}
.left.main_cnt {width:690px;}
.left.main_cnt:first-of-type {min-height:500px;}
.right.main_cnt {width:300px;min-height:300px;}
.clear, .clearer, clear{display:block;clear:both;}
.giga {text-align:center;margin-bottom:10px;background:#ccc;height:300px}
.giga.rendered {height:auto;background:none;}
/*.giga:empty,*/ .giga.empty {display:none}
span.ad-placeholder {display:flex;width:100%;height:100%;align-items:center;justify-content:center;font-size:0.85rem;color:#aaa}
.giga.rendered span.ad-placeholder {display:none}
.btn {text-transform:uppercase;padding:5px 15px;font-size:1.05rem;background-color:#000;color:#fff;border:none;cursor:pointer;white-space:nowrap}
.btn.big {padding:8px 20px;font-size:1.15rem}
.btn.round {border-radius:3px;}
.text-right {text-align:right}
.text-center{text-align:center}
.hidden {display:none}
.text_red {color:#DA4942}
.text_green {color:#408F4D}
.back_red {background:#DA4942}
.back_green {background:#408F4D}
.back_gray {background:#4d4d4d}
.min620 {min-height:620px}
.left.main_cnt.round, .com_list.round, .simple_editor.round {border-radius:10px;box-shadow:0px 0px 2px #ccc}
.as_mid_adv .giga, .as_mid_adv #adsense_mid {margin-top:-10px}
#as_giga2:empty, #as_giga2.empty {display:block}

.dfp-ad--pagebreak {width:calc(100vw - 8px);background:#000;margin-left:calc((100vw - 1200px) / -2);padding:0;}
.dfp-ad--pagebreak > div {position:relative;z-index:201}
.dfp-ad--pagebreak iframe {position: static !important;padding:20px 0;background:#fff}
.dfp-ad--pagebreak iframe + div {display:none}

/*** order/filters ***/
#order_by {position:relative;float:right;}
#order_by a {position:absolute;right:0;font-size:0.6rem;padding:5px;width:75px;text-transform:uppercase;text-align:right}
#order_by font {margin-left:3px;font-size:0.5rem}
#order_by.menu_act a {background:#000;color:#fff}

#order_by.open {font-size:0.6rem}
#order_by.open a {position:initial;width:auto;display:inline;right:auto;padding:0;margin: 0 3px;}
#order_by.open > div {position:absolute;width:260px;right:0;text-align:right;padding:5px 5px 0 0 }
#order_by.open a span.gold {font-weight:bold}

/*** article list ***/
.article_item {background:#fff;color:#4D4D4D;margin-bottom:10px;overflow:hidden;}
.article_item .in {padding:10px}
.article_item h2, .article_item h1 {font-size:1.8rem;margin:5px 0 10px 0;font-weight:normal}
.article_item.first h2 {max-width:620px}
.article_item.first.exp h2 {margin-top:15px}
.article_item .title-sml {display:none}

.article_item figure {margin:0;height:375px;overflow:hidden;background:#f2f2f2;text-align:center;position:relative}
.article_item.small figure {height:175px;margin-top:8px;}
.article_item figure img {position:relative;max-width:100%;top:50%;transform:translateY(-50%);vertical-align:middle;/*display:block;margin:0 auto;*/}
.article_item figure.exact img {top:0;transform:none}
/*img.lazyload-img {width:auto !important;}*/
.article_item figure a.lazyload-parent {height:100%;display:block;}
/*.article_item figure img.safari {top:0;transform:none}*/

.article_item .desc {margin:10px 0;font-size:0.85rem;line-height:1.1rem;}
.article_item .desc-sml {display:none}
.article_item .params {border-top:1px solid #f2f2f2;padding-top:8px;font-size:0.9rem;}
.article_item .params .author {padding-left:20px;text-transform:uppercase;color:#808080 !important;background:url(/resp/img/icons.svg?20210921#ico-profile-gray) 0px 0px no-repeat;background-size:17px 17px}
.article_item .com, .best-box2 .com, .feedInclude .com, .com_itm .com, .pa-itm .com, #p_ajax_b .hits {padding-left:22px;padding-bottom:1px;background:url(/resp/img/icons.svg?20210921#ico-com-gray) 0px 1px no-repeat;background-size:17px 17px;font-size:0.9rem;font-weight:normal;margin-left:8px;color:#808080;cursor:pointer;}
 #p_ajax_b .hits {background:url(/resp/img/icons.svg?20210921#ico-hits) 0px 1px no-repeat;background-size:22px 22px;padding-left:26px;}
.article_item .params .iconum {margin:0 5px 0 0 !important}
.article_item .iconum {margin-left:10px}
/*.article_item .iconum:first-of-type{margin-left:0}*/

.article_item.big {clear:both}

.article_item.small {float:left;width:49%;margin-right:2%}
.article_item.small .h2_wrap {height:2.9rem;overflow:hidden;}
.article_item.small h2 {font-size:1.2rem;line-height:1.45rem;height:2.8rem;display:table-cell;/*vertical-align:middle;*/}
.article_item.small.even {margin-right:0}
.article_item.small .title-full {display:none}
.article_item.small .title-sml {display:inline}


.article_item.small .desc {height:2.2rem;overflow:hidden}
.article_item.small .desc-full {display:none}
.article_item.small .desc-sml {display:inline}

.article_item.meme .h2_wrap {display:none}
.article_item.meme.first figure {margin-top:15px}
.article_item.meme figure {max-height:1000px;height:auto}
.article_item.meme figure img {transform:none;margin-top:0;top:0}

.iconum {float:left;background:#f5f5f5;padding:8px 15px 8px 28px;border-radius:6px;}
.iconum.minus {margin-left:5px}
/*
.iconum ico {display:block;float:left;width:19px;height:19px;}
.iconum num {display:block;float:left;color:#808080;margin:1px 0 0 5px;}*/
.iconum.plus {background:#f5f5f5 url(/resp/img/icons.svg?20210921#ico-heart) 7px 8px no-repeat;background-size: 17px 17px }
.iconum.minus {background:#f5f5f5 url(/resp/img/icons.svg?20210921#ico-thumb) 7px 8px no-repeat;background-size: 17px 17px  }
.iconum.comnum {background:#f5f5f5 url(/resp/img/icons.svg?20210921#ico-com) 7px 8px no-repeat;background-size: 17px 17px  }
.iconum.fb {background:transparent url(/resp/img/icons.svg?20210921#ico-fb-blue) 2px 4px no-repeat;background-size: 22px 22px;padding-right:5px;}
.iconum img {max-height:12px;}

.iconum.sudz {background: #f5f5f5 url(/resp/img/icons.svg?20210921#ico-warn-fill) 7px 7px no-repeat;background-size:17px 17px;margin:0px !important;*/color:#f13938}

.iconum.plus.act {background:#fb6167 url(/resp/img/icons.svg?20210921#ico-heart-white) 7px 8px no-repeat;background-size: 17px 17px; color:#fff}
.iconum.minus.act {background:#ada2ff url(/resp/img/icons.svg?20210921#ico-thumb-white) 7px 8px no-repeat;background-size: 17px 17px; color:#fff}

.iconum.sml, .iconum.sml.plus.act, .iconum.sml.minus.act {padding:4px 10px 4px 22px;background-size:14px 14px;background-position:5px 5px;font-size:0.8rem;}
.iconum.sml.fb {padding:4px 5px 4px 22px;background-size:18px 18px;background-position:0px 2px;background-color:transparent}
.iconum.sml img {max-height:10px;}
.article_item.index .right.votes {margin-top:-2px}

.article_item.high {background:#FFB402;color:#1e1e1e}
.article_item.high a, .article_item.high .params .author, .article_item.high .com  {color:#1e1e1e !important}
.article_item.high .params {border-color:#fff}
.article_item.high .params .author {background:url(/resp/img/icons.svg?20210921#ico-profile-black) 0px 0px no-repeat;background-size:17px 17px}
.article_item.high .com {background:url(/resp/img/icons.svg?20210921#ico-com-white) 0px 0px no-repeat;background-size:17px 17px}
/*.article_item.high .iconum.fb {background-image: url(/resp/img/icons.svg?20210921#ico-fb);color:#fff }*/
/*
.votes.compact .iconum ico {width:21px;height:21px;}
.votes.compact .iconum.plus ico {background-position: -210px 0px; }
.votes.compact .iconum.minus ico {background-position: -210px -25px; }
.votes.compact .iconum num {margin-top:2px}
*/

.up_label {position:absolute;background:#DA4942;color:#fff;font-size:0.7rem;padding:3px 10px;z-index:2;left:0}
.up_label.origin1, .up_label.origin2 {display:none}

/*.a-first .up_label {margin:5px 0 0 5px; box-shadow: 2px 2px 2px #666;}
.up_label.opened {background: #2b54a4}*/

.feedInclude {padding:15px;color:#4d4d4d;margin-bottom:10px;background:#fff;}

.feedInclude.tvnet {background:#FF5500;color:#fff}
.feedInclude.apollo {background:#AA182C;color:#fff}
.feedInclude.quiz2 {background: linear-gradient(180deg, rgba(53,86,53,1) 0%, rgba(85,118,85,1) 50%, rgba(53,86,53,1) 100%);color:#fff}

.feedInclude .itm {float:left;width:49%;margin-right:2%;}
.feedInclude .itm:last-of-type {margin-right:0}

.feedInclude h3 {margin:0px;margin-bottom:7px;padding:0;font-size:1.5rem;font-weight:normal;}
.feedInclude.tvnet h3 {background:url(/resp/img/sp2.png?20200727) -762px -236px no-repeat;padding:0 0 0 36px;}
.feedInclude.apollo h3 {background:url(/resp/img/sp2.png?20200727) -762px -276px no-repeat;padding:0 0 0 36px;}
.feedInclude.quiz2 h3 {background: url(/resp/img/icons.svg?20210921#ico-quiz) 0px -2px no-repeat;background-size:32px 32px;padding:0 0 0 40px;}

.feedInclude figure {margin:5px 0;min-height:169px;max-height:182px;overflow:hidden;background:#f2f2f2}
.feedInclude figure img {width:100%;display:block;}
.feedInclude a {color:#4d4d4d}
.feedInclude .com {background-position: -3px -329px; color:#808080 !important}

.feedInclude.tvnet a, .feedInclude.apollo a, .feedInclude.quiz2 a {color:#fff}
.feedInclude.tvnet .com, .feedInclude.apollo .com, .feedInclude.quiz2 .com {background:url(/resp/img/icons.svg?20210921#ico-com-white) 0px 1px no-repeat;background-size:15px 15px;color:#fff !important;font-size:0.8rem;padding-left:19px;}

.feedInclude .btn {background:#4d4d4d;color:#fff}

.feedInclude.quiz2 h3 {}
.feedInclude.quiz2 p {margin:15px 0 5px 0;font-size:1.25rem}
.feedInclude.quiz2 .btn {background:#fff;color:#355635;}

.article_wrap {margin-bottom:20px}
.open_article .article_item.remote {min-height:655px !important}
.open_article .in {padding:15px}
.open_article h1 {font-weight:bold;margin-top:0;}
.open_article p, .open_article .intro.remote, .open_article .remote_link {font-size:1.15rem;line-height:1.8rem;margin: 0 0 10px 0}
.open_article p a {color:#DA4942}
.open_article .intro {margin-top:10px;overflow:hidden}
.open_article .intro p:first-of-type, .open_article .intro_quiz p:first-of-type {font-weight:bold;}

.open_article .intro.remote {margin-top:20px}
.open_article .intro.remote br {line-height:20px}
.open_article .intro.remote p {font-weight:normal}

.open_article .gallery_img {margin-bottom:15px;position:relative;}
.open_article .gallery_img.lazyload-parent {background:#f2f2f2;min-height:200px;}
.open_article .gallery img, #gallery_tmp img {max-width:100%;}
.open_article .gallery .img_foot {font-size:0.8rem;text-align:right;color:#808080}
.open_article .gallery .img_desc {overflow:hidden;margin-top:5px}

.open_article.quiz .article_item{background:none}
.open_article.quiz .in{padding:0px}

.open_article .intro_quiz {padding:30px 15px 15px 15px;border-radius:10px;background: linear-gradient(90deg, #8A7CF7 0%, #A69CF7 100%);color:#fff;margin:20px 0}
.open_article .intro_quiz h1 {font-weight:normal;border-bottom:1px solid #fff;padding-bottom:15px;margin-bottom:15px}
.open_article .intro_quiz a {color:#fff}

.open_article .intro_quiz p {font-size:0.95rem;line-height:1.4rem;}

.open_article .intro_quiz .params .author {color:#fff !important;background:url(/resp/img/icons.svg?20210921#ico-profile) 0 0 no-repeat;background-size:17px 17px;}
.open_article.quiz .iconum:not(.act) {background-color:#fff;color:#808080}
.open_article .intro_quiz .iconum.fb {background:transparent url(/resp/img/icons.svg?20210921#ico-fb) 2px 6px no-repeat;background-size:20px 20px;color:#fff}

.open_article .params.voting.sec4 {border-bottom:none}
.open_article .intro_quiz #tool_wrap {margin-top:10px}
.open_article .intro_quiz #tools, .open_article .intro_quiz #medals {background-color:#fff;color:#4d4d4d}

.embeds {}
.embeds .video_wrap {margin-bottom:25px}
.embeds .video_div {position:relative;width:100%;height:0;}
.embeds .video_div iframe {position: absolute;top:0;left:0;}
.embeds .v-num {margin:5px 0 0px 0}

.social_embed {text-align:center;}
.social_embed > iframe, .social_embed > div.twitter-tweet {margin-left:auto !important;margin-right: auto !important}
.social_embed > div.fb-post {left:auto;right:auto;}

.open_article .voting {padding: 2px 0 5px 0;border-top:none;border-bottom:1px solid #f2f2f2}
.open_article .voting .author_wrap {margin:8px 10px 0 0}
.voting .plus, .voting .minus {cursor:pointer}
/*.open_article .params.voting.sec2 .right.shareBtns {margin-top:5px}*/
.open_article .params.voting.sec2.scroll {border-color:#808080;padding-bottom:10px}

.commentBlock h3 .com {float:left;margin:0px 0 0 12px;font-size:1.2rem;background:url(/resp/img/icons.svg?20210921#ico-com) 1px 1px no-repeat;padding:3px 0 3px 32px;background-size:28px 28px;}

.shareBtns {font-size:0.95rem;color:#808080}
.shareBtns span {padding:7px 1px}
.shareBtns a, .shareBtns.index a {color:#fff !important;font-size:0.9rem;padding: 7px 15px 7px 35px;background:#FD6204 url('/resp/img/svg/drlv.svg') 10px 7px no-repeat;margin-left:5px;border-radius:5px;background-size:18px 18px;cursor:pointer;}
.shareBtns a.fb, .shareBtns.index a.fb {background: #334481 url('/resp/img/svg/fb.svg') 10px 7px no-repeat;background-size:16px 16px}
.shareBtns a.tw, .shareBtns.index a.tw  {background: #000000 url('/resp/img/svg/twx.svg') 10px 7px no-repeat;background-size:16px 16px}
.shareBtns a.wa, .shareBtns.index a.wa {display:none;padding-right:0;background: #2AD73B url('/resp/img/svg/wa.svg') 10px 7px no-repeat;background-size:16px 16px}
.shareBtns a.sp  {background: #000 url('/resp/img/svg/spoki.svg') 10px 7px no-repeat;background-size:16px 16px}

.open_article .imgvote {margin:5px 0}

.shareBtns.index {float:left;font-size:1.05rem;color:#808080;margin-right:20px;margin-top:0px}
.shareBtns.index span {font-size:0.85rem;}
.shareBtns.index a {font-size:0.8rem;padding: 4px 10px 4px 25px;background-position:3px 3px}
.shareBtns.index a.fb {background-position:3px 3px}
.shareBtns.index a.tw  {background-position:3px 3px}
.shareBtns.index a.wa {background-position:3px 3px}

.open_article.user_img .right.shareBtns {margin-top:5px}


/*.sudz_url {margin-top:20px;font-size:0.75rem;padding:5px 0 0 25px;background:url(/resp/img/icons.svg?20210921#ico-warn-fill) 0 0 no-repeat;background-size:20px 20px}*/

#splitBox2 {padding:10px 10px;background:#000;margin-bottom:20px}
#splitBox2 a {display:flex;position:relative;align-items:center;}
#splitBox2 span {display:block;color:#fff}
#splitBox2 span:first-of-type {width:30%;float:left;max-height:150px;overflow:hidden;}
#splitBox2 span:last-of-type {width:68%;float:right;font-size:0.85rem;margin-left:2%;line-height:1.2rem}
#splitBox2 font{display:block;font-weight:bold;font-size:1.4rem;color:#fff;margin-bottom:10px;}
#splitBox2 img {width:100%;display:block}
#splitBox2 img.center {margin-top:25%;transform:translateY(-50%);}
#splitBox2 span.notext {}

.nav {margin-bottom:5px;text-align:right}
.nav div {display:inline}
.nav, .nav a {font-size:0.6rem;color:#aaa;}

.sources {/*border-top:1px solid #f2f2f2;*/font-size:0.8rem;margin-top:10px;padding-top:5px;color:#808080}

.open_article .poll {margin-bottom:20px}
.open_article .intro .poll.remote {width:50%;float:right;margin:0 0 5px 15px}
.open_article .poll.remote .poll-qu {background:none;padding-left:5px;min-height:1rem}
.open_article .poll.remote:not(.mob) .poll-atb, .open_article .poll.remote:not(.mob) .poll-proc, .open_article .poll.remote:not(.mob) .poll-stats  {line-height:1.2rem}
.open_article .poll.remote:not(.mob) label.radio-btn {font-size:1.1rem}
.open_article .poll.remote:not(.mob) label.radio-btn span {}

.open_article .status_btns {margin:10px 0;text-align:center;}
.open_article .status_btns div:first-of-type {color:#DA4942;text-align:left;margin-bottom:10px;}
.open_article .status_btns a {margin:0 5px;border-radius:3px;background:#408F4D }
.open_article .status_btns #btn-approv {background:#DA4942}

.open_article .intro_quiz .status_btns div:first-of-type {color:#FFE1D3;}
/*** koments ***/
.commentBlock h3, #pm_form h2, .form_title, .section_title {font-size:1.6rem;font-weight:normal;color:#4d4d4d;margin:10px;padding:0}
.section_title {margin-left:0}
.commentBlock h3 .com {float:none;margin-left:6px;}
/*.commentBlock a.showcom {font-size:0.85rem;display:block;margin:10px 0;color:#DA4942}*/
.commentBlock h3.scroll {border-bottom:1px solid #808080;padding:10px 0;margin:0;margin-bottom:10px;}
.article_item .in .commentBlock h3.scroll {margin-top:20px;border-bottom:1px solid #f2f2f2}

.com_btn.round {margin-top:5px}

.com_btns.scroll {height:30px;margin-top:15px}
.com_btns.scroll a, .cnt_btn a.btn {border-radius:4px;font-size:0.95rem;text-transform:none}
.cnt_btn {margin:20px 0 10px 0}
.cnt_btn a.btn {background:#8A7CF7;}

.simple_editor {background:#fff;padding:10px;}
.simple_editor textarea {width:100%;min-height:120px;max-height:240px;font-size:1.1rem;line-height:1.4rem;resize:none;border:none;}
.simple_editor textarea.min {min-height:30px;}
.simple_editor .autotext {font-size:0.9rem;padding:5px;color:#808080}
.emoBtns {margin-top:10px;float:left;}
.emoBtns a {display:block;float:left;width:30px;height:30px;background:url(/resp/img/messenger/sprite.svg?20210705#ico-emo) 0 0 no-repeat;background-size:30px 30px;cursor:pointer;margin-right:6px;}
.emoBtns a.pic {background-image:url(/resp/img/messenger/sprite.svg?20210705#ico-gif)}
.simple_editor .com_lim {float:right;margin-top:25px;color:#bbb}

.com_list {padding:10px;background:#fff;margin-top:20px}
.com_itm {padding-bottom:10px;margin-bottom:10px;color:#4d4d4d;border-bottom:1px solid #f2f2f2}
.com_itm.last, #p_ajax_b .com_itm{border:none;}
.com_itm .text {margin: 10px 0 10px 0; overflow:hidden; line-height:1.4rem;}
.com_itm .text p {margin: 2px 0 2px 0;font-size:0.95rem; line-height:1.4rem;}
.com_itm .text img {max-height:300px;max-width:100%}
.com_itm .text img.pic {display:block;}
.com_itm .text a {color:#DA4942}
.com_itm .user img, img.avatar_sml {max-width:25px;max-height:25px;border-radius:11px;float:left;overflow:hidden;}
.com_itm .user span {text-transform:uppercase;float:left;margin:3px 0 0 8px}
.com_itm .user span.author {font-weight:bold}
.com_itm .user span.inact {color:#808080;font-weight:normal !important}
.com_itm .user2 {float:left;margin-left:5px;padding-top:3px;color:#DA4942}
.com_itm .iconum num {margin-top:0}
.com_itm .iconum.minus {margin-left:5px;}
.com_itm .com{display:block;float:left;padding-left:25px;padding-bottom:1px;background-position:5px 1px;}
.com_itm .voting {border-bottom:0}

.com-tools {float:left;margin-top:3px;}
.com-tools span {float:left;padding-left:20px;color:#808080;font-size:0.9rem;margin-left:6px;cursor:pointer;width:0px;overflow:hidden;}
.com-tools span:hover {}
.com-tools span.editcom {background:url(/resp/img/icons.svg?20210921#ico-edit-gray) 0 0 no-repeat;background-size:16px 16px;}
.com-tools span.comban {background:url(/resp/img/icons.svg?20210921#ico-block-gray) 0 0 no-repeat;background-size:16px 16px;}
.com-tools span.comwarn{background:url(/resp/img/icons.svg?20210921#ico-warn-gray) 0 0 no-repeat;background-size:17px 17px;}
.com-tools span.delcom {background:url(/resp/img/icons.svg?20210921#ico-x-gray) 0 0 no-repeat;background-size:15px 15px;}

.com_list .responses {margin-top:10px;}
.com_list .responses .resp_list {padding-left:20px; border-left:1px solid #ccc}
.com_list .responses .com_itm .text, .com_list .responses .com_itm .head {font-size:0.9rem;line-height:1.2rem;}
.com_list .responses em {display:none;font-size:0.8rem;color:#808080}
.com_list .load_resps {border-left:1px solid #ccc; padding:7px 0px 7px 12px;margin-top:10px}
.com_list .load_resps span {margin-left:5px}
.com_list .load_resps a {color:#408F4D;font-size:0.8rem;position:relative;margin-left:-20px}
.com_list .load_resps a b {background:#ccc;color:#fff;border-radius:10px;font-weight:normal;display:inline-block;width:15px;height:15px;text-align:center;}
.com_list .load_resps a b u {text-decoration:none;position:relative;/*margin-top:-3px;*/display: block;}

.com_list .load_resps.hide {margin-top:0;position:absolute;margin-top:0px;padding:0;height:20px;border:none}
.com_list .load_resps.hide span {display:none}
.com_list .load_resps.hide a {color:#DA4942;margin-left:-7px}
.com_list .load_resps.hide a b{background:#ccc;}
.com_list .load_resps.hide:hover span {display:none}
.com_list .load_resps.hide:hover b {background:#DA4942}
.com_list .resp_more a {color:#DA4942;font-size:0.8rem}

/*.responses.level_1, .responses.level_2, .responses.level_3, .responses.level_4, .responses.level_5  {padding-left:20px; border-left:1px solid #ccc}*/
.com_edit_box textarea {width:100%;height:100px;font-size:0.9rem;line-height:1.2rem;resize:none;border:none;background:#FEF9E7;padding:5px}

.com_form #autocomplete, #emo_list, #tenor {height:auto;padding:5px;min-width:200px;max-width:300px;border:1px solid #999;background:#e5e5e5;position:absolute;z-index:2;margin-top:-120px;}
.com_form #autocomplete a {display:block;padding:2px 3px;font-size:0.8rem;}
.com_form #autocomplete a:hover {background: #e3edf6}
.com_form #autocomplete a img, .com_form #autocomplete a span.user {float:left;}
.com_form #autocomplete a span.user  {margin: 6px 0 0 5px;}

#emo_list {text-align:center;}
#emo_list, #tenor {margin-top:5px;width:280px;max-width:none;min-height:0;padding:10px;background:#eee;border-radius:3px;border:1px solid #999}
#emo_list a {display:inline-block;width:28px;height:28px;font-size:20px;overflow:hidden;cursor:pointer;text-align:center;}
/*#emo_list a:nth-child(10n):after {content:"\A";white-space:pre;}*/
#emo_list img {height:25px;}
#emo_list span.close, #tenor span.close {position:absolute;right:0;background:#DA4942;color:#fff;font-size:0.7rem;border-radius:10px;cursor:pointer;padding:2px 6px 4px 6px;margin: -19px -9px 0 0;font-family:verdana}

#tenor {}
#tenor_input {font-size:1rem;padding:3px 8px;width:100%;border-radius:3px;border:none;border:1px solid #999}
#tenor_auto {margin: 10px 0;max-height:30px;overflow:hidden;}
#tenor_auto a {display:block;float:left;background:#DA4942;color:#fff;padding:5px 10px;margin:0px 5px 10px 0;border-radius:3px}
#tenor_auto a:last-of-type {clear:both}
#tenor_img {max-height:200px;overflow-y:scroll}
#tenor_img .col {float:left;width:49%;margin-right:2%}
#tenor_img .col:nth-of-type(2) {margin-right:0}
#tenor_img img:not(.loader) {width:100%;margin-bottom:10px;}
.autotext.tenor {max-height:100px}
.autotext.tenor img {display:block;float:left;max-height:100px}
.autotext.tenor a {position:relative;display:block;float:left;margin:2px 0 0 -22px;width:19px;height:19px;background:#DA4942 url(/resp/img/sp2.png?20200727) -210px -50px no-repeat;border-radius:10px}

.com_edit_btns .btn {font-size:0.9rem;padding:3px 10px;margin-left:2px}

/*** tools ***/
#tool_wrap {margin-top:0px}
#tools,#medals,.tools_act,.medals_act {display:inline-block;width:70px;padding:5px 5px 5px 15px;background:#E4E4E4;color:#616161;font-size:0.9rem;margin-left:3px;cursor:pointer;border-radius:3px}
#tools img:first-child, #medals img:first-child {display:none;}
#tools img:last-child, #medals img:last-child {background:url('/resp/img/sp.png?20190313') -229px -148px no-repeat;width:7px;height:7px;margin-top:6px;}
.tools_act,.medals_act {background:#000 !important;color:#fff !important;border-radius:3px 3px 0 0 !important}
.tool_box {position:absolute;z-index:4;background:#000;width:183px;margin-left:3px;}
.tool_item {display:block;color:#fff;/*text-transform:uppercase;/*border-bottom:1px solid #ccc;*/padding:8px 0 8px 10px;font-size:0.9rem}
.tool_item:last-child {border:none}
.tools_act img:last-child, .medals_act img:last-child {background:url('/resp/img/sp.png?20190313') -218px -148px no-repeat !important;}
.tool_item:hover{background: #333}

/*** img share ***/
.share_box {position:relative}
.img_share, .img_share_perm{position:absolute;width:150px;height:140px;right:10px;top:10px;z-index:2}


.sh_dr3, .sh_fb3, .sh_tw3, .sh_wa3, .sh_pin3, .sh_sp{display:block;float:right;border-radius:2px;clear:both;width:24px;height:24px;padding:4px;margin-bottom:5px;background: #FD6204 url('/resp/img/sp.png?20190313') -5px -622px no-repeat;cursor:pointer;color:#fff;overflow:hidden;}
.sh_fb3 {background: #4360B3 url('/resp/img/sp.png?20190313') -5px -661px no-repeat;}
/*.sh_tw3 {background: #00C0FE url('/resp/img/sp.png?20190313') -5px -702px no-repeat;}*/
.sh_tw3 {background: #000000 url('/resp/img/svg/twx.svg') 4px 4px no-repeat;}
.sh_wa3 {background: #00E172 url('/resp/img/sp.png?20190313') -5px -743px no-repeat;}
.sh_pin3 {background: #E62122 url('/resp/img/sp.png?20190313') -449px -707px no-repeat;}
.sh_sp {background: #E3EDF6 url('/resp/img/sp.png?20190313') -765px -766px no-repeat;}

.sh_dr3:hover, .sh_fb3:hover, .sh_tw3:hover, .sh_wa3:hover, .sh_pin3:hover {width:142px;}
.sh_dr3 span,.sh_fb3 span,.sh_tw3 span,.sh_wa3 span, .sh_pin3 span,.sh_sp span{display:none;width:110px;font-size:0.7rem;padding:3px 0 2px 7px;border-left:1px solid #fff;margin-left:30px;line-height:20px;}
.sh_dr3:hover span, .sh_fb3:hover span, .sh_tw3:hover span, .sh_wa3:hover span, .sh_pin3:hover span {display:block;text-align:left;}
.sh_sp span {color:#2B54A4;border-left:1px solid #2B54A4;}

/*** notifics box ***/
.notif-wrap {position:relative;z-index:200;max-height:500px;margin-top:5px}
.notif-point {display:none}

.notif-container {box-shadow: 0 2px 8px #000;width:350px;position:absolute;right:0}
.notif-head, .notif-foot {background:#000;padding:10px 10px;}
.notif-foot, .notif-head {text-align:center}
.notif-head a, .notif-foot a  {color:#fff;display:inline-block;font-size:0.8rem;}
.notif-head a {margin:0 15px}
.notif-head a:first-child {margin-left:0px}
.notif-head a:nth-child(3) {margin-right:0px}
.notif-head a:last-child {display:none}

.notif-box{width:350px;max-height:480px;min-height:54px;overflow-y:scroll;background:#fff;text-align:center;overflow-x:hidden;color:#808080;}
.notif-itm {text-align:left;display:flex;font-size:0.85rem;color:#808080;background:#F2F2F2;padding:5px 10px;margin:0;border-bottom:1px solid #C0BFBF}
.notif-itm.act {background: #E5FBE9}
.notif-itm.red {background: #E8DCDE;}
.notif-itm b1, .notif-itm b2 {display:block;float:left;align-self:center;}
.notif-itm b1 {width:50px;}
.notif-itm b2 {width:260px}

.notif-itm span{font-size:0.6rem;color:#bbb;padding:0 5px 0 5px;white-space: nowrap}
.notif-itm b1 img{width:40px;max-height:40px;overflow:hidden;border-radius:20px;border:1px solid #808080}
.notif-itm b2 img{display:none}

.n-ico1,.n-ico2,.n-ico3,.n-ico4,.n-ico5,.n-ico6,.n-ico8,.n-ico9 {display:none}
#notif-wrap_msg .nomsg {margin:10px 0}
#notif-wrap_msg .nomsg a {display:block;margin-top:5px;color:#DA4942}

/*** auth box ***/
.coolAuthOverlay{position:fixed;z-index:26;background-color:#000;opacity:0.5;filter:alpha(opacity=50);left:0;top:0;width:100%;height:100%}
#coolAuthOverlay_close {position:fixed;z-index:27;top:10px;right:10px;width:30px;height:30px;display:block;background:url(/resp/img/icons.svg?20210921#ico-x-white) 0px 0px;background-size:30px 30px}

#coolAuth, #fight, #overlayMsg{background:#eee;position:fixed;z-index:100;top:50px;left:50%;transform: translateX(-50%);}
#coolAuth_in {padding:20px 100px;width:300px;text-align:center;}
#coolAuthX, #fightX, #overlayMsgX{position:relative;float:right;width:30px;height:30px;margin:3px 3px 0 0px;z-index:13;background:#DA4942 url(/resp/img/sp2.png?20200727) -427px -12px no-repeat;cursor:pointer;border-radius:3px}
#coolAuth ico {display:block;width:60px;height:60px;margin:10px auto;background:#000 url(/resp/img/icons.svg?20210921#ico-profile) 9px 9px no-repeat;background-size:42px 42px;border:8px solid #d1d1d1;border-radius:40px;}
#coolAuth h1 {text-transform:uppercase;font-size:1.6rem;margin:15px 0;font-weight:normal;}
#coolAuth input[type=text], #coolAuth input[type=password], #login-form input {width:100%;margin-bottom:7px;padding:13px 0 13px 50px;background:#fff;border:none;color:#4d4d4d;font-size:1rem;border-radius:3px}
#log_username, #reg_username {background:#fff url(/resp/img/icons.svg?20210921#ico-profile-black) 9px 9px no-repeat !important;background-size:26px 26px !important;}
#log_password, #reg_password, #reg_password2  {background:#fff url(/resp/img/svg/lock.svg) 9px 9px no-repeat !important;background-size:26px 26px !important;}
#reg_email {background:#fff url(/resp/img/icons.svg?20210921#ico-msg-black) 9px 9px no-repeat !important;background-size:26px 26px !important;}

#coolAuth a {font-weight:bold;font-size:0.8rem;}
#coolAuth font {font-size:0.8rem;}
#coolAuth .btn {font-size:1.6rem;border-radius:3px;font-weight:normal !important;padding:10px}
#coolAuth .coolAuth_btns {text-align:center;height:50px;}
#coolAuth #re_captcha {height:90px;margin: 5px 0;}
#coolAuth .pass_btns {height:60px;text-align:center}
#coolAuth .passport_auth_txt {text-align:center;}
#coolAuth #reg_username_return {position:relative;float:right;margin:-42px 5px 0 0;}

#coolAuth label {margin-top:5px;text-align:left}
#coolAuth label a {color:#4d4d4d}

.pass_btns a {display:inline-block;border-radius:3px;width:40px;height:40px;margin-right:10px;background:#FD6204 url('/resp/img/svg/drlv.svg') 7px 7px no-repeat;background-size:26px 26px;}
.pass_btns .spoki_pass {background: #2b54a4 url('/resp/img/sp.png?20190313') no-repeat scroll -762px -7px}
.pass_btns .fb_pass {background: #334481 url('/resp/img/svg/fb.svg') 7px 7px no-repeat;background-size:26px 26px}
.pass_btns .tw_pass {background: #000000 url('/resp/img/svg/twx.svg') 7px 7px no-repeat;background-size:26px 26px}
.pass_btns .ibx_pass {background: #ce2029 url('/resp/img/svg/ibx.svg') 0px 0px no-repeat;background-size:40px 40px}

.overlayMessage{position:fixed;z-index:101;border:1px solid #4d4d4d;box-shadow: 0px 0px 5px #111;width:450px;min-height:120px;background-color:#f2f2f2;color: #4d4d4d;font-size:0.95rem;text-align:center;border-radius:3px}
.overlayMessage .btn {border-radius:3px;}
.overlayMessage .btn.func {background-color:#408F4D;}
.overlayMessage .btn.close {background-color:#DA4942;}
.overlayMessage .btn.disabled {background-color:#808080}
.overlayMessage .info {font-size:0.75rem;margin-top:10px;color:#808080}

.pagin {background:#000;text-align:center;color:#fff;height:38px;overflow:hidden;clear:both}
.pagin a {display:block;padding:5px;color:#fff;font-size:1.2rem;}
.pagin span {display:inline-block;padding:0px 0 0px 0}
.pagin span a {display:inline-block;}
.p-first,.p-prev {float:left;border-right:1px solid #fff;width:40px;}
.p-next,.p-last {float:right;border-left:1px solid #fff;width:40px;}
.p-act {background:#fff;color:#000 !important;font-weight:bold;padding:8px 10px 8px 10px !important;}
.p-first,.p-prev,.p-next,.p-last {font-size:3.5rem !important;padding-top:0 !important;margin-top:-18px;}

.pagin a.custom {display:inline-block;margin: 2px 10px;}
.pagin-wrap {margin:15px 0 15px 0;}
.pagin.round {border-radius:3px;}
#pagin.index {margin:10px 0}

/*** right ***/
#add-btns {margin-bottom:10px}
#add-btns a {display:block;float:left;background:#000 url(/resp/img/icons.svg?20210921#ico-add-article) 7px 6px no-repeat;background-size:30px 30px; color:#fff;text-transform:uppercase;width:33%;padding:5px 0 5px 16%;font-size:0.9rem;}
#add-btns a.add_test {float:right;background:#000 url(/resp/img/icons/add_quiz.svg) 8px 6px no-repeat;background-size:30px 30px;}

.mod300 {width:300px;overflow:hidden;margin-bottom:10px;}
.mod300.dfp_ad {overflow:visible}
.mod300 h2 {color:#fff;background:#000;text-transform:uppercase;font-size:1.05rem;padding:10px;font-weight:bold;margin:0;}

.mod300 h2 a {color:#fff;display:inline-block;padding:7px 0 0 40px;height:27px;}
.mod300 a {}
.mod300_overlay {position:absolute;background-color:#000;opacity:0.7;filter:alpha(opacity=70);width:300px;}
.mod300_overlay_txt {position:absolute;width:300px}

.right.main_cnt .mod300:last-of-type {margin-bottom:0}

.act-a span, .top50-a span {display:block;background:#000;color:#fff;padding:10px;text-align:center;}

#mod_top50 h2 a {background:#000 url(/resp/img/icons.svg?20210921#ico-like) 0px 0px no-repeat;background-size:30px 30px;padding-top:7px;}
#mod_act h2 a {background:#000 url(/resp/img/icons.svg?20210921#ico-news) 1px 1px no-repeat;background-size:30px 30px;}
#mod_top_box.quiz h2 a {background: url(/resp/img/icons.svg?20210921#ico-quiz) 0px 2px no-repeat;background-size:32px 32px}
#mod_top_box.meme h2 a {background:url(/img/icons/superagents.png) 0 0 no-repeat}
#mod_top_box.meme > a.btn {display:block;padding:5px;text-align:center;/*margin-top:2px*/}

.top-itm {/*margin-bottom:3px;*/position:relative;padding:3px 8px;background:#000}
.top-itm figure {min-height:150px;background:#f2f2f2;margin:0;}
.top-itm img {width:100%;max-height:250px;display:block;}
.top-itm span {/*position:absolute;*/display:block;z-index:2;left:0;bottom:0;background-color:rgba(0,0,0,0.7);width:100%;text-align:center;}
.top-itm font {display:block;padding:7px;color:#fff}
.top-itm.safari, .top-itm.safari span {position:initial}

#act-body img {display:block}
.act-btn, .act-btn_act {display:inline-block;width:8px;height:8px;border-radius:4px;background:#B5B5B5;margin:2px 3px 0 3px;cursor:pointer;}
.act-btn_act {background:#000;}

.poll-body {padding:10px;background:#000;font-size:0.95rem;color:#fff }
.poll-qu {padding:5px 0 5px 10px;min-height:3rem;font-size:1.5rem;/*background:url(/resp/img/sp2.png?20200727) -0px -750px no-repeat;*/}
.poll-atbildes {padding:10px;}

.poll-balsot, .cepties a {display:inline-block;padding:5px 15px;background:#DA4942;color:#fff;cursor:pointer;font-size:1.2rem;border-radius:2px; }
.cepties a {font-size:0.9rem;padding:3px 7px;background:#fff;color:#000;font-weight:bold;}
.cepties {text-align:center;margin-top:10px;}
.poll-proc {display:block;color:#111;text-align:center;background:repeating-linear-gradient(to right,#DA4942 0%,#fff 0%,#fff 100%);padding:2px 0;margin-bottom:10px}
.poll-body textarea {color:#4d4d4d;resize:none;width:100%;height:80px;border:1px solid #000;margin:5px 0;padding:5px;font-size:0.9rem;}
.poll-stats {background:#4d4d4d;color:#eee;font-size:0.8rem;padding:5px 0;text-align:center}

/*** krutaas radio pogas ***/
label.radio-btn {display: block;position:relative;padding:2px 0 0 35px;margin-bottom:12px;cursor:pointer;font-size:1.2rem;user-select:none;}
label.radio-btn input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
label.radio-btn span{position: absolute;top: 0;left: 0;height:25px;width:25px;background-color:#fff;border-radius: 50%;}
label.radio-btn span:after {content:"";position: absolute;display: none;}
label.radio-btn input:checked ~ span:after {display: block;}
label.radio-btn input:checked ~ span {background-color:#DA4942}
label.radio-btn span:after {top:9px;left:9px;width:8px;height:8px;border-radius:50%;background:#000;}
/*label.radio-btn:hover input ~ span {background-color:#ccc;}*/

/*** krutaas checkboxi pogas ***/
label.check-btn {display:block;position:relative;min-height:20px;padding:2px 0 0 25px;margin-bottom:12px;cursor:pointer;font-size:1.2rem;user-select:none;}
label.check-btn input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
label.check-btn span{position:absolute;top: 0;left: 0;height:17px;width:17px;background-color:#fff;border-radius:2px;border:1px solid #4d4d4d;margin:0 !important}
label.check-btn span:after {content:"";position: absolute;display: none;}
label.check-btn input:checked ~ span:after {display: block;}
label.check-btn input:checked ~ span {background: #fff url(/resp/img/icons.svg?20210921#ico-check-black) 3px 3px no-repeat; background-size:11px 11px}
label.check-btn span:after {}
label.check-btn font {font-size:0.9rem;position:relative;top:0px;display:block;line-height:1.1rem}
label.check-btn font a {color:#DA4942}
label.check-btn.disabled span {background:#ccc !important}

/*** selecti ***/
.select {width:75%;font-size:0.9rem !important;height:30px;background:#fff url('/resp/img/down.v2.png') no-repeat center right;cursor:pointer}
.select span {display:block;padding:6px;}
.select.focus {background-color:#fff;border-bottom:0;}
.select.disabled {border:1px solid #333;background:#ccc url('/resp/img/down_gray.png') no-repeat center right;}
.select_menu, #autocomplete {margin:0px !important;background:#fff;position:absolute;z-index:100;height:auto;max-height:200px;overflow-y:scroll;}
.select_menu_item, #autocomplete a {display:block;padding:3px;margin:2px 5px;font-size:0.9rem;}
.select_menu_item.act, .select_menu_item.act:hover  {background:#4d4d4d;color:#fff;padding:2px;border-radius:2px}
.select_menu_item:hover,  #autocomplete a:hover {background:#f2f2f2;border-radius:2px}

/*** footer ***/
#bottom {}
#footer {position:fixed;bottom:0;background:#000;padding:5px 10px;border-radius: 4px 4px 0 0;font-size:0.8rem;color:#fff;left:50%;transform:translateX(-50%);white-space: nowrap;z-index:9}
#footer a {color:#fff;margin:0 5px;}
#footer br {display:none;}
#toup {display:block;float:right;position:fixed;width:50px;height:50px;bottom:0;background:#808080 url(/resp/img/sp2.png?20200727) -263px 3px no-repeat;color:#fff;border-radius:5px;margin:0 0 10px 10px;}

#cookie_info_new {position:fixed;bottom:0;background:#fff;z-index:1000;font-size:0.8rem;width:100%;line-height:1.4rem}
#cookie_info_new > div {width:1000px;margin:20px auto;text-align:left;}
#cookie_info_new img {width:49px}
#cookie_info_new h1 {font-size:1.8rem;font-weight:normal;margin:20px 0}
#cookie_info_new a {text-decoration:underline}
#cookie_info_new  div.mid {position:relative}
#cookie_info_new  div.left {width:85%}
#cookie_info_new  div.right {position:absolute;top:50%;right:0;transform: translateY(-50%);}
#cookie_info_new  a.btn {text-decoration:none;border-radius:20px;font-size:0.8rem;padding:10px 30px}
#cookie_info_new  div.last {margin-top:10px}
#cookie_info_new  div.last a {margin-right:10px}

#cookie_info {height:auto;padding:5px 10px;white-space:normal;background:#000;font-size:0.8rem;color:#fff;text-align:center;margin-bottom:5px}
#cookie_info div {margin:10px auto;padding:0 5%}
#cookie_info a {color:#fff;text-decoration:underline}
#cookie_info button {background:#DA4942;color:#fff;margin-top:5px;font-size:0.85rem;cursor:pointer;border:none;border-radius:3px;}

#mob_scroll_loading,#loadmore {text-align:center;}
#mob_scroll_loading {height:70px}
#loadmore {margin-top:20px}

.highlight {background-color:#fed701}
.tooltip, #infotxt  {display:none;position:absolute;z-index:3;background-color:#FCF3CF;/*border: 1px solid #808080;*/padding:5px;color:#333;font-size:0.9rem;max-width:200px;box-shadow: 3px 3px 3px #333;border-radius:3px;}

#infotxt {position:absolute;text-align:left;max-width:500px;background-color:#FCF3CF;border: none;color:#333;box-shadow:3px 3px 3px #555;border-radius:3px;z-index:12}
#infotxt pt {position:absolute;z-index:4;margin:-15px 0 0 0; border-bottom: 10px solid #FCF3CF;width:0;height:0; border-left: 10px solid transparent;border-right: 10px solid transparent;}
#infotxt a.close {cursor:pointer;display:block;float:right;background:#DA4942;color:#fff;padding:2px 4px;font-size:0.6rem;border-radius:10px;}
#infotxt p {clear:both;margin:0;}
#infotxt btn {display:inline-block;background:#DA4942;color:#fff;font-size:0.9rem;padding:3px 10px;cursor:pointer;}

#article_adapt {width:900px;height:auto;position:fixed;bottom:0;left:0;padding:10px;background:#eee;z-index:100;text-align:left}
#article_adapt a.close {cursor:pointer;display:block;position:absolute;width:32px;height:32px;margin:0px 0px 0 868px;background:#ca2f30 url(/resp/img/pro.png?20171212) -596px -295px no-repeat;}
#article_adapt #best-box {margin:0px 0 0 0}

/*** adapt / lasi vel ***/
.best-box2 {margin:10px 0 10px 0;}
.best-box2 h3 {background:#000;text-transform:uppercase;padding:5px 10px;color:#fff;font-size:1.2rem;margin:0 0 10px 0;font-weight:normal}
.best-box2 .bb-item {float:left;width:23%;margin:0 2.66% 0px 0%}
.best-box2 .bb-item:nth-of-type(4) {margin-right:0}
.best-box2 .bb-item-in img {width:100%;display:block;}
.best-box2 .bb-item a {color:#4D4D4D}
.best-box2 .bb-title-wrap {margin-top:10px;/*max-height:4.4rem;overflow:hidden;*/font-size:1.2rem;font-weight:bold;}
.best-box2 .bb-item .bb-votes, .bb-item .bb-cat, .bb-item .hitsIco, .bb-params {display:none}
.best-box2 .bb-img {max-height:180px;overflow:hidden;position:relative} /*salauztaam bildem */
.best-box2 .bb-img a.lazyload-parent {height:150px;display:block;background:#ddd}

.best-box2.popular {margin:15px 10px}
.best-box2.author h3, .best-box2.popular h3 {padding:6px 16px;font-size:1.4rem;margin-bottom:5px;}
.best-box2.author h3 {background:#666;}
.best-box2.author .bb-title-wrap, .best-box2.popular .bb-title-wrap {font-size:0.95rem;margin-top:5px;font-weight:normal;height:2.25rem;overflow:hidden;}
.best-box2.author .bb-title, .best-box2.popular .bb-title {font-size:0.95rem;}
.best-box2.author {/*margin-bottom:20px*/}
.best-box2.author .bb-title-wrap .com, .best-box2.popular .bb-title-wrap .com {font-size:0.75rem;background-size:14px 14px;padding-left:18px}

.best-box2.popular.piano h3 {background:#8A7CF7}
.best-box2.popular.piano a h3 {background:none;text-transform:none;font-family: Roboto}
.best-box2.popular.piano.desktop a img {max-height: 55%}

#adatp_404 .best-box2 .bb-title-wrap {font-size:0.95rem}

.best-box2.half {width:48%;float:left;margin:10px 1%}
.best-box2.half .bb-item {width:49%;margin-right:2%;margin-bottom:10px}
.best-box2.half .bb-item:nth-of-type(2n) {margin-right:0}
.best-box2.half .bb-title-wrap {margin-top:5px;}


.remove_fog {position:relative;color:#fff;text-shadow: #000 0px 0px 2px;cursor:pointer;text-align:center;font-size:1em;line-height:1.2em}
.remove_fog font {font-size:2em;font-weight:bold;line-height:1.2em}
.remove_fog.big, .article_item.big .remove_fog {font-size:2em;}

.remove_fog {position:absolute;width:100%; left: 50%;top: 50%;transform: translate(-50%,-50%);}

.disabled_block {pointer-events:none;opacity:0.2}
.block_loader{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;}
.block_loader img{position:relative;top:50%;transform:translateY(-50%);}

#fb_pop .fb-like, #fb_pop .fb-like > span, #fb_pop .fb-like iframe[style] {width: 130px !important;}

/* old slider */
#gallery_slider {z-index:100;background:#fff;padding:10px;position:fixed;}
#gallery_close {position:absolute;z-index:102;width:30px;height:30px;cursor:pointer;color:#fff;right:15px;top:15px;background:url(/resp/img/x.svg) 0 0 no-repeat}
#gallery_slide_left, #gallery_slide_right {position:absolute;width:50%;height:100%;top:0;left:0;z-index:101;cursor:pointer;}
#gallery_slide_right {left:auto;right:0}
#gallery_slide_left span, #gallery_slide_right span {display:block;position:absolute;color:#fff;font-size:5rem;left:10px;top:50%;margin-top:-48px;text-shadow:1px 1px 2px #333}
#gallery_slide_right span {left:auto;top:50%;right:10px;}

/* new slider */
#gallerySlider {z-index:1000;position:fixed;width:100%;height:100%;top:0;left:0;bottom:0;right:0;background:#000;overflow:hidden;display:flex;}
#gallerySlider #sliderRight {position:relative;flex:1 1 330px;width:330px;min-width:330px;/*display:flex;align-items:center;justify-content:center;*/}
#gallerySlider #sliderTower {width:300px;height:auto;margin:70px auto 0 auto}
#gallerySlider #sliderLeft {position:relative;flex:1 1 auto;width:100%;overflow:hidden}

#gallerySlider #sliderLeft button.close {display:none}

#gallerySlider .sliderContent {position:absolute;display:table;width:100%;height:100%;top:0;}
#gallerySlider .image_wrap {width:100%;height:100%;display:table-row}
#gallerySlider .image {width:100%;height:100%;background-size:contain;background-position:50%;background-repeat:no-repeat;background-size:contain;}
#gallerySlider .image.auto {background-size:auto;}
#gallerySlider button {display:block;border:0;cursor:pointer;position:absolute;top:20px;right:20px;width:20px;height:20px;padding:5px;background:url(/resp/img/icons.svg?20210921#ico-close-white) 0 0 no-repeat;background-size:20px 20px;opacity:0.6;z-index:1004}
#gallerySlider button.arrow {z-index:1002}
#gallerySlider button.arrow {top:0px;right:20px;background:url(/resp/img/icons.svg?20210921#ico-arrow) 0 0 no-repeat;top:50%;width:30px;height:30px;margin-top:-30px}
#gallerySlider button.arrow.prev {transform: rotate(180deg);left:20px;}
#gallerySlider button:hover {opacity:0.9}
#gallerySlider .desc {background-color:rgb(0,0,0,0.7);color:#f2f2f2;/*position:absolute;bottom:0;*/width:100%;display:table-row;}
#gallerySlider .image_wrap + #gallerySlider .desc {height:100%}
#gallerySlider .desc .in {padding:10px 30px}
#gallerySlider .desc_top {display:flex;align-items:center;}
#gallerySlider .desc_top .right {flex:1}
#gallerySlider .desc .numbers {float:left;font-size:0.75rem;margin-right:5px;}
#gallerySlider .desc .author {float:left;font-size:0.75rem;padding-left:5px;border-left:1px solid #808080;color:#808080;text-align: left}
#gallerySlider .desc .share {float:right;height:26px;}
#gallerySlider .desc .author a {color:#808080}
#gallerySlider .desc .text {text-align:left;font-size:0.95rem;line-height:1.3rem;margin-top:10px;}
#gallerySlider .desc .text p {margin:3px 0}

#gallerySlider .desc .share a {display:block;float:left;font-size:1px;padding:13px;background:url('/resp/img/svg/drlv.svg') 0 0 no-repeat;background-size:26px 26px;margin-right:7px;cursor:pointer;opacity:0.7}
#gallerySlider .desc .share a.fb {background:url('/resp/img/svg/fb.svg') 1px 0 no-repeat;background-size:25px 25px;}
#gallerySlider .desc .share a.tw {background:url('/resp/img/svg/tw.svg') 1px 1px no-repeat;background-size:26px 26px;}
#gallerySlider .desc .share a.wa {background:url('/resp/img/svg/wa.svg') 0 0 no-repeat;display:none;background-size:26px 26px;}

#gallerySlider .hidden {display:none}

#gallerySlider .sliderContent.sliderAdvert {z-index:1003;background:#333;display:none;}
#gallerySlider .sliderContent.sliderAdvert.rendered {display:block;}
#gallerySlider .sliderContent.sliderAdvert .disclaimer {position:absolute;top:20px;left:20px;text-transform:uppercase;color:#f2f2f2;z-index:1004}
#gallerySlider .sliderContent.sliderAdvert iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

.gallerySliderPreview {margin-bottom:30px}
.gallerySliderPreview .img {position:relative;width:32.666%;height:auto;/*height:120px;*/margin-right:1%;float:left;overflow:hidden;background:#eee;cursor:pointer;}
.gallerySliderPreview .img > div {padding-top:55.5%;}
.gallerySliderPreview .img.i0 {width:100%;/*height:370px;*/float:none;margin-right:0;margin-bottom:5px;}
.gallerySliderPreview .img.i3 {margin-right:0}
.gallerySliderPreview img {max-width:100%;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);vertical-align: middle;}
.gallerySliderPreview span {display:block;position:absolute;width:100%;top:50%;transform:translateY(-50%);vertical-align:middle;color:#fff;text-align:center}
.gallerySliderPreview span num {width:100%;display:block;font-size:2.5rem}
.gallerySliderPreview span font {width:100%;font-size:1.05rem;text-transform: uppercase;}
.gallerySliderPreview span font:nth-of-type(2) {display:none}
.gallerySliderPreview .img.i3 img {filter: brightness(50%)}


#container.w1230 {width:1200px;padding:15px;}
#container.w1230 #head {margin-bottom:20px}
#container.w1230 .left.main_cnt {width:880px}

#container.w1230 .article_item.index {margin-bottom:20px;border-radius:10px;box-shadow: 0px 0px 2px #ccc;}
#container.w1230 .article_item.index .in {padding:20px;}

#container.w1230 .article_item:not(.meme) figure {height:470px;}
#container.w1230 .article_item.small figure {height:219px}
#container.w1230 .article_item figure.exact img {width:100%}

#container.w1230 .open_article:not(.quiz) .in {padding:25px;}

#container.w1230 .best-box2:not(.half) .bb-item {float:left;width:24%;margin:0 1.33% 0px 0%}
#container.w1230 .best-box2 .bb-item:nth-of-type(4) {margin-right:0}

#container.w1230 .best-box2.half {width:47%;margin:15px 0% 15px 2%}
#container.w1230 .best-box2.half:nth-of-type(2) {margin-right:0}

#container.w1230 .article_item.first h2 {max-width:760px}
#container.w1230 .feedInclude figure {max-height:230px}

#okeanija_banner {text-align:center}
#okeanija_banner img {width:100%}

#container.w1230 .giga, #container.w1230 .best-box2 {margin-bottom:20px}
#container.w1230 .open_article .giga {margin-top:10px}
#container.w1230 .open_article .question {padding:20px}
#container.w1230 .open_article .test_row {margin-bottom:0}

#container.w1230 .best-box2.piano {margin-bottom:10px}
#container.w1230 .best-box2.piano.desktop .cx-flex-module {height: 220px}

#container.w1230 .open_article.quiz .params.voting.sec2 {margin-top:20px}

#teads-container {margin-bottom:10px}
#teads-container:empty {display:none}

.open_article .spec_navigation {text-align:center;margin:20px 0}
.open_article .spec_navigation .background {background:#000;color:#fff;padding:25px 0px;border-radius:40px;}

.open_article .spec_navigation h3, .open_article .spec_navigation h6 {margin:0;font-size:1.45rem;color:#fff}
.open_article .spec_navigation h6 {font-size:1.25rem;}
.open_article .spec_navigation a {color:#fff}
.open_article.quiz .spec_navigation .background {background:linear-gradient(90deg, #8A7CF7 0%, #A69CF7 100%);}

.open_article .spec_navigation .left, .open_article .spec_navigation .right {width:49%;text-align:center;}
.open_article .spec_navigation .right {margin-left:2%}
