@import url(https://fonts.googleapis.com/css2?family=ubuntu:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

*:not(pre, pre *, code, .far, .fa, [class*="fa-"], .glyphicon, [class*="vjs-"], .fab, .fa-github, .fas, .material-icons, .icofont, .typcn, mu, [class*="mu-"], .glyphicon, [class*="icon"], .gog-icons, .google-material-icons) {
    font-family: ubuntu !important;
    font-weight: 500;
    text-shadow: 0px 0px 5px black
}

@keyframes rulersnap {
    50% {
        transform: rotate(20deg)
    }
}

@keyframes wobbling {

    0%,
    100% {
        transform: translatey(0)
    }

    50% {
        transform: translatey(-10px)
    }
}

@keyframes wobbling2 {

    0%,
    100% {
        transform: translatey(0)
    }

    25% {
        transform: translatey(-10px)
    }

    50% {
        transform: translatey(10px)
    }

    75% {
        transform: translatey(-10px)
    }
}

@keyframes violetflash {
    0% {
        background-color: rgba(0, 0, 0, 0)
    }

    20% {
        background-color: rgba(150, 0, 200, 1)
    }

    40% {
        background-color: rgba(0, 0, 0, 0)
    }
}

@keyframes blinking {

    0%,
    40% {
        opacity: 0.05
    }

    50% {
        opacity: 0.4
    }

    60%,
    100% {
        opacity: 0.05
    }
}

@keyframes waveclippath {

    0%,
    100% {
        clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%)
    }

    50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%)
    }
}

.chat-log-container {
    font-size: 20pt !important;
    padding: 0px, 0px, 0px, 0px !important;
    overflow: hidden !important;
    max-height: min(800px, 50vh) !important;
    max-width: min(800px, 50vw) !important
}

.chat-container {
    padding: 0px, 0px, 0px, 0px !important;
    background: none !important;
    position: absolute !important;
    left: 15% !important;
    bottom: 25% !important
}

.chat-input {
    font-size: 20pt !important;
    padding: 0px, 0px, 0px, 0px !important
}

.chat-message-name {
    font-size: 15pt !important
}

input::placeholder {
    font-family: ubuntu !important;
    font-size: 16px !important;
    text-transform: capitalize;
    visibility: hidden
}

.chat-container.wrinkledpaper.up,
input.dialog-text-input.wrinkledpaper.chat-input,
.chat-message-container,
.chat-message-content {
    padding: 0px, 0px, 0px, 0px !important;
    background: none !important
}

div.class-selection-image-background.wrinkledpaper {
    background-image: linear-gradient(to bottom right, rgba(100, 0, 100, 0.9), rgba(100, 0, 100, 0.5), rgba(150, 0, 150, 0.9), rgba(150, 0, 10, 1));
    animation: violetflash 3s linear infinite
}

h3.dialogtitle.bluenight {
    text-transform: capitalize;
    animation: wobbling 1s ease-in-out infinite
}

div.dialog.wrinkledpaper {
    background-image: linear-gradient(to bottom right, rgba(10, 0, 20, 0.1), rgba(40, 00, 90, 0.25));
    clip-path: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%)
}

h3.settings-group-header {
    background: transparent;
    background-image: linear-gradient(to bottom right, rgba(0, 10, 20, 0.1), rgba(0, 10, 90, 0.1))
}

.dialog-checkbox-input,
.dialog-toggle-input,
.dialog-range-input,
input.dialog-range-input[type="range"] {
    background-image: linear-gradient(to bottom right, rgba(100, 80, 120, 0.5), rgba(120, 80, 190, 0.7));
    border: 1px solid black;
    border-radius: 20px
}

button.dialog-button.bluenight.wrinkledpaper {
    text-transform: capitalize;
    background-image: linear-gradient(to bottom right, rgba(0, 10, 20, 0.2), rgba(0, 10, 90, 0.4));
    border-radius: 15%
}

.maininfotext {
    padding: 0px;
    margin: 0px;
    top: 94%;
    text-align: center
}

div.main-menu-button-text.whitebigtext.bluenight,
h2.dialogtitle.bluenight,
h2.paged-view-page-header-title,
.dialog-text-input,
select.dialog-select-input.bluenight {
    text-transform: capitalize
}

#mainmenulogo {
    scale: 40% !important;
    transform-origin: center !important;
    top: 35% !important;
    left: -2% !important;
    opacity: 80% !important
}

.main-menu-promo-banner-container {
    scale: 80% !important;
    transform-origin: top !important;
    top: 75% !important;
    left: -2% !important;
    opacity: 80% !important
}

div.main-menu-username.whitebigtext {
    font-weight: 800 !important;
    background-image: linear-gradient(to right, rgba(200, 0, 200, 1), rgba(150, 0, 150, 0.4), rgba(0, 0, 0, 0));
    animation: wobbling2 1s ease-in-out infinite
}

.scoreoffsetnotificationanim {
    text-transform: capitalize;
    scale: 80% !important
}

.weaponselectiondialog {
    transform-origin: top right !important;
    scale: 150% !important;
    top: 2% !important;
    left: 91% !important
}

.playerslistcontainer,
.playerslistteamtable,
.playerslistitem {
    background: none !important;
    filter: saturate(80%) !important
}

.playerslistteam.wrinkledpaper {
    background: none !important
}

.playerslistcontainer thead {
    opacity: 75% !important;
    clip-path: polygon(0 50%, 10% 0, 98% 10%, 100% 90%, 90% 100%, 15% 100%, 0 50%) !important
}

.gameoverstatstable,
.gameoverstatscontainer {
    filter: saturate(25%) !important;
    opacity: 80% !important !important
}

.flag-score-container,
.health-ui-container,
.notificationiconsuicontainer.topleft {
    transform-origin: center !important;
    opacity: 60% !important;
    position: relative !important;
    top: -20% !important;
    left: 20% !important
}

.notificationiconsuicontainer.topleft {
    top: 50% !important;
    left: 32% !important
}

.notificationiconsuicontainer.centerbig {
    opacity: 40% !important
}

.flag-score-container {
    position: relative !important;
    top: 70.4% !important;
    left: 58.6% !important;
    width: 6% !important;
    padding: 0px 0px 0px 80px !important;
    margin: 0px !important;
    background-image: linear-gradient(to bottom, rgba(150, 0, 10, 0.8), rgba(0, 150, 250, 0.8));
    outline: 5px solid rgba(30, 25, 25, 0.5);
    box-shadow: 0 0 10px 10px rgba(30, 25, 25, 0.5);
    rotate: -70deg !important;
    z-index: 2 !important
}

.flag-score-item {
    position: relative !important;
    padding: 0px !important;
    margin: 25px 0px 0px 0px !important;
    gap: 10px !important
}

.flag-score-icon {
    display: none !important
}

.health-ui-container.wrinkledpaper {
    background: none !important;
    position: relative !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 15% !important;
    height: 10% !important;
    top: 50% !important;
    left: 57% !important;
    rotate: -70deg !important;
    z-index: 3 !important
}

div.health-ui-bar-container {
    position: relative !important;
    padding: 0px !important;
    margin: 0px !important;
    bottom: -60% !important;
    left: -32% !important;
    scale: 80% 120% !important
}

.health-ui-heart {
    position: relative !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 15% !important;
    height: 10% !important;
    scale: 250% !important;
    rotate: 70deg !important;
    z-index: -1 !important
}

.crosshair-container {
    scale: 60% !important
}

.crosshair-line {}

.flagreturnprogresscontainer {
    transform-origin: center !important;
    top: 0% !important;
    left: 0% !important;
    transform: translate(-15%, 100%) !important;
    scale: 300% !important
}

.gamead.desktop,
.gamead.mobile {
    display: none !important
}

.touchlistener.focus {
    cursor: default
}

div.ownedcoinscontainer.wrinkledpaper.allow-select {
    display: none !important
}

.dialogcurtain,
div.fullscreen {
    background: none !important
}
