
<!DOCTYPE HTML>
<html lang="en">
    <head>
   <meta charset="UTF-8"/>

<meta name="description" content="Stepping into the future with digital learning"/>
<meta name="template" content="Home Page"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Last-Modified" content="27-02-2025 02:45:22"/>

<meta http-equiv="X-UA-Compatible" content="ie=edge"/>

<!-- The Twitter meta tags-->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:url" content="https://icn.illinois.gov/en.html"/>
<meta name="twitter:title" content="Home"/>
<meta name="twitter:description" content="Stepping into the future with digital learning"/>
<!-- The Open Graph meta tags -->
<meta property="og:url" content="https://icn.illinois.gov/en.html"/>
<meta property="og:type" content="agency-home-page"/>
<meta property="og:title" content="Home"/>
<meta property="og:description" content="Stepping into the future with digital learning"/>

<meta property="og:locale" content="en"/>

   <title>Illinois Century Network</title>
   <link rel="canonical" href="https://icn.illinois.gov"/>
   <!--Preconnect and DNS-Prefetch to improve page load time. -->
<link rel="preconnect" href="//dpm.demdex.net"/>
<link rel="preconnect" href="//fast.stateofil.demdex.net"/>
<link rel="preconnect" href="//stateofil.demdex.net"/>
<link rel="preconnect" href="//stateofil.tt.omtrdc.net"/>
<link rel="preconnect" href="//smetrics.il.gov.sc.omtrdc.net"/>
<link rel="preconnect" href="//metrics.il.gov.sc.omtrdc.net"/>
<!--/Preconnect and DNS-Prefetch-->
   

   
	<script>
	var mode =  true;
	var servername = "";
	const headers = {};
    var name = htmlDecode("Illinois Century Network:Illinois Century Network");
    var pageName = htmlDecode("Illinois Century Network");
    var siteSection1 = htmlDecode("Illinois Century Network");
    var siteSection2 = htmlDecode("");
    var siteSection3 = htmlDecode("");
    var siteSection4 = htmlDecode("");
	window.adobeDataLayer = window.adobeDataLayer || [];
	xmlhttp = new XMLHttpRequest();
	xmlhttp.open("HEAD", document.URL, true);
	xmlhttp.onreadystatechange = function() {
		if (xmlhttp.readyState == 4) {
			xmlhttp.getAllResponseHeaders().trim().split(/[\r\n]+/).map(value => value.split(/: /)).forEach(keyValue => {
			headers[keyValue[0].trim()] = keyValue[1].trim();
			});
		if (headers.hasOwnProperty("x-dispatcher")) {
			servername=headers["x-dispatcher"];
			window.adobeDataLayer.push({
				"event": "Page Loaded",
				"xdm": {
					"web": {
						"webPageDetails": {
							"server": servername
                            }
                        }
                    }
                });
			}    
		}
	}    
	xmlhttp.send();
	window.adobeDataLayer.push({
		"event": "Page Loaded",
		"xdm": {
			"web": {
				"webPageDetails": {
					"siteSection": "icn", //home is for the root directory
					"language": "en",
					"name": name, //name is [directory level 1]:[page title]
					"pageType": "agency-home-page", //the template name or id
					"server": servername,
					"pageName": pageName,
					"ErrorPage": "", // incase of 404 error page only
					"publishDate": "02/27/2025",
					"originalPublishDate": "02/27/2025",
					"errorCode": "",
					"contentType":"",
					"errorType": "",
				},
				"category": {
					"siteSection1": siteSection1,
					"siteSection2": siteSection2,
					"siteSection3": siteSection3,
					"siteSection4": siteSection4

				},
				"aem": {
					"environment": "prod",
					"authorVsPublish": "publish",
					"version": "6.5.21.0",
					"buildDate": "2025-02-27T01:05:21Z",
					"authorId": "anonymous",
					"previewMode": mode

				}
			}
		}
	});
	
	// Function to decode the encoded html String
	function htmlDecode(input) {
	    if (input) {
	        var doc = new DOMParser().parseFromString(input, "text/html");
	        return doc.documentElement.textContent;
	    } else {
	        return "";
	    }
	}

	</script>
   <script>
      //(function(g,b,d,f){(function(a,c,d){if(a){var e=b.createElement("style");e.id=c;e.innerHTML=d;a.appendChild(e)}})(b.getElementsByTagName("head")[0],"at-body-style",d);setTimeout(function(){var a=b.getElementsByTagName("head")[0];if(a){var c=b.getElementById("at-body-style");c&&a.removeChild(c)}},f)})(window,document,"body {opacity: 0 !important}",3E3);
   </script>

	
	   
	



	   


	   


	   


	   
	    <script src="//assets.adobedtm.com/c318d2739692/7710421a8ac1/launch-eae2ed0f1b30.min.js" async></script>
	   


   

    
    
<link rel="stylesheet" href="/etc.clientlibs/soi/components/content/v1/column-control/clientlibs.min.2ab879f828ba72e740aa98f5e369863a.css" type="text/css">
<link rel="stylesheet" href="/etc.clientlibs/soi/clientlibs/clientlib-base.min.2135ea2bb62222ee0e2818eb203da67c.css" type="text/css">
<link rel="stylesheet" href="/etc.clientlibs/soi/clientlibs/clientlib-site.min.b676c304ab4e5f59886ef451fa95f2a6.css" type="text/css">



    
        
    
<link rel="stylesheet" href="/etc.clientlibs/soi/clientlibs/clientlib-theme-3.min.85fe255c6b2f865928546a87b7dcdf43.css" type="text/css">



    
    
    <!--
    THIS IS WHERE CUSTOM CODE GOES, BASED ON AGENCY PATH
    -->
    <!-- custom stylesheet linked -->
    <!-- Custom Agency Path: This containing page to agency page to dam address-->
    
        <link rel="stylesheet" href="/content/dam/soi/en/web/icn/resources/css/custom.css" type="text/css"/>
    
    <!-- custom stylesheet included -->   


   
    
    

    

    
    
    

   
   <link rel="shortcut icon" href="/content/dam/soi/en/web/icn/images/favicon.ico"/>
</head>
    <body class="home-page page basicpage" id="home-page-1528646a5c" data-cmp-data-layer-enabled>
        <script>
          window.adobeDataLayer = window.adobeDataLayer || [];
          adobeDataLayer.push({
              page: JSON.parse("{\x22home\u002Dpage\u002D1528646a5c\x22:{\x22@type\x22:\x22soi\/components\/structure\/home\u002Dpage\x22,\x22repo:modifyDate\x22:\x222025\u002D02\u002D27T14:45:27Z\x22,\x22dc:title\x22:\x22Illinois Century Network\x22,\x22dc:description\x22:\x22Stepping into the future with digital learning\x22,\x22xdm:template\x22:\x22\/conf\/soi\/settings\/wcm\/templates\/agency\u002Dhome\u002Dpage\x22,\x22xdm:language\x22:\x22en\x22,\x22xdm:tags\x22:[],\x22repo:path\x22:\x22\/content\/soi\/icn\/en.html\x22}}"),
              event:'cmp:show',
              eventInfo: {
                  path: 'page.home\u002Dpage\u002D1528646a5c'
              }
          });
        </script>
        
        
            

<div class="cmp-page__skiptomaincontent">
    <a class="cmp-page__skiptomaincontent-link" alt="Skip to main content link" href="#main">Skip to main content</a>
</div>

    




            



            <main class="soi-base">
   <div class="soi-container">
      <div class="template__placeholder template__placeholder--content">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="experiencefragment container--full-width aem-GridColumn aem-GridColumn--default--12">
<div id="experiencefragment-f951c8c8f8" class="cmp-experiencefragment cmp-experiencefragment--global-header">


    
   <div class="cmp-container " style="height: auto;background-color: null;">
      <div class="cmp-container__mobile " style="height: auto;background-color: null;">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="global-header aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
   <header class="global-header logo class" id="logo">
      <div class="cmp-global-header">
         <div class="cmp-global-header__container">
            <a href="https://www.illinois.gov" class="cmp-global-header__logo">
            <img src="/content/dam/soi/en/web/global/images/logos/header-logo.svg" alt="Illinois.gov"/>
            </a>
            <ul class="cmp-global-header__nav">
               
                  <li class="cmp-global-header__nav-item">
                     <a class="cmp-global-header__nav-item-link undefined" href="https://www.illinois.gov/search-results.html?contentType=agency" aria-label="Agencies" target="_blank">
                     <img src="/content/dam/soi/en/web/global/images/icons/agency-icon.svg" alt=""/>
                     Agencies</a>
                  </li>
               
                  <li class="cmp-global-header__nav-item">
                     <a class="cmp-global-header__nav-item-link undefined" href="https://www.illinois.gov/search-results.html?contentType=service" aria-label="Services" target="_blank">
                     <img src="/content/dam/soi/en/web/global/images/icons/service-icon.svg" alt=""/>
                     Services</a>
                  </li>
               
            </ul>
         </div>
      </div>
   </header>


    
</div>
<div class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">

    
   <div class="cmp-container " style="height: auto;background-color: null;">
      <div class="cmp-container__mobile " style="height: auto;background-color: null;">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    
    
</div>

      </div>
   </div>

    
</div>

    
</div>

      </div>
   </div>

    
</div>

    
</div>
<div class="experiencefragment container--full-width aem-GridColumn aem-GridColumn--default--12">
<div id="experiencefragment-051ca5b4f7" class="cmp-experiencefragment cmp-experiencefragment--global-alert">


    
   <div class="cmp-container " style="height: auto;background-color: null;">
      <div class="cmp-container__mobile " style="height: auto;background-color: null;">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="global-alert aem-GridColumn--default--hide aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">

    
</div>

    
</div>

      </div>
   </div>

    
</div>

    
</div>
<div class="agency-header agency-header--navigation-white-text aem-GridColumn aem-GridColumn--default--12">
    



<div class=" ">
   
   <!-- Set background color from color picker -->
   <div class="cmp-agency-header" style="background-color: #FFFFFF;" data-disable-sticky="false">
      <div class="container container--padding-left-right responsivegrid aem-GridColumn  aem-GridColumn--default--12 ">
         <div class="cmp-container">
            <div class="cmp-container__mobile">
               <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                  <div class="cmp-agency-header__header">
                     <div class="cmp-agency-header__wrapper">
                        
                        <a href="/" class="cmp-agency-header__logo-link"> <img src="/content/dam/soi/en/web/icn/style-library/soibootstrap/icn-logo.jpg" alt="Illinois Century Network Department of Innovation and Technology" class="cmp-agency-header__logo"/>
                        </a>
                        
                        <div class="cmp-agency-header__links-search">
                           <div class="cmp-agency-header__links-desktop">
                              
                                 <a href="https://doit.illinois.gov" target="blank" class="cmp-agency-header__links-desktop__item cmp-agency-header__links-desktop__item--link">Dept of Innovation &amp; Technology</a>
                              
                              <div class="cmp-agency-header__links-desktop__item">
                                 
                                 <div class="translate weglot" weglot-api-key="wg_807731a8f409035ce1d36af6fea8f52b4">                   
                                       <em class="fas fa-globe"></em>
                                       <div id="weglot-desktop">
                                       </div>                  
                                 </div>
                                 
                              </div>
                              <div class="cmp-agency-header__links-desktop__item">
                                 <div class="social-media-icons social-media-icons--dark">
                                    <div class="cmp-social-media-icons">
                                        
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="cmp-agency-header__search">
                              <div>
     <div class="search-input-row">
        <div class="search-input ">
            <div class="cmp-search-input" data-ajax-url="https://doit-web-content-management.ent.us-east4.gcp.elastic-cloud.com/api/as/v1/engines/{index}/query_suggestion" data-search-page="https://icn.illinois.gov/search.html" data-agency="icn" data-engine-key="search-6vsm2asko372xhcp4ttjjm1e" data-suggestions-limit="4" data-engine-key-crawler="search-6vsm2asko372xhcp4ttjjm1e" data-page-type="icn" data-searchbar-filters="title" data-engines="[{&#34;name&#34;:&#34;doit-icn&#34;,&#34;label&#34;:&#34;This Site&#34;,&#34;isDefault&#34;:&#34;true&#34;},{&#34;name&#34;:&#34;soi-allproperties&#34;,&#34;label&#34;:&#34;All Illinois.gov sites&#34;,&#34;isDefault&#34;:&#34;false&#34;}]">
                <input type="text" placeholder="Search" aria-label="Search" class="cmp-search-input__search-input"/>
                <a href="#" class="cmp-search-input__search-icon" aria-label="Toggle Search">
                    <i class="fas fa-search cmp-search-input__search-icon__search" aria-hidden="true"></i>
                    <i class="fas fa-times cmp-search-input__search-icon__close" aria-hidden="true"></i>
                </a>
                <div class="cmp-search-input__suggestion" data-template-id="search-input-suggestion-1"></div>
            </div>
            <script id="search-input-suggestion-1" type="text/x-handlebars-template">
                {{#if values.length}}
                <ul class="cmp-search-input__dropdown">
                    {{#each values}}
                        {{#ifLess @index ../limit}}
                            <li class="cmp-search-input__dropdown-item">
                                <a href="{{../../searchPage}}?q={{convertAnd ../this.suggestion}}" class="cmp-search-input__dropdown-item-link">{{../this.suggestion}}</a>
                            </li>
                        {{/ifLess}}
                    {{/each}}
                </ul>
                {{/if}}
            </script>
        </div>
        <div class="cmp-options-wrap" data-template-id="option-template-id"></div>
        <script id="option-template-id" type="text/x-handlebars-template">
            {{#if options.length}}
            <div class="options">
                <fieldset class="cmp-form-options cmp-form-options--drop-down">
                    <label class="cmp-form-options__label" for="searchInSelect">Search In</label>
                    <select class="cmp-form-options__field cmp-form-options__field--drop-down" name="searchIn" id="searchInSelect" aria-label="Search In">
                        {{#each options}}
                            <option value="{{this.name}}" {{#ifEquals this.isDefault 'true' }} selected aria-selected="true" {{else}} aria-selected="false" {{/ifEquals}}>{{this.label}}</option>
                        {{/each}}
                    </select>
                </fieldset>
            </div>
            {{/if}}
        </script>
    </div>


    
</div>
                           </div>
                        </div>
                        <div class="cmp-agency-header__mobile-icons">
                           <a href="#" aria-label="Agency header search" class="cmp-agency-header__mobile-search">
                              <em class="fas fa-search" aria-hidden="true"></em>
                           </a>
                           <button class="cmp-agency-header__mobile-nav" aria-label="Expand site navigation">
                            <em class="fas fa-bars cmp-agency-header__mobile-nav__nav" aria-hidden="true"></em>
                            <em class="fas fa-times cmp-agency-header__mobile-nav__close" aria-hidden="true"></em>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="header-navigation " style="background-color: #0c3189;">
         <div class="container container--header-navigation responsivegrid aem-GridColumn  aem-GridColumn--default--12 " style="border-top: 1px solid #FFFFFF">
            <div class="cmp-container">
               <div class="cmp-container__mobile">
                  <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                     <nav class="cmp-header-navigation" itemtype="http://schema.org/SiteNavigationElement">
                        <ul class="cmp-header-navigation__group cmp-header-navigation__group--main">
                           
                              <li class="cmp-header-navigation__item cmp-header-navigation__item--expand-on-hover cmp-header-navigation__dropdown cmp-header-navigation__item--level-0">
                                 <span class="cmp-header-navigation__dropdown-wrapper">
                                    <a class="cmp-header-navigation__item-link cmp-header-navigation__dropdown-text" href="/" aria-label="Home">Home</a>
                                    <button class="cmp-header-navigation__dropdown-arrow" aria-label="Home" aria-expanded="false"></button>
                                 </span>
                                 
                              </li>
                           
                              <li class="cmp-header-navigation__item cmp-header-navigation__item--expand-on-hover cmp-header-navigation__dropdown cmp-header-navigation__item--level-0">
                                 <span class="cmp-header-navigation__dropdown-wrapper">
                                    <a class="cmp-header-navigation__item-link cmp-header-navigation__dropdown-text" href="/services.html" aria-label="Services">Services</a>
                                    <button class="cmp-header-navigation__dropdown-arrow" aria-label="Services" aria-expanded="false"></button>
                                 </span>
                                 <ul class="cmp-header-navigation__group cmp-header-navigation__subnav">
                                    
                                       <li class="cmp-header-navigation__item cmp-header-navigation__item--level-1">
                                          <a class="cmp-header-navigation__item-link" href="/services/institutions.html" aria-label="Anchor Institutions">Anchor Institutions</a>
                                       </li>
                                    
                                       <li class="cmp-header-navigation__item cmp-header-navigation__item--level-1">
                                          <a class="cmp-header-navigation__item-link" href="/services/providers.html" aria-label="Service Providers">Service Providers</a>
                                       </li>
                                    
                                       <li class="cmp-header-navigation__item cmp-header-navigation__item--level-1">
                                          <a class="cmp-header-navigation__item-link" href="/services/orderservices.html" aria-label="Order Services &amp; Forms">Order Services &amp; Forms</a>
                                       </li>
                                    
                                 </ul>
                              </li>
                           
                              <li class="cmp-header-navigation__item cmp-header-navigation__item--expand-on-hover cmp-header-navigation__dropdown cmp-header-navigation__item--level-0">
                                 <span class="cmp-header-navigation__dropdown-wrapper">
                                    <a class="cmp-header-navigation__item-link cmp-header-navigation__dropdown-text" href="/support.html" aria-label="Support">Support</a>
                                    <button class="cmp-header-navigation__dropdown-arrow" aria-label="Support" aria-expanded="false"></button>
                                 </span>
                                 <ul class="cmp-header-navigation__group cmp-header-navigation__subnav">
                                    
                                       <li class="cmp-header-navigation__item cmp-header-navigation__item--level-1">
                                          <a class="cmp-header-navigation__item-link" href="/support/il-us-domain-registration.html" aria-label="IL.US Domain Registration">IL.US Domain Registration</a>
                                       </li>
                                    
                                 </ul>
                              </li>
                           
                              <li class="cmp-header-navigation__item cmp-header-navigation__item--expand-on-hover cmp-header-navigation__dropdown cmp-header-navigation__item--level-0">
                                 <span class="cmp-header-navigation__dropdown-wrapper">
                                    <a class="cmp-header-navigation__item-link cmp-header-navigation__dropdown-text" href="/events.html" aria-label="Events">Events</a>
                                    <button class="cmp-header-navigation__dropdown-arrow" aria-label="Events" aria-expanded="false"></button>
                                 </span>
                                 
                              </li>
                           
                              <li class="cmp-header-navigation__item cmp-header-navigation__item--expand-on-hover cmp-header-navigation__dropdown cmp-header-navigation__item--level-0">
                                 <span class="cmp-header-navigation__dropdown-wrapper">
                                    <a class="cmp-header-navigation__item-link cmp-header-navigation__dropdown-text" href="/projects/k12network.html" aria-label="K-12 Network">K-12 Network</a>
                                    <button class="cmp-header-navigation__dropdown-arrow" aria-label="K-12 Network" aria-expanded="false"></button>
                                 </span>
                                 <ul class="cmp-header-navigation__group cmp-header-navigation__subnav">
                                    
                                       <li class="cmp-header-navigation__item cmp-header-navigation__item--level-1">
                                          <a class="cmp-header-navigation__item-link" href="/projects/k12network/join-consortium.html" aria-label="Join the Consortium">Join the Consortium</a>
                                       </li>
                                    
                                 </ul>
                              </li>
                           
                              <li class="cmp-header-navigation__item cmp-header-navigation__item--expand-on-hover cmp-header-navigation__dropdown cmp-header-navigation__item--level-0">
                                 <span class="cmp-header-navigation__dropdown-wrapper">
                                    <a class="cmp-header-navigation__item-link cmp-header-navigation__dropdown-text" href="/servicestatus.html" aria-label="Network Status">Network Status</a>
                                    <button class="cmp-header-navigation__dropdown-arrow" aria-label="Network Status" aria-expanded="false"></button>
                                 </span>
                                 
                              </li>
                           
                              <li class="cmp-header-navigation__item cmp-header-navigation__item--expand-on-hover cmp-header-navigation__dropdown cmp-header-navigation__item--level-0">
                                 <span class="cmp-header-navigation__dropdown-wrapper">
                                    <a class="cmp-header-navigation__item-link cmp-header-navigation__dropdown-text" href="/about.html" aria-label="About">About</a>
                                    <button class="cmp-header-navigation__dropdown-arrow" aria-label="About" aria-expanded="false"></button>
                                 </span>
                                 <ul class="cmp-header-navigation__group cmp-header-navigation__subnav">
                                    
                                       <li class="cmp-header-navigation__item cmp-header-navigation__item--level-1">
                                          <a class="cmp-header-navigation__item-link" href="/about/about-icn.html" aria-label="History">History</a>
                                       </li>
                                    
                                       <li class="cmp-header-navigation__item cmp-header-navigation__item--level-1">
                                          <a class="cmp-header-navigation__item-link" href="/about/policies.html" aria-label="Policies">Policies</a>
                                       </li>
                                    
                                 </ul>
                              </li>
                           
                        </ul>
                        <div class="cmp-header-navigation__group cmp-header-navigation__item cmp-header-navigation__group--desktop-only">
                           <div class="cmp-header-navigation__dropdown cmp-header-navigation__more-dropdown">
                              <span class="cmp-header-navigation__dropdown-wrapper">
                                 <button class="cmp-header-navigation__item-link cmp-header-navigation__more-dropdown-text cmp-header-navigation__dropdown-text">
                                    More
                                    <span class="cmp-header-navigation__dropdown-arrow" aria-expanded="false" aria-label="More"></span>
                                 </button>
                              </span>
                              <ul class="cmp-header-navigation__group cmp-header-navigation__subnav">
                              </ul>
                           </div>
                        </div>
                        <ul class="cmp-header-navigation__group cmp-header-navigation__group--mobile-only">
                           
                              <li class="cmp-header-navigation__item">
                                 <a target="blank" href="https://doit.illinois.gov" class="cmp-header-navigation__item-link">Dept of Innovation &amp; Technology</a>
                              </li>
                           
                           <li class="cmp-header-navigation__item cmp-header-navigation__translate">
                              <div class="cmp-header-navigation__item-link">
                                 
                                 <div class="translate weglot" weglot-api-key="wg_807731a8f409035ce1d36af6fea8f52b4">
                                       <em class="fas fa-globe"></em>
                                       <div id="weglot-mobile">
                                       </div>
                                 </div>
                                 
                              </div>
                           </li>
                           
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script defer type="text/javascript" src="https://cdn.weglot.us/weglot.min.js"></script></div>
<div class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">

    
   <div class="cmp-container " style="height: auto;background-color: null;">
      <div class="cmp-container__mobile " style="height: auto;background-color: null;">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="breadcrumb aem-GridColumn--default--hide aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0"><div>
   <nav class="container--full-width cmp-breadcrumb " aria-label="Breadcrumb" data-cmp-data-layer="{&#34;breadcrumb-6cc80a1902&#34;:{&#34;@type&#34;:&#34;soi/components/navigation/v1/breadcrumb&#34;}}">
      <ol class="cmp-breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
         <li class="cmp-breadcrumb__item cmp-breadcrumb__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable aria-label="Home" aria-current="page">
            <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1"/>
         </li>
      </ol>
   </nav>
</div>

    
</div>
<div class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">

    
   <div class="cmp-container " style="height: auto;background-color: #FEF200;">
      <div class="cmp-container__mobile " style="height: auto;background-color: null;">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="spacer spacer--small aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-spacer"></div>


    

</div>

    
</div>

      </div>
   </div>

    
</div>
<div class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">

    
   <div class="cmp-container " style="height: auto;background-color: #212C61;">
      <div class="cmp-container__mobile " style="height: auto;background-color: #212C61;">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">

    
   <div class="cmp-container " data-image-reference="/content/dam/soi/en/web/icn/images/students-on-stairs.png" style="background-image: url(https://s7d1.scene7.com/is/image/isp/students-on-stairs-1?ts=1709840975922&amp;$ContainerDesktop$);background-position: center center;height: auto;background-color: #FEF200;">
      <div class="cmp-container__mobile " style="background-image: url(https://s7d1.scene7.com/is/image/isp/icn-hero-main?ts=1675897126601&amp;$ContainerMobile$);background-position: center center;height: auto;background-color: #FEF200;" data-image-reference="/content/dam/soi/en/web/icn/images/icn-hero-main.png">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="container responsivegrid container--max-width aem-GridColumn aem-GridColumn--default--12">

    
   <div class="cmp-container " style="height: 515px;background-color: null;">
      <div class="cmp-container__mobile " style="height: 200px;background-color: null;">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    
    
</div>

      </div>
   </div>

    
</div>
<div class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">

    
   <div class="cmp-container " style="height: auto;background-color: #FEF200;">
      <div class="cmp-container__mobile " style="height: auto;background-color: null;">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="spacer spacer--small aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-spacer"></div>


    

</div>

    
</div>

      </div>
   </div>

    
</div>

    
</div>

      </div>
   </div>

    
</div>
<div class="spacer spacer--small aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-spacer"></div>


    

</div>
<div class="container responsivegrid container--max-width aem-GridColumn aem-GridColumn--default--12">

    
   <div class="cmp-container " style="height: auto;background-color: null;">
      <div class="cmp-container__mobile " style="height: auto;background-color: null;">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="title title--white title--center aem-GridColumn aem-GridColumn--default--12">
<div data-cmp-data-layer="{&#34;title-ee1573b840&#34;:{&#34;@type&#34;:&#34;soi/components/content/v1/title&#34;,&#34;repo:modifyDate&#34;:&#34;2023-01-06T22:02:49Z&#34;,&#34;dc:title&#34;:&#34;Illinois K-12 Broadband Network&#34;}}" id="title-ee1573b840" class="cmp-title ">
    <h1 class="cmp-title__text"> Illinois K-12 Broadband Network</h1>
</div>

    

</div>
<div class="container responsivegrid container--max-width aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--10 aem-GridColumn aem-GridColumn--offset--phone--1 aem-GridColumn--default--6 aem-GridColumn--offset--default--3">

    
   <div class="cmp-container " style="height: auto;background-color: null;">
      <div class="cmp-container__mobile " style="height: auto;background-color: null;">
         


<div class="aem-Grid aem-Grid--6 aem-Grid--default--6 aem-Grid--phone--10 ">
    
    <div class="text text--white aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--10 aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><div id="text-4df4ab14a0" class="cmp-text ">
    <p style="text-align: center;"><span class="text-large"><span class="text-medium">Stepping into the Future with Digital Learning</span></span></p>

</div>

    

</div>
<div class="button button--white button--center aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--10 aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0">
    <a id="button-4ba9d9963f" class="cmp-button " href="/projects/k12network.html" role="button" target="_self" data-cmp-clickable data-cmp-data-layer="{&#34;button-4ba9d9963f&#34;:{&#34;@type&#34;:&#34;core/wcm/components/button/v1/button&#34;,&#34;repo:modifyDate&#34;:&#34;2022-12-20T16:09:34Z&#34;,&#34;dc:title&#34;:&#34;Learn More About K-12 Network&#34;,&#34;xdm:linkURL&#34;:&#34;/content/soi/icn/en/projects/k12network.html&#34;}}">
        
    <span class="cmp-button__font-icon"><i class="fas fa-ethernet" aria-hidden="true"></i></span>

        <span class="cmp-button__text">Learn More About K-12 Network</span>
    </a>



    
</div>

    
</div>

      </div>
   </div>

    
</div>

    
</div>

      </div>
   </div>

    
</div>
<div class="spacer spacer--small aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-spacer"></div>


    

</div>

    
</div>

      </div>
   </div>

    
</div>
<div class="container responsivegrid container--max-width aem-GridColumn aem-GridColumn--default--12">

    
   <div class="cmp-container " style="height: auto;background-color: null;">
      <div class="cmp-container__mobile " style="height: auto;background-color: null;">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="spacer aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-spacer"></div>


    

</div>
<div class="teaser aem-GridColumn aem-GridColumn--default--12"><div id="teaser-b8cfbac664" class=" ">
    <div class="teaser teaser--text-left
                        
                        ">
        <div class="cmp-teaser">
            <div class="cmp-teaser__image">
                
                    <div data-asset="/content/dam/soi/en/web/icn/images/icn-hackercode.jpg" data-title="icn-hackercode" data-asset-id="9530cd74-782b-48ad-aa8b-938e0d137d84" data-cmp-data-layer="{&#34;teaser-b8cfbac664&#34;:{&#34;@type&#34;:&#34;core/wcm/components/teaser/v1/teaser&#34;,&#34;repo:modifyDate&#34;:&#34;2023-02-23T20:03:44Z&#34;,&#34;dc:title&#34;:&#34;DDOS Protection Services&#34;,&#34;dc:description&#34;:&#34;&lt;p>In todays changing world threats come from all around.  Distributed Denial or Service (DDOS) attacks can cripple a network and cause failures of critical services.  See what ICN can provide to help you detect and mitigate the risk of DDOS attacks.&lt;/p>\r\n&#34;,&#34;xdm:linkURL&#34;:&#34;/content/soi/icn/en/services/institutions/service.ddos.html&#34;}}" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
                        <picture>
                            <source media="(max-width:768px)" srcset="https://s7d1.scene7.com/is/image/isp/icn-hackercode?ts=1671553681199&amp;$TeaserComponent$"/>
                            <source media="(min-width:769px)" srcset="https://s7d1.scene7.com/is/image/isp/icn-hackercode?ts=1671553681199&amp;$TeaserComponent$"/>
                            
                            <img src="https://s7d1.scene7.com/is/image/isp/icn-hackercode?ts=1671553681199&$TeaserComponent$" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt=""/>
                        </picture>
                        <meta itemprop="caption"/>
                   </div>
                
                
            </div>
            <div class="cmp-teaser__content">
                <h2 class="cmp-teaser__title">
                    
                    DDOS Protection Services
                </h2>
                
                
    <div class="cmp-teaser__description">
        <p>In todays changing world threats come from all around.  Distributed Denial or Service (DDOS) attacks can cripple a network and cause failures of critical services.  See what ICN can provide to help you detect and mitigate the risk of DDOS attacks.</p>

    </div>

                
    <div class="cmp-teaser__action-container">
        
    <a class="cmp-teaser__action-link" href="/services/institutions/service.ddos.html" target="_parent">
        
        Learn about DDOS Protection
    </a>

    </div>

            </div>
        </div>
    </div>
</div>

    
</div>
<div class="experiencefragment aem-GridColumn aem-GridColumn--default--12">
<div id="experiencefragment-2cbb57e0d6" class="cmp-experiencefragment cmp-experiencefragment--cisco-umbrella">


    
   <div class="cmp-container " style="height: auto;background-color: null;">
      <div class="cmp-container__mobile " style="height: auto;background-color: null;">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="teaser aem-GridColumn aem-GridColumn--default--12"><div id="teaser-0fee248635" class=" ">
    <div class="teaser 
                        teaser--text-right
                        ">
        <div class="cmp-teaser">
            <div class="cmp-teaser__image">
                
                    <div data-asset="/content/dam/soi/en/web/icn/images/umbrella-trans.png" data-title="umbrella-trans" data-asset-id="3bee1c9e-afe8-413f-8266-bdb8bfe9db9c" data-cmp-data-layer="{&#34;teaser-0fee248635&#34;:{&#34;@type&#34;:&#34;core/wcm/components/teaser/v1/teaser&#34;,&#34;repo:modifyDate&#34;:&#34;2024-01-05T17:03:31Z&#34;,&#34;dc:title&#34;:&#34;Cisco Umbrella Now Available&#34;,&#34;dc:description&#34;:&#34;&lt;p>Cisco Umbrella is available for all Public K-12 Illinois Century Network (ICN) customers. Cisco Umbrella provides security and content filtering giving protection against malicious websites and harmful content. To receive Cisco Umbrella at no charge for your Public K-12, please complete the following form and ICN staff will contact you. Your school or district must be connected to ICN with a last mile circuit and use ICN assigned Public IP Addresses. &lt;/p>\r\n&#34;,&#34;xdm:linkURL&#34;:&#34;https://forms.office.com/Pages/ResponsePage.aspx?id=nwgia7qOPEaE9TFxIQ-QBXFpjmaD4qlHs45zLzj6mXxUQTJNQjZQV1BITDdTRldRSUJPWExKMTlXQiQlQCN0PWcu&#34;}}" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
                        <picture>
                            <source media="(max-width:768px)" srcset="https://s7d1.scene7.com/is/image/isp/umbrella-trans?ts=1671634086170&amp;$TeaserComponent$"/>
                            <source media="(min-width:769px)" srcset="https://s7d1.scene7.com/is/image/isp/umbrella-trans?ts=1671634086170&amp;$TeaserComponent$"/>
                            
                            <img src="https://s7d1.scene7.com/is/image/isp/umbrella-trans?ts=1671634086170&$TeaserComponent$" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt=""/>
                        </picture>
                        <meta itemprop="caption"/>
                   </div>
                
                
            </div>
            <div class="cmp-teaser__content">
                <h2 class="cmp-teaser__title">
                    
                    Cisco Umbrella Now Available
                </h2>
                
                
    <div class="cmp-teaser__description">
        <p>Cisco Umbrella is available for all Public K-12 Illinois Century Network (ICN) customers. Cisco Umbrella provides security and content filtering giving protection against malicious websites and harmful content. To receive Cisco Umbrella at no charge for your Public K-12, please complete the following form and ICN staff will contact you. Your school or district must be connected to ICN with a last mile circuit and use ICN assigned Public IP Addresses. </p>

    </div>

                
    <div class="cmp-teaser__action-container">
        
    <a class="cmp-teaser__action-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=nwgia7qOPEaE9TFxIQ-QBXFpjmaD4qlHs45zLzj6mXxUQTJNQjZQV1BITDdTRldRSUJPWExKMTlXQiQlQCN0PWcu" target="_parent">
        <span class="cmp-teaser__action-link__font-icon">
            <i class="fas fa-clipboard"></i>
        </span>
        Cisco Umbrella Service Request
    </a>

    
        
    <a class="cmp-teaser__action-link" href="https://multimedia.illinois.gov/doit/DoIT-ICN-Umbrella-Overview-Session1-030923.html" target="_parent">
        <span class="cmp-teaser__action-link__font-icon">
            <i class="fas fa-video"></i>
        </span>
        Cisco Umbrella 101 Overview Video
    </a>

    
        
    <a class="cmp-teaser__action-link" href="/media/videos/doit-icn-cisco-umbrella-technical-guidance-031623-mp4.html" target="_parent">
        <span class="cmp-teaser__action-link__font-icon">
            <i class="fas fa-video"></i>
        </span>
        Cisco Umbrella Technical Guidance Video
    </a>

    </div>

            </div>
        </div>
    </div>
</div>

    
</div>

    
</div>

      </div>
   </div>

    
</div>

    
</div>
<div class="spacer spacer--small aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-spacer"></div>


    

</div>
<div class="round-icon-card round-icon-card--white-text round-icon-card--large aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0 aem-GridColumn--default--4">
   <a class="cmp-round-icon-card false " href="/services/institutions.html" target="_self" style="background: #0C3189;">
      
         <span class="cmp-round-icon-card__font-icon">
            <i class="fas fa-building"></i>
         </span>
      
      
      <div class="cmp-round-icon-card__separator"></div>
      <div class="cmp-round-icon-card__text">For Anchor Institutions</div>
   </a>


    
</div>
<div class="round-icon-card round-icon-card--white-text round-icon-card--large aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0 aem-GridColumn--default--4">
   <a class="cmp-round-icon-card false " href="/services/providers.html" target="_self" style="background: #0C3189;">
      
         <span class="cmp-round-icon-card__font-icon">
            <i class="fas fa-globe"></i>
         </span>
      
      
      <div class="cmp-round-icon-card__separator"></div>
      <div class="cmp-round-icon-card__text">For Service Providers</div>
   </a>


    
</div>
<div class="round-icon-card round-icon-card--white-text round-icon-card--large aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0 aem-GridColumn--default--4">
   <a class="cmp-round-icon-card false " href="/contactus.html" target="_self" style="background: #0C3189;">
      
         <span class="cmp-round-icon-card__font-icon">
            <i class="fas fa-envelope"></i>
         </span>
      
      
      <div class="cmp-round-icon-card__separator"></div>
      <div class="cmp-round-icon-card__text">Contact Us</div>
   </a>


    
</div>

    
</div>

      </div>
   </div>

    
</div>

    
</div>

      </div>
   </div>

    
</div>
<div class="agencyfooter aem-GridColumn aem-GridColumn--default--12">
<div id="foot">
   <h2 class="sr-only">Footer</h2>
   <div class="cmp-agency-footer" style="background-color: ;">
      <div class="container container--padding-left-right responsivegrid aem-GridColumn aem-GridColumn--default--12">
         <div class="cmp-container">
            <div class="cmp-container__mobile">
               <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
                  <div class="cmp-agency-footer__back-to-top">
                     <div class="back-to-top">
                        <div class="cmp-back-to-top">
                           <button>
                              <span class="cmp-back-to-top__text">Back to top</span>
                              <i class="fas fa-sort-up"></i>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="cmp-agency-footer__links-icons">
                     
                        <div class="cmp-agency-footer__links-wrapper width-default">
                           <h3>Contact Information</h3>
                           
                           
                              <div class="cmp-agency-footer__text">
                                 <p>Springfield: 217-524-<strong>DoIT <br />
 </strong>(217-524-3648)<br />
</p>
<p>Chicago: 312-814-<strong>DoIT <br />
 </strong>(312-814-3648)</p>
<p>TTY Support Line: 866-277-5669</p>
<p>Support Email: <br />
<a href="mailto:DoIT.ICN@illinois.gov" title=" DoIT ICN">DoIT.ICN@illinois.gov</a></p>

                              </div>
                           
                        </div>
                     
                        <div class="cmp-agency-footer__links-wrapper ">
                           <h3>Useful Links</h3>
                           
                              <ul>
                                 
                                    <li><a href="https://www2.illinois.gov/" aria-label="Illinois.gov Home" target="_blank">Illinois.gov Home</a></li>
                                 
                                    <li><a href="https://www2.illinois.gov/sites/GOV/Pages/default.aspx" aria-label="Governor JB Pritzker" target="_blank">Governor JB Pritzker</a></li>
                                 
                                    <li><a href="http://www.dhs.state.il.us/page.aspx?item=32765" aria-label="Web Accessibility" target="_blank">Web Accessibility</a></li>
                                 
                                    <li><a href="https://www.illinois.gov/about/contact-us.html" aria-label="State Phone Directory" target="_blank">State Phone Directory</a></li>
                                 
                                    <li><a href="https://www.illinois.gov/search-results.html?contentType=agency&q=" aria-label="State Agencies" target="_blank">State Agencies</a></li>
                                 
                              </ul>
                           
                           
                        </div>
                     
                        <div class="cmp-agency-footer__links-wrapper ">
                           <h3>Notices</h3>
                           
                              <ul>
                                 
                                    <li><a href="/abuse.html" aria-label="Network Abuse Policy">Network Abuse Policy</a></li>
                                 
                                    <li><a href="/content/dam/soi/en/web/icn/documents/icn-calea-statement07.pdf" aria-label="CALEA Statement" target="_blank">CALEA Statement</a></li>
                                 
                              </ul>
                           
                           
                        </div>
                     
                     
                  </div>
                  
                  
                     <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
                     <df-messenger id="df" project-id="doit-generativeai" agent-id="ce9c645f-f60d-4422-a0c9-51bcaca9985e" chat-icon="/etc.clientlibs/soi/clientlibs/clientlib-site/resources/images/chatbot-icon.svg" language-code="en" allow-feedback='all' max-query-length="-1" wait-open welcome-message='Welcome to the DoIT Dotty Virtual Assistant, How can i help you today?' cookie-hours='12'>
                        <df-messenger-chat-bubble chat-title="DoIT Dotty Virtual Assistant" bot-writing-text="...">
                        </df-messenger-chat-bubble>
                      </df-messenger>
                   
                  
                     <map-details api-key="pk.eyJ1IjoiZG9pdHdlYnNlcnZpY2VzIiwiYSI6ImNsbGw4b21hMzFydjMzZW5zeDFldmNueTgifQ.DV5viEN7i1rSXmdv36pzfg"></map-details>
                  
                  
                  
               </div>
            </div>
         </div>
      </div>
   </div>
</div></div>
<div class="experiencefragment container--full-width aem-GridColumn aem-GridColumn--default--12">
<div id="experiencefragment-a836b655bf" class="cmp-experiencefragment cmp-experiencefragment--global-footer">


    
   <div class="cmp-container " style="height: auto;background-color: null;">
      <div class="cmp-container__mobile " style="height: auto;background-color: null;">
         


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="global-footer aem-GridColumn aem-GridColumn--default--12">
   <footer class="global-footer Global Footer" id="GF-1">
      <div class="cmp-global-footer">
         <div class="cmp-global-footer__container">
            <ul class="cmp-global-footer__nav">
               <li class="cmp-global-footer__nav-item">
                  <a href="https://doit.illinois.gov/initiatives/accessibility/iitaa.html" aria-label="Web Accessibility" target="_blank" class="cmp-global-footer__nav-item-link">Web Accessibility</a>
               </li>
            
               <li class="cmp-global-footer__nav-item">
                  <a href="http://www.missingkids.com/" aria-label="Missing &amp; Exploited Children" target="_blank" class="cmp-global-footer__nav-item-link">Missing &amp; Exploited Children</a>
               </li>
            
               <li class="cmp-global-footer__nav-item">
                  <a href="http://www.amberillinois.org/" aria-label="Amber Alerts" target="_blank" class="cmp-global-footer__nav-item-link">Amber Alerts</a>
               </li>
            
               <li class="cmp-global-footer__nav-item">
                  <a href="https://www.illinois.gov/about/privacy.html" aria-label="Illinois Privacy Info" target="_blank" class="cmp-global-footer__nav-item-link">Illinois Privacy Info</a>
               </li>
            </ul>
            <div class="cmp-global-footer__copyright-text"><ul>
<li><a href="https://gov.illinois.gov" target="_blank" title="Governor JB Pritzker">Governor JB Pritzker</a></li>
<li>© 2025</li>
<li><a href="https://www.illinois.gov" target="_blank" title="State of Illinois">State of Illinois</a></li>
</ul>
</div>
         </div>
      </div>
   </footer>


    
</div>
<div class="embedSuper aem-GridColumn aem-GridColumn--default--12">
        <style>
.google-translate .cmp-google-translate .goog-te-gadget > span {
display: none;
}
</style>
        


    

</div>

    
</div>

      </div>
   </div>

    
</div>

    
</div>

    
</div>

      </div>
      
   </div>
</main>
            
    
    

    
    
<script src="/etc.clientlibs/soi/clientlibs/clientlib-base.min.86db31df3dd7bfdefe6a299153edd583.js"></script>
<script src="/etc.clientlibs/soi/clientlibs/clientlib-site.min.e6e0d274a0e28c6920e5611c4cea7a28.js"></script>






    

    

    
    



    
    

            

        
    </body>
</html>
