a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    min-width: 992px;
    border-bottom: solid 1px #ccc;
    background-color: #f3f4f8;
}

.container-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 24px;
}

.column-main {
    width: 622px;
}

.column-side {
    width: 350px;
    margin-left: 20px;
}

/* section */
.section {
    padding: 20px;
    -webkit-box-shadow: 0 1px 4px rgba(41,51,57,.5);
    -moz-box-shadow: 0 1px 4px rgba(41,51,57,.5);
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
}

.section + .section {
    margin-top: 16px;
}

.column-side .section:not(:last-child) {
    padding: 20px 20px 12px;
}

.section-titleBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 4px;
    border-bottom: solid 5px transparent;
    line-height: 1;
}

.column-main .section-titleBox {
    margin-bottom: 20px;
}

.column-side .section-titleBox {
    margin-bottom: 16px;
}

.section-titleBox-en {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.section-titleBox-en > span,
.section-titleBox-jp > span {
    display: inline-block;
    background: no-repeat 0 0;
    text-indent: 100%;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: nowrap;
    vertical-align: bottom;
    overflow: hidden;
}

.section-titleBox-en > span {
    background-image: url("https://www.p-world.co.jp/img/index/ttl_En.svg");
}

.section-titleBox-jp > span {
    background-image: url("https://www.p-world.co.jp/img/index/ttl_Jp.svg");
}

/* カテゴリタイトル */
.categoryHeader {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    font-weight: bold;
    line-height: 1;
}

.categoryHeader-title {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.setMachineRanking .categoryHeader-title,
.setMachineReport .categoryHeader-title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-end;
    -moz-box-align: flex-end;
    -ms-flex-align: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    width: 100%;
}

.categoryHeader-title > a {
    position: relative;
    display: inline-block;
    padding-left: 21px;
    color: #333;
}

.setMachineRanking .categoryHeader-title > a,
.setMachineReport .categoryHeader-title > a {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.categoryHeader-title > a:hover {
    text-decoration: none;
    opacity: .7;
}

.categoryHeader-title > a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 19px;
    background: url("/img/index/icons.svg") no-repeat;
    -webkit-background-size: 105px 171px;
    -moz-background-size: 105px 171px;
    background-size: 105px 171px;
    content: "";
}

.categoryHeader-title > a > strong {
    display: inline-block;
    background: url("/img/index/ttlSub_Jp.svg?20240701") no-repeat;
    text-indent: 100%;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: nowrap;
    vertical-align: bottom;
    overflow: hidden;
}

.categoryHeader-showAll > a {
    font-size: 12px;
    vertical-align: bottom;
}

/* 店舗データベース タイトル */
.section-titleBox--parlor {
    border-bottom-color: #ae2323;
}

.section-titleBox--parlor .section-titleBox-en > span {
    width: 266px;
    height: 22px;
    background-position: 0 -2px;
}

.section-titleBox--parlor .section-titleBox-jp > span {
    width: 112px;
    height: 15px;
    background-position: 0 -2px;
}

/* 機種データベース タイトル */
.section-titleBox--machine {
    border-bottom-color: #2B3DB0;
}

.section-titleBox--machine .section-titleBox-en > span {
    width: 295px;
    height: 22px;
    background-position: 0 -28px;
}

.section-titleBox--machine .section-titleBox-jp > span {
    width: 112px;
    height: 15px;
    background-position: 0 -21px;
}

/* 関連業者データベース タイトル */
.section-titleBox--industry {
    border-bottom-color: #E0039B;
}

.section-titleBox--industry .section-titleBox-en > span {
    width: 302px;
    height: 22px;
    background-position: 0 -54px;
}

.section-titleBox--industry .section-titleBox-jp > span {
    width: 54px;
    height: 15px;
    background-position: 0 -40px;
}

/* 集計データ タイトル */
.section-titleBox--analytics {
    border-bottom-color: #FFCC00;
}

.section-titleBox--analytics .section-titleBox-en > span {
    width: 246px;
    height: 22px;
    background-position: 0 -80px;
}

.section-titleBox--analytics .section-titleBox-jp > span {
    width: 71px;
    height: 15px;
    background-position: 0 -59px;
}

/* 業界情報 タイトル */
.section-titleBox--information {
    border-bottom-color: #F23000;
}

.section-titleBox--information .section-titleBox-en > span {
    width: 204px;
    height: 22px;
    background-position: 0 -106px;
}

.section-titleBox--information .section-titleBox-jp > span {
    width: 59px;
    height: 15px;
    background-position: 0 -78px;
}

.news .categoryHeader-title > a:before {
    background-position: -2px -2px;
}

.news .categoryHeader-title > a > strong {
    width: 120px;
    height: 18px;
    background-position: 0 -46px;
}

/* パチンコ業界の社会貢献 タイトル */
.sdgs .categoryHeader-title > a:before {
    background-position: -38px -114px;
}

.sdgs .categoryHeader-title > a > strong {
    width: 208px;
    height: 18px;
    background-position: 0 -135px;
}

/* ランキング タイトル */
.section-titleBox--ranking {
    border-bottom-color: #F23000;
}

.section-titleBox--ranking .section-titleBox-en > span {
    width: 132px;
    height: 22px;
    background-position: 0 -132px;
}

.section-titleBox--ranking .section-titleBox-jp > span {
    width: 72px;
    height: 15px;
    background-position: 0 -97px;
}

.setMachineRanking .categoryHeader-title > a:before {
    background-position: -23px -2px;
}

.setMachineRanking .categoryHeader-title > a > strong {
    width: 170px;
    height: 18px;
    background-position: 0 -68px;
}

.setMachineReport .categoryHeader-title > a:before {
    background-position: -44px -2px;
}

.setMachineReport .categoryHeader-title > a > strong {
    width: 152px;
    height: 18px;
    background-position: 0 -90px;
}

/* コミュニティ タイトル */
.section-titleBox--community {
    border-bottom-color: #009966;
}

.section-titleBox--community .section-titleBox-en > span {
    width: 186px;
    height: 22px;
    background-position: 0 -158px;
}

.section-titleBox--community .section-titleBox-jp > span {
    width: 77px;
    height: 15px;
    background-position: 0 -116px;
}

.community .categoryHeader-title > a:before {
    background-position: -65px -2px;
}

.community .categoryHeader-title > a > strong {
    width: 220px;
    height: 18px;
    background-position: 0 -2px;
}

/* 遊技機メーカー タイトル */
.section-titleBox--maker {
    border-bottom-color: #64059B;
}

.section-titleBox--maker .section-titleBox-en > span {
    width: 107px;
    height: 22px;
    background-position: 0 -184px;
}

.section-titleBox--maker .section-titleBox-jp > span {
    width: 101px;
    height: 15px;
    background-position: 0 -135px;
}

.maker .categoryHeader-title > a:before {
    background-position: -86px -2px;
}

.maker .categoryHeader-title > a > strong {
    width: 198px;
    height: 18px;
    background-position: 0 -112px;
}

/******** 店舗データベース ********/
#map {
    position: relative;
    width: 528px;
    height: 466px;
    margin: 0 auto 20px;
    background: url("https://www.p-world.co.jp/img/index/map.svg") no-repeat 0 0;
    list-style-type: none;
}

#map a[class^="map-"] {
    position: absolute;
    display: inline-block;
    text-indent: 100%;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: nowrap;
    vertical-align: bottom;
    overflow: hidden;
}

#map .map-item.is-hover > a {
    background-color: #fff;
    opacity: .3;
}

.map-hokkaido-main {
    top: 21px;
    left: 394px;
    width: 134px;
    height: 110px;
}

.map-hokkaido-top {
    top: 0;
    left: 394px;
    width: 32px;
    height: 21px;
}

.map-hokkaido-left {
    top: 99px;
    left: 369px;
    width: 25px;
    height: 32px;
}

.map-aomori-main {
    top: 160px;
    left: 369px;
    width: 102px;
    height: 25px;
}

.map-aomori-topLeft {
    top: 151px;
    left: 369px;
    width: 28px;
    height: 9px;
}

.map-aomori-topRight {
    top: 140px;
    left: 430px;
    width: 41px;
    height: 20px;
}

.map-iwate {
    top: 187px;
    left: 423px;
    width: 48px;
    height: 34px;
}

.map-miyagi {
    top: 223px;
    left: 423px;
    width: 48px;
    height: 34px;
}

.map-akita {
    top: 187px;
    left: 369px;
    width: 52px;
    height: 34px;
}

.map-yamagata {
    top: 223px;
    left: 369px;
    width: 52px;
    height: 34px;
}

.map-fukushima {
    top: 259px;
    left: 404px;
    width: 67px;
    height: 45px;
}

.map-ibaraki {
    top: 306px;
    left: 441px;
    width: 30px;
    height: 62px;
}

.map-tochigi {
    top: 306px;
    left: 409px;
    width: 30px;
    height: 39px;
}

.map-gunma {
    top: 306px;
    left: 376px;
    width: 31px;
    height: 39px;
}

.map-saitama {
    top: 347px;
    left: 376px;
    width: 63px;
    height: 21px;
}

.map-chiba {
    top: 370px;
    left: 451px;
    width: 30px;
    height: 58px;
}

.map-tokyo {
    top: 370px;
    left: 394px;
    width: 55px;
    height: 25px;
}

.map-kanagawa {
    top: 397px;
    left: 378px;
    width: 47px;
    height: 27px;
}

.map-niigata-main {
    top: 259px;
    left: 369px;
    width: 33px;
    height: 45px;
}

.map-niigata-left {
    top: 276px;
    left: 360px;
    width: 9px;
    height: 28px;
}

.map-toyama {
    top: 276px;
    left: 319px;
    width: 39px;
    height: 28px;
}

.map-ishikawa {
    top: 255px;
    left: 290px;
    width: 27px;
    height: 49px;
}

.map-fukui-main {
    top: 321px;
    left: 264px;
    width: 53px;
    height: 24px;
}

.map-fukui-top {
    top: 306px;
    left: 290px;
    width: 27px;
    height: 15px;
}

.map-yamanashi {
    top: 370px;
    left: 346px;
    width: 46px;
    height: 25px;
}

.map-nagano {
    top: 306px;
    left: 346px;
    width: 28px;
    height: 62px;
}

.map-gifu {
    top: 306px;
    left: 319px;
    width: 25px;
    height: 84px;
}

.map-shizuoka {
    top: 397px;
    left: 347px;
    width: 29px;
    height: 40px;
}

.map-aichi {
    top: 392px;
    left: 319px;
    width: 25px;
    height: 40px;
}

.map-mie {
    top: 392px;
    left: 292px;
    width: 25px;
    height: 63px;
}

.map-shiga {
    top: 347px;
    left: 292px;
    width: 25px;
    height: 43px;
}

.map-kyoto-main {
    top: 347px;
    left: 237px;
    width: 53px;
    height: 21px;
}

.map-kyoto-top {
    top: 321px;
    left: 237px;
    width: 25px;
    height: 26px;
}

.map-osaka {
    top: 370px;
    left: 237px;
    width: 25px;
    height: 42px;
}

.map-hyogo {
    top: 321px;
    left: 211px;
    width: 24px;
    height: 80px;
}

.map-nara {
    top: 370px;
    left: 264px;
    width: 26px;
    height: 54px;
}

.map-wakayama-main {
    top: 426px;
    left: 237px;
    width: 53px;
    height: 29px;
}

.map-wakayama-top {
    top: 414px;
    left: 237px;
    width: 25px;
    height: 12px;
}

.map-tottori {
    top: 321px;
    left: 179px;
    width: 30px;
    height: 39px;
}

.map-shimane {
    top: 321px;
    left: 147px;
    width: 30px;
    height: 39px;
}

.map-okayama {
    top: 362px;
    left: 179px;
    width: 30px;
    height: 39px;
}

.map-hiroshima {
    top: 362px;
    left: 147px;
    width: 30px;
    height: 39px;
}

.map-yamaguchi {
    top: 321px;
    left: 121px;
    width: 24px;
    height: 80px;
}

.map-tokushima {
    top: 438px;
    left: 180px;
    width: 46px;
    height: 24px;
}

.map-kagawa {
    top: 411px;
    left: 180px;
    width: 46px;
    height: 25px;
}

.map-ehime {
    top: 411px;
    left: 129px;
    width: 49px;
    height: 25px;
}

.map-kochi {
    top: 438px;
    left: 129px;
    width: 49px;
    height: 24px;
}

.map-fukuoka {
    top: 321px;
    left: 50px;
    width: 62px;
    height: 35px;
}

.map-saga {
    top: 321px;
    left: 25px;
    width: 23px;
    height: 47px;
}

.map-nagasaki {
    top: 321px;
    left: 0px;
    width: 23px;
    height: 57px;
}

.map-kumamoto {
    top: 358px;
    left: 50px;
    width: 31px;
    height: 74px;
}

.map-oita {
    top: 358px;
    left: 83px;
    width: 29px;
    height: 37px;
}

.map-miyazaki {
    top: 397px;
    left: 83px;
    width: 29px;
    height: 35px;
}

.map-kagoshima {
    top: 434px;
    left: 50px;
    width: 62px;
    height: 32px;
}

.map-okinawa {
    top: 420px;
    left: 0px;
    width: 26px;
    height: 45px;
}


.hallSearchFunction {
    position: relative;
    padding-top: 24px;
}

/* 店舗情報更新一覧 */
.timeline {
    position: absolute;
    top: 0;
    left: 10px;
    width: 340px;
    border: solid 1px #ccc;
    z-index: 1;
}

.timeline-header {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 1px 2px rgba(41,51,57,.3);
    -moz-box-shadow: 0 1px 2px rgba(41,51,57,.3);
    box-shadow: 0 1px 2px rgba(41,51,57,.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 2px 4px 2px 2px;
    background-color: #e0e0e0;
    z-index: 1;
}

.timeline-header-title {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding-left: 8px;
    font-size: 14px;
    font-weight: bold;
}

.timeline-header-showAll {
    color: #333;
    font-size: 13px;
    text-decoration: underline;
}

.timeline-header-showAll:hover {
    opacity: .7;
}

.timeline-body {
    -webkit-box-shadow: 1px 0 1px rgba(41,51,57,.2) inset;
    -moz-box-shadow: 1px 0 1px rgba(41,51,57,.2) inset;
    box-shadow: 1px 0 1px rgba(41,51,57,.2) inset;
    height: 227px;
    list-style-type: none;
    font-size: 14px;
    overflow: hidden;
}

.timeline-item {
    position: relative;
}

.timeline-item:after {
    position: absolute;
    bottom: 0;
    left: 4px;
    width: 332px;
    height: 1px;
    background-color: #ccc;
    content: "";
}

.timeline-item > a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 4px 5px;
    text-decoration: none;
}

.timeline-item > a:hover {
    background-color: #eee;
}

.timeline-item > a:hover .timeline-item-hall {
    text-decoration: underline;
}

.timeline-item > a:hover > .timeline-item-thumb {
    opacity: .7;
}

.timeline-item-new {
    display: none;
    width: 40px;
    margin-left: 4px;
    background-color: #ae2323;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.timeline-item.is-latest .timeline-item-new {
    display: inline-block;
    animation: blink 1s linear infinite;
}

/* IEで点滅部分が欄外で表示されてしまう対応 */
.timeline-item.slick-active .timeline-item-new {
    opacity: 1;
    visibility: visible;
}

@keyframes blink {
    0%,
    10%,
    90%,
    100% {
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
    }
}

.timeline-item-detail {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-left: 8px;
    line-height: 20px;
}

.timeline-item-detail-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 276px;
}

.timeline-item-hall,
.timeline-item-area {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.timeline-item-hall {
    max-width: 232px;
    padding-top: 2px;
    color: #ae2323;
    font-size: 15px;
    font-weight: bold;
}

.timeline-item-detail-footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 276px;
    color: #333;
}

.timeline-item-area {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: 13px;
}

.timeline-item-update {
    padding-left: 4px;
    font-size: 13px;
}

/*
.hallSearchFunction-count {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: solid 1px #333;
    font-size: 13px;
}
.hallSearchFunction-count > strong {
    color: #ae2323;
    font-size: 22px;
    font-family: arial;
}
*/

.hallSearchFunction-regist {
    position: absolute;
    top: 260px;
    left: 10px;
    font-size: 13px;
    color: #ae2323;
    font-weight: bold;
    text-decoration: underline;
}

.hallSearchFunction-regist:hover {
    text-decoration: none;
    opacity: .7;
}

/* メール配信店・出玉公開店・動画配信店 */
.hallFeature {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    list-style-type: none;
}

.hallFeature-item {
    width: 138px;
}

.hallFeature-item:not(:last-child) {
    margin-right: 8px;
}

.hallFeature-item > a {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    border: solid 1px #CCC;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #333;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
}

.hallFeature-item > a > span {
    position: relative;
    display: inline-block;
}

.hallFeature-item > a > span:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    margin: auto;
    background: url("/img/index/icons.svg") no-repeat;
    -webkit-background-size: 105px 171px;
    -moz-background-size: 105px 171px;
    background-size: 105px 171px;
    content: "";
}

.hallFeature-item[data-type="mail"] > a > span {
    padding-left: 20px;
}

.hallFeature-item[data-type="mail"] > a > span:before {
    width: 18px;
    height: 10px;
    background-position: -2px -139px;
}

.hallFeature-item[data-type="dedama"] > a > span {
    padding-left: 19px;
}

.hallFeature-item[data-type="dedama"] > a > span:before {
    width: 15px;
    height: 13px;
    background-position: -23px -138px;
}

.hallFeature-item[data-type="anniversary"] > a > span {
    padding-left: 16px;
}

.hallFeature-item[data-type="anniversary"] > a > span:before {
    width: 12px;
    height: 16px;
    background-position: -42px -136px;
}

.hallFeature-item[data-type="group"] > a > span {
    padding-left: 18px;
}

.hallFeature-item[data-type="group"] > a > span:before {
    width: 16px;
    height: 14px;
    background-position: -58px -135px;
}

.hallFeature-item[data-type="interviews"] > a > span {
    padding-left: 19px;
}

.hallFeature-item[data-type="interviews"] > a > span:before {
    width: 15px;
    height: 14px;
    background-position: -2px -153px;
}

.hallFeature-item > a:hover {
    text-decoration: none;
    opacity: .7;
}

/* 組合・基金 */
.associations {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.associations-item {
    width: 270px;
    text-align: center;
}

.associations-thumb {
    border: solid 1px #ccc;
    margin-bottom: 8px;
}

.associations-thumb > a {
    display: block;
    padding: 4px 0;
}

.associations-thumb > a:hover {
    opacity: .7;
}

.associations-thumb > a > img {
    vertical-align: middle;
}

.associations-count {
    font-size: 12px;
}

.associations-count > strong {
    font-weight: normal;
}

/******** 機種データベース ********/
/* 注目機種 */
.machineRanking {
    margin-bottom: 24px;
}

.machineRanking-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 4px;
    border-bottom: solid 3px #333;
    font-weight: bold;
    line-height: 1;
}

.machineRanking-header-title {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-weight: inherit;
}

.machineRanking-header-title > a {
    color: #333;
}

.machineRanking-header-title > a:hover {
    text-decoration: none;
    opacity: .7;
}

.machineRanking-header-showAll > a {
    color: #333;
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
    vertical-align: bottom;
}

.machineRanking-header-showAll > a:hover {
    opacity: .7;
}

.machineRanking-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
    overflow: hidden;
}

.machineRanking-item-thumb > a > img {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 170px;
}

/* carousel */
.owl-carousel {
    position: relative;
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.no-js .owl-carousel {
    display: block;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    overflow: hidden;
}

.owl-carousel .owl-stage {
    position: relative;
}

.owl-carousel .owl-stage:after {
    content: '';
    display: table;
    clear: both;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    display: block;
    opacity: 0;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
    display: none;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    display: block;
    -webkit-box-shadow: 0 1px 3px #888;
    -moz-box-shadow: 0 1px 3px #888;
    box-shadow: 0 1px 3px #888;
    top: 50%;
    width: 36px;
    height: 80px;
    margin-top: -40px;
    cursor: pointer;
    text-indent: 100%;
    overflow: hidden;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    border-left: solid 1px #fff;    /* edgeで1px余白が発生してしまう対応 */
    background: url("https://www.p-world.co.jp/img/index/iconCarouselArrowLeft.svg") no-repeat 10px 50% #fff;
    -webkit-background-size: 8px auto;
    -moz-background-size: 8px auto;
    background-size: 8px auto;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
    right: 0;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    border-right: solid 1px #fff;   /* edgeで1px余白が発生してしまう対応 */
    background: url("https://www.p-world.co.jp/img/index/iconCarouselArrowRight.svg") no-repeat 18px 50% #fff;
    -webkit-background-size: 8px auto;
    -moz-background-size: 8px auto;
    background-size: 8px auto;
}

.owl-carousel .owl-controls .owl-nav .owl-prev.disabled,
.owl-carousel .owl-controls .owl-nav .owl-next.disabled {
    display: none;
}

.machineRanking-item-thumb {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: flex-end;
    -moz-box-align: flex-end;
    -ms-flex-align: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    width: 100px;
    height: 170px;
    margin: 0 auto 4px;
}

.machineRanking-item-num {
    margin-bottom: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
}

.machineRanking--pachi .machineRanking-item-num {
    background-color: #FCE3F4;
    color: #F23000;
}

.machineRanking--pachi li[class*="is-no"] .machineRanking-item-num {
    background-color: #E76565;
    color: #fff;
}

.machineRanking--slot .machineRanking-item-num {
    background-color: #E5EBFC;
    color: #2B3DB0;
}

.machineRanking--slot li[class*="is-no"] .machineRanking-item-num {
    background-color: #647EE5;
    color: #fff;
}

.machineRanking-item-num > em {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    font-style: normal;
    font-size: 16px;
}

.machineRanking-item[class*="is-no"] .machineRanking-item-num > em:before {
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    width: 16px;
    height: 11px;
    margin: auto;
    background: url("/img/index/icons.svg") no-repeat;
    -webkit-background-size: 105px 171px;
    -moz-background-size: 105px 171px;
    background-size: 105px 171px;
    content: "";
}

.machineRanking-item.is-no1 .machineRanking-item-num > em:before {
    background-position: -2px -68px;
}

.machineRanking-item.is-no2 .machineRanking-item-num > em:before {
    background-position: -24px -68px;
}

.machineRanking-item.is-no3 .machineRanking-item-num > em:before {
    background-position: -44px -68px;
}

.machineRanking-item-maker {
    font-size: 14px;
    text-align: left;
}

.machineRanking-item-maker > a {
    color: #333;
}

.machineRanking-item-thumb > a:hover > img,
.machineRanking-item-maker > a:hover,
.machineRanking-item-title > a:hover,
.machineRanking-item > a:hover {
    opacity: .7;
}

.machineRanking-item-title {
    color: #ae2323;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    text-decoration: underline;
    word-break: break-all;
}

.machineRanking-item > a:hover .machineRanking-item-title {
    text-decoration: underline;
}

/* 新台スケジュールリンク */
.introduceCalendarLink {
  margin-bottom: 24px;
}
.introduceCalendarLink > a {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 412px;
  height: 42px;
  margin: auto;
  border: solid 1px #CCC;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
  color: #333;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
.introduceCalendarLink > a:hover {
  text-decoration: none;
  opacity: .7;
}
.introduceCalendarLink > a > span {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}
.introduceCalendarLink > a > span:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 17px;
  height: 16px;
  margin: auto;
  background: url(../../img/index/icons.svg) no-repeat -77px -136px;
  -webkit-background-size: 105px 171px;
  -moz-background-size: 105px 171px;
  background-size: 105px 171px;
  content: "";
}

/* 機種別掲示板 */
.machineBbs-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 4px;
    border-bottom: solid 3px #333;
    font-weight: bold;
    line-height: 1;
}

.machineBbs-header-title {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-weight: inherit;
}

.machineBbs-header-title > a {
    color: #333;
}

.machineBbs-header-title > a:hover {
    text-decoration: none;
    opacity: .7;
}

.machineBbs-header-showAll > a {
    color: #333;
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
    vertical-align: bottom;
}

.machineBbs-header-showAll > a:hover {
    opacity: .7;
}

.machineBbs-title {
    height: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
}

.machineBbs-body--pachi .machineBbs-title {
    background-color: #E76565;
}

.machineBbs-body--slot .machineBbs-title {
    background-color: #647EE5;
}

.machineBbs-list {
    list-style-type: none;
}

.machineBbs-item {
    margin-top: 4px;
}

.machineBbs-item > a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    color: #333;
    font-size: 14px;
    line-height: 1.6;
}

.machineBbs-item > a:hover {
    background-color: #f0f0f0;
    text-decoration: none;
}

.machineBbs-date,
.machineBbs-time {
    width: 54px;
}

.machineBbs-thread {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.machineBbs-thread {
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: underline;
}

.machineBbs-count {
    margin-left: 12px;
    font-size: 12px;
    text-align: right;
    line-height: 22px;
}

.machineBbs-count > span {
    position: relative;
    display: inline-block;
    padding-left: 18px;
    vertical-align: middle;
}

.machineBbs-count > span:before {
    position: absolute;
    top: 5px;
    left: 0;
    width: 15px;
    height: 15px;
    background: url("/img/index/icons.svg") no-repeat -3px -24px;
    -webkit-background-size: 105px 171px;
    -moz-background-size: 105px 171px;
    background-size: 105px 171px;
    content: "";
}

/******** 関連業者データベース ********/
.industryBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

.industryList {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 0 8px;
    font-size: 14px;
    list-style-type: none;
}

.industryList-item {
    position: relative;
    margin-bottom: 4px;
    padding-left: 16px;
}
.industryList-item:before {
    position: absolute;
    top: 4px;
    left: 0;
    width: 13px;
    height: 13px;
    background: url("/img/index/icons.svg") no-repeat -46px -46px;
    -webkit-background-size: 105px 171px;
    -moz-background-size: 105px 171px;
    background-size: 105px 171px;
    content: ""
}

.industryList-item > a {
    color: #333;
}

.industryList-item > a:hover {
    opacity: .7;
}

.industryFunction {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    list-style-type: none;
}

.industryFunction-item {
    width: 150px;
    margin: 0 8px;
}

.industryFunction-item > a {
    display: block;
    height: 30px;
    background-color: #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #333;
    line-height: 30px;
    text-align: center;
}

.industryFunction-item > a:hover {
    opacity: .7;
    text-decoration: none;
}

/******** 更新店舗数 ********/
.analyticsBlock {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2px;
}

.analyticsBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 180px;
    padding: 8px;
}

.analyticsBox--hall {
    background-color: #FEEAE5;
}

.analyticsBox--access {
    background-color: #FCE6F5;
}

.analyticsBox--user {
    background-color: #EAECF7;
}

.analyticsBox-title {
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: solid 3px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.analyticsBox--hall > .analyticsBox-title {
    border-color: #F23000;
}

.analyticsBox--access > .analyticsBox-title {
    border-color: #E0039B;
}

.analyticsBox--user > .analyticsBox-title {
    border-color: #2B3DB0;
}

.analyticsBox-title > em,
.analyticsBox-title > a {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    font-style: normal;
}
.analyticsBox-title > a {
    color: #333;
}

.analyticsBox-title > a:hover {
    opacity: .7;
}

.analyticsBox-title > em:before,
.analyticsBox-title > a:before {
    position: absolute;
    top: 3px;
    left: 0;
    height: 17px;
    background: url("/img/index/icons.svg") no-repeat;
    -webkit-background-size: 105px 171px;
    -moz-background-size: 105px 171px;
    background-size: 105px 171px;
    content: "";
}

.analyticsBox--hall > .analyticsBox-title > em:before {
    width: 25px;
    background-position: -5px -86px;
}

.analyticsBox--access > .analyticsBox-title > em:before {
    width: 22px;
    background-position: -41px -86px;
}

.analyticsBox--user > .analyticsBox-title > a:before {
    width: 25px;
    background-position: -75px -86px;
}

.analyticsBox-latest {
    padding: 8px 0;
    border-bottom: solid 1px;
}

.analyticsBox--hall .analyticsBox-latest {
    border-color: #F23000;
}

.analyticsBox--access .analyticsBox-latest {
    border-color: #E0039B;
}

.analyticsBox--user .analyticsBox-latest {
    border-color: #2B3DB0;
}

.analyticsBox-count {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-end;
    -moz-box-align: flex-end;
    -ms-flex-align: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    width: 100%;
    font-size: 14px;
}

.analyticsBox-count > a,
.analyticsBox-count > em {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: inline-block;
    padding: 0 4px;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    text-align: right;
}

.analyticsBox--hall  .analyticsBox-count > a {
    color: #F23000;
}

.analyticsBox--access  .analyticsBox-count > a {
    color: #E0039B;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.analyticsBox--user  .analyticsBox-count > em {
    color: #2B3DB0;
}

.analyticsBox-count > a:hover {
    opacity: .7;
}

.analyticsBox-sub {
    font-size: 12px;
    text-align: right;
}

.analyticsBox-month {
    padding: 8px 0;
}

.analyticsBlock-memo {
    margin-bottom: 16px;
    font-size: 10px;
    text-align: right;
}

/* パチンコ店MAP/SP版 P-WOLRD/Twitter */
.appList {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -moz-box-pack: space-around;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
}

.appList-item > a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    color: #333;
    text-align: center;
}

.appList-item {
    font-size: 11px;
}

.appList-item > a > img {
    margin-right: 7px;
}

/******** ピーワールドからのお知らせ ********/
.infoSection {
    margin-top: 16px;
    -webkit-box-shadow: 0 1px 4px rgba(41,51,57,.5);
    -moz-box-shadow: 0 1px 4px rgba(41,51,57,.5);
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
}

.infoSection-title {
    padding: 20px 20px 8px;
    background-color: #e0e0e0;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
}

.infoSection-body {
    padding: 20px;
}

.infoSection-item {
    list-style-type: none;
    font-size: 14px;
}

.infoSection-item:not(:last-child) {
    margin-bottom: 8px;
}

.infoSection-item-grid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    color: #333;
}

.infoSection-item-grid:hover {
    text-decoration: none;
    opacity: .7;
}

.infoSection-item-date {
    width: 100px;
}

.infoSection-item-title {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-decoration: underline;
}

/******** 業界情報 ********/
/* グランドオープン */
.grandOpen {
    margin-bottom: 16px;
}

.grandOpen-body {
    padding-left: 8px;
}

.grandOpen-item {
    position: relative;
    display: block;
    padding: 26px 4px 4px;
    border: solid 2px #ae2323;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fbfcf7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(15%, #fbfcf7), color-stop(80%, #e3dbbc), color-stop(100%, #ede8d3));
    background-image: -webkit-linear-gradient(#fff 0, #fbfcf7 15%, #e3dbbc 80%, #ede8d3 100%);
    background-image: -moz-linear-gradient(#fff 0, #fbfcf7 15%, #e3dbbc 80%, #ede8d3 100%);
    background-image: -o-linear-gradient(#fff 0, #fbfcf7 15%, #e3dbbc 80%, #ede8d3 100%);
    background-image: linear-gradient(#fff 0, #fbfcf7 15%, #e3dbbc 80%, #ede8d3 100%);
    line-height: 1.4;
    text-decoration: none;
}

.grandOpen-item + .grandOpen-item {
    margin-top: 18px;
}

.grandOpen-item:hover {
    text-decoration: none;
    opacity: .7;
}

.grandOpen-date {
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 4px 6px;
    -webkit-box-shadow: 0 1px 5px rgba(41,51,57,.5);
    -moz-box-shadow: 0 1px 5px rgba(41,51,57,.5);
    box-shadow: 0 1px 5px rgba(41,51,57,.5);
    background-color: #ae2323;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
}

.grandOpen-date-open,
.grandOpen-date-num {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 18px;
}

.grandOpen-count {
    position: absolute;
    top: 6px;
    right: 6px;
    color: #333;
    font-size: 12px;
    line-height: 1;
}

.grandOpen-count > span {
    color: #ae2323;
    font-size: 18px;
    font-weight: bold;
}

.grandOpen-grid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-start;
    -moz-box-align: flex-start;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.grandOpen-thumb {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    margin-right: 6px;
    padding: 2px;
    border: solid 1px #ccc;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
}

.grandOpen-thumb > img {
    width: 100%;
    height: auto;
}

.grandOpen-detail {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    word-break: break-all;
}

.grandOpen-hallName {
    color: #ae2323;
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}

.grandOpen-hallAddress {
    margin-bottom: 2px;
    color: #008200;
    font-size: 13px;
}

.grandOpen-hallMemo {
    color: #333;
    font-size: 13px;
}

/* 業界ニュース */
.news-list {
    list-style-type: none;
}

.news-article {
    border-bottom: solid 1px #ccc;
}

.news-article:first-child {
    border-top: solid 1px #ccc;
}

.news-article > a {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 4px 0;
    color: #1a0dab;
    font-size: 14px;
    line-height: 1.2;
}

.news-article > a:hover {
    background-color: #eee;
}
.news-article > a:visited {
    color: #7f4eb5;
}

.news-article-thumb {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 8px;
    border: solid 1px #ccc;
    overflow: hidden;
}

.news-article-thumb > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.news-article > a:hover > .news-article-thumb > img {
    opacity: .7;
}

.news-article-title {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding-top: 8px;
    font-weight: bold;
    word-break: break-all;
}

.news-article-date {
    position: absolute;
    bottom: 4px;
    right: 0;
    color: #333;
    font-size: 12px;
}

.news-showAll {
    margin-top: 4px;
    font-size: 13px;
    text-align: right;
}

.news-showAll > a {
    color: #333;
    text-decoration: underline;
}

.news-showAll > a:hover {
    opacity: .7
}

/******** ランキング ********/
/* 設置台数ランキング */
.setMachineRanking .categoryHeader-title > span {
    display: inline-block;
    margin-left: 4px;
    font-size: 12px;
    vertical-align: middle;
}

.setMachineRanking-list {
    font-size: 13px;
    line-height: 1.8;
}

.setMachineRanking-list + .setMachineRanking-list {
    margin-top: 8px;
}

.setMachineRanking-list-title {
    color: #fff;
    text-align: center;
}

.setMachineRanking-list--pachi >.setMachineRanking-list-title {
    background-color: #E76565;
}

.setMachineRanking-list--slot >.setMachineRanking-list-title {
    background-color: #647EE5;
}

.setMachineRanking-list-body {
    list-style-type: none;
}

.setMachineRanking-list--pachi > .setMachineRanking-list-body {
    background-color: #fdeff8;
}

.setMachineRanking-list--slot > .setMachineRanking-list-body {
    background-color: #edf1fc;
}

.setMachineRanking-list--pachi .setMachineRanking-list-item:nth-child(even) {
    background-color: #fcdef2;
}

.setMachineRanking-list--slot .setMachineRanking-list-item:nth-child(even) {
    background-color: #dde4fb;
}

.setMachineRanking-list-item > a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 2px 8px;
    color: #333;
}

.setMachineRanking-list-item > a:hover {
    text-decoration: none;
    opacity: .7;
}

.setMachineRanking-list-num,
.setMachineRanking-list-graph {
    width: 20px;
    text-align: center;
}

.setMachineRanking-list-num > span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #666;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    vertical-align: middle;
}

[class^="setMachineRanking-list-graph-"] {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("/img/index/icons.svg") no-repeat;
    -webkit-background-size: 105px 171px;
    -moz-background-size: 105px 171px;
    background-size: 105px 171px;
    text-indent: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.setMachineRanking-list-graph-up {
    background-position: -66px -23px;
}

.setMachineRanking-list-graph-down {
    background-position: -87px -23px;
}

.setMachineRanking-list-graph-jumpUp {
    background-position: -23px -23px;
}

.setMachineRanking-list-graph-jumpDown {
    background-position: -44px -23px;
}

.setMachineRanking-list-name {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding-left: 4px;
    color: #ae2323;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.setMachineRanking-list-item > a:hover > .setMachineRanking-list-name {
    text-decoration: underline;
}

.setMachineRanking-showAll {
    margin-top: 2px;
    font-size: 13px;
    text-align: right;
}

.setMachineRanking-showAll > a {
    color: #333;
    text-decoration: underline;
}

.setMachineRanking-showAll > a:hover {
    opacity: .7;
}

/* 設置状況リポート */
.setMachineReport {
    margin-top: 16px;
    padding-top: 16px;
    border-top: solid 2px #FA7656;
}
.setMachineReport .categoryHeader-title > span {
    display: inline-block;
    margin-left: 4px;
    font-size: 12px;
    vertical-align: middle;
}

.setMachineReport-body-title {
    font-size: 14px;
    font-weight: bold;
}

.setMachineReport-list + .setMachineReport-body-title {
    margin-top: 8px;
}

.setMachineReport-list {
    font-size: 13px;
    line-height: 1.8;
}

.setMachineReport-list + .setMachineReport-list {
    margin-top: 8px;
}

.setMachineReport-list-title {
    color: #fff;
    text-align: center;
}

.setMachineReport-list--pachi >.setMachineReport-list-title {
    background-color: #E76565;
}

.setMachineReport-list--slot >.setMachineReport-list-title {
    background-color: #647EE5;
}

.setMachineReport-list-body {
    list-style-type: none;
}

.setMachineReport-list--pachi > .setMachineReport-list-body {
    background-color: #fdeff8;
}

.setMachineReport-list--slot > .setMachineReport-list-body {
    background-color: #edf1fc;
}

.setMachineReport-list--pachi .setMachineReport-list-item:nth-child(even) {
    background-color: #fcdef2;
}

.setMachineReport-list--slot .setMachineReport-list-item:nth-child(even) {
    background-color: #dde4fb;
}

.setMachineReport-list-item > a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 2px 8px;
    color: #333;
}

.setMachineReport-list-item > a:hover {
    text-decoration: none;
    opacity: .7;
}

.setMachineReport-list-num,
.setMachineReport-list-graph {
    width: 20px;
    text-align: center;
}

.setMachineReport-list-num > span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #666;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    vertical-align: middle;
}

[class^="setMachineReport-list-graph-"] {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("/img/index/icons.svg") no-repeat;
    -webkit-background-size: 105px 171px;
    -moz-background-size: 105px 171px;
    background-size: 105px 171px;
    text-indent: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.setMachineReport-list-graph-jumpUp {
    background-position: -23px -23px;
}

.setMachineReport-list-graph-up {
    background-position: -66px -23px;
}

.setMachineReport-list-graph-down {
    background-position: -86px -23px;
}

.setMachineReport-list-graph-jumpDown {
    background-position: -44px -23px;
}

.setMachineReport-list-name {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding-left: 4px;
    color: #ae2323;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.setMachineReport-list-item > a:hover > .setMachineReport-list-name {
    text-decoration: underline;
}

.setMachineReport-showAll {
    margin-top: 2px;
    font-size: 13px;
    text-align: right;
}

.setMachineReport-showAll > a {
    color: #333;
    text-decoration: underline;
}

.setMachineReport-showAll > a:hover {
    opacity: .7;
}

/******** コミュニティ ********/
.community-list {
    list-style-type: none;
}

.community-item {
    position: relative;
    font-size: 14px;
}

.community-item:before {
    position: absolute;
    top: 4px;
    left: 0;
    width: 9px;
    height: 10px;
    background: url("/img/index/icons.svg") no-repeat -27px -47px;
    -webkit-background-size: 105px 171px;
    -moz-background-size: 105px 171px;
    background-size: 105px 171px;
    content: "";
}
.community-item > a {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: 12px;
    color: #333;
    text-decoration: none;
}
.community-item > a:hover {
    opacity: .7;
}

.community-item-date,
.community-item-time {
    width: 48px;
}

.community-item-thread {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #333;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.community-showAll {
    margin-top: 2px;
    padding-top: 2px;
    border-top: solid 1px #ccc;
    font-size: 13px;
    text-align: right;
}

.community-showAll > a {
    color: #333;
    text-decoration: underline;
}

.community-showAll > a:hover {
    opacity: .7;
}

/******** 遊技機メーカー ********/
.maker-list {
    list-style-type: none;
}

.maker-item {
    margin-bottom: 2px;
}

.maker-item > a {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    color: #333;
    font-size: 14px;
}

.maker-item > a:hover {
    background-color: #eee;
    text-decoration: none;
}

.maker-item-thumb {
    position: relative;
    width: 105px;
    height: 80px;
    margin-right: 8px;
    border: solid 1px #ccc;
    overflow: hidden;
}

.maker-item > a:hover > .maker-item-thumb {
    opacity: .7;
}

.maker-item-detail {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.maker-item-title {
    width: 187px;
    border-bottom: solid 1px #ccc;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.maker-item-update {
    font-size: 12px;
    text-align: right;
}

.maker-showAll {
    margin-top: 2px;
    padding-top: 2px;
    border-top: solid 1px #ccc;
    font-size: 13px;
    text-align: right;
}

.maker-showAll > a {
    color: #333;
    text-decoration: underline;
}

.maker-showAll > a:hover {
    opacity: .7;
}

/******** footer-sitemap ********/
.footer-sitemap {
  width: 992px;
  margin: auto;
  padding: 40px 0;
  border-bottom: solid 1px #CCC;
}
.footer-sitemap-tite {
  font-size: 18px;
  font-weight: bold;
}
.footer-sitemap-grid + .footer-sitemap-tite {
  margin-top: 24px;
}
.footer-sitemap-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  font-size: 12px;
  line-height: 1;
}
.footer-sitemap-item > a {
  display: inline-block;
  padding: 4px 16px 4px 0;
  color: #727272;
}
.footer-sitemap-item.has-border > a {
  position: relative;
  padding-left: 16px;
}
.footer-sitemap-item.has-border > a:before {
  position: absolute;
  left: 0;
  width: 1px;
  height: 12px;
  background-color: #CCC;
  content: "";
}

/******** バナー ********/
#Rectangle {
    margin-bottom: 16px;
}

#Rectangle > a > img {
    vertical-align: middle;
}

#Middle {
    margin-bottom: 20px;
    text-align: center;
}

#Middle > a > img {
    vertical-align: middle;
}
