body {
    margin: 0;
    font-family: arial, sans-serif
}

.nav {
    width: 100%;
    background-color: #222;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1
}

.ul-container {
    display: flex;
    justify-content: center;
    padding: 0px
}

.nav-item {
    max-width: 300px;
    justify-content: center;
    display: flex;
    padding: 0px;
    list-style: none;
    flex-grow: 1
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 3px 13px;
    border-bottom: 1px solid #222
}

.nav-link:hover {
    color: #48e;
    border-bottom: 1px solid #48e;
    border-radius: 10px
}

header {
    position: relative;
    height: 91vh;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center;
    align-content: center;
    z-index: 1
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1
}

.form-container {
    margin: 20px
}

.form {
    position: relative;
    max-width: 600px;
    height: 100%;
    margin: 30px auto;
    background: rgba(49, 49, 49, 0.047);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 1;
    box-sizing: border-box
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #f2f2f2;
    font-size: 40px;
    padding: 10px
}

label {
    color: #d0d0d0
}

.input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(49, 49, 49, 0.047);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px)
}

textarea {
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 25px 0;
    border-radius: 3px;
    font-family: arial, helvetica, sans-serif;
    border: 0.5px solid #fff;
    color: #fff;
    background: rgba(157, 157, 157, 0.221);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px)
}

.button-container {
    display: flex;
    justify-content: center
}

.button {
    background-color: #212121;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer
}

.button:hover {
    opacity: 0.86
}

footer {
    position: relative;
    width: 100%;
    background-color: #222;
    height: 25vh;
    align-content: center;
    z-index: 2
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.footer-ul {
    display: flex;
    padding: 0;
    list-style: none
}

.footer-item {
    padding: 10px;
    display: flex
}

svg {
    margin: 0 10px
}

.footer-link {
    color: #fff;
    text-decoration: none
}

.rigths-footer {
    font-size: 14px;
    font-weight: 100;
    color: #fff
}
