body {
    font-family: arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px
}

.title {
    font-family: 'times new roman', times, serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 24px
}

.buttons {
    display: flex
}

.buttons button {
    background-color: #4caf50;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px
}

.buttons button:hover {
    opacity: 0.8
}

.buttons .clear {
    background-color: rgb(253, 253, 4)
}

.buttons .refresh {
    background-color: #2196f3
}

.buttons .exit {
    background-color: #f44336
}

.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 38px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

form {
    display: grid;
    gap: 10px
}

label {
    font-weight: bold
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px
}

input[type="text"]:focus {
    outline: none;
    border-color: #0066ff
}

input[type="submit"] {
    background-color: #0066ff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px
}

input[type="submit"]:hover {
    background-color: #005ce6
}

textarea.form-control {
    height: auto
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.input-group-sm>.custom-select,
.input-group-sm>.form-control:not(textarea) {
    height: calc(1.5em + .5rem + 2px)
}

.input-group-sm>.custom-select,
.input-group-sm>.form-control,
.input-group-sm>.input-group-append>.btn,
.input-group-sm>.input-group-append>.input-group-text,
.input-group-sm>.input-group-prepend>.btn,
.input-group-sm>.input-group-prepend>.input-group-text {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}
