html,
body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
iframe,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td,
blockquote,
address,
pre {
    margin: 0;
    padding: 0
}

html,
body {
    height: 100%;
    font: 12px/1.5 'helvetica neue', 'helvetica', 'pingfang sc', 'hanhei sc', 'stheitisc-light', 'microsoft yahei', 'simsun', 'arial', sans-serif;
    background-color: white
}

.body_box {
    min-width: 1200px;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url(../images/img_bg2.png)
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button,
label {
    font-size: 100%
}

button,
select,
textarea,
input {
    vertical-align: middle;
    font-family: 'helvetica neue', 'helvetica', 'pingfang sc', 'hanhei sc', 'stheitisc-light', 'microsoft yahei', 'simsun', 'arial', sans-serif
}

input,
button {
    cursor: pointer;
    overflow: visible;
    width: auto
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 1000px #fff inset;
    box-shadow: 0 0 1000px #fff inset;
    -webkit-text-fill-color: #444
}

textarea {
    resize: vertical
}

a {
    color: #1385ee;
    text-decoration: none;
    outline: 0
}

a:hover {
    text-decoration: none;
    color: #0078e6
}

ul,
ol {
    list-style: none outside none
}

img,
fieldset {
    border: 0
}

address,
cite,
code,
em,
var,
abbr,
acronym,
dfn {
    font-style: normal
}

i {
    display: inline-block
}

img {
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article,
aside,
section,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
summary,
audio,
video {
    display: block
}

.fl {
    float: left
}

.fr {
    float: right;
    display: inline
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    zoom: 1
}

.clearall {
    overflow: hidden;
    _zoom: 1
}

.c_444 {
    color: #444
}

.c_explain {
    color: #ff5907
}

.c_errow {
    color: #de0202
}

.c_tipstxt {
    color: #008e11
}

.c_green {
    color: #47a853
}

.mt_5 {
    margin-top: 5px
}

.mr_5 {
    margin-right: 5px
}

.mt_10 {
    margin-top: 10px
}

.mt_20 {
    margin-top: 20px
}

.ta_l {
    text-align: left
}

.ta_c {
    text-align: center
}

.ta_r {
    text-align: right
}

.dhide {
    display: none
}

@font-face {
    font-family: "iconfont";
    src: url('webfont/iconfont.eot?t=1558425962614');
    src: url('webfont/iconfont.eot?t=1558425962614#iefix') format('embedded-opentype'), url('webfont/iconfont.woff?t=1558425962614') format('woff'), url('webfont/iconfont.ttf?t=1558425962614') format('truetype'), url('webfont/iconfont.svg?t=1558425962614#iconfont') format('svg')
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.i-code:before {
    content: "\e60f"
}

.i-voicevali:before {
    content: "\e7e4"
}

.i-voicevali:before {
    color: #fca300
}

.i-useracc:before {
    content: "\e7e5"
}

.i-pull:before {
    content: "\e7e6"
}

.i-password:before {
    content: "\e7e7"
}

.i-phone:before {
    content: "\e7e8"
}

.i-location:before {
    content: "\e7ee"
}

.i-newcontact:before {
    content: "\e7ef"
}

.i-help:before {
    content: "\e7f2"
}

.i-select:before {
    content: "\e7f4"
}

.i-selectall:before {
    content: "\e7f5"
}

.i-refresh:before {
    content: "\e80d"
}

.outarticle {
    width: 100%;
    float: left
}

.outarticlemain {
    margin: 0 0 0 121px
}

.inaside {
    float: left;
    width: 121px;
    height: 100%;
    margin-left: -100%
}

.i-icons {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/global_v3_24.png) no-repeat 0 0;
    _background: url(../images/global_v3.png) no-repeat 0 0;
    overflow: hidden
}

.icog,
.icodel {
    line-height: 28px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #00a513;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #00bd16;
    background: -moz-gradient(linear, 0 0, 0 100%, from(#00c417), to(#00b615));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00c417), to(#00b615));
    background: linear-gradient(#00c417 0, #00b615 100%)
}

.icodel {
    border: 1px solid #c5483c;
    background: #e63232;
    background: -moz-gradient(linear, 0 0, 0 100%, from(#fa5353), to(#e63232));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fa5353), to(#e63232));
    background: linear-gradient(#fa5353 0, #e63232 100%)
}

.icog:hover {
    color: #fff;
    border: 1px solid #00850f;
    background: #009e12;
    background: -moz-gradient(linear, 0 0, 0 100%, from(#00c417), to(#009e12));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00c417), to(#009e12));
    background: linear-gradient(#00c417 0, #009e12 100%)
}

.icog:active {
    border: 1px solid #00850f;
    background: #008d10;
    background: -moz-gradient(linear, 0 0, 0 100%, from(#00bb16), to(#008d10));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00bb16), to(#008d10));
    background: linear-gradient(#00bb16 0, #008d10 100%)
}

.icodel:hover {
    color: #fff;
    border: 1px solid #b9372b;
    background: #e43232;
    background: -moz-gradient(linear, 0 0, 0 100%, from(#f23f3f), to(#e43232));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f23f3f), to(#e43232));
    background: linear-gradient(#f23f3f 0, #e43232 100%)
}

.icodel:active {
    border: 1px solid #b32e22;
    background: #d42828;
    background: -moz-gradient(linear, 0 0, 0 100%, from(#ef2e2e), to(#d42828));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ef2e2e), to(#d42828));
    background: linear-gradient(#ef2e2e 0, #d42828 100%)
}

.icot,
.icog,
.icotb,
.icotd,
.icotl,
.icotr,
.icoall,
.icodel,
.icosend,
.icojump {
    display: inline-block;
    height: 28px;
    padding: 0;
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    zoom: 1;
    cursor: pointer
}

.header {
    position: absolute;
    width: 100%;
    min-width: 1200px;
    top: 0;
    z-index: 10;
    min-height: 40px;
    _height: 40px;
    background: rgba(255, 255, 255, .5);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr=#33000000, endcolorstr=#33000000);
    zoom: 1
}

:root .header {
    filter: none\9
}

.noticebox {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fdffc7;
    color: #666;
    position: relative
}

.noticebox_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 22px;
    color: #666
}

.noticebox_close:hover {
    text-decoration: none;
    color: black
}

.header_w {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0
}

.header_w h1 {
    float: left;
    height: 30px;
    position: relative
}

.header_w .logo {
    position: absolute;
    width: 110px;
    height: 30px
}

.header_w .line {
    margin: 0 5px;
    font-family: simsun;
    opacity: .5;
    filter: opacity:50
}

.header_w_nav {
    float: right;
    height: 30px;
    line-height: 30px;
    color: white;
    margin-right: 38px
}

.header_w_nav a {
    position: relative;
    color: #333;
    padding: 0 10px;
    font-size: 14px
}

.header_w_nav a .reddot {
    position: absolute;
    top: -5px;
    right: -7px
}

.header_w_nav a:hover {
    color: #1385ee
}

.banrepeat,
.banoutside,
.baninside {
    height: 100%;
    -moz-animation: fadeout .2s linear;
    -webkit-animation: fadeout .2s linear
}

.banrepeat {
    position: absolute;
    width: 100%;
    min-width: 1200px;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.baninside {
    min-width: 1200px;
    width: 100%;
    position: relative
}

.mainimg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2
}

.loginformwrap {
    position: absolute;
    top: 65px;
    right: 12%;
    z-index: 9;
    width: 410px;
    padding: 20px 32px;
    box-sizing: border-box;
    min-height: 215px;
    _height: 215px;
    border: 1px solid #e9e9e9;
    background: rgba(255, 255, 255, .9);
    background-color: white\9;
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, .06);
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .06);
    box-shadow: 0 0 16px rgba(0, 0, 0, .06);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: top .3s linear .1s;
    -moz-transition: top .3s linear .1s;
    transition: top .3s linear .1s;
    height: auto
}

:root .loginformwrap {
    background: #fff
}

.loginformwrap legend {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #444
}

.loginformwrap_ul {
    position: relative;
    width: 100%
}

.loginformwrap_ul li {
    display: none;
    position: relative;
    height: 100%
}

.loginformwrap_ul dt {
    position: absolute;
    top: -19px;
    right: 0;
    font-size: 14px
}

.loginformwrap_ul dd {
    padding-top: 30px;
    position: relative;
    font-size: 14px
}

.loginformwrap_ul .loginstatus_cont {
    height: 20px;
    line-height: 20px
}

.loginformwrap_ul .qrcode_downapp {
    margin-top: 14px;
    border-top: 1px dashed #ccc;
    overflow: hidden
}

.loginformwrap_ul .imgcodeform {
    display: block;
    padding-top: 0;
    margin-top: -5px;
    zoom: normal
}

.loginformwrap .imgcodeform {
    margin-top: 12px
}

#getsmsverifycodetext .imgcodeform {
    margin-top: 0
}

.loginformwrap_ul .ddtop {
    margin-top: 30px;
    _margin-top: 30px
}

.loginformwrap_ul .tipslayer dd {
    padding-top: 0
}

.loginformwrap_ul .textbox {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    position: relative;
    background: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.loginformwrap_ul .textboxactive {
    border-color: #1385ee
}

.loginformwrap_ul .i-sms,
.loginformwrap_ul .i-pc {
    vertical-align: middle;
    _vertical-align: -2px;
    margin-right: 5px
}

.loginformwrap_ul .i-pc {
    vertical-align: -4px;
    _vertical-align: -2px
}

.loginformwrap_ul .i-voice {
    margin-top: 9px;
    cursor: pointer
}

.iconselect {
    width: 14px;
    height: 14px
}

.smscodebox .textbox_text {
    width: 88px
}

.textbox_text,
.textbox_pw,
.textbox_label {
    font-size: 14px;
    cursor: text
}

.textbox_text,
.textbox_pw {
    padding: 5px;
    width: 213px;
    height: 18px;
    border: 0;
    outline: 0
}

.textbox_pw {
    font-family: verdana;
    font-weight: 700
}

.textbox_label {
    position: absolute;
    left: 34px;
    top: 15px;
    _top: 13px;
    color: #ccc
}

.textbox_atmailtype {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    position: relative;
    top: 3px
}

.fetionlogin {
    padding: 0 15px 0
}

.fetionlogin p {
    color: #444;
    line-height: 22px;
    padding: 22px 0 0
}

.businesslistwrap {
    width: 1043px;
    margin: 0 auto;
    padding: 10px 0;
    height: 110px
}

.businesslistwrap i {
    display: block;
    margin: 0 auto 5px;
    cursor: pointer
}

.businesslistwrap a:hover i {
    -moz-animation: fadeout .2s linear;
    -webkit-animation: fadeout .2s linear;
    animation: fadeout .2s linear
}

.imgcodeform {
    display: none
}

.imgcodeform .textbox {
    height: 20px;
    margin-top: 5px
}

.imgcodeform .textbox_text {
    padding: 0 5px;
    width: 238px
}

.imgcodeform_touch a {
    display: block;
    height: 53px;
    color: white;
    background-color: #f2f2f2;
    color: #666
}

.imgcodeform_touch a:hover {
    text-decoration: none
}

.imgcodeform_touch span {
    position: relative;
    top: 17px;
    left: 10px
}

.bannerbtnctrlwrap {
    position: absolute;
    bottom: -6px;
    left: -86px
}

.bannerbtnctrlwrap a,
.bannerbtnctrlwrap span {
    margin-left: 8px;
    cursor: pointer
}

.bannerbtnctrlwrap .i-prev:hover {
    background-position: -141px -181px
}

.bannerbtnctrlwrap .i-next:hover {
    background-position: -172px -181px
}

.businesslistwrap .titlewrap {
    position: absolute;
    left: 50%;
    top: -50px;
    margin-left: -207px;
    border: 1px solid #bbb;
    padding: 5px;
    background-color: white;
    display: none;
    -moz-animation: titlewrap .5s ease-out;
    -webkit-animation: titlewrap .5s ease-out;
    animation: titlewrap .5s ease-out;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    box-shadow: 0 0 8px rgba(0, 0, 0, .3)
}

.titlewrap_main {
    border: 1px solid #eee;
    padding: 5px 8px;
    border-radius: 5px;
    white-space: nowrap
}

.businesslistwrap .directionwrap {
    position: absolute;
    left: 50%;
    margin: -1px 0 0 -6px;
    font: 14px simsun
}

.businesslistwrap .qrcodeinfowrap {
    margin: -122px 0 0 -70px;
    display: block;
    width: 128px
}

.directionwrap .outside,
.directionwrap .intside {
    display: inline-block
}

.directionwrap .outside {
    color: #bbb
}

.directionwrap .insside {
    position: relative;
    left: -14px;
    top: -1px;
    color: white
}

.businessinfobox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 1002px;
    background-color: white;
    height: 66px
}

.businesslistwrap a:hover {
    text-decoration: none;
    _zoom: 1;
    color: #849cbb
}

.businesslistwrap_random,
.businesslistwrap_fixed,
.businesslistwrap_fixed2 {
    float: left
}

.businesslistwrap_random li {
    width: 170px;
    height: 108px;
    float: left;
    border-left: 1px dotted #e7e7e7
}

.businesslistwrap_random a,
.businesslistwrap_fixed,
.businesslistwrap_fixed2 {
    display: block;
    width: 170px;
    height: 98px;
    padding-top: 5px;
    text-align: center;
    color: #666;
    position: relative;
    _zoom: 1
}

.businesslistwrap_fixed,
.businesslistwrap_fixed2 {
    width: 168px
}

.businesslistwrap_fixed:hover .i-bl_01 {
    background-position: -1px -90px
}

.businesslistwrap_fixed:hover .i-bl_13 {
    background-position: -595px -90px
}

.businesslistwrap_fixed2:hover .i-bl_05 {
    background-position: -341px -90px
}

.businesslistwrap_random a:hover .i-bl_02 {
    background-position: -86px -90px
}

.businesslistwrap_random a:hover .i-bl_03 {
    background-position: -171px -90px
}

.businesslistwrap_random a:hover .i-bl_04 {
    background-position: -256px -90px
}

.businesslistwrap_random a:hover .i-bl_06 {
    background-position: -425px -90px
}

.businesslistwrap_random a:hover .i-bl_07 {
    background-position: -510px -90px
}

.businesslistwrap_random a:hover .i-bl_08 {
    background-position: -595px -90px
}

.businesslistwrap_random a:hover .i-bl_09 {
    background-position: -680px -90px
}

.businesslistwrap_random a:hover .i-bl_10 {
    background-position: -765px -90px
}

.businesslistwrap_random a:hover .i-bl_11 {
    background-position: -851px -90px
}

.businesslistwrap_random a:hover .i-bl_13 {
    background-position: -595px -90px
}

.footerboxstyle {
    position: absolute;
    width: 100%;
    min-width: 1200px;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: rgba(255, 255, 255, .5);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr=#33000000, endcolorstr=#33000000);
    zoom: 1
}

.footer {
    color: #999;
    overflow: hidden;
    text-align: center
}

.footer a {
    color: #333
}

.footer a:hover {
    color: #1385ee
}

.footer_w {
    width: 1200px;
    margin: 0 auto
}

.footer_w .i-pornography {
    position: relative;
    top: 1px;
    vertical-align: top
}

.footer_w .line {
    color: #ccc;
    margin: 0 5px;
    font-family: simsun
}

.button {
    width: 134px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 0;
    color: #666;
    font-size: 16px;
    border-radius: 4px;
    background: #fff;
    outline: 0
}

.surebtn {
    color: white;
    background: #1385ee
}

.surebtn:hover {
    color: white;
    background-color: #0078e6
}

.surebtn:active {
    color: white;
    background-color: #0078e6
}

.unsurebtn,
.unsurebtn:hover {
    cursor: default;
    background: #95c2ec
}

.suresimbtn {
    width: 100%;
    display: none;
    color: #1385ee;
    border: 1px solid #1385ee;
    background: #fff;
    font-size: 16px
}

.getbtnsendsms {
    font-size: 14px;
    line-height: 18px;
    margin-right: 9px;
    margin-top: 6px;
    padding-right: 10px
}

.smsloginbox .getbtnsendsms {
    padding-right: 0;
    padding-left: 15px
}

.sendsmsborder {
    border-right: 1px solid #cecece
}

.smsloginbox .sendsmsborder {
    border-right: 0;
    border-left: 1px solid #cecece
}

.ungetbtnsendsms {
    cursor: default;
    color: #ccc;
    text-decoration: none !important;
    text-align: center;
    padding-right: 0
}

.ungetbtnsendsms:hover {
    color: #ccc
}

.getcodebtn {
    width: 86px;
    border: 1px solid #d7d7d7;
    line-height: 38px;
    height: 38px;
    background: #f2f2f2;
    background: -moz-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#ededed));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#ededed));
    background: linear-gradient(#f6f6f6 0, #ededed 100%)
}

.getcodebtn:hover {
    text-decoration: none;
    color: #666;
    background: #e9e9e9;
    background: -moz-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#e2e2e2));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#e2e2e2));
    background: linear-gradient(#f1f1f1 0, #e2e2e2 100%)
}

.getcodebtn:active {
    border-color: #c5c5c5;
    background: #dedede;
    background: -moz-gradient(linear, 0 0, 0 100%, from(#e8e8e8), to(#d5d5d5));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e8e8e8), to(#d5d5d5));
    background: linear-gradient(#e8e8e8 0, #d5d5d5 100%)
}

.unavailablebtn {
    width: 86px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #cecece;
    background: #f2f2f2;
    cursor: default;
    color: #ccc;
    text-decoration: none !important;
    text-align: center;
    font-size: 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.unavailablebtn:hover {
    color: #ccc
}

.tipslayer {
    position: absolute;
    top: 20px;
    right: 356px;
    background-color: white;
    white-space: nowrap;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    -moz-animation: formtips .3s linear;
    -webkit-animation: formtips .3s linear;
    animation: formtips .3s linear
}

.tipslayeryellow {
    background-color: #ffffe1
}

.tipslayermain,
.tipslayermaininner {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.tipslayermain {
    border: 1px solid #ccc;
    padding: 5px
}

.tipslayermaininner {
    min-height: 14px;
    _height: 14px;
    padding: 7px 10px;
    position: relative;
    font-size: 14px;
    color: #666
}

.i-tipslayerarrow {
    position: absolute;
    overflow: hidden
}

#boxiframe {
    border: 1px solid gray;
    border-radius: 5px
}

.layerpop {
    width: 360px;
    background-color: white;
    width: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    margin: -178px 0 0 -180px
}

.layerpop h2 {
    height: 40px;
    line-height: 40px;
    background-color: white;
    border-bottom: 1px solid #e9e9e9;
    color: #444;
    padding: 0 10px;
    font-size: 12px;
    font-weight: normal
}

.closelarerpop {
    font: bold 14px "airal", "simsun";
    color: #a8a8a8;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px
}

.closelarerpop:hover {
    color: #a8a8a8
}

.layerpopform {
    padding: 5px 50px 25px;
    min-height: 300px;
    _height: 300px
}

.layerpopform li {
    display: block;
    padding-top: 10px
}

.layerpopform .textbox_text,
.layerpopform .textbox_pw {
    width: 215px
}

.layerpopform .textbox_label {
    left: 12px
}

.layerpopform .surebtn {
    width: 100%
}

.layerpoptipsinfo {
    text-align: center;
    padding: 70px 20px;
    min-height: 50px;
    _height: 50px
}

.layerpoptipsinfo i {
    vertical-align: -11px;
    margin-right: 10px
}

.layerpoptipsinfo .textinfobox {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #444
}

.masklayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    -webkit-animation: layermask .2s ease-out;
    animation: layermask .2s ease-out
}

:root .layer_mask {
    filter: none
}

.i-bl_01,
.i-bl_02,
.i-bl_03,
.i-bl_04,
.i-bl_05,
.i-bl_06,
.i-bl_07,
.i-bl_08,
.i-bl_09,
.i-bl_10,
.i-bl_11,
.ibl_12,
.i-bl_13,
.i-pornography,
.i-account,
.i-pc,
.i-sms,
.i-succend,
.i-voice,
.scancode,
.scancodetriangle,
.loginqrcode,
.icons {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/png8.png) no-repeat;
    _background: url(../images/png_8.png) no-repeat
}

.i-account,
.i-password,
.i-sms,
.i-pc,
.i-phone {
    width: 16px;
    height: 16px
}

.ibl_12 {
    width: 10px;
    height: 14px;
    background-position: -220px -180px
}

.i-account {
    background-position: -45px -180px
}

.i-phone {
    background-position: -45px -197px
}

.i-pc {
    background-position: -1px -180px
}

.i-sms {
    background-position: -24px -180px
}

.i-bl_01,
.i-bl_02,
.i-bl_03,
.i-bl_04,
.i-bl_05,
.i-bl_06,
.i-bl_07,
.i-bl_08,
.i-bl_09,
.i-bl_10,
.i-bl_11,
.i-bl_13 {
    width: 80px;
    height: 80px
}

.i-bl_01 {
    background-position: -1px 0
}

.i-bl_02 {
    background-position: -86px 0
}

.i-bl_03 {
    background-position: -171px 0
}

.i-bl_04 {
    background-position: -256px 0
}

.i-bl_05 {
    background-position: -341px 0
}

.i-bl_06 {
    background-position: -425px 0
}

.i-bl_07 {
    background-position: -510px 0
}

.i-bl_08 {
    background-position: -595px 0
}

.i-bl_09 {
    background-position: -680px 0
}

.i-bl_10 {
    background-position: -765px 0
}

.i-bl_11 {
    background-position: -851px 0
}

.i-bl_13 {
    background-position: -595px -1px
}

.i-pornography {
    width: 120px;
    height: 20px;
    background-position: -813px -228px
}

.i-succend {
    width: 36px;
    height: 36px;
    background-position: -166px -180px
}

.i-voice {
    width: 28px;
    height: 26px;
    background-position: -256px -180px
}

.i-arr {
    width: 20px;
    height: 12px;
    background-position: -342px -182px
}

.i-d-arr {
    width: 14px;
    height: 13px;
    background-position: -383px -182px;
    cursor: pointer
}

.i-noncmcc {
    width: 192px;
    height: 22px;
    background-position: -741px -269px
}

.i-hdlogo,
.i-prev,
.i-next,
.i-tipslayerarrow,
.i_triangle_d {
    display: inline-block;
    background: url(../images/png24.png) no-repeat;
    _background-image: url(../images/png24ie6.png)
}

.i-hdlogo {
    display: inline-block;
    width: 118px;
    height: 30px;
    margin-left: 36px;
    line-height: 100em;
    overflow: hidden;
    background: url(../images/139.png) no-repeat
}

.i-prev,
.i-next {
    width: 24px;
    height: 24px
}

.i-prev {
    background-position: -84px -181px
}

.i-next {
    background-position: -112px -181px
}

.i-tipslayerarrow {
    overflow: hidden;
    background-image: url(../images/png24ie6.png)\9
}

.tipstoparrow {
    width: 10px;
    height: 12px;
    background-position: -335px -220px;
    left: 15px;
    top: -11px
}

.tipsrightarrow {
    width: 15px;
    height: 12px;
    background-position: -335px -236px;
    right: -14px;
    top: 11px
}

.tipsrightbtttomarrow {
    width: 9px;
    height: 15px;
    background-position: -336px -216px;
    right: -8px;
    top: 16px
}

.tipsbottomarrow {
    width: 12px;
    height: 15px;
    background-position: -353px -236px;
    left: 15px;
    bottom: -14px
}

.tipsleftarrow {
    width: 12px;
    height: 10px;
    background-position: -347px -220px;
    left: -11px;
    top: 11px
}

.tipsleftarrows {
    width: 10px;
    height: 16px;
    background-position: -357px -217px;
    left: -8px;
    top: 11px
}

.qrcodestyle1 .cartoon1 {
    width: 76px;
    height: 64px;
    background-position: -321px -248px
}

.qrcodestyle2 .cartoon1 {
    width: 76px;
    height: 64px;
    background-position: -435px -248px
}

.qrcodestyle3 .cartoon1 {
    width: 77px;
    height: 64px;
    background-position: -540px -248px
}

.qrcodestyle4 .cartoon1 {
    width: 88px;
    height: 64px;
    background-position: -321px -335px
}

.qrcodestyle5 .cartoon1 {
    width: 73px;
    height: 64px;
    background-position: -435px -335px
}

.qrcodestyle6 .cartoon1 {
    width: 76px;
    height: 64px;
    background-position: -321px -248px
}

.mail_139-logo {
    vertical-align: text-top;
    width: 18px;
    height: 14px;
    background-position: -302px -182px
}

.i-qlprev {
    width: 13px;
    height: 22px;
    background-position: -422px -182px
}

.i-qlprev:hover {
    width: 13px;
    height: 22px;
    background-position: -422px -214px
}

.i-qlnext {
    width: 13px;
    height: 22px;
    background-position: -461px -182px
}

.i-qlnext:hover {
    width: 13px;
    height: 22px;
    background-position: -461px -214px
}

.i-m139 {
    width: 20px;
    height: 20px;
    background-position: -496px -182px
}

.i-fetion {
    width: 20px;
    height: 20px;
    background-position: -530px -182px
}

.i-hints-default {
    width: 16px;
    height: 16px;
    background-position: -622px -182px
}

.i-hints-warning {
    width: 16px;
    height: 16px;
    background-position: -595px -182px
}

.i-hints-sel {
    width: 20px;
    height: 20px;
    background-position: -564px -182px
}

.i_dot {
    position: absolute;
    top: 23px;
    right: 55px
}

.wechat-box {
    position: absolute;
    z-index: 9;
    display: inline-block;
    text-align: center;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 18px #000;
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 0 18px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 0 18px rgba(0, 0, 0, .1);
    box-shadow: 0 0 18px rgba(0, 0, 0, .1)
}

.wechat-box .i-wechat {
    width: 80px;
    height: 80px;
    margin: 12px 25px 3px;
    cursor: default
}

.i-wechat-txt {
    margin-bottom: 8px;
    color: #e1246e;
    font-size: 12px
}

.i-wechat-txt em {
    color: #df0061
}

.i-arr {
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -10px;
    transform: rotate(180deg)
}

@-moz-keyframes titlewrap {
    0% {
        -moz-transform: translatey(-5px);
        opacity: 0
    }

    100% {
        -moz-transform: translatey(0px);
        opacity: 1
    }
}

@-webkit-keyframes titlewrap {
    0% {
        -webkit-transform: translatey(-5px);
        opacity: 0
    }

    100% {
        -webkit-transform: translatey(0px);
        opacity: 1
    }
}

@keyframes titlewrap {
    0% {
        transform: translatey(-5px);
        opacity: 0
    }

    100% {
        transform: translatey(0px);
        opacity: 1
    }
}

@-moz-keyframes businesslistimg {
    0% {
        -moz-transform: scale(.2)
    }

    100% {
        -moz-transform: scale(1)
    }
}

@-webkit-keyframes businesslistimg {
    0% {
        -webkit-transform: scale(.2)
    }

    100% {
        -webkit-transform: scale(1)
    }
}

@keyframes businesslistimg {
    0% {
        transform: scale(.2)
    }

    100% {
        transform: scale(1)
    }
}

@-moz-keyframes formtips {
    0% {
        -moz-transform: translatex(3px);
        opacity: 0
    }

    35% {
        -moz-transform: translatex(0px);
        opacity: 1
    }

    65% {
        -moz-transform: translatex(-3px);
        opacity: 1
    }

    100% {
        -moz-transform: translatex(0px);
        opacity: 1
    }
}

@-webkit-keyframes formtips {
    0% {
        -webkit-transform: translatex(3px);
        opacity: 0
    }

    35% {
        -webkit-transform: translatex(0px);
        opacity: 1
    }

    65% {
        -webkit-transform: translatex(-3px);
        opacity: 1
    }

    100% {
        -webkit-transform: translatex(0px);
        opacity: 1
    }
}

@keyframes formtips {
    0% {
        transform: translatex(3px);
        opacity: 0
    }

    35% {
        transform: translatex(0px);
        opacity: 1
    }

    65% {
        transform: translatex(-3px);
        opacity: 1
    }

    100% {
        transform: translatex(0px);
        opacity: 1
    }
}

@-moz-keyframes fadeout {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeout {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes layermask {
    0% {
        opacity: 0
    }

    100% {
        opacity: .5
    }
}

@keyframes layermask {
    0% {
        opacity: 0
    }

    100% {
        opacity: .5
    }
}

.loginformwrap_ul .qrcode {
    display: inline-block;
    margin-left: 24px;
    padding: 4px;
    border: 1px solid #e7e6e6
}

.loginformwrap_ul .qrcode img {
    width: 64px;
    height: auto
}

.loginformwrap_ul .qrcode_area_title {
    font-size: 14px;
    color: #666;
    line-height: 2.1
}

.loginformwrap_ul .pl_19 {
    padding-left: 19px
}

.loginformwrap_ul .mr_5 {
    margin-right: 10px
}

.loginformwrap_ul .qrcode_area_btn {
    width: 110px;
    height: 30px;
    font-size: 14px;
    color: #4876a3;
    border: 1px solid #c6d5e5;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    background-color: #f1f6f7;
    outline: 0
}

.loginformwrap_ul .qrcode_area_btn .ibl_12 {
    position: relative;
    top: -1px;
    left: -3px;
    vertical-align: middle
}

.loginformwrap_ul .qrcode_area_btn:hover {
    border: 1px solid #a8c4e3
}

.loginnavbar {
    position: relative
}

.loginnavbar li {
    width: 110px;
    display: inline-block;
    font-size: 18px;
    color: #333;
    text-align: left;
    line-height: 48px;
    cursor: pointer;
    position: relative
}

.loginnavbar li .news {
    position: absolute;
    top: 7px;
    right: 1px
}

.loginnavbar li.on {
    color: #1385ee;
    font-weight: bold;
    display: inline-block
}

.loginnavbar .line {
    position: absolute;
    left: 0;
    top: 43px;
    width: 110px;
    height: 3px;
    background: #1385ee;
    -webkit-transition: left .2s linear .1s;
    -moz-transition: left .2s linear .1s;
    -o-transition: left .2s linear .1s;
    transition: left .2s linear .1s
}

.loginqrcode {
    background: 0;
    position: relative;
    left: 0;
    z-index: 2;
    display: inline-block;
    background-position: -83px -240px;
    -webkit-transition: left .3s linear .1s;
    -moz-transition: left .3s linear .1s;
    -o-transition: left .3s linear .1s;
    transition: left .3s linear .1s
}

.login_success p {
    font-size: 12px;
    color: #666
}

.logintips {
    position: absolute;
    top: 5px;
    left: 150px;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .3s linear .1s;
    -moz-transition: opacity .3s linear .1s;
    -o-transition: opacity .3s linear .1s;
    transition: opacity .3s linear .1s
}

.ddfooter {
    text-align: center;
    color: #e8e8e8;
    line-height: 26px
}

.ddfooter a {
    position: relative;
    top: 1px;
    width: 72px;
    height: 26px;
    margin: 0 auto
}

.qrcodecontainer {
    height: 256px
}

.qrcodewrapper {
    position: relative
}

.qrcodestylecontainer {
    position: relative;
    margin-top: 10px
}

.qrcodestylecontainer .icons {
    position: absolute
}

.cartoon1,
.cartoon2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity .3s linear .1s;
    -moz-transition: opacity .3s linear .1s;
    -o-transition: opacity .3s linear .1s;
    transition: opacity .3s linear .1s
}

.qrcode_hover .cartoon1,
.qrcode_hover .cartoon2,
.qrcode_hover .cartoon3,
.qrcode_hover .cartoon4,
.qrcode_hover .cartoon5,
.qrcode_hover .cartoon6,
.qrcode_hover .cartoon7 {
    opacity: 0;
    filter: alpha(opacity=0)
}

#qrimg0 {
    margin-top: 28px
}

.appcoderefresh {
    width: 100%;
    cursor: pointer;
    margin-top: 10px
}

.appcode-mask {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    filter: alpha(opacity=70)
}

.appcode-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 43px;
    text-align: center;
    color: #fff;
    line-height: 26px
}

.version_sel {
    margin-bottom: 3px
}

.version_sel_label {
    color: #444;
    line-height: 25px;
    padding-left: 4px
}

.scancode {
    position: absolute;
    top: 0;
    right: -37px;
    display: inline-block;
    width: 37px;
    height: 111px;
    background-position: -1px -235px;
    cursor: pointer
}

.scancode .scancodetriangle {
    position: absolute;
    top: 41px;
    left: -6px;
    width: 6px;
    height: 8px;
    background-position: -106px -182px
}

.scancode:hover {
    background-position: -1px -359px
}

.scancode:hover .scancodetriangle {
    background-position: -117px -182px
}

.cont {
    position: absolute;
    top: 0;
    right: 0;
    width: 43px;
    height: 43px;
    cursor: pointer
}

.cont .corner-page {
    overflow: hidden;
    z-index: 4;
    right: 0;
    width: 48px;
    position: absolute;
    top: 0;
    height: 48px;
    border: 0;
    transition: linear .35s
}

.cont:hover .corner-page,
.cont .imgpage-hover {
    width: 56px;
    height: 56px
}

.cont .msg_block {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 46px;
    height: 46px;
    background: transparent;
    transition: linear .35s;
    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 6% 8%);
    -o-clip-path: polygon(15% 0, 100% 0, 100% 100%, 6% 8%);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 6% 8%)
}

.cont:hover .msg_block,
.cont .msg-block-hover {
    -webkit-clip-path: polygon(15% 0, 100% 0, 109% 126%, 0% 36%);
    -o-clip-path: polygon(15% 0, 100% 0, 109% 126%, 0% 36%);
    clip-path: polygon(15% 0, 100% 0, 109% 126%, 0% 36%)
}

.cont .msg_block img {
    vertical-align: top;
    height: 100%;
    width: 100%;
    overflow: hidden
}

.dropdown {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    height: 23px;
    border: 1px solid transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer
}

.dropdown:hover {
    border-color: #ccc;
    background-color: #fff
}

.dropdown .dropdowna {
    float: right;
    display: inline;
    width: 16px;
    height: 23px;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    overflow: hidden
}

.dropdown .dropdowna .i_triangle_d {
    width: 9px;
    height: 5px;
    padding: 0;
    margin: 9px 7px;
    vertical-align: top;
    background-position: -64px -110px
}

.dropdown .dropdowntext {
    line-height: 23px;
    padding-left: 0;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.menupop {
    position: absolute;
    top: 24px;
    left: -1px;
    z-index: 1;
    width: 114px;
    padding: 6px 0;
    color: #666;
    font-size: 14px;
    border: 1px solid #cecece;
    background-color: #fff;
    -moz-animation: menus .2s ease-out;
    -webkit-animation: menus .2s ease-out;
    animation: menus .2s ease-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px rgba(206, 206, 206, 1);
    -webkit-box-shadow: 0 0 5px rgba(206, 206, 206, 1);
    box-shadow: 0 0 5px rgba(206, 206, 206, 1)
}

.menupop li {
    float: none;
    display: block;
    _zoom: 1;
    position: relative;
    vertical-align: top;
    padding: 0
}

.menupop li:hover {
    background-color: #e4e4e4
}

.menupop li a {
    position: relative;
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    color: #666;
    overflow: hidden;
    _zoom: 1
}

.menupop li span.text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-align: left;
    _margin-top: 2px;
    color: #666
}

.feedback {
    line-height: 25px
}

.loginmessage {
    line-height: 32px;
    border-top: 1px dotted #dddcdc
}

.c_ok {
    color: #00a012
}

.cx_login_box {
    text-align: center;
    font-size: 14px;
    padding: 0 5px;
    height: 270px
}

.cx_login_box img {
    vertical-align: top;
    padding-top: 38px
}

.cx_login_box p span {
    color: #47a853
}

.cx_login_box p {
    line-height: 21px;
    padding-top: 27px;
    padding-bottom: 34px
}

.cx_login_back {
    line-height: 40px;
    text-align: right;
    border-top: 1px solid #eee;
    padding-right: 12px
}

.footernavlist {
    margin: 7px 0;
    font-size: 0;
    text-align: center
}

.footernavlist li {
    display: inline-block;
    height: 16px;
    border-right: 1px solid #999
}

.footernavlist li:last-child,
.footernavlist .last-child {
    border-right: 0
}

.footernavlist li a {
    display: block;
    padding: 0 20px;
    font-size: 12px;
    color: #666;
    line-height: 16px
}

.footernavlist li a:hover {
    color: #145ca2;
    font-weight: bold
}

.showqrcode {
    margin: 5px 0 6px;
    text-align: center;
    font-weight: bold
}

.qrcode-error img {
    width: 84px;
    height: 84px;
    cursor: pointer
}

.qrcode-tipstxt {
    margin-bottom: 2px
}

.loadapp {
    display: inline-block;
    line-height: 25px
}

.qloginwrapper {
    position: relative
}

.qlogin {
    overflow: hidden;
    position: relative;
    left: 4px;
    width: 208px;
    margin: 0 auto;
    padding-top: 33px
}

.qlogin_list {
    position: relative;
    font-size: 0;
    -webkit-transition: all .3s linear .05s;
    -moz-transition: all .3s linear .05s;
    -o-transition: all .3s linear .05s;
    -ms-transition: all .3s linear .05s;
    transition: all .3s linear .05s
}

.qlogin_list .qlogin_listitem {
    display: inline-block;
    width: 80px;
    margin-right: 39px;
    font-size: 14px;
    color: #444;
    text-align: center;
    vertical-align: top
}

.qlogin_face {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer
}

.qlogin_img {
    overflow: hidden;
    position: relative;
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all .2s linear .05s;
    -moz-transition: all .2s linear .05s;
    -o-transition: all .2s linear .05s;
    -ms-transition: all .2s linear .05s;
    transition: all .2s linear .05s
}

.hover_on .qlogin_img {
    border-color: #a6edfe;
    -webkit-box-shadow: 0 0 6px rgba(1, 204, 255, 0.4);
    -moz-box-shadow: 0 0 6px rgba(1, 204, 255, 0.4);
    -o-box-shadow: 0 0 6px rgba(1, 204, 255, 0.4);
    -ms-box-shadow: 0 0 6px rgba(1, 204, 255, 0.4);
    box-shadow: 0 0 6px rgba(1, 204, 255, 0.4)
}

.qlogin_img img {
    margin: 5px;
    width: 68px;
    height: 68px
}

.qlogin_uid {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 20px;
    font-size: 12px;
    color: #c8c8c8;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url(../images/ql_bg.png) 0 0 no-repeat
}

.hover_on .qlogin_uid {
    display: block
}

.qlogin_face .icons {
    position: absolute;
    top: -8px;
    right: -8px
}

.nickname {
    width: 100%;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.qlogin_show .qrcode-tipstxt {
    margin: 23px 0;
    font-size: 14px
}

.qloginwrapper .i-qlprev,
.qloginwrapper .i-qlnext {
    position: absolute;
    top: 50%;
    margin-top: -11px;
    cursor: pointer
}

.qloginwrapper .i-qlprev {
    left: 0
}

.qloginwrapper .i-qlnext {
    right: 0
}

.imgcodelayer {
    background-color: #fff
}

.imgcodelayer .tipslayermain {
    padding: 14px 14px 0
}

.imgcodelayer .tipslayermaininner {
    overflow: hidden;
    position: relative;
    width: 320px;
    height: 110px;
    padding: 0;
    cursor: pointer
}

.imgcodelayer .tipslayermaininner .i-hints-sel {
    position: absolute
}

.imgcodelayer .tipslayermaininner img {
    vertical-align: top
}

.imgcodelayer .operationhints,
.imgcodelayer .operationhints_subtips {
    display: block;
    width: 320px;
    height: 30px;
    font-size: 14px;
    line-height: 30px
}

.imgcodelayer .operationhints {
    margin-top: 12px;
    color: #666;
    text-align: center;
    background-color: #e5f6ff;
    border: 1px solid #c8edff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px
}

.imgcodelayer .operationhints_subtips {
    color: #de0202
}

.imgcodelayer .operationhints_subtips .operationhints-success {
    color: #008e11
}

.imgcodelayer .operationhints_subtips .operationhints-lose {
    color: #de0202
}

.operationhints p .icons {
    margin-right: 10px
}

.layer_warn_tips {
    background: #fefdd5;
    font-size: 12px;
    color: #323232;
    padding: 8px 10px;
    margin-bottom: 10px
}

.layer_warn_tips p {
    line-height: 16px
}

.main_bg {
    background: #f3f7fa
}

.container_header {
    background: #fff;
    box-shadow: 0 9px 9px rgba(232, 235, 238, 0.5)
}

.container_header_t {
    width: 1000px;
    margin: 0 auto;
    padding-top: 7px;
    height: 37px
}

.container_header_b {
    background: #fefdd5;
    padding: 6px 0;
    border-top: 1px solid #f1f1f1
}

.container_header_text {
    width: 1000px;
    margin: 0 auto
}

.container_header_text p {
    line-height: 20px;
    font-size: 14px;
    color: #555
}

.container_content {
    padding-top: 12px;
    background: #f3f7fa
}

.container_main {
    background: #fff;
    width: 636px;
    margin: 12px auto;
    height: 600px;
    padding-left: 364px;
    box-shadow: 0 0 2px rgba(205, 205, 205, 0.6)
}

.container_main_p {
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0 9px 104px
}

.container_main .layerpopform {
    padding: 0
}

.container_main .loginformwrap_ul li {
    padding-left: 0;
    padding-right: 0
}

.container_main .loginformwrap_ul {
    width: 272px
}

.container_soft_tip {
    font-size: 12px;
    color: #999;
    line-height: 20px;
    width: 272px;
    padding-top: 25px
}

.mobile_footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    color: #666;
    text-align: center
}

.container_font span {
    color: #ff5907
}

.mobile_no_see {
    width: 114px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    background: #f1f1f1;
    float: left
}

.mobile_confirm_pic img {
    float: left
}

.mobile_confirm_pic {
    padding-top: 10px
}

.i-redwarn-min {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/global_v3_24.png) no-repeat 0 0;
    _background: url(../images/global_v3.png) no-repeat 0 0;
    overflow: hidden;
    width: 16px;
    height: 16px;
    background-position: -107px -1245px;
    margin-right: 6px;
    vertical-align: -3px
}

.mobile_red_warn {
    position: absolute;
    top: 15px;
    left: 290px;
    color: #ef3f3f;
    width: 350px;
    height: 18px;
    font-size: 14px;
    text-align: left
}

.container_main .errortextbox {
    border: 1px solid #ef3f3f;
    border-radius: 4px
}

.container_main .textbox_label,
.container_main .textbox_text {
    font-size: 14px
}

.container_font,
.mobile_other_font {
    font-size: 14px
}

.mobile_scan_code span {
    color: #1a75ca
}

.container_main .imgcodeform .textbox {
    height: 28px
}

.boxiframe {
    width: 400px;
    border: #ccc solid 1px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-animation: layermask .2s ease-out;
    -webkit-animation: layermask .2s ease-out;
    animation: layermask .2s ease-out
}

.noneshadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.boxiframe .boxiframetitle {
    position: relative;
    height: 32px;
    line-height: 32px;
    color: #444;
    border: 0;
    border-bottom: #e9e9e9 solid 1px;
    background-color: #f6f6f6;
    cursor: move;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.boxiframe .boxiframetitle h2 {
    display: block;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    overflow: hidden
}

.boxiframe .boxiframetitle h2 span {
    padding-left: 10px
}

.boxiframe .boxiframetitle .i_t_close {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 18px;
    height: 18px;
    background-position: -166px -780px
}

.boxiframe .boxiframetitle .i_t_close:hover {
    width: 18px;
    height: 18px;
    background-position: -166px -803px
}

.boxiframe .boxiframemain {
    border: 0;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative
}

.boxiframe .boxiframebtn {
    height: 30px;
    padding: 8px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.boxiframe .boxiframebtn.dl_buttonbar .bottomtip {
    width: auto;
    line-height: 30px;
    padding-left: 0
}

.boxiframe .boxiframebtn .bibbtn {
    _margin-right: -6px
}

.boxiframe .boxiframebtn .bibbtn a {
    position: relative;
    zoom: 1;
    min-width: initial;
    margin-left: 6px;
    vertical-align: top
}

.boxiframe .boxiframebtn .bibbtn a span {
    min-width: initial
}

.boxiframe .boxiframebtn .btnsure,
.boxiframe .boxiframebtn .btnnormal {
    height: 28px;
    _height: 28px;
    line-height: 28px;
    padding: 0;
    color: #444;
    font-size: 14px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.boxiframe .boxiframebtn .btnsure {
    border: #00a513 solid 1px
}

.boxiframe .boxiframebtn .btnnormal {
    border: #ccc solid 1px
}

.boxiframe .boxiframebtn .btnsure span,
.boxiframe .boxiframebtn .btnnormal span {
    height: 28px;
    line-height: 28px;
    padding: 0 17px
}

.boxiframe .boxiframebtn .btnsure span {
    color: #fff !important
}

.boxiframe .boxiframebtn .btnnormal span,
.boxiframe .boxiframebtn .btnnormal:hover {
    color: #444 !important
}

.boxiframe .boxiframebtn .loadding {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 7px 2px;
    background-position: 50% 50%
}

.nortips {
    padding: 20px;
    min-height: 44px;
    height: auto !important;
    height: 44px
}

.nortipsico {
    float: left;
    position: relative;
    width: auto;
    margin-right: 15px;
    text-align: right;
    display: inline
}

.nortipscontent {
    vertical-align: middle;
    overflow: hidden;
    zoom: 1
}

.nortipstitle {
    font-size: 14px;
    font-weight: 700
}

.nortipsline {
    line-height: 19px;
    font-size: 14px
}

.boxiframebtn {
    height: 30px;
    padding: 8px;
    border-top: 1px solid #e8e8e8;
    background-color: #fff;
    border-radius: 0 0 4px 4px
}

.boxiframebtn .bibbtn {
    float: right;
    display: inline;
    text-align: right
}

.i_ok {
    width: 36px;
    height: 36px;
    background-position: -199px -1202px
}

.layer_mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    -webkit-animation: layermask .2s ease-out;
    -moz-animation: layermask .2s ease-out;
    animation: layermask .2s ease-out
}

:root .layer_mask {
    filter: none
}

.calendar-mask-layer {
    position: fixed !important;
    left: 0;
    top: 0;
    bottom: 0;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(document.documentelement.scrolltop));
    z-index: 8000;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50)
}

.container_main li .getcodebtn {
    width: 110px
}

.loginformwrap_ul .mt_5 .surebtn {
    margin-top: 15px
}

.reddot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 1px solid #fff;
    background-color: #ed2828;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

.iconfont {
    font-size: 14px
}

.i-ok {
    color: #0078e6;
    cursor: pointer
}

.version_sel_center {
    text-align: center
}

.i-pull {
    transform: scale(0.8);
    font-size: 12px
}

.version_sel_r {
    float: right;
    line-height: 23px;
    margin-top: 4px
}

.version_sel_r .i-pull {
    position: absolute;
    right: 5px;
    color: #666
}

.version_sel_r .dropdown {
    width: 96px
}

.i-useracc,
.i-password,
.i-phone {
    font-size: 16px;
    margin: 2px 5px 0 0;
    float: left;
    color: #666
}

.i-voicevali {
    font-size: 18px;
    margin-top: 1px
}

.switchbox {
    position: absolute;
    opacity: 0;
    width: 37px;
    height: 20px
}

.switchbox+label {
    vertical-align: top;
    display: inline-block;
    width: 35px;
    height: 18px;
    border: 1px solid rgba(187, 187, 187, 1);
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 255.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.1)
}

.switchbox:checked+label {
    width: 35px;
    height: 18px;
    background-position: 0 0;
    background-color: #1385ee;
    border: 1px solid #1385ee;
    -webkit-box-shadow: inset 0 0 0 10px #1385ee;
    box-shadow: inset 0 0 0 10px #1385ee
}

.switchbox+label>span {
    float: left;
    width: 14px;
    height: 14px;
    margin: 2px 0 0 3px;
    background: #bbb;
    -webkit-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -webkit-transition-duration: .4s;
    transition-property: transform, background-color, box-shadow;
    transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    transition-duration: .4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    pointer-events: none;
    -webkit-border-radius: inherit;
    border-radius: inherit
}

.switchbox:checked+label>span {
    background-color: #fff;
    -webkit-transform: translate(17px, 0px);
    transform: translate(17px, 0px);
    -webkit-box-shadow: 0 1px 1px #1385ee, 0 0 0 1px #1385ee;
    box-shadow: 0 1px 1px #1385ee, 0 0 0 1px #1385ee
}

.p_text {
    color: #333
}

.p_text .iconfont {
    margin-right: 8px;
    position: absolute;
    top: 11px
}

.i-select {
    color: #bdbdbd
}

.i-selectall {
    color: #0078e6
}

.p_text .text {
    margin-left: 20px
}

.loginmessage a {
    color: #1385ee
}

.i-help {
    color: #666
}

input::-ms-clear,
input::-ms-reveal {
    display: none
}

.hidden-input {
    position: relative;
    width: 0;
    height: 0;
    overflow: hidden
}

.hidden-input .form-control {
    position: absolute;
    left: -1000px
}

.i-tipsbox {
    position: absolute;
    top: -6px;
    right: -170px;
    display: inline-block;
    font-size: 14px;
    width: 170px;
    height: 40px
}

.i-tipsbox a {
    color: #1385ee;
    font-weight: normal;
    text-shadow: none
}

.footerbox {
    width: 100%;
    height: 35px
}

.footerbox .footitem {
    display: inline-block;
    width: 100%;
    height: 35px
}

.footerbox .footitem::after {
    content: "";
    clear: both;
    display: inline-block
}

.footerbox .footitem a {
    padding: 0 10px;
    font-size: 14px
}

.textwrap {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 14px
}

.textwrap .frees {
    vertical-align: top
}

.textwrap .tipslayermaininner p {
    height: 15px;
    line-height: 15px
}

.codebox {
    width: 84px;
    height: 84px;
    border: 1px solid green;
    margin: 10px auto;
    position: relative
}

.codebox .i-refresh {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #1385ee;
    margin-top: -4px;
    margin-left: -4px
}

.colorblue:hover {
    color: #0078e6 !important
}

.suresimbtn:hover {
    border: 1px solid #0078e6 !important
}

input::placeholder {
    font-size: 16px !important
}

.tip_privacy_btn {
    float: right;
    cursor: pointer;
    padding: 4px 10px;
    box-sizing: border-box;
    background-color: #1385ee;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 4px;
    margin: 10px 0
}

.loginfunctips {
    background: #4573f6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 6px 8px;
    position: absolute;
    right: 50px;
    bottom: 10px;
    white-space: nowrap
}

.loginfunctips:after {
    border: 6px solid rgba(0, 0, 0, 0);
    border-left-color: #4573f6;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -12px;
    top: 10px;
    width: 0
}

.rightbtntipsbox {
    position: absolute;
    overflow: hidden;
    width: 66px;
    bottom: 0;
    right: 0;
    height: 66px
}

.rightbtntips {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-bottom: 45px solid #e4f2ff;
    transform: rotate(135deg);
    right: -45px;
    bottom: -45px;
    cursor: pointer
}

.rightbtntips .i-code {
    width: 20px;
    transform: rotate(-135deg) translate(-4px, -16px)
}

@media screen and (max-width: 1366px) {
    .loginformwrap {
        right: 4%
    }
}

.appcodecontainer {
    font-size: 14px;
    text-align: center;
    width: 344px;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

.appcodecontainer .mail_appcode {
    width: 68px;
    height: 68px;
    margin-right: 12px
}

.appcodecontainer .email_content {
    box-sizing: border-box;
    color: #333;
    text-align: left;
    margin-top: 18px;
    width: 256px;
    float: right
}

.appcodecontainer .email_content .title {
    font-weight: bold;
    padding-bottom: 3px
}

.appcodecontainer .email_content .content {
    font-weight: normal
}

.loginformwrap_pc .title {
    margin: 34px auto 20px;
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 18px;
    font-weight: bold
}

.loginformwrap_pc .contentbox {
    width: 270px;
    height: 262px;
    margin: 0 auto;
    background: url(../images/code_bg.png) no-repeat center center;
    background-size: cover;
    position: relative;
    padding-top: 42px;
    box-sizing: border-box;
    text-align: center
}

.loginformwrap_pc .contentbox .codewrap_box {
    position: absolute;
    width: 164px;
    height: 164px;
    left: 53px;
    top: 70px
}

.loginformwrap_pc .contentbox .codewrap_box .mark {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -2px;
    top: 3px;
    background: rgba(255, 255, 255, .9);
    z-index: 22;
    border-radius: 8px
}

.loginformwrap_pc .contentbox .codeborder {
    position: absolute;
    width: 164px;
    height: 164px;
    left: -2px;
    top: 4px;
    z-index: 22
}

.loginformwrap_pc .codelogin {
    width: 136px;
    position: absolute;
    left: 12px;
    top: 18px;
    z-index: 1
}

.loginformwrap_pc .qrtext {
    display: flex;
    margin-top: 13px;
    margin-bottom: 45px;
    padding-top: 19px;
    justify-content: center;
    text-align: center
}

.loginformwrap_pc .qrtext.clorgreen {
    color: #1385ee;
    padding-top: 19px;
    box-sizing: border-box
}

.loginformwrap_pc .qrtext .scanicon {
    width: 16px;
    height: 16px
}

.loginformwrap_pc .qrtext .text {
    padding-left: 8px
}

.loginformwrap_pc .contentbox .codeclick {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 33
}

.loginformwrap_pc .contentbox .codeclick .text {
    margin-top: 55px;
    font-size: 14px;
    color: #333;
    margin-bottom: 11px
}

.loginformwrap_pc .contentbox .codeclick .btnstyle {
    border: 0;
    background: #1385ee;
    color: #fff;
    font-size: 14px;
    padding: 6px 9px;
    box-sizing: border-box;
    border-radius: 4px
}

.loginformwrap_pc .contentbox .code_success {
    text-align: center;
    margin-top: 80px
}

.loginformwrap_pc .code_success .codesuccessimg {
    width: 44px;
    height: 44px
}

.loginformwrap_pc .code_success .text {
    color: #60c26b;
    font-size: 14px;
    margin-top: 13px
}

.entrance_box {
    background: #1385ee;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-align: center;
    height: 56px;
    line-height: 56px;
    width: 254px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 18px;
    cursor: pointer
}

.entrance_box:hover {
    background-color: #0078e6
}

.entrance_box .arrow {
    margin-left: 17px;
    width: 20px;
    height: 20px
}
