div.main-content {
    display: flex;
    width: 100%;
    align-items: flex-start
}

div.main-content>div.left-side {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

div.main-content>div.left-side div.inner {
    width: 100%
}

div.main-content>div.special-overflow {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 100
}

div.main-content>div.special-overflow.show {
    display: flex
}

div.main-content>div.special-overflow>div.expand-image {
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center
}

div.main-content>div.special-overflow>div.expand-image.show {
    display: flex
}

div.main-content>div.special-overflow>div.expand-image img {
    max-height: 70%;
    max-width: 70%;
    box-shadow: 0 0 10px 1px black
}

div.settings-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem
}

div.settings-holder>div {
    max-width: 80%
}

div.settings-holder div.image-settings {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

div.settings-holder div.image-settings div.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

div.settings-holder div.image-settings div.image-container.text {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%
}

div.settings-holder div.image-settings div.image-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .2rem;
    min-width: 50%
}

div.settings-holder div.image-settings img {
    max-width: 80%;
    max-height: 40vh
}

div.settings-holder div.image-settings div.file-input {
    z-index: 9;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center
}

div.settings-holder div.image-settings input#file-field {
    z-index: 10;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    cursor: pointer
}

div.settings-holder div.image-settings span.file-cover {
    overflow: hidden;
    cursor: pointer;
    background-color: #484aeb;
    z-index: 9;
    padding: .2rem .5rem;
    border-radius: .5rem;
    color: white;
    text-align: center;
    line-height: .9rem;
    width: 80%;
    font-size: .7rem;
    margin-top: .1rem;
    transition: box-shadow .5s
}

div.settings-holder div.image-settings span.file-cover.loaded {
    background-color: green
}

div.settings-holder div.image-settings span.file-cover.error {
    background-color: red
}

div.settings-holder div.image-settings div.file-input:hover span.file-cover {
    box-shadow: 0 0 5px 1px #15176e
}

div.settings-holder div.name-settings {
    width: 80%;
    display: flex;
    padding: .5rem;
    flex-direction: column;
    align-items: center
}

div.settings-holder input[type='text'] {
    width: 100%;
    background-color: transparent;
    border-radius: .3rem;
    padding: .3rem;
    padding-left: .5rem;
    border: 1px solid grey;
    box-shadow: 0 0 0 0;
    transition: all .5s;
    flex: 4
}

div.settings-holder div.description-settings {
    width: 80%;
    display: flex;
    padding: .5rem;
    flex-direction: column;
    align-items: center
}

div.settings-holder textarea {
    background-color: transparent;
    border-radius: .3rem;
    padding: .3rem;
    padding-left: .5rem;
    border: 1px solid grey;
    box-shadow: 0 0 0 0;
    transition: box-shadow .5s, border .5s;
    flex: 4;
    height: 4rem;
    width: 100%
}

div.settings-holder button.bottom-full-butt {
    min-width: 50%;
    background-color: transparent;
    border-radius: .3rem;
    margin-top: .5rem;
    padding: .3rem;
    border: 1px solid royalblue;
    transition: all .5s;
    color: royalblue
}

div.settings-holder button.right-half-butt {
    width: 100%;
    background-color: transparent;
    border-radius: .3rem;
    padding: .3rem;
    border: 1px solid royalblue;
    transition: all .5s;
    color: royalblue
}

div.settings-holder button.right-half-butt:first-child {
    margin-bottom: .5rem
}

div.settings-holder div.pinned-muted-settings {
    width: 80%
}

div.settings-holder div.checkmark-set {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

div.settings-holder div.checkmark-set label {
    padding-left: .2rem;
    font-weight: bold
}

div.settings-holder form.delete-group {
    width: 75%;
    margin-top: 1rem;
    flex: 1
}

div.settings-holder form.delete-group input {
    width: 100%;
    flex: 1;
    width: 100%;
    background-color: transparent;
    border-radius: .3rem;
    padding: .3rem;
    border: 1px solid red;
    transition: all .5s;
    color: red
}

div.settings-holder form.delete-group input:hover {
    background-color: red;
    box-shadow: 0 0 5px 1px white;
    color: white;
    cursor: pointer
}

div.settings-holder div.password-settings {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center
}

div.settings-holder div.password-settings>div {
    flex: 8;
    margin-right: .5rem
}

div.settings-holder div.password-settings>div .password-item:last-child {
    margin-top: .5rem
}

div.settings-holder div.password-settings>button.right-full-butt {
    flex: 1;
    background-color: transparent;
    border-radius: .3rem;
    padding: .3rem;
    border: 1px solid royalblue;
    transition: all .5s;
    color: royalblue;
    align-self: stretch
}

div.settings-holder div.password-settings .the-end-svg {
    z-index: 10;
    position: absolute;
    right: 5px;
    top: calc(50% - .5rem);
    height: 1rem
}

div.settings-holder div.password-settings .the-end-svg i {
    z-index: -1
}

div.settings-holder div.password-settings .the-end-svg span {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer
}

div.settings-holder input[type='password'] {
    width: 100%;
    background-color: transparent;
    border-radius: .3rem;
    padding: .3rem;
    padding-left: .5rem;
    border: 1px solid grey;
    box-shadow: 0 0 0 0;
    transition: all .5s;
    flex: 4
}

div.settings-holder input:focus,
div.settings-holder textarea:focus {
    border: 0px none;
    box-shadow: 0 0 5px 1px grey
}

div.settings-holder button:hover,
div.settings-holder button#password-field-save:hover {
    background-color: royalblue;
    box-shadow: 0 0 5px 1px white;
    color: white;
    cursor: pointer
}
