/* GENERAL STYLES */
h1 {
    font-family: 'Signika Negative', sans-serif;
    color: #414644;
}

body {
    background-color: #B5D1C8;
    font-family: 'Raleway', sans-serif;
}

/* HEADER */

.navbar {
    background-color: #F6F9F8;
}

#second-nav {
    background-color: #86B3A6;
}

.nav-item {
    padding: 0.5rem;
}

nav i {
    color: #508072;
    font-size: 3.5rem;
}

nav h1 {
    font-size: 3rem;
}

nav li {
    font-size: 1.5rem;
}

nav li i {
    font-size: 1.5rem;
    font-weight: 900;
}

.nav-item.active .nav-link {
    border-bottom: 3px groove #86B3A6;
}

#login, #signup {
    text-decoration: underline;
}

/* FORM STYLING */
.card, .toast {
    background-color: #F6F9F8;
    color:#414644;
}

.form-container {
    margin-top: 2rem;  
    margin-bottom: 2rem; 
}

.card-header {
    font-family: 'Signika Negative', sans-serif;
}

.btn {
    --bs-btn-active-bg: #86B3A6;
    --bs-btn-active-border-color: #86B3A6;
    background-color: #508072;
    border-color: #508072;
    color:#F6F9F8;
}

.btn:hover, .btn:disabled {
    background-color: #5e726c;
    border-color: #5e726c;
}

#forgot {
    color: #414644;
    font-size: 90%;
}

/* MODAL STYLING */

.modal-custom {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-custom .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 0.5rem;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
}
.modal-custom .close {
    color: #aaa;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.modal-custom .close:hover,
.modal-custom .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

/* ICON BUTTONS */

.nav-icons {
    background-color: #F6F9F8;
    border: none;
}

.nav-icons:hover {
    background-color: #B5D1C8;
}

/* MEDIA QUERIES */

@media (max-width: 436px) {
    .navbar-brand h1 {
        font-size: 2rem;
    }
    .navbar-brand i {
        font-size: 2rem;
    }

    .modal-custom .modal-content {
        width: 80%;
    }
}

@media (max-width: 350px) {
    .navbar-brand h1 {
        font-size: 1.8rem;
    }
    .navbar-brand i {
        font-size: 1.8rem;
    }
}