


























/*Microsoft*/

input[type=range] {
	padding: 0;
}

input[type=range]::-ms-track {
    width: 100%;
    /*remove bg colour from the track, use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    border-radius: 10px;
}

input[type=range]::-ms-tooltip { 
	display: none; 
}

input[type=range]::-ms-fill-upper {
    border-radius: 0px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ecf0f1;
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0) !important;
}
input[type=range]:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0) !important;
}





.autorenbox {
	border-radius: 100%; 
	width: 150px;
	height: 150px; 
	display: inline-block; 	
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position: center center;	
	
}

.autor-michel {
	background-image: url(../image/fav-output-1.png);
}

