@font-face {
	font-family: "Star Jedi";
	src: url("fonts/star_jedi/starjedi/Starjedi.ttf")
		format("truetype");
}

@font-face {
	font-family: "Star Jedi Hollow";
	src: url("fonts/star_jedi/starjedi/Starjhol.ttf")
		format("truetype");
}

.user-subheading {
	font-family: "Audiowide", sans-serif;
	color: #348790;
}

.edit-profile-button {
	border: 1px solid #abbbc2;
	color: #abbbc2;
	background-color: transparent;
	font-family: "Orbitron";
	font-size: 10px;
	text-decoration: none;
	padding: 7px;
	border-radius: 5px;
}

.edit-profile-button:hover {
	border-style: none;
	background-color: #abbbc2;
	color: #2b6970;
}

.light-writing {
	font-family: "Orbitron";
	color: #abbbc2;
	font-size: 13px;
}

.votes {
	font-family: "Orbitron";
	font-size: 10px;
	color: #abbbc2;
}

#profile-comment-username {
	text-align: center;
}

#profile-comment-text {
	text-align: center;
}

.comment-link {
	font-family: "Audiowide";
	color: #348790;
	font-size: 15px;
	text-decoration: none;
}

.comment-link:hover {
	text-decoration: underline;
	color: #d7bf78;
}

.delete-comment {
	background-color: transparent;
	border: none;
}

.delete-icon {
	color: #b0301f;
}

.delete-icon:hover {
	color: #fb3402;
}

/* Edit Form styling */

.form-style {
	max-width: 300px;
	margin: 0 auto;
	background-color: rgba(215, 191, 120, 0.1);
	border: 1px solid #abbbc2;
	color: #2e96a0;
	border-radius: 3px;
}

.label-style {
	color: #abbbc2;
	font-family: "Audiowide";
}

.btn-primary {
	background-color: #abbbc2;
	font-family: "Orbitron";
	border: none;
}

.btn-primary:hover {
	background-color: #3897c0;
	color: #d5e1e7;
	border: none;
}

.btn-danger {
	background-color: #dc3545;
	border-color: #dc3545;
	font-family: "Orbitron";
}

.btn-danger:hover {
	background-color: #c82333;
	border-color: #bd2130;
}
