

<!DOCTYPE html>
<html>
	<head>
<meta charset="utf-8"/>
<script defer="defer" type="text/javascript" src="/.rum/@adobe/helix-rum-js@%5E2/dist/rum-standalone.js"></script>
<link rel="dns-prefetch" href="//www.sportsfan.com.au"/>
<link rel="dns-prefetch" href="//www.skynews.com.au"/>
<link rel="dns-prefetch" href="//www.google-analytics.com"/>
<link rel="dns-prefetch" href="//ws.weatherzone.com.au"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="application-name" content="Telstra Media - Video, Sport, Music and Entertainment"/>
<meta name="msapplication-tooltip" content="Start Telstra Media - Video, Sport, Music and Entertainment"/>
<meta name="msapplication-window" content="width=1024;height=800"/>
<meta name="msapplication-starturl" content="http://media.telstra.com.au/home.html"/>
<meta name="msapplication-task" content="name=Telstra Media Telstra Media - Video, Sport, Music and Entertainment;action-uri=http://media.telstra.com.au/home.html?ref=ie9-jumplist;icon-uri=http://media.telstra.com.au/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/ico/tm-pink-16x16.gif"/>
<link rel="icon" href="/content/homepage/favicon.ico"/>
<link rel="shortcut icon" href="/content/homepage/favicon.ico"/>
<link rel="apple-touch-icon-precomposed" href="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/ico/tm-apple-touch-icon-precomposed-pink-144x144.png"/>
<link rel="apple-touch-icon" href="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/ico/tm-apple-touch-icon-pink-57x57.png"/>
<link rel="icon" href="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/ico/tm-android-icon-pink-128x128.png"/>
<meta name="description" content="Telstra Media, formerly BigPond, has a wide range of media available including Video, Sport - AFL, NRL, SportsFan, Music and Entertainment."/>
<!-- #if expr="${DOCUMENT_URI} = /.mobile./" --><!-- #set var="mobile" value="mobile" --><!-- #endif --><!-- #if expr="${DOCUMENT_URI} = /.tablet./" --><!-- #set var="tablet" value="tablet" --><!-- #endif --><!-- #if expr="!${mobile} && !${tablet}" -->
<link rel="alternate" media="only screen and (max-width: 640px)" href="http://media.telstra.com.au/home.mobile.ios.html"/>
<link rel="alternate" media="only screen and (max-width: 640px)" href="http://media.telstra.com.au/home.mobile.windows.html"/>
<link rel="alternate" media="only screen and (max-width: 640px)" href="http://media.telstra.com.au/home.mobile.android.html"/>
<link rel="alternate" media="only screen and (min-width: 641px)" href="http://media.telstra.com.au/home.tablet.ios.html"/>
<link rel="alternate" media="only screen and (min-width: 641px)" href="http://media.telstra.com.au/home.tablet.windows.html"/>
<link rel="alternate" media="only screen and (min-width: 641px)" href="http://media.telstra.com.au/home.tablet.android.html"/><!-- #endif -->
<link rel="canonical" href="http://media.telstra.com.au/"/>
<meta property="og:title" content="Telstra Media - Video, Sport, Music and Entertainment"/>
<meta property="og:description" content="Telstra Media, formerly BigPond, has a wide range of media available including Video, Sport - AFL, NRL, SportsFan, Music and Entertainment."/>
<meta property="og:image" content=""/>
<meta property="og:url" content="http://media.telstra.com.au/"/>

<meta name="apple-itunes-app" content="app-id="/>
<meta name="google-play-app" content="app-id="/>

<title>Telstra Media - Video, Sport, Music and Entertainment</title>
<meta http-equiv="X-UA-Compatible" content="IE=8; IE=edge"/>
<!--[if lte IE 8]><script src="/etc.clientlibs/homepage/clientlibs/html5shiv.min.js"></script><![endif]--><!--[if IE]><![endif]-->




   <!-- <link data-sly-test="false" rel="stylesheet" type="text/css" href="/etc.clientlibs/homepage/clientlibs/author.css" />-->





    <script src="/bphf/res/js/modernizr.custom.64012.js" async></script>
<script>var tmxh={path:'/bphf/res/js/tmhf.src.2.0.min.js',load:function(func){'use strict';var t={};t.wload=window.onload;if(typeof window.onload!=='function'){window.onload=func}else{window.onload=function(){if(t.wload){t.wload()}func()}}},tmx:function(){'use strict';var t={};if(typeof tmx==='undefined'){t.body=document.getElementsByTagName('body')[0];t.script=document.createElement('script');t.script.setAttribute('src',tmxh.path);t.body.appendChild(t.script)}},init:function(){'use strict';this.load(this.tmx)}};try{tmxh.init()}catch(ignore){}</script>
<script src="//assets.adobedtm.com/launch-EN3d02652f91254186bbc3ab768d3098b9.min.js" async></script>
<link rel="stylesheet" href="/bphf/res/css/tmhf.src.2.0.min.css"/>
<!--[if lte IE 8]><link rel="stylesheet" href="/bphf/res/css/tmhf.src.ie.min.css"/><![endif]--><!--[if IE]><![endif]-->
<!--.-->

    
<link rel="stylesheet" href="/etc.clientlibs/homepage/clientlibs/clientlibs.lc-9d7e77a9f335cf1fce98edb6a700b2d7-lc.min.css" type="text/css"/>


</meta><!--<div data-sly-test="false" data-sly-unwrap><script src="/etc.clientlibs/homepage/clientlibs/modernizr.custom.js"></script>-->

    


</div><!--[if lte IE 8]><script src="/etc.clientlibs/homepage/clientlibs/respond.min.js"></script><![endif]--><!--[if IE]><![endif]-->
<!--<script src="/etc.clientlibs/homepage/clientlibs/jquery-1.11.1.min.js"></script>-->

    
<script src="/etc.clientlibs/homepage/clientlibs/jquery.lc-d15fd23a46480c124448db33e2bbec18-lc.min.js"></script>



<script type="text/javascript">
    var tmh = tmh || {}
    tmh.__env = {
        bcPlayerUrl: ""
    }
</script>
	</head>
	<body role="document">

<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!--[if IE]><![endif]-->
    <head>
         

        
        
    
<script defer="defer" type="text/javascript" src="/.rum/@adobe/helix-rum-js@%5E2/dist/rum-standalone.js"></script>
<link rel="stylesheet" href="/etc.clientlibs/tmhf/clientlibs/tmhf.src.2.0.lc-32232794265a3d2b21bf57c7bc7e1b77-lc.min.css" type="text/css">


</meta>
        <!--[if lte IE 8]><link rel="stylesheet" href="/etc.clientlibs/tmhf/clientlibs/tmhf.src.ie.min.css"/><![endif]--><!--[if IE]><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <title>index</title>
    </head>
    <body role="document">
        <!--googleoff:index--><div id="bphf-top"><svg style="display:none;"><symbol viewBox="77 287.6 765 218.4" id="tmx-svg-tmedia"> <title>tmedia</title> <g> <g> <path class="tmedia-text" d="M435.5,441.8c-4.1,0-8.1-2.6-8.1-7.6V332.8l-27.4,63c-1.5,4.1-5,5.5-8.7,5.5c-4.1,0-7-2-9.1-5.5l-27.9-63v101.5c0,5-4.1,7.6-8.1,7.6s-8.1-2.6-8.1-7.6v-129c0-5.5,2-9.1,9.1-9.1h0.6c5.5,0,8.1,3,9.1,6.1l33.5,74.5l33-74.5c2-3,4.5-6.1,10.2-6.1h0.6c7,0,9.1,3.5,9.1,9.1v129C443.5,439.3,439.5,441.8,435.5,441.8z"/> <path class="tmedia-text" d="M547.1,440.8h-65c-4.1,0-8.1-3.5-8.1-8.1V305.3c0-4.1,3.5-8.1,8.1-8.1h65c5.5,0,8.1,4.1,8.1,8.1c0,4.1-2.6,8.1-8.1,8.1h-57.3v45.7h39.5c5,0,8.1,4.1,8.1,8.1c0,4.1-2.6,8.1-8.1,8.1h-39.5v50.3h57.3c5.5,0,8.1,4.1,8.1,8.1C554.8,437.3,552.6,440.8,547.1,440.8z"/> <path class="tmedia-text" d="M622.1,440.8h-33.5c-4.1,0-8.1-3.5-8.1-8.1V305.3c0-4.1,3.5-8.1,8.1-8.1h33.5c21.8,0,39,17.7,39,39v65C661.3,423.6,644,440.8,622.1,440.8z M646.1,336.8c0-13.2-10.2-23.8-23.3-23.8h-25.9V425h25.9c13.2,0,23.8-10.7,23.8-23.8v-64.4L646.1,336.8L646.1,336.8z"/> <path class="tmedia-text" d="M699,441.8c-4.1,0-8.1-2.6-8.1-7.6v-130c0-5,4.1-8.1,8.1-8.1s8.1,2.6,8.1,8.1v130.4C706.3,439.3,702.5,441.8,699,441.8z"/> <path class="tmedia-text" d="M822.5,441.8c-3,0-6.1-1.5-7.6-5.5l-9.1-30h-51.2l-9.1,30c-0.9,4.1-4.1,5.5-7,5.5c-4.5,0-8.1-3.5-8.1-7.6c0-0.6,0-1.5,0.6-2.6l40.5-130c0.9-4.1,5-5.5,9.1-5.5c4.5,0,8.1,2,9.7,5.5l40.5,129.9c0,0.9,0.6,2,0.6,2.6C830.8,438.8,827.1,441.8,822.5,441.8z M780,324.6l-20.8,66.5h41.1L780,324.6z"/> </g> <path class="tmedia-circle" fill="currentColor" d="M205.1,385.4l-7.6,45.7c-1.5,8.1-7,10.7-11.7,10.7h-36l15.2-83.7c-15.2-7-30.5-11.7-43.1-11.7c-11.7,0-21.3,3-27.4,10.7c-5,5.5-7,12.2-7,19.8c0,23.8,18.7,56.8,50.7,83.7c28.4,23.8,59.9,37,83.3,37c11.7,0,20.8-3.5,26.9-10.7c4.5-5.5,6.6-12.2,6.6-20.3C254.3,444.3,235.7,411.8,205.1,385.4z"/> <g> <path class="tmedia-t" d="M140.7,296.6c-6.1,0-10.7,3.5-12.2,9.7l-5,27.4h45.1l-19.2,107.5h36c4.5,0,10.2-2,11.7-10.7l16.7-96.9h32.5c5.5,0,10.7-4.1,11.7-9.7l5-28L140.7,296.6L140.7,296.6z"/></g></g></symbol></svg><div id="tmx-skip"><a href="#tmx-content">Skip to main content</a></div><div id="tmx-header"><div id="tmx-global"><div class="tmx-wrap"><ul class="tmx-menu tmx-left" role="menu"><li role="menuitem" class="tmx-item section"><a class="tmx-telstracom" href="https://www.telstra.com.au/?ref=TM-Header-TELSTRA">Telstra.com</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-personal" href="https://www.telstra.com.au/personal?ref=TM-Header-TPERSONAL">Personal</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-smallbusiness" href="https://www.telstra.com.au/small-business?ref=TM-Header-TSBUSINESS">Small Business</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-businessenterprise" href="https://www.telstra.com.au/business-enterprise?ref=TM-Header-TBUSINESS">Business &amp; Enterprise</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-health" href="https://www.telstrahealth.com/?ref=TM-Header-THEALTH">Health</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-aboutus" href="https://www.telstra.com.au/aboutus?ref=TM-Header-ABOUTUS">About Us</a></li>

</ul><ul class="tmx-menu tmx-right" role="menu"><li role="menuitem" class="tmx-item section"><a class="tmx-contactus" href="https://www.telstra.com.au/contact-us">Contact Us</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-account" href="https://mytelstra.onelink.me/BJRB/6f2ed6b"><svg role="img"><title>My Account</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/bphf/res/svg/sprite.svg#tm-svg-account"></use></svg></a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-webmail" href="https://email.telstra.com"><svg role="img"><title>Webmail</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/bphf/res/svg/sprite.svg#tm-svg-webmail"></use></svg></a></li>

</ul></div></div><div id="tmx-network"><div class="tmx-wrap"><div class="tmx-tmedia"><div class="tmx-tmedia section"><a href="http://media.telstra.com.au/?ref=Net-Header2-medialogo"><svg role="img" class="tmediasvg"><title>Telstra Media</title><use class="tmediasvg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tmx-svg-tmedia"></use></svg></a></div>

</div><div id="tmx-narrow" role="region"><ul class="tmx-menu-mobile" role="menu"><li role="menuitem" class="tmx-item section"><a class="tmx-webtab" href="http://media.telstra.com.au/web.html"><svg role="img"><title>Web</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/bphf/res/svg/sprite.svg#tm-svg-webtab"></use></svg></a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-webmail" href="https://email.telstra.com"><svg role="img"><title>Web Mail</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/bphf/res/svg/sprite.svg#tm-svg-webmail"></use></svg></a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-account" href="https://mytelstra.onelink.me/BJRB/6f2ed6b"><svg role="img"><title>My Account</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/bphf/res/svg/sprite.svg#tm-svg-account"></use></svg></a></li>

</ul></div><div id="tmx-wide" role="region"><ul class="tmx-menu" role="menu"><li role="menuitem" class="tmx-item section"><a class="tmx-afl" href="https://www.afl.com.au/?ref=Net-Header2-AFL">AFL</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-nrl" href="http://www.nrl.com/?ref=Net-Header2-NRL">NRL</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-myoffers" href="https://hub.telstra.com.au/">My Offers</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-fetch" href="https://www.telstra.com.au/entertainment/tv-movies/fetch">Fetch</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-mytelstra" href="https://www.telstra.com.au/mytelstra?ref=Net-Header2-MyTelstra">My Telstra</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-telstraplus" href="https://plus.telstra.com.au/">Telstra Plus</a></li>

</ul><div id="tmx-menu-aside" class="tmx-menu-aside"><ul class="tmx-menu-list tmx-right" role="menu"><li role="menuitem" class="tmx-item section"><a class="tmx-telstraplus tmx-visible-xs" href="https://plus.telstra.com.au/">Telstra Plus</a></li>

</ul></div></div><div id="tmx-menu-aside-mobile" class="tmx-menu-aside"><ul class="tmx-menu-list" role="menu"><li role="menuitem" class="tmx-item"><a class="tmx-AFL" href="https://www.afl.com.au/?ref=Net-Header2-AFL">AFL</a></li><li role="menuitem" class="tmx-item"><a class="tmx-NRL" href="http://www.nrl.com/?ref=Net-Header2-NRL">NRL</a></li><li role="menuitem" class="tmx-item"><a class="tmx-My Offers" href="https://hub.telstra.com.au/">My Offers</a></li><li role="menuitem" class="tmx-item"><a class="tmx-Fetch" href="https://www.telstra.com.au/entertainment/tv-movies/fetch">Fetch</a></li><li role="menuitem" class="tmx-item"><a class="tmx-My Telstra" href="https://www.telstra.com.au/mytelstra?ref=Net-Header2-MyTelstra">My Telstra</a></li><li role="menuitem" class="tmx-item"><a class="tmx-Telstra Plus" href="https://plus.telstra.com.au/">Telstra Plus</a></li><li role="menuitem" class="tmx-item"><a class="tmx-Telstra Plus" href="https://plus.telstra.com.au/">Telstra Plus</a></li></div><div id="tmx-trigger" class="tmx-trigger tmx-icon tmx-show-xs "><span></span><span></span><span></span></div></div></div></div><div id="tmx-slist"><div class="tmx-slists section"></div>

</div></div><a id="tmx-content" name="tmx-content">Main content</a><!--googleon:index-->
        
    
<script src="/etc.clientlibs/tmhf/clientlibs/tmhf.src.external.lc-98c2af6b0a76d760744d2ed9828302c8-lc.min.js"></script>
<script src="/etc.clientlibs/tmhf/clientlibs/tmhf.src.2.0.lc-3ca39ebbb3265513d1b3cb35afed0847-lc.min.js"></script>


</meta>
        
    </body>
</html>
<div id="bodyBg"><div id="tm-page-header"><div id="bx-ad-panels"><div id="bx-ad-rightpanel"><a id="bx-ad-href-right" href="#"><img id="bx-ad-img-right" alt="" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" width="160" height="600"/></a></div><div id="bx-ad-leftpanel"><a id="bx-ad-href-left" href="#"><img id="bx-ad-img-left" alt="" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" width="160" height="600"/></a></div></div></div></meta><main class="tm-mainContent container" role="main"><h1 class="hide">Telstra Media - Video, Sport, Music and Entertainment</h1>
	<div class="col-sm-12">
		<div class="row"><article class="advertisement section"><section class="tm-ad" role="complementary"><span class="tm-heading">Advertisement</span><span class="tmframe" title="300x50,320x50,728x90,970x250,970x90"></span></section></article>

</div>
	</div>
	<div class="tm-section-1 row">
		<div class="col-sm-12 col-md-8">
			

			<div class="row">
				<div class="col-xs-12 col-sm-6 top-left"><div class="tm-customtext section"><div id="ctxtcomp" style="margin-bottom:18px;">
	
			<p><div class="genretitle section" style="margin-top:-20px"><h2 class="tm-heading tm-blue"><a href="https://www.9news.com.au?ref=BP_HEADER_NEWS">News</a> <img src="/content/dam/homepage/images/9news-logo-2048.png" alt="Provided by 9News" style="margin-right:30px;margin-top:-2px;height:18px;display:inline;" ;><span class="icon-arrow-right"></span></h2></div></p>
</div></div>
<div class="rssstory section"><article itemscope itemprop="http://schema.org/Article" role="article"><figure itemprop="associatedMedia" role="img"><a itemscope itemtype="http://schema.org/ImageObject" href="https://www.9news.com.au/national/senior-australian-of-the-year-2025-wheelchairs-for-kids-founder-brother-thomas-oliver-pickett/e15931b8-3138-46fe-b1e5-2db2fbef1ccf?ref=BP_RSS_ninenews_0_wheelchairs-for-kids-founder-named-2025-senior-australian-of-the_250125" title="Wheelchairs for Kids founder named 2025 Senior Australian of the year"><img itemprop="contentURL" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" class="article-media" data-load="lazy" data-src="/content/dam/refdata/RssFeeds/ninenews/wheelchairs-for-kids-founder-named-2025-senior-australian-of-the/b4559e8b-377c-4f85-96b4-da88a51149f8.jpeg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" alt="Wheelchairs for Kids founder named 2025 Senior Australian of the year" title="Wheelchairs for Kids founder named 2025 Senior Australian of the year"/></a><!--<figcaption itemprop="caption">Wheelchairs for Kids founder named 2025 Senior Australian of the year</figcaption>--></figure><header><h1 itemprop="name"><a itemprop="url" href="https://www.9news.com.au/national/senior-australian-of-the-year-2025-wheelchairs-for-kids-founder-brother-thomas-oliver-pickett/e15931b8-3138-46fe-b1e5-2db2fbef1ccf?ref=BP_RSS_ninenews_0_wheelchairs-for-kids-founder-named-2025-senior-australian-of-the_250125">Wheelchairs for Kids founder named 2025 Senior Australian of the year</a></h1><time datetime="25/16/2025" itemprop="datePublished">25/16/2025</time></header><div itemprop="articleBody" class="afl-hide rss-spacing"><p>Brother Thomas Oliver Picket Pickett co-founded Wheelchairs For Kids in 1996, which provides adjustable wheelchairs and occupational therapy to children in developing countries.</p></div>
	
	
			<!--

*/--></article></div>
<div class="image section"> <a href="https://www.telstra.com.au/entertainment/music/spotify?ref=TMHF_Tile_Spotify_2024_07#plans" target="_blank"><img class="tm-img cq-dd-image" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/homepage/tvguide-replacement.png" alt="Spotify Premium Link" title="Spotify Premium Link" data-src-mob="/content/dam/homepage/tvguide-replacement.png/jcr:content/renditions/cq5dam.thumbnail.319.319.png"/></a></div>

</div>
				<div class="col-xs-12 col-sm-6 top-right"><div class="tm-media-list section">
	<div><h2>Top Stories</h2><ul class="left-aligned"> <li><a href="https://www.9news.com.au/national/young-australian-of-the-year-2025-industrial-chemist-katrina-wruck/c162d20c-8da2-4ca0-9754-0b8db00309b1?ref=BP_RSS_ninenews_1_pioneering-chemist-katrina-wruck-named-2025-young-australian-of-_250125"><div class="tm-imgwrap"><img class="article-media" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/refdata/RssFeeds/ninenews/pioneering-chemist-katrina-wruck-named-2025-young-australian-of-/a29a7c5a-ef56-4ff7-b9a4-7871ac698b2d.jpeg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" alt="Pioneering chemist Katrina Wruck named 2025 Young Australian of the Year"/></div><div class="tm-list-title">Pioneering chemist Katrina Wruck named 2025 Young Australian of the Year</div></a></li><li><a href="https://www.9news.com.au/national/cunningham-highway-crash-highway-patrol-cop-undergoing-surgery-after-horror-crash/f34c6dcc-761b-4459-ab9f-19f9a27a3c5f?ref=BP_RSS_ninenews_2_police-officer-undergoing-surgery-after-horror-crash-on-queensla_250125"><div class="tm-imgwrap"><img class="article-media" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/refdata/RssFeeds/ninenews/police-officer-undergoing-surgery-after-horror-crash-on-queensla/8ce7e98e-c897-4ce9-adb8-dde047d57385.png/jcr:content/renditions/Rendition-RSS-JPG.jpeg" alt="Police officer undergoing surgery after horror crash on Queensland highway"/></div><div class="tm-list-title">Police officer undergoing surgery after horror crash on Queensland highway</div></a></li><li><a href="https://www.9news.com.au/world/israel-hamas-conflict-updates-hamas-frees-four-female-israeli-soldiers-as-part-of-gaza-ceasefire/aff85117-1341-4da7-96d0-e5bceefa3638?ref=BP_RSS_ninenews_3_hamas-frees-four-female-israeli-soldiers-as-part-of-the-gaza-cea_250125"><div class="tm-imgwrap"><img class="article-media" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/refdata/RssFeeds/ninenews/hamas-frees-four-female-israeli-soldiers-as-part-of-the-gaza-cea/2496faf5-4a08-426b-b102-159a99a75401.jpeg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" alt="Hamas frees four female Israeli soldiers as part of the Gaza ceasefire"/></div><div class="tm-list-title">Hamas frees four female Israeli soldiers as part of the Gaza ceasefire</div></a></li><li><a href="https://www.9news.com.au/national/former-2021-australian-of-the-year-grace-tame-wears-anti-murdoch-t-shirt-to-morning-tea-at-the-lodge-in-canberra-australian-capital-territory/74f3903d-f331-4745-b1aa-89e2c66d9bb1?ref=BP_RSS_ninenews_4_grace-tame-wears-anti-murdoch-t-shirt-to-australian-of-the-year-_250125"><div class="tm-imgwrap"><img class="article-media" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/refdata/RssFeeds/ninenews/grace-tame-wears-anti-murdoch-t-shirt-to-australian-of-the-year-/12e2d632-e73d-4069-9155-8f7010e56c0b.jpeg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" alt="Grace Tame wears anti-Murdoch t-shirt to Australian of the Year morning tea"/></div><div class="tm-list-title">Grace Tame wears anti-Murdoch t-shirt to Australian of the Year morning tea</div></a></li><li><a href="https://www.9news.com.au/national/australia-day-2025-john-batman-statue-vandalised-near-queen-victoria-market/12c033f7-8b75-4cbc-a993-2e982166f0d8?ref=BP_RSS_ninenews_5_multiple-statues-and-citizenship-ceremony-targeted-by-vandals_250125"><div class="tm-imgwrap"><img class="article-media" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/refdata/RssFeeds/ninenews/multiple-statues-and-citizenship-ceremony-targeted-by-vandals/5535058d-17cc-416a-a97c-b95c41f8e05c.png/jcr:content/renditions/Rendition-RSS-JPG.jpeg" alt="Multiple statues and citizenship ceremony targeted by vandals"/></div><div class="tm-list-title">Multiple statues and citizenship ceremony targeted by vandals</div></a></li></ul></div>


</div>

</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 rhs">
			<div class="row">
				<div class="col-sm-6 col-md-12">
</div>
				<div class="col-sm-6 col-md-12"><div class="buttonbanner section"><a href="https://www.myservices.telstra.com.au">
	<div class="tm-btn-banner" style="background-color: #00B1EB;">
		<span class="icon-account"></span>
		<div class="header">Account</div>
		<div class="tm-btnb-sub">Log in now</div>
	</div>
</a></div>
<div class="buttonbanner section"><a href="https://email.telstra.com">
	<div class="tm-btn-banner" style="background-color: #00B1EB;">
		<span class="icon-mail"></span>
		<div class="header">Webmail</div>
		<div class="tm-btnb-sub">Check your email</div>
	</div>
</a></div>
<div class="image section"> <a href="https://media.telstra.com.au/home/webmail-update.html" target="_blank"><img class="tm-img cq-dd-image" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/homepage/images/webmail-update/Webmail%20notification.png" alt="Webmail notification" title="Webmail notification" data-src-mob="/content/dam/homepage/images/webmail-update/webmail%20notification%20mobile.PNG/jcr:content/renditions/cq5dam.thumbnail.319.319.png"/></a></div>
<article class="advertisement section"><section class="tm-ad" role="complementary"><span class="tm-heading">Advertisement</span><span class="tmframe" title="300x250"></span></section></article>

</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-8">
</div>
	</div>
	<div class="tm-section-2 row">
		<div class="col-sm-12 col-md-4" role="group"><div class="tm-customtext section"><div id="ctxtcomp" style="margin-bottom:18px;">
	
			<p><div class="genretitle section" style="margin-top:-20px"><h2 class="tm-heading tm-blue"><a href="https://celebrity.nine.com.au?ref=BP_HEADER_ENTERTAINMENT">Entertainment</a> <img src="/content/dam/homepage/images/9honey-logo.png" alt="Provided by 9Honey" style="margin-right:30px;margin-top:-2px;height:18px;display:inline;" ;><span class="icon-arrow-right"></span></h2></div></p>
</div></div>
<div class="tm-media-list section">
	<div> <h2></h2><ul class="text-only"><li><a href="https://celebrity.nine.com.au/latest/old-el-paso-ad-girl-why-not-both-porque-no-los-dos-then-and-now/aba850f7-f848-4c43-a1b1-9233d499da3d?ref=BP_RSS_ninecelebrity_0_the-little-girl-from-the-old-el-paso--why-not-both---advert-is-a_250125"><div class="tm-list-title">The little girl from the Old El Paso &#39;Why not both?&#39; advert is all grown up</div></a></li><li><a href="https://celebrity.nine.com.au/latest/harris-dickinson-who-is-he-explainer/a250c74d-edab-4d72-971f-13bc78f3dc97?ref=BP_RSS_ninecelebrity_1_meet-harris-dickinson---the-star-of-babygirl-and-hollywood-s-nex_250125"><div class="tm-list-title">Meet Harris Dickinson - the star of Babygirl and Hollywood&#39;s next heartthrob</div></a></li><li><a href="https://celebrity.nine.com.au/latest/deborra-lee-furness-life-and-career-in-pictures/933d3425-4836-4f88-8889-c1be465c2896?ref=BP_RSS_ninecelebrity_2_she-was-one-half-of-australia-s-most-beloved-couple--deborra-lee_250125"><div class="tm-list-title">She was one half of Australia&#39;s most beloved couple: Deborra-lee Furness&#39; life and career in pictures</div></a></li><li><a href="https://celebrity.nine.com.au/latest/pamela-anderson-addresses-oscar-snub-the-last-showgirl/5747fbb0-3e16-44d6-be44-87c283f4a1bb?ref=BP_RSS_ninecelebrity_3_-i-always-say-the-win-is-in-the-work---pamela-anderson-addresses_250125"><div class="tm-list-title">&#39;I always say the win is in the work&#39;: Pamela Anderson addresses not getting nominated for an Oscar</div></a></li><li><a href="https://celebrity.nine.com.au/latest/sundance-film-festival-2025-celebrity-appearances-red-carpet/0dfc9165-448f-49d0-94b2-fa386cb51668?ref=BP_RSS_ninecelebrity_4_hollywood-stars-arrive-for-the-annual-2025-sundance-film-festiva_250125"><div class="tm-list-title">Hollywood stars arrive for the annual 2025 Sundance Film Festival </div></a></li><li><a href="https://celebrity.nine.com.au/latest/australian-open-2025-celebrities-spotted-in-pictures/e7a0a27c-cd35-4290-9926-b58b364b16f9?ref=BP_RSS_ninecelebrity_5_all-the-celebrities-spotted-at-the-australian-open-2025_240125"><div class="tm-list-title">All the celebrities spotted at the Australian Open 2025</div></a></li><li><a href="https://celebrity.nine.com.au/latest/american-pie-star-thomas-ian-nicholas-reunion-rumours-25-year-anniversary-exclusive-new-interview-comments/2a761cd5-5303-4799-ad52-521307dc668b?ref=BP_RSS_ninecelebrity_6_american-pie-star-thomas-ian-nicholas-reflects-on-25-year-annive_240125"><div class="tm-list-title">American Pie star Thomas Ian Nicholas reflects on 25-year anniversary of hit film and recalls awkward moment he watched it with his mum</div></a></li></ul></div>


</div>
<div class="ssi section">


   
   
   
   
    
   
      <div class="tm-video newClass02">
         
         
         
         
            
            
               
            
            
            
            
            
            
            
               
               
               
               
               
               
            
            
            
            
         
         
      </div>
   
   
</div>
<div class="ssi section">


   
   
   
   
    
   
      <div class="tm-video newClass02">
         
         
         
         
            
            
            
            
               
               
               
               
                  
               
               
               
            
            
            
            
            
               
               
               
               
                  
               
               
               
            
            
            
            
         
         
      </div>
   
   
</div>
<div class="ssi section">


   
   
   
   
    
   
      <div class="tm-video newClass02">
         
         
         
         
            
            
            
            
               
               
                  
               
               
               
               
               
            
            
            
            
            
               
               
               
               
               
               
            
            
            
            
         
         
      </div>
   
   
</div>
<div class="ssi section">


   
   
   
   
    
   
      <div class="tm-video newClass02">
         
         
         
         
            
            
            
            
               
               
               
               
               
               
            
            
            
            
            
               
               
                  
               
               
               
               
               
            
            
            
            
         
         
      </div>
   
   
</div>
<article class="advertisement section"><section class="tm-ad" role="complementary"><span class="tm-heading">Advertisement</span><span class="tmframe" title="300x250"></span></section></article>
<div class="ssi section">


   
   
   
   
    
   
      <div class="tm-video newClass02">
         
         
         
         
            
            
               
            
            
            
            
            
            
            
               
               
               
               
               
               
            
            
            
            
         
         
      </div>
   
   
</div>
<div class="ssi section">


   
   
   
   
    
   
      <div class="tm-video newClass02">
         
         
         
         
            
            
            
            
               
               
               
               
               
               
            
            
            
               
            
            
            
            
            
            
         
         
      </div>
   
   
</div>
<div class="tm-customtext section"><div id="ctxtcomp" style="margin-bottom:18px;">
	
			<p><div class="genretitle section" style="margin-top:-20px"><h2 class="tm-heading tm-magenta"><a href="https://www.telstra.com.au/mobile-phones/blue-tick">ADVICE</a><span class="icon-arrow-right"></span></h2></div></p>
</div></div>
<div class="manualstory section"><article itemscope itemprop="http://schema.org/Article" role="article"><figure itemprop="associatedMedia" role="img"><a itemscope itemtype="http://schema.org/ImageObject" href="https://www.telstra.com.au/mobile-phones/blue-tick?ref=BP_MANUAL_TELSTRA.COM.AU_how-do-we-test-blue-tick-phones_250125" alt="How do we test Blue Tick phones?" target="_blank"><img itemprop="contentURL" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/homepage/images/TelstraExchange/shutterstock_1661267131-1024x683.jpg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" title="How do we test Blue Tick phones?" class="article-media cq-dd-image"/></a><figcaption itemprop="caption">How do we test Blue Tick phones?</figcaption></figure><header><h1 itemprop="name"><a itemprop="url" href="https://www.telstra.com.au/mobile-phones/blue-tick?ref=BP_MANUAL_TELSTRA.COM.AU_how-do-we-test-blue-tick-phones_250125" target="_blank" alt="How do we test Blue Tick phones?">How do we test Blue Tick phones?</a></h1></header><p itemprop="articleBody">All your questions answered.</p></article></div>
<div class="media section">

<a class="media-left" href="https://exchange.telstra.com.au/find-your-lost-devices-with-the-updated-my-telstra-app/?ref=BP_ARTICLE_TEL_EXCH_find-your-lost-devices-_with-the-updated-my-telstra-app_250125" alt="Find your lost devices "><div class="imgwrapper"><img class="cq-dd-image" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/homepage/images/TelstraExchange/Tier-2_DEVICE-LOCATOR_Desktop.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" title="Find your lost devices "/></div>
	
	<div class="media-body"><h4 class="media-heading blue">Find your lost devices </h4><p>With the updated My Telstra app.</p></div>
	
	 
</a>

</div>
<div class="media section">

<a class="media-left" href="https://exchange.telstra.com.au/why-were-making-payphones-free-for-calls-around-australia/?ref=BP_ARTICLE_TEL_EXCH_payphone-calls-now-free-around-australia_anyone-can-now-use-all-of-our-15000-payphones-in-every-corner-of-the-country-to-make-calls-for-free_250125" alt="Payphone calls now free around Australia"><div class="imgwrapper"><img class="cq-dd-image" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/homepage/images/TelstraExchange/payphones_free.jpg/jcr:content/renditions/cq5dam.thumbnail.319.319.png" title="Payphone calls now free around Australia"/></div>
	
	<div class="media-body"><h4 class="media-heading blue">Payphone calls now free around Australia</h4><p>Anyone can now use all of our 15,000 payphones in every corner of the country to make calls for free.</p></div>
	
	 
</a>

</div>

</meta>
</div>
		<div class="col-sm-12 col-md-4" role="group"><div class="tm-customtext section"><div id="ctxtcomp" style="margin-bottom:18px;">
	
			<p><div class="genretitle section" style="margin-top:-20px"><h2 class="tm-heading tm-magenta"><a href="https://wwos.nine.com.au?ref=BP_HEADER_NEWS">Sport</a> <img src="/content/dam/homepage/images/HomePageV3/provided-by-9wwow.png" alt="Provided by 9 Wide World of Sports" style="margin-right:30px;margin-top:-2px;height:18px;display:inline;" ;><span class="icon-arrow-right"></span></h2></div></p>
</div></div>
<div class="rssstory section"><article itemscope itemprop="http://schema.org/Article" role="article"><figure itemprop="associatedMedia" role="img"><a itemscope itemtype="http://schema.org/ImageObject" href="https://wwos.nine.com.au/combat-sports/boxing-news-2025-british-heavyweight-tyson-fury-announces-retirement-after-usyk-defeat/9ffa123b-4743-4eb0-a817-a0fec7e9b4b2?ref=BP_RSS_ninesport_5_fury-drops-bizarre-message-in-announcing-retirement_130125" title="Fury drops bizarre message in announcing retirement"><img itemprop="contentURL" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" class="article-media" data-load="lazy" data-src="/content/dam/refdata/RssFeeds/ninesport/fury-drops-bizarre-message-in-announcing-retirement/pickerimag.jpg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" alt="Fury drops bizarre message in announcing retirement" title="Fury drops bizarre message in announcing retirement"/></a><!--<figcaption itemprop="caption">Fury drops bizarre message in announcing retirement</figcaption>--></figure><header><h1 itemprop="name"><a itemprop="url" href="https://wwos.nine.com.au/combat-sports/boxing-news-2025-british-heavyweight-tyson-fury-announces-retirement-after-usyk-defeat/9ffa123b-4743-4eb0-a817-a0fec7e9b4b2?ref=BP_RSS_ninesport_5_fury-drops-bizarre-message-in-announcing-retirement_130125">Fury drops bizarre message in announcing retirement</a></h1><time datetime="13/38/2025" itemprop="datePublished">13/38/2025</time></header><div itemprop="articleBody" class="afl-hide rss-spacing"><p>British heavyweight Tyson Fury has retired from boxing — again — one month after losing a rematch with Ukrainian Oleksandr Usyk.</p></div>
	
	
			<!--

*/--></article></div>
<div class="tm-media-list section">
	<h2></h2><ul class="left-aligned"><li><a href="https://wwos.nine.com.au/tennis/australian-open-2025-live-results-day-3-nick-kyrgios-alex-de-minaur-schedule-alexei-popyrin/aeb92d88-ef8f-4322-b6dc-5dc326decca5?ref=BP_RSS_ninesport_0_-couldn-t-hear-my-coach---rival-lifts-lid-on-kyrgios-circus_140125"><div class="tm-imgwrap"><img class="article-media" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/refdata/RssFeeds/ninesport/gadecki-joins-long-list-of-aussies-to-drop-out-on-day-three/pickerimag.jpg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" alt="Gadecki joins long list of Aussies to drop out on day three"/></div><div class="tm-list-title">Gadecki joins long list of Aussies to drop out on day three</div></a></li><li><a href="https://wwos.nine.com.au/olympics/news-2025-international-olympic-committee-send-new-medals-gary-hall-jr-california-wildfires/f081d57e-013b-4fce-a7d0-3d0b1ceab598?ref=BP_RSS_ninesport_0_touching-offer-after-olympic-great-s-medals-lost-in-fire_130125"><div class="tm-imgwrap"><img class="article-media" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/refdata/RssFeeds/ninesport/touching-offer-after-olympic-great-s-medals-lost-in-fire/26-2000-4x100m-freestyle-men-gold-at-sydney-200.jpg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" alt="Touching offer after Olympic great&#39;s medals lost in fire"/></div><div class="tm-list-title">Touching offer after Olympic great&#39;s medals lost in fire</div></a></li><li><a href="https://wwos.nine.com.au/tennis/australian-open-2025-nick-kyrgios-straight-sets-loss-jacob-fearnley-result-video-highlights/c44fa6fd-a959-463c-933f-39c5f163b2c0?ref=BP_RSS_ninesport_0_shock-kyrgios-retirement-admission-after-tough-defeat_130125"><div class="tm-imgwrap"><img class="article-media" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/refdata/RssFeeds/ninesport/shock-kyrgios-retirement-admission-after-tough-defeat/pickerimag.jpg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" alt="Shock Kyrgios retirement admission after tough defeat"/></div><div class="tm-list-title">Shock Kyrgios retirement admission after tough defeat</div></a></li><li><a href="https://wwos.nine.com.au/tennis/australian-open-2025-jelena-dokic-advice-emerson-jones-exclusive/e64eb9e8-f5af-4ce1-9f19-b90073ac43ce?ref=BP_RSS_ninesport_0_dokic-reveals-trap--amazing--aussie-teen-must-avoid_130125"><div class="tm-imgwrap"><img class="article-media" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/refdata/RssFeeds/ninesport/dokic-reveals-trap--amazing--aussie-teen-must-avoid/pickerimag.jpg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" alt="Dokic reveals trap &#39;amazing&#39; Aussie teen must avoid"/></div><div class="tm-list-title">Dokic reveals trap &#39;amazing&#39; Aussie teen must avoid</div></a></li><li><a href="https://wwos.nine.com.au/tennis/australian-open-2025-marta-kostyuk-war-in-ukraine-nao-hibino-result/956849d7-0033-4a7f-994a-7948b42026b6?ref=BP_RSS_ninesport_0_ukraine-star-wants-russians--belarusians-kicked-out_130125"><div class="tm-imgwrap"><img class="article-media" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/refdata/RssFeeds/ninesport/ukraine-star-wants-russians--belarusians-kicked-out/pickerimag.jpg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" alt="Ukraine star wants Russians, Belarusians kicked out"/></div><div class="tm-list-title">Ukraine star wants Russians, Belarusians kicked out</div></a></li></ul>


</div>
<div class="genretitle section"><h2 class="tm-heading tm-magenta"><a href="http://www.afl.com.au/">AFL</a><span class="icon-arrow-right"></span></h2></div>
<div class="tm-media-list section">
	<h2></h2><ul class="text-only"><li><a href="https://www.afl.com.au/news/1264840/the-fantasy-titbits-you-may-have-missed?ref=BP_RSS_afl-news_0_the-fantasy-titbits-you-may-have-missed_250125"><div class="tm-list-title">The Fantasy titbits you may have missed</div></a></li><li><a href="https://www.afl.com.au/news/1264858/former-essendon-player-melbourne-coach-and-fight-mnd-founder-neale-daniher-named-australian-of-the-year?ref=BP_RSS_afl-news_0_neale-daniher-named-australian-of-the-year_250125"><div class="tm-list-title">&#39;Remarkable&#39;: Neale Daniher named Australian of the Year</div></a></li><li><a href="https://www.afl.com.au/news/1258956/list-analysis-which-club-has-the-most-goalkicking-firepower?ref=BP_RSS_afl-news_0_list-analysis--which-club-has-the-most-goalkicking-firepower-_250125"><div class="tm-list-title">List analysis: Which club has the most goalkicking firepower?</div></a></li><li><a href="https://www.afl.com.au/news/1262997/milestone-men-the-landmark-moments-to-watch-for-in-2025?ref=BP_RSS_afl-news_0_milestone-watch--rare-achievement-in-sight--how-high-will-pendle_240125"><div class="tm-list-title">Milestone watch: Rare achievement in sight, how high will Pendlebury go?</div></a></li><li><a href="https://www.afl.com.au/news/1264428/port-adelaide-powers-2025-fantasy-preview-lock-in-this-midfield-bull-watch-on-draftee?ref=BP_RSS_afl-news_0_power-s-fantasy-preview--lock-in-this-midfield-bull--watch-on-dr_240125"><div class="tm-list-title">Power&#39;s Fantasy preview: Lock in this midfield bull, watch on draftee</div></a></li><li><a href="https://www.afl.com.au/news/1264837/injury-blow-for-young-essendon-bomber-alwyn-davey-jnr-after-promising-pre-season?ref=BP_RSS_afl-news_0_injury-blow-for-young-bomber-after-promising-pre-season_240125"><div class="tm-list-title">Blow for young Bomber after promising pre-season</div></a></li><li><a href="https://www.afl.com.au/news/1264822/elliot-yeo-leaves-west-coast-eagles-training-early-due-to-right-ankle-injury?ref=BP_RSS_afl-news_0_star-eagle-leaves-track-early-with-fresh-injury-blow-in-high-pre_240125"><div class="tm-list-title">Major injury blow as star Eagle sent for scans on knee</div></a></li></ul>


</div>

</meta><div class="ssi section">


   
   
   
   
    
   
      <div class="tm-video newClass02">
         
         
         
         
            
            
            
            
               
               
               
               
                  
               
               
               
            
            
            
            
            
               
               
               
               
                  
               
               
               
            
            
            
            
         
            
            
            
            
               
               
                  
               
               
               
               
               
            
            
            
            
            
               
               
                  
               
               
               
               
               
            
            
            
            
         
         
      </div>
   
   
</div>

</div>
		<div class="col-sm-12 col-md-4" role="group"><div class="genretitle section"><h2 class="tm-heading tm-green"><a href="https://exchange.telstra.com.au/">Tech News</a><span class="icon-arrow-right"></span></h2></div>
<div class="manualstory section"><article itemscope itemprop="http://schema.org/Article" role="article"><figure itemprop="associatedMedia" role="img"><a itemscope itemtype="http://schema.org/ImageObject" href="https://exchange.telstra.com.au/cyber-security-tips/?ref=BP_MANUAL_TEL_EXCH_how-to-keep-yourself-safe-your-questions-on-cyber-security-answered_250125" alt="How to keep yourself safe: your questions on cyber security answered"><img itemprop="contentURL" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/homepage/images/TelstraExchange/thumb_cyber-security-2.jpg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" title="How to keep yourself safe: your questions on cyber security answered" class="article-media cq-dd-image"/></a><figcaption itemprop="caption">How to keep yourself safe: your questions on cyber security answered</figcaption></figure><header><h1 itemprop="name"><a itemprop="url" href="https://exchange.telstra.com.au/cyber-security-tips/?ref=BP_MANUAL_TEL_EXCH_how-to-keep-yourself-safe-your-questions-on-cyber-security-answered_250125" alt="How to keep yourself safe: your questions on cyber security answered">How to keep yourself safe: your questions on cyber security answered</a></h1></header><p itemprop="articleBody">Over the past week, many of you have reached out to us with questions on cyber security and how to stay safe online.</p></article></div>
<div class="manualstory section"><article itemscope itemprop="http://schema.org/Article" role="article"><figure itemprop="associatedMedia" role="img"><a itemscope itemtype="http://schema.org/ImageObject" href="https://exchange.telstra.com.au/free-wi-fi-is-now-available-to-anyone-across-selected-telstra-payphones/?ref=BP_MANUAL_TEL_EXCH_access-free-wifi-on-telstra-payphones-_250125" alt="Access free Wi-Fi on Telstra payphones "><img itemprop="contentURL" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/homepage/images/TelstraExchange/TelstraFreePayphoneWiFi.jpg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" title="Access free Wi-Fi on Telstra payphones " class="article-media cq-dd-image"/></a><figcaption itemprop="caption">Access free Wi-Fi on Telstra payphones </figcaption></figure><header><h1 itemprop="name"><a itemprop="url" href="https://exchange.telstra.com.au/free-wi-fi-is-now-available-to-anyone-across-selected-telstra-payphones/?ref=BP_MANUAL_TEL_EXCH_access-free-wifi-on-telstra-payphones-_250125" alt="Access free Wi-Fi on Telstra payphones ">Access free Wi-Fi on Telstra payphones </a></h1></header><p itemprop="articleBody">We&#39;ve switched on free Wi-Fi across 4000 of our payphones.</p></article></div>
<article class="advertisement section"><section class="tm-ad" role="complementary"><span class="tm-heading">Advertisement</span><span class="tmframe" title="300x250"></span></section></article>
<div class="manualstory section"><article itemscope itemprop="http://schema.org/Article" role="article"><figure itemprop="associatedMedia" role="img"><a itemscope itemtype="http://schema.org/ImageObject" href="https://exchange.telstra.com.au/say-gday-call-centres-back-in-australia/?ref=BP_MANUAL_TEL_EXCH_our-call-centres-are-back-in-australia_250125" alt="Our call centres are back in Australia" target="_blank"><img itemprop="contentURL" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="/content/dam/homepage/images/TelstraExchange/shutterstock_1589718121-scaled.jpg/jcr:content/renditions/Rendition-RSS-JPG.jpeg" title="Our call centres are back in Australia" class="article-media cq-dd-image"/></a><figcaption itemprop="caption">Our call centres are back in Australia</figcaption></figure><header><h1 itemprop="name"><a itemprop="url" href="https://exchange.telstra.com.au/say-gday-call-centres-back-in-australia/?ref=BP_MANUAL_TEL_EXCH_our-call-centres-are-back-in-australia_250125" target="_blank" alt="Our call centres are back in Australia">Our call centres are back in Australia</a></h1></header><p itemprop="articleBody">We’ve hired around 2000 new team members across the country to answer your consumer and small business calls.</p></article></div>
<div class="image section"> <img class="tm-img cq-dd-image" src="/etc.clientlibs/homepage/clientlibs/clientlibs/resources/img/0.gif" data-load="lazy" data-src="https://media.telstra.com.au/content/dam/homepage/images/My-Telstra-TMHP-banner-490x190.gif" alt="Telstra App" title="Telstra App" data-src-mob="https://media.telstra.com.au/content/dam/homepage/images/My-Telstra-TMHP-banner-490x190.gif"/></div>
<div class="ssi section">


   
   
   
   
    
   
      <div class="tm-video newClass02">
         
         
         
         
            
            
            
            
               
               
               
               
               
               
            
            
            
               
            
            
            
            
            
            
         
         
      </div>
   
   
</div>

</meta>
</div>
	</div>
	<div class="col-sm-12">
		<div class="row"><article class="advertisement section"><section class="tm-ad" role="complementary"><span class="tm-heading">Advertisement</span><span class="tmframe" title="300x50,320x50,728x90,970x250,970x90"></span></section></article>

</div>
	</div>
</main>
<div class="stickyadmtrue"></div><div class="stickyaddtrue"></div>

    
<script src="/etc.clientlibs/homepage/clientlibs/tmstickyad.lc-265a855529f91bae948b45457ee540cd-lc.min.js"></script>


</div>

<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!--[if IE]><![endif]-->
    <head>
        

        
    
<script defer="defer" type="text/javascript" src="/.rum/@adobe/helix-rum-js@%5E2/dist/rum-standalone.js"></script>
<link rel="stylesheet" href="/etc.clientlibs/tmhf/clientlibs/tmhf.src.2.0.lc-32232794265a3d2b21bf57c7bc7e1b77-lc.min.css" type="text/css">


</meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <title>index</title>
    </head>
	<body id="tmx-unmetered" role="document"> <!-- re-using the tmx-unmetered class to prevent the iframed content from loading in author -->
        <svg style="display:none;"><symbol viewBox="77 287.6 765 218.4" id="tmx-svg-tmedia"> <title>tmedia</title> <g> <g> <path class="tmedia-text" d="M435.5,441.8c-4.1,0-8.1-2.6-8.1-7.6V332.8l-27.4,63c-1.5,4.1-5,5.5-8.7,5.5c-4.1,0-7-2-9.1-5.5l-27.9-63v101.5c0,5-4.1,7.6-8.1,7.6s-8.1-2.6-8.1-7.6v-129c0-5.5,2-9.1,9.1-9.1h0.6c5.5,0,8.1,3,9.1,6.1l33.5,74.5l33-74.5c2-3,4.5-6.1,10.2-6.1h0.6c7,0,9.1,3.5,9.1,9.1v129C443.5,439.3,439.5,441.8,435.5,441.8z"/> <path class="tmedia-text" d="M547.1,440.8h-65c-4.1,0-8.1-3.5-8.1-8.1V305.3c0-4.1,3.5-8.1,8.1-8.1h65c5.5,0,8.1,4.1,8.1,8.1c0,4.1-2.6,8.1-8.1,8.1h-57.3v45.7h39.5c5,0,8.1,4.1,8.1,8.1c0,4.1-2.6,8.1-8.1,8.1h-39.5v50.3h57.3c5.5,0,8.1,4.1,8.1,8.1C554.8,437.3,552.6,440.8,547.1,440.8z"/> <path class="tmedia-text" d="M622.1,440.8h-33.5c-4.1,0-8.1-3.5-8.1-8.1V305.3c0-4.1,3.5-8.1,8.1-8.1h33.5c21.8,0,39,17.7,39,39v65C661.3,423.6,644,440.8,622.1,440.8z M646.1,336.8c0-13.2-10.2-23.8-23.3-23.8h-25.9V425h25.9c13.2,0,23.8-10.7,23.8-23.8v-64.4L646.1,336.8L646.1,336.8z"/> <path class="tmedia-text" d="M699,441.8c-4.1,0-8.1-2.6-8.1-7.6v-130c0-5,4.1-8.1,8.1-8.1s8.1,2.6,8.1,8.1v130.4C706.3,439.3,702.5,441.8,699,441.8z"/> <path class="tmedia-text" d="M822.5,441.8c-3,0-6.1-1.5-7.6-5.5l-9.1-30h-51.2l-9.1,30c-0.9,4.1-4.1,5.5-7,5.5c-4.5,0-8.1-3.5-8.1-7.6c0-0.6,0-1.5,0.6-2.6l40.5-130c0.9-4.1,5-5.5,9.1-5.5c4.5,0,8.1,2,9.7,5.5l40.5,129.9c0,0.9,0.6,2,0.6,2.6C830.8,438.8,827.1,441.8,822.5,441.8z M780,324.6l-20.8,66.5h41.1L780,324.6z"/> </g> <path class="tmedia-circle" fill="currentColor" d="M205.1,385.4l-7.6,45.7c-1.5,8.1-7,10.7-11.7,10.7h-36l15.2-83.7c-15.2-7-30.5-11.7-43.1-11.7c-11.7,0-21.3,3-27.4,10.7c-5,5.5-7,12.2-7,19.8c0,23.8,18.7,56.8,50.7,83.7c28.4,23.8,59.9,37,83.3,37c11.7,0,20.8-3.5,26.9-10.7c4.5-5.5,6.6-12.2,6.6-20.3C254.3,444.3,235.7,411.8,205.1,385.4z"/> <g> <path class="tmedia-t" d="M140.7,296.6c-6.1,0-10.7,3.5-12.2,9.7l-5,27.4h45.1l-19.2,107.5h36c4.5,0,10.2-2,11.7-10.7l16.7-96.9h32.5c5.5,0,10.7-4.1,11.7-9.7l5-28L140.7,296.6L140.7,296.6z"/> </g> </g> </symbol></svg>
        <!--googleoff:index--><div id="bphf-bottom"><div id="tmx-footer" role="region" data-src-nrl="//media.telstra.com.au/global_footer/nrl.html" data-src-afl="//media.telstra.com.au/global_footer/afl.html"><span id="tmx-footerad"></span><div class="tmx-wrap"><ul class="tmx-menu tmx-left" role="menu"><li role="menuitem" class="tmx-item section"><a class="tmx-web tmx-visible-xs" href="http://media.telstra.com.au/web.html?ref=Net-Footer-Web">Web</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-my tmx-visible-xs" href="http://m.bigpond.com/mpm/">My</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-contactus" href="https://www.telstra.com.au/contact-us">Contact Us</a></li>
<li role="menuitem" class="tmx-item section">Online Security</li>
<li role="menuitem" class="tmx-item section"><a class="tmx-telstramediaprivacy" href="http://www.telstra.com.au/privacy/privacy-statement/?ref=Net-Footer-Corp-Privacy">Telstra Media Privacy</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-termsofuse" href="https://www.telstra.com.au/terms-of-use.html?ref=Net-Footer-Corp-Terms">Terms of Use</a></li>
<li role="menuitem" class="tmx-item section"><a class="tmx-copyrighttrademark" href="http://www.telstra.com.au/terms-of-use/?ref=Net-Footer-Corp-CopyTM#IntellectualProperty">Copyright &amp; Trademark</a></li>

</ul><ul class="tmx-menu tmx-right" role="menu"><div class="tmx-tmedia section"><a href="http://media.telstra.com.au/?ref=Net-footer-medialogo"><svg role="img" class="tmediasvg"><title>Telstra Media</title><use class="tmediasvg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tmx-svg-tmedia"></use></svg></a></div>

</ul></div></div></div><!--googleon:index--><div id="bphf-stat"><script src="/bphf/res/js/tmhf.src.2.0.min.js"></script><!-- bphfOVIS --></div>
        
    
<script src="/etc.clientlibs/tmhf/clientlibs/tmhf.src.external.lc-98c2af6b0a76d760744d2ed9828302c8-lc.min.js"></script>
<script src="/etc.clientlibs/tmhf/clientlibs/tmhf.src.2.0.lc-3ca39ebbb3265513d1b3cb35afed0847-lc.min.js"></script>


</meta>
    </body>
</html>

    
<script src="/etc.clientlibs/clientlibs/granite/jquery.lc-f9e8e8c279baf6a1a278042afe4f395a-lc.min.js"></script>
<script src="/etc.clientlibs/clientlibs/granite/utils.lc-899004cc02c33efc1f6694b1aee587fd-lc.min.js"></script>
<script src="/etc.clientlibs/clientlibs/granite/jquery/granite.lc-011c0fc0d0cf131bdff879743a353002-lc.min.js"></script>
<script src="/etc.clientlibs/foundation/clientlibs/jquery.lc-dd9b395c741ce2784096e26619e14910-lc.min.js"></script>
<script src="/etc.clientlibs/foundation/clientlibs/shared.lc-e9d9a3990d7779c2e8e3361187f3d36b-lc.min.js"></script>
<script src="/etc.clientlibs/homepage/clientlibs/clientlibs.lc-1687606abc9942209918ef556634ebdc-lc.min.js"></script>


</meta>
<script async type="text/javascript" src="/content/homepage/analytics.js"></script>
</meta></meta></meta><div id="breakpoints"><div class="device-xs visible-xs"></div><div class="device-sm visible-sm"></div><div class="device-md visible-lg"></div><div class="device-lg visible-lg"></div></div>


</body>
</html>