/* scrollbar.css */

/* Estilo para navegadores basados en WebKit (Chrome, Safari, Edge Chromium) */
@supports (-webkit-touch-callout: none) {
  /* Estilo para el contenedor de la barra de scroll */
  ::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de scroll */
  }

  /* Estilo para el pulgar de la barra de scroll (parte desplazable) */
  ::-webkit-scrollbar-thumb {
    background-color: #7a726b; /* Color del pulgar */
    border-radius: 10px; /* Bordes redondeados para el pulgar */
    border: 2px solid #7a726b; /* Borde del mismo color para dar un espacio visual */
  }

  /* Estilo para la pista de la barra de scroll (fondo) */
  ::-webkit-scrollbar-track {
    background-color: var(--text_color); /* Color de fondo de la pista de la barra de scroll */
  }
}

/* Estilos específicos para Firefox */
@-moz-document url-prefix() {
  html {
    scrollbar-width: thin; /* Define el ancho de la barra de scroll como fino */
    scrollbar-color: #7a726b var(--text_color); /* Color del pulgar y de la pista (fondo) en Firefox */
  }
}

/* Estilos para Microsoft Edge y IE 10+ */
body {
  -ms-overflow-style: none; /* Oculta la barra de desplazamiento nativa en IE y Edge */
}

/* Estilo personalizado para Microsoft Edge y IE 10+ */
body::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de scroll */
}

body::-webkit-scrollbar-thumb {
  background-color: #7a726b; /* Color del pulgar */
  border-radius: 10px; /* Bordes redondeados para el pulgar */
  border: 2px solid #7a726b; /* Borde alrededor del pulgar */
}

body::-webkit-scrollbar-track {
  background-color: var(--text_color); /* Color de la pista de la barra de scroll */
}
