.ct-section {
width:100%;
background-size:cover;
background-repeat:repeat;
}
.ct-section>.ct-section-inner-wrap {
display:flex;
flex-direction:column;
align-items:flex-start;
}
.ct-div-block {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.ct-new-columns {
display:flex;
width:100%;
flex-direction:row;
align-items:stretch;
justify-content:center;
flex-wrap:wrap;
}
.ct-link-text {
display:inline-block;
}
.ct-link {
display:flex;
flex-wrap:wrap;
text-align:center;
text-decoration:none;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-link-button {
display:inline-block;
text-align:center;
text-decoration:none;
}
.ct-link-button {
background-color: #1e73be;
border: 1px solid #1e73be;
color: #ffffff;
padding: 10px 16px;
}
.ct-image {
max-width:100%;
}
.ct-fancy-icon>svg {
width:55px;height:55px;}
.ct-inner-content {
width:100%;
}
.ct-slide {
display:flex;
flex-wrap:wrap;
text-align:center;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-nestable-shortcode {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-comments {
width:100%;
text-align:left;
}
.oxy-comment-form {
width:100%;
}
.oxy-login-form {
width:100%;
}
.oxy-search-form {
width:100%;
}
.oxy-tabs-contents {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab-content {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-testimonial {
width:100%;
}
.oxy-icon-box {
width:100%;
}
.oxy-pricing-box {
width:100%;
}
.oxy-posts-grid {
width:100%;
}
.oxy-gallery {
width:100%;
}
.ct-slider {
width:100%;
}
.oxy-tabs {
display:flex;
flex-wrap:nowrap;
flex-direction:row;
align-items:stretch;
}
.ct-modal {
flex-direction:column;
align-items:flex-start;
}
.ct-span {
display:inline-block;
text-decoration:inherit;
}
.ct-widget {
width:100%;
}
.oxy-dynamic-list {
width:100%;
}
            .oxy-testimonial {
                flex-direction: row;
                align-items: center;
            }
                        .oxy-testimonial .oxy-testimonial-photo-wrap {
                order: 1;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo {
                width: 125px;                height: 125px;                margin-right: 20px;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo-wrap, 
            .oxy-testimonial .oxy-testimonial-author-wrap, 
            .oxy-testimonial .oxy-testimonial-content-wrap {
                align-items: flex-start;                text-align: left;            }
            
                                                            .oxy-testimonial .oxy-testimonial-text {
                margin-bottom:8px;font-size: 21px;
line-height: 1.4;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
                                    .oxy-testimonial .oxy-testimonial-author {
                font-size: 18px;
-webkit-font-smoothing: subpixel-antialiased;
            }
                            

                                                .oxy-testimonial .oxy-testimonial-author-info {
                font-size: 12px;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
             
            
                        .oxy-icon-box {
                text-align: left;                flex-direction: column;            }
            
                        .oxy-icon-box .oxy-icon-box-icon {
                margin-bottom: 12px;
                align-self: flex-start;            }
            
                                                                        .oxy-icon-box .oxy-icon-box-heading {
                font-size: 21px;
margin-bottom: 12px;            }
            
                                                                                    .oxy-icon-box .oxy-icon-box-text {
                font-size: 16px;
margin-bottom: 12px;align-self: flex-start;            }
            
                        .oxy-icon-box .oxy-icon-box-link {
                margin-top: 20px;                            }
            
            
            /* GLOBALS */

                                                            .oxy-pricing-box .oxy-pricing-box-section {
                padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
text-align: center;            }
                        
                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                justify-content: center;            }
            
            /* IMAGE */
                                                                                    .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-graphic {
                justify-content: center;            }
            
            /* TITLE */
                                                            
                                    .oxy-pricing-box .oxy-pricing-box-title-title {
                font-size: 48px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-title-subtitle {
                font-size: 24px;
            }
            

            /* PRICE */
                                                .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                                                flex-direction: row;                                            }
            
                                    .oxy-pricing-box .oxy-pricing-box-currency {
                font-size: 28px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-main {
                font-size: 80px;
line-height: 0.7;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-decimal {
                font-size: 13px;
            }
                        
                                    .oxy-pricing-box .oxy-pricing-box-term {
                font-size: 16px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-sale-price {
                font-size: 12px;
color: rgba(0,0,0,0.5);
                margin-bottom: 20px;            }
            
            /* CONTENT */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-content {
                font-size: 16px;
color: rgba(0,0,0,0.5);
            }
            
            /* CTA */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-cta {
                justify-content: center;            }
            
        
                                .oxy-progress-bar .oxy-progress-bar-background {
            background-color: #000000;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);            animation: none 0s paused;        }
                
                .oxy-progress-bar .oxy-progress-bar-progress-wrap {
            width: 85%;        }
        
                                                        .oxy-progress-bar .oxy-progress-bar-progress {
            background-color: #66aaff;padding: 40px;animation: none 0s paused, none 0s paused;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);        
        }
                
                        .oxy-progress-bar .oxy-progress-bar-overlay-text {
            font-size: 30px;
font-weight: 900;
-webkit-font-smoothing: subpixel-antialiased;
        }
        
                        .oxy-progress-bar .oxy-progress-bar-overlay-percent {
            font-size: 12px;
        }
        
        .ct-slider .unslider-nav ol li {border-color: #ffffff; }.ct-slider .unslider-nav ol li.unslider-active {background-color: #ffffff; }.ct-slider .ct-slide {
				padding: 0px;			}
		
                        .oxy-superbox .oxy-superbox-secondary, 
            .oxy-superbox .oxy-superbox-primary {
                transition-duration: 0.5s;            }
            
            
            
            
            
        
        
        
        
            .oxy-shape-divider {
                width: 0px;
                height: 0px;
                
            }
            
            .oxy_shape_divider svg {
                width: 100%;
            }
            .oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu{
box-shadow:px px px px ;}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a div{
margin-left:0px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
width:30px;
height:30px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon{
padding-top:15px;
padding-right:15px;
padding-bottom:15px;
padding-left:15px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon, .oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon{
top:20px;
left:20px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
width:24px;
height:24px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon, .oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container{
background-color:#ffffff;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-open-container{
background-image:url();
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item-has-children > a svg, .oxy-pro-menu .oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item-has-children > a svg{
font-size:24px;
}

.oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-open-container .menu-item-has-children ul, .oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-off-canvas-container .menu-item-has-children ul{
background-color:rgba(0,0,0,0.2);
border-top-style:solid;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .oxy-pro-menu-list{
                    flex-direction: row;
               }
.oxy-pro-menu .oxy-pro-menu-container .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item{
                    align-items: flex-start;
                }

            .oxy-pro-menu .oxy-pro-menu-off-canvas-container{
                    top: 0;
                    bottom: 0;
                    right: auto;
                    left: 0;
               }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item a, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }

            .oxy-site-navigation {
--oxynav-brand-color:#4831B0;
--oxynav-neutral-color:#FFFFFF;
--oxynav-activehover-color:#EFEDF4;
--oxynav-background-color:#4831B0;
--oxynav-border-radius:0px;
--oxynav-other-spacing:8px;
--oxynav-transition-duration:0.3s;
--oxynav-transition-timing-function:cubic-bezier(.84,.05,.31,.93);
}

.oxy-site-navigation .oxy-site-navigation__mobile-close-wrapper{
text-align:left;
}

.oxy-site-navigation > ul{ left: 0; }
.oxy-site-navigation {
                        --oxynav-animation-name: none; 
                    }

                .oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(1){ 
                    background-color: var(--oxynav-brand-color);
                    transition: var(--oxynav-transition-duration);
                    margin-left: var(--oxynav-other-spacing);
                    border: none;
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(2){ 
                    background: transparent;
                    border: 1px solid currentColor;
                    transition: var(--oxynav-transition-duration);
                    margin-left: var(--oxynav-other-spacing);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(2):not(:hover) > img{
                    filter: invert(0) !important;
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:hover{
                    background-color: var(--oxynav-activehover-color);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(1) > a{
                    color: var(--oxynav-neutral-color);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(2) > a{
                    color: var(--oxynav-brand-color);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:hover > a{
                    color: var(--oxynav-brand-color);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(1) > a::after{
                    color: var(--oxynav-neutral-color);   
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(2) > a::after{
                    color: var(--oxynav-brand-color);   
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:hover > a::after{
                    color: var(--oxynav-brand-color);   
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true'] > ul{
                    display: none;
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true'] > button, .oxy-site-navigation > ul:not(.open) > li[data-cta='true'] > ul{
                    display: none;
                }

                .ct-section-inner-wrap, .oxy-header-container{
  max-width: 1360px;
}
body {font-family: 'Rubik';}body {line-height: 1.6;font-size: 16px;font-weight: 400;color: ;}.oxy-nav-menu-hamburger-line {background-color: ;}h1, h2, h3, h4, h5, h6 {font-family: 'Rubik';}a {color: #1666ef;text-decoration: underline;}a:hover {text-decoration: none;}.ct-link-text {text-decoration: ;}.ct-link {text-decoration: ;}.ct-link-button {border-radius: 3px;}.ct-section-inner-wrap {
padding-top: var(--gap-xxl) ;
padding-right: var(--gap-md) ;
padding-bottom: var(--gap-xxl) ;
padding-left: var(--gap-md) ;
}.ct-new-columns > .ct-div-block {
padding-top: var(--gap-md);
padding-right: var(--gap-md);
padding-bottom: var(--gap-md);
padding-left: var(--gap-md);
}.oxy-header-container {
padding-right: var(--gap-md) ;
padding-left: var(--gap-md) ;
}@media (max-width: 992px) {
				.ct-columns-inner-wrap {
					display: block !important;
				}
				.ct-columns-inner-wrap:after {
					display: table;
					clear: both;
					content: "";
				}
				.ct-column {
					width: 100% !important;
					margin: 0 !important;
				}
				.ct-columns-inner-wrap {
					margin: 0 !important;
				}
			}
.spacing-lg {
}
.spacing-sm {
}
.spacing-xs {
}
.icon-54 {
}
.spacing-md {
 padding-bottom:0px;
}
.py-lg {
}
.py-sm {
}
.text-sm {
}
.border-radius-md {
}
.px-md {
}
.icon-32 {
}
.section-py-0 {
}
.btn {
}
.btn-link {
}
.px-0 {
}
.py-0 {
}
.h4 {
}
.px-sm {
}
.py-xxs {
}
.px-lg {
}
.h3 {
}
.icon-10 {
}
.lead {
}
.submit-form-block {
}
.d-none {
}
.submit-form-success {
}
.p-md {
}
.side-sticky {
}
.btn-block {
}
.btn-secondary {
}
.spacing-xl {
}
.btn-primary {
}
.action-contact-us {
}
.btn-dark {
}
.action-find-more-direct-sdk {
}
.side-tabs {
}
.side-tabs:not(.ct-section):not(.oxy-easy-posts),
.side-tabs.oxy-easy-posts .oxy-posts,
.side-tabs.ct-section .ct-section-inner-wrap{
display:flex;
}
.tab {
}
.active {
}
.side-tabs-content {
}
.tab-hidden {
}
.footer-logo {
}
.btn-sm {
}
.btn-dark-stroke {
}
.action-header-log-in {
}
.action-header-sign-up {
}
.page-header {
}
.header-logo {
}
.nav-toggle {
}
.menu-toggle {
}
.nav-items {
}
.actions {
}
.buttons {
}
.section-pt-xxl {
}
.section-pb-md {
}
.section-pb-xxl {
}
.tab-fade {
}
.splide__slide {
}
.no-lazy {
}
.tabs {
}
.tab-red {
}
.tab-blue {
}
.tab-yellow {
}
.tab-violet {
}
.pt-sm {
}
.wrap-for-splide {
}
.copy-menu {
}
.page-footer {
}
.spacing-m {
}
.h5 {
}
.p-sm {
}
.footer-menu {
}
.click-image-change {
}
.slide {
}
.showing {
}
.secondary-menu {
}
.action-find-more-devops {
}
.action-find-more-demand {
}
.action-find-more-sdk {
}
.action-find-more-mediation {
}
.action-find-more-in-house {
}
.action-find-more-slide-sdk {
}
.action-find-more-slide-mediation {
}
.action-find-more-slide-in-house {
}
.action-find-more-transparency {
}
.action-find-more-partners {
}
.add-wrap-for-splide {
}
:root {
	--color-red-50: #fce9e8;
	--color-red-100: #fad3d1;
	--color-red-200: #f4a6a4;
	--color-red-300: #ef7a76;
	--color-red-400: #ea4e48;
	--color-red-500: #e83f39;
	--color-red-600: #b71b15;
	--color-red-700: #891410;
	--color-red-800: #5b0d0b;

	--color-yellow-50: #fff7e5;
	--color-yellow-100: #ffeecc;
	--color-yellow-200: #ffdd99;
	--color-yellow-300: #ffcc66;
	--color-yellow-400: #ffbb33;
	--color-yellow-500: #ffb82b;
	--color-yellow-600: #ff9900;
	--color-yellow-700: #ff7a00;
	--color-yellow-800: #ff5c00;

	--color-blue-50: #e7effd;
	--color-blue-100: #cfe0fc;
	--color-blue-200: #a0c0f8;
	--color-blue-300: #70a1f5;
	--color-blue-400: #335ffe;
	--color-blue-500: #1666ef;
	--color-blue-600: #0027b1;
	--color-blue-700: #1a2379;
	--color-blue-800: #0c124a;

	--color-violet-50: #f0ebfa;
	--color-violet-100: #e2d6f5;
	--color-violet-200: #c5aeea;
	--color-violet-300: #a885e0;
	--color-violet-400: #8b5dd5;
	--color-violet-500: #5d2cac;
	--color-violet-600: #582aa2;
	--color-violet-700: #421f7a;
	--color-violet-800: #2c1551;

	--color-green-50: #e7fdef;
	--color-green-100: #d0fbde;
	--color-green-200: #a1f7be;
	--color-green-300: #71f49d;
	--color-green-400: #42f07c;
	--color-green-500: #12df56;
	--color-green-600: #0fbd49;
	--color-green-700: #0b8e37;
	--color-green-800: #085e25;

	--color-turq-50: #e5fffa;
	--color-turq-100: #ccfff6;
	--color-turq-200: #99ffec;
	--color-turq-300: #66ffe3;
	--color-turq-400: #33ffda;
	--color-turq-500: #00ffd0;
	--color-turq-600: #00cca7;
	--color-turq-700: #00997d;
	--color-turq-800: #006653;

	--color-dark-0: #ffffff;
	--color-dark-50: #f1f2f4;
	--color-dark-100: #e3e4e8;
	--color-dark-200: #c7cad1;
	--color-dark-300: #abafba;
	--color-dark-400: #8f95a3;
	--color-dark-500: #5c6270;
	--color-dark-600: #454954;
	--color-dark-700: #2e3138;
	--color-dark-800: #1f2126;
	--color-dark-900: #17181c;
	--color-dark-950: #000000;
	
    --border-radius-xs: .5rem;
    --border-radius-sm-in: 0.8rem;
    --border-radius-sm: 1rem;
	--border-radius-md: 2rem;
    --border-radius-lg: 3rem;
	
	--vw: 1vw;
	--vw-100: 100vw;
	
	--border-width: 2px;
	
	--transition: all 0.2s ease-in-out;
	--transition-x2: all 0.4s ease-in-out;

	--w-xs: 360px;
	--w-sm: 480px;
	--w-md: 768px;
	--w-lg: 992px;
	--w-xl: 1280px;
	--w-xl-wrap: 1360px;

	--w-xs-max: 359px;
	--w-sm-max: 479px;
	--w-md-max: 767px;
	--w-lg-max: 991px;
	--w-xl-max: 1279px;
	--w-xl-wrap-max: 1359px;

	--text-xxs: clamp(1.0rem, calc(1.0rem + (1.2 - 1.0) * ((100vw - 48rem) / (128 - 48))), 1.2rem);
	--text-xs: clamp(1.2rem, calc(1.2rem + (1.4 - 1.2) * ((100vw - 48rem) / (128 - 48))), 1.4rem);
	--text-sm: clamp(1.4rem, calc(1.4rem + (1.6 - 1.4) * ((100vw - 48rem) / (128 - 48))), 1.6rem);
	--text-md: clamp(1.7rem, calc(1.7rem + (2.0 - 1.7) * ((100vw - 48rem) / (128 - 48))), 2.0rem);
	--text-lg: clamp(1.8rem, calc(1.8rem + (2.2 - 1.8) * ((100vw - 48rem) / (128 - 48))), 2.2rem);
	
	--text-h1: clamp(4.2rem, calc(4.2rem + (6.4 - 4.2) * ((100vw - 48rem) / (128 - 48))), 6.4rem); /* -35% */
	--text-h2: clamp(3.8rem, calc(3.8rem + (4.8 - 3.8) * ((100vw - 48rem) / (128 - 48))), 4.8rem);
	--text-h3: clamp(2.6rem, calc(2.6rem + (3.2 - 2.6) * ((100vw - 48rem) / (128 - 48))), 3.2rem);
	--text-h4: clamp(2.4rem, calc(2.4rem + (2.8 - 2.4) * ((100vw - 48rem) / (128 - 48))), 2.8rem);
	--text-h5: var(--text-lg);
	--text-h6: var(--text-md);

	--text-body: var(--text-md);
	
	--icon-54: clamp(4rem, calc(4rem + (5.4 - 4) * ((100vw - 48rem) / (128 - 48))), 5.4rem);
	--icon-48: clamp(3.8rem, calc(3.8rem + (4.8 - 3.8) * ((100vw - 48rem) / (128 - 48))), 4.8rem);
	--icon-32: clamp(2.6rem, calc(2.6rem + (3.2 - 2.6) * ((100vw - 48rem) / (128 - 48))), 3.2rem);
	--icon-10: clamp(0.75rem, calc(0.75rem + (1 - 0.75) * ((100vw - 48rem) / (128 - 48))), 1rem);
	
	--gap-xxs: clamp(0.45rem, calc(0.45rem + (0.65 - 0.45) * ((100vw - 48rem) / (128 - 48))), 0.65rem);
	--gap-xs: clamp(0.75rem, calc(0.75rem + (1 - 0.75) * ((100vw - 48rem) / (128 - 48))), 1rem);
	--gap-sm: clamp(1.5rem, calc(1.5rem + (2 - 1.5) * ((100vw - 48rem) / (128 - 48))), 2rem);
	--gap-md: clamp(3rem, calc(3rem + (4 - 3) * ((100vw - 48rem) / (128 - 48))), 4rem);
	--gap-lg: clamp(4.5rem, calc(4.5rem + (6 - 4.5) * ((100vw - 48rem) / (128 - 48))), 6rem);
	--gap-xl: clamp(6rem, calc(6rem + (8 - 6) * ((100vw - 48rem) / (128 - 48))), 8rem);
	--gap-xxl: clamp(7.5rem, calc(7.5rem + (10 - 7.5) * ((100vw - 48rem) / (128 - 48))), 10rem);
	
	--input-height: clamp(4.6rem, calc(4.6rem + (5.2 - 4.6) * ((100vw - 48rem) / (128 - 48))), 5.2rem);
	
	--btn-text: var(--text-lg);
	--btn-p-x: clamp(2.4rem, calc(2.4rem + (3.2 - 2.4) * ((100vw - 48rem) / (128 - 48))), 3.2rem);
	--btn-p-y: clamp(1.8rem, calc(1.8rem + (2.4 - 1.8) * ((100vw - 48rem) / (128 - 48))), 2.4rem);
	--btn-h: calc(var(--btn-p-y) * 2 + var(--btn-text));
	
	--btn-sm-text: var(--text-md);
	--btn-sm-p-x: clamp(1.8rem, calc(1.8rem + (2.4 - 1.8) * ((100vw - 48rem) / (128 - 48))), 2.4rem);
	--btn-sm-p-y: clamp(1.2rem, calc(1.2rem + (1.6 - 1.2) * ((100vw - 48rem) / (128 - 48))), 1.6rem);
	--btn-sm-h: calc(var(--btn-sm-p-y) * 2 + var(--btn-sm-text));
	
	--header-height: calc(var(--text-body) + var(--gap-md) * 2);
    --fixed-header-height: calc(var(--text-body) + var(--gap-sm) * 2 * 1.5);
  
  	--appodeal-header-logo-w: clamp(14.25rem, calc(14.25rem + (19 - 14.25) * ((100vw - 48rem) / (128 - 48))), 19rem);
  	--bidmachine-header-logo-w: clamp(17.25rem, calc(17.25rem + (23 - 17.25) * ((100vw - 48rem) / (128 - 48))), 23rem);
  	--appgrowth-header-logo-w: clamp(16.575rem, calc(16.575rem + (22.1 - 16.575) * ((100vw - 48rem) / (128 - 48))), 22.1rem);
	
	--header-logo-w: var(--bidmachine-header-logo-w);
	--header-logo-h: clamp(2.55rem, calc(2.55rem + (3.4 - 2.55) * ((100vw - 48rem) / (128 - 48))), 3.4rem);

	--footer-logo-w: var(--header-logo-w);
	--footer-logo-h: var(--header-logo-h);
}
html {
	font-size: 62.5%;
}
body {
	font-size: var(--text-body);
	color: var(--color-dark-800);
    min-width: var(--w-xs);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-dark-800);
}
.text-md {
	font-size: var(--text-md);
}
.text-sm {
	font-size: var(--text-sm);
}
.text-xs {
	font-size: var(--text-xs);
}
.text-xxs {
	font-size: var(--text-xxs);
}
.lead {
	font-size: var(--text-h4);
	color: var(--color-dark-600);
}
.page-header .ct-section-inner-wrap,
.page-footer .ct-section-inner-wrap,
.ct-inner-content .ct-section .ct-section-inner-wrap {
	max-width: var(--w-xl-wrap);
}
h1,
.h1,
h2.big,
.h2.big {
	font-size: var(--text-h1);
	line-height: 1;
}
h2,
.h2,
h3.big,
.h3.big {
	font-size: var(--text-h2);
	line-height: 1.1;
}
h3,
.h3,
h2.small,
.h2.small,
h4.big,
.h4.big {
	font-size: var(--text-h3);
	line-height: 1.2;
}
h4,
.h4,
h3.small,
.h3.small,
h5.big,
.h5.big {
	font-size: var(--text-h4);
	line-height: 1.3;
}
h5,
.h5,
h4.small,
.h4.small,
h6.big,
.h6.big {
	font-size: var(--text-h5);
	line-height: 1.4;
}
h6,
.h6,
h5.small,
.h5.small {
	font-size: var(--text-h6);
}
.hidden,
.d-none {
    display: none !important;
}
.border-radius-xs {
	border-radius: var(--border-radius-xs);
}
.border-radius-sm {
	border-radius: var(--border-radius-sm);
}
.border-radius-md {
	border-radius: var(--border-radius-md);
}
.border-radius-lg {
	border-radius: var(--border-radius-lg);
}/*
 * 0
 */
.px-0,
.btn.px-0 {
	padding-left: 0;
	padding-right: 0;
}
.py-0,
.btn.py-0,
.section-py-0 > .ct-section-inner-wrap,
.section-py-0 > div {
	padding-top: 0;
	padding-bottom: 0;
}
.pt-0,
.btn.pt-0,
.section-pt-0 > .ct-section-inner-wrap,
.section-pt-0 > div {
	padding-top: 0;
}
.pb-0,
.btn.pb-0,
.section-pb-0 > .ct-section-inner-wrap,
.section-pb-0 > div {
	padding-bottom: 0;
}

/*
 * xs
 */
.section-py-xs > .ct-section-inner-wrap,
.section-py-xs > div {
	padding-top: var(--gap-xs);
	padding-bottom: var(--gap-xs);
	min-height: 0vw;
}
.section-pt-xs > .ct-section-inner-wrap,
.section-pt-xs > div {
	padding-top: var(--gap-xs);
	min-height: 0vw;
}
.section-pb-xs > .ct-section-inner-wrap,
.section-pb-xs > div {
	padding-bottom: var(--gap-xs);
	min-height: 0vw;
}
.ct-section.spacing-xs .ct-section-inner-wrap > * + *,
.spacing-xs:not(.ct-section) > * + * {
	margin-top: var(--gap-xs);
	min-height: 0vw;
}
.pt-xxs {
	padding-top: var(--gap-xxs);
}
.pb-xxs {
	padding-bottom: var(--gap-xxs);
}
.px-xxs {
	padding-left: var(--gap-xxs);
	padding-right: var(--gap-xs);
}
.py-xxs {
	padding-top: var(--gap-xxs);
	padding-bottom: var(--gap-xxs);
}
.p-xxs {
	padding: var(--gap-xxs);
}
.mt-xxs {
	margin-top: var(--gap-xxs);
}
.mb-xxs {
	margin-bottom: var(--gap-xxs);
}
.mx-xxs {
	margin-left: var(--gap-xxs);
	margin-right: var(--gap-xxs);
}
.my-xxs {
	margin-top: var(--gap-xxs);
	margin-bottom: var(--gap-xxs);
}
.m-xxs {
	margin: var(--gap-xxs);
}

.pt-xs {
	padding-top: var(--gap-xs);
}
.pb-xs {
	padding-bottom: var(--gap-xs);
}
.px-xs {
	padding-left: var(--gap-xs);
	padding-right: var(--gap-xs);
}
.py-xs {
	padding-top: var(--gap-xs);
	padding-bottom: var(--gap-xs);
}
.p-xs {
	padding: var(--gap-xs);
}
.mt-xs {
	margin-top: var(--gap-xs);
}
.mb-xs {
	margin-bottom: var(--gap-xs);
}
.mx-xs {
	margin-left: var(--gap-xs);
	margin-right: var(--gap-xs);
}
.my-xs {
	margin-top: var(--gap-xs);
	margin-bottom: var(--gap-xs);
}
.m-xs {
	margin: var(--gap-xs);
}


/*
 * sm
 */
.section-py-sm > .ct-section-inner-wrap,
.section-py-sm > div {
	padding-top: var(--gap-sm);
	padding-bottom: var(--gap-sm);
	min-height: 0vw;
}
.section-pt-sm > .ct-section-inner-wrap,
.section-pt-sm > div {
	padding-top: var(--gap-sm);
	min-height: 0vw;
}
.section-pb-sm > .ct-section-inner-wrap,
.section-pb-sm > div {
	padding-bottom: var(--gap-sm);
	min-height: 0vw;
}
.ct-section.spacing-sm .ct-section-inner-wrap > * + *,
.spacing-sm:not(.ct-section) > * + * {
	margin-top: var(--gap-sm);
	min-height: 0vw;
}
.pt-sm {
	padding-top: var(--gap-sm);
}
.pb-sm {
	padding-bottom: var(--gap-sm);
}
.px-sm {
	padding-left: var(--gap-sm);
	padding-right: var(--gap-sm);
}
.py-sm {
	padding-top: var(--gap-sm);
	padding-bottom: var(--gap-sm);
}
.p-sm {
	padding: var(--gap-sm);
}
.mt-sm {
	margin-top: var(--gap-sm);
}
.mb-sm {
	margin-bottom: var(--gap-sm);
}
.mx-sm {
	margin-left: var(--gap-sm);
	margin-right: var(--gap-sm);
}
.my-sm {
	margin-top: var(--gap-sm);
	margin-bottom: var(--gap-sm);
}
.m-sm {
	margin: var(--gap-sm);
}

/*
 * md
 */
.section-py-md > .ct-section-inner-wrap,
.section-py-md > div {
	padding-top: var(--gap-md);
	padding-bottom: var(--gap-md);
	min-height: 0vw;
}
.section-pt-md > .ct-section-inner-wrap,
.section-pt-md > div {
	padding-top: var(--gap-md);
	min-height: 0vw;
}
.section-pb-md > .ct-section-inner-wrap,
.section-pb-md > div {
	padding-bottom: var(--gap-md);
	min-height: 0vw;
}

.ct-section.spacing-md .ct-section-inner-wrap > * + *,
.spacing-md:not(.ct-section) > * + * {
	margin-top: var(--gap-md);
	min-height: 0vw;
}
.pt-md {
	padding-top: var(--gap-md);
}
.pb-md {
	padding-bottom: var(--gap-md);
}
.px-md {
	padding-left: var(--gap-md);
	padding-right: var(--gap-md);
}
.py-md {
	padding-top: var(--gap-md);
	padding-bottom: var(--gap-md);
}
.p-md {
	padding: var(--gap-md);
}
.mt-md {
	margin-top: var(--gap-md);
}
.mb-md {
	margin-bottom: var(--gap-md);
}
.mx-md {
	margin-left: var(--gap-md);
	margin-right: var(--gap-md);
}
.my-md {
	margin-top: var(--gap-md);
	margin-bottom: var(--gap-md);
}
.m-md {
	margin: var(--gap-md);
}

/*
 * lg
 */
.section-py-lg > .ct-section-inner-wrap,
.section-py-lg > div {
	padding-top: var(--gap-lg);
	padding-bottom: var(--gap-lg);
	min-height: 0vw;
}
.section-pt-lg > .ct-section-inner-wrap,
.section-pt-lg > div {
	padding-top: var(--gap-lg);
	min-height: 0vw;
}
.section-pb-lg > .ct-section-inner-wrap,
.section-pb-lg > div {
	padding-bottom: var(--gap-lg);
	min-height: 0vw;
}
.ct-section.spacing-lg .ct-section-inner-wrap > * + *,
.spacing-lg:not(.ct-section) > * + * {
	margin-top: var(--gap-lg);
	min-height: 0vw;
}
.pt-lg {
	padding-top: var(--gap-lg);
}
.pb-lg {
	padding-bottom: var(--gap-lg);
}
.px-lg {
	padding-left: var(--gap-lg);
	padding-right: var(--gap-lg);
}
.py-lg {
	padding-top: var(--gap-lg);
	padding-bottom: var(--gap-lg);
}
.p-lg {
	padding: var(--gap-lg);
}
.mt-lg {
	margin-top: var(--gap-lg);
}
.mb-lg {
	margin-bottom: var(--gap-lg);
}
.mx-lg {
	margin-left: var(--gap-lg);
	margin-right: var(--gap-lg);
}
.my-lg {
	margin-top: var(--gap-lg);
	margin-bottom: var(--gap-lg);
}
.m-lg {
	margin: var(--gap-lg);
}

/*
 * xl
 */
.section-py-xl > .ct-section-inner-wrap,
.section-py-xl > div {
	padding-top: var(--gap-xl);
	padding-bottom: var(--gap-xl);
	min-height: 0vw;
}
.section-pt-xl > .ct-section-inner-wrap,
.section-pt-xl > div {
	padding-top: var(--gap-xl);
	min-height: 0vw;
}
.section-pb-xl > .ct-section-inner-wrap,
.section-pb-xl> div {
	padding-bottom: var(--gap-xl);
	min-height: 0vw;
}
.ct-section.spacing-xl .ct-section-inner-wrap > * + *,
.spacing-xl:not(.ct-section) > * + * {
	margin-top: var(--gap-xl);
	min-height: 0vw;
}
.pt-xl {
	padding-top: var(--gap-xl);
}
.pb-xl {
	padding-bottom: var(--gap-xl);
}
.px-xl {
	padding-left: var(--gap-xl);
	padding-right: var(--gap-xl);
}
.py-xl {
	padding-top: var(--gap-xl);
	padding-bottom: var(--gap-xl);
}
.p-xl {
	padding: var(--gap-xl);
}
.mt-xl {
	margin-top: var(--gap-xl);
}
.mb-xl {
	margin-bottom: var(--gap-xl);
}
.mx-xl {
	margin-left: var(--gap-xl);
	margin-right: var(--gap-xl);
}
.my-xl {
	margin-top: var(--gap-xl);
	margin-bottom: var(--gap-xl);
}
.m-xl {
	margin: var(--gap-xl);
}

/*
 * xxl
 */
.section-py-xxl > .ct-section-inner-wrap,
.section-py-xxl > div {
	padding-top: var(--gap-xxl);
	padding-bottom: var(--gap-xxl);
	min-height: 0vw;
}
.section-pt-xxl > .ct-section-inner-wrap,
.section-pt-xxl > div {
	padding-top: var(--gap-xxl);
	min-height: 0vw;
}
.section-pb-xxl > .ct-section-inner-wrap,
.section-pb-xxl> div {
	padding-bottom: var(--gap-xxl);
	min-height: 0vw;
}
.ct-section.spacing-xxl .ct-section-inner-wrap > * + *,
.spacing-xxl:not(.ct-section) > * + * {
	margin-top: var(--gap-xl);
	min-height: 0vw;
}
.pt-xxl {
	padding-top: var(--gap-xxl);
}
.pb-xxl {
	padding-bottom: var(--gap-xxl);
}
.px-xxl {
	padding-left: var(--gap-xxl);
	padding-right: var(--gap-xxl);
}
.py-xxl {
	padding-top: var(--gap-xxl);
	padding-bottom: var(--gap-xxl);
}
.p-xxl {
	padding: var(--gap-xxl);
}
.mt-xxl {
	margin-top: var(--gap-xxl);
}
.mb-xxl {
	margin-bottom: var(--gap-xxl);
}
.mx-xxl {
	margin-left: var(--gap-xxl);
	margin-right: var(--gap-xxl);
}
.my-xxl {
	margin-top: var(--gap-xxl);
	margin-bottom: var(--gap-xxl);
}
.m-xxl {
	margin: var(--gap-xxl);
}.ct-code-block > svg {
    width: inherit;
    display: block;
    height: auto;
}
.icon-54 {
	width: var(--icon-54);
	height: auto;
}
.icon-48 {
	width: var(--icon-48);
	height: auto;
}
.icon-32 {
	width: var(--icon-32);
	height: auto;
}
.icon-10 {
	width: var(--icon-10);
	height: auto;
}
.btn,
.hs-button {
  white-space: nowrap;
  padding: var(--btn-p-y) var(--btn-p-x);
  color: var(--color-dark-800);
  font-style: normal;
  font-size: var(--btn-text);
  font-weight: 500;
  line-height: 100%;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 1.2rem;
  border: none;
  text-decoration: none;
}
@media (max-width: 479px) {
  .btn {
    width: 100%;
    justify-content: center;
  }
}

.btn-sm {
  padding: var(--btn-sm-p-y) var(--btn-sm-p-x);
  font-size: var(--btn-sm-text);
}

.btn-block {
  width: 100%;
  justify-content: center;
}

.btn-primary,
.hs-button {
  color: var(--color-dark-0);
  background: var(--color-blue-500);
}
.btn-primary:hover,
.hs-button:hover {
  background: var(--color-blue-400);
  box-shadow:  0px var(--gap-xs) var(--gap-sm) 0 color-mix(in srgb, var(--color-blue-400) 50%, transparent);
}
.btn-primary:focus,
.hs-button:focus {
  background: var(--color-blue-700);
}
.btn-primary:active,
.hs-button:active {
  background: var(--color-blue-600);
}

.btn-secondary {
  color: var(--color-dark-0);
  background: var(--color-blue-500);
}
.btn-secondary:hover {
  background: var(--color-blue-400);
  box-shadow:  0px var(--gap-xs) var(--gap-sm) 0 color-mix(in srgb, var(--color-blue-400) 50%, transparent);
}
.btn-secondary:focus {
  background: var(--color-blue-700);
}
.btn-secondary:active {
  background: var(--color-blue-600);
}

.btn-dark {
  color: var(--color-dark-0);
  background: var(--color-dark-800);
}
.btn-dark:hover {
  background: var(--color-dark-700);
  box-shadow:  0px var(--gap-xs) var(--gap-sm) 0 color-mix(in srgb, var(--color-dark-700) 50%, transparent);
}
.btn-dark:focus {
  background: var(--color-dark-500);
}
.btn-dark:active {
  background: var(--color-dark-900);
}

.btn-dark-stroke {
  color: var(--color-dark-800);
  box-shadow: inset 0 0 0 3px var(--color-dark-800);
}
.btn-dark-stroke:hover {
  color: var(--color-blue-400);
  box-shadow: inset 0 0 0 3px var(--color-blue-400);
}
.btn-dark-stroke:focus {
  color: var(--color-blue-500);
  box-shadow: inset 0 0 0 3px var(--color-blue-500);
}
.btn-dark-stroke:active {
  color: var(--color-blue-600);
  box-shadow: inset 0 0 0 3px var(--color-blue-600);
}

.btn-light-stroke {
  color: var(--color-dark-50);
  box-shadow: inset 0 0 0 3px var(--color-dark-50);
}
.btn-light-stroke:hover {
  color: var(--color-blue-200);
  box-shadow: inset 0 0 0 3px var(--color-blue-200);
}
.btn-light-stroke:focus {
  color: var(--color-blue-400);
  box-shadow: inset 0 0 0 3px var(--color-blue-400);
}
.btn-light-stroke:active {
  color: var(--color-blue-400);
  box-shadow: inset 0 0 0 3px var(--color-blue-400);
}

.btn-link {
  border-radius: 0;
  background: transparent;
}
.btn-link:hover {
  background: transparent;
  box-shadow:  none;
}
.btn-link:focus {
  background: none;
}
.btn-link:active {
  background: none;
}
.btn-link > * {
  border-bottom: 0.15rem solid var(--color-dark-800);
}
.btn-link:hover > * {
  border-bottom-color: transparent;
}
:root {	
	--header-logo-color: var(--color-dark-950);
	--header-menu-item-color: var(--color-dark-800); /* td */
	--header-chevron-color: var(--color-dark-400);
	--header-background-color: var(--color-dark-800); /* td */
	--header-sub-menu-hover-background-color: var(--color-dark-600); /* td */
	--header-sub-menu-current-background-color: var(--header-sub-menu-hover-background-color);
	--header-sub-menu-active-background-color-sm: var(--header-sub-menu-current-background-color);
	--header-sub-menu-focus-background-color-sm: var(--header-sub-menu-current-background-color);
  
	--fixed-header-background-color: var(--color-dark-800); /* td */
	--dark-header-logo-color: var(--color-dark-0);
	--light-header-logo-color: var(--color-dark-950);
	--fixed-header-logo-color: var(--color-dark-0); /* td */
	--dark-header-menu-item-color: var(--color-dark-0);  /* td */
	--light-header-menu-item-color: var(--color-dark-800);  /* td */
	--dark-header-sub-menu-item-color: var(--color-dark-0);  /* td */
	--light-header-sub-menu-item-color: var(--color-dark-0);  /* td */
	--fixed-header-menu-item-color: var(--color-dark-0); /* td */
  
	--header-background-color-sm: var(--color-dark-800);  /* td */
	--header-logo-color-sm: var(--color-dark-950);
	--dark-header-logo-color-sm: var(--color-dark-0); /* td */
	--light-header-logo-color-sm: var(--color-dark-0); /* td */
  
  	--dark-header-btn-dark-stroke-color-lg: var(--color-dark-50);
  	--dark-header-btn-dark-stroke-border-color-lg: var(--dark-header-btn-dark-stroke-color-lg);  
  	--dark-header-btn-dark-stroke-hover-color-lg: var(--color-blue-200);
  	--dark-header-btn-dark-stroke-hover-border-color-lg: var(--dark-header-btn-dark-stroke-hover-color-lg);  
  	--dark-header-btn-dark-stroke-focus-color-lg: var(--color-blue-400);
  	--dark-header-btn-dark-stroke-focus-border-color-lg: var(--dark-header-btn-dark-stroke-focus-color-lg);  
  	--dark-header-btn-dark-stroke-active-color-lg: var(--color-blue-400);
  	--dark-header-btn-dark-stroke-active-border-color-lg: var(--dark-header-btn-dark-stroke-active-color-lg);
  
  	--fixed-header-btn-dark-stroke-color-lg: var(--color-dark-0);
  	--fixed-header-btn-dark-stroke-border-color-lg: var(--fixed-header-btn-dark-stroke-color-lg);  
  	--fixed-header-btn-dark-stroke-hover-color-lg: var(--color-blue-400);
  	--fixed-header-btn-dark-stroke-hover-border-color-lg: var(--fixed-header-btn-dark-stroke-hover-color-lg);  
  	--fixed-header-btn-dark-stroke-focus-color-lg: var(--color-blue-500);
  	--fixed-header-btn-dark-stroke-focus-border-color-lg: var(--fixed-header-btn-dark-stroke-focus-color-lg);  
  	--fixed-header-btn-dark-stroke-active-color-lg: var(--color-blue-600);
  	--fixed-header-btn-dark-stroke-active-border-color-lg: var(--fixed-header-btn-dark-stroke-active-color-lg);
  
	--header-nav-toggle-color: var(--color-dark-0); /* td */
  
	--header-sites-button-color: var(--color-dark-0); /* td */
	--header-sites-button-active-color: var(--color-blue-500); /* td */
}
.ct-inner-content > section:first-of-type {
	padding-top: var(--header-height);
}
.page-header ul {
	list-style: none;
}
.page-header {
	position: absolute;
	top: 0;
	z-index: 10;
}
.page-header .header-logo a,
.page-header .actions .btn-icon {
	color: var(--header-logo-color);
}
.page-header .menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	gap: 0;
	overflow: visible;
}
.page-header .menu .menu-item {
    white-space: nowrap;
}
.page-header .menu .menu-item a {
	text-decoration: none;
	color: var(--header-menu-item-color);
	display: flex;
	align-items: center;
	gap: var(--gap-xxs);
	padding: var(--gap-sm);
	font-weight: 500;
}
.page-header .menu > .menu-item > a {
	padding-top: var(--gap-md);
	padding-bottom: var(--gap-md);
	line-height: 1;
}
.page-header .menu > .menu-item.menu-item-sites .menu-item-logo > svg {
	height: var(--header-logo-h);
}
.page-header .menu > .menu-item.menu-item-sites .menu-item-logo.logo-appodeal > svg {
	width: var(--appodeal-header-logo-w);
}
.page-header .menu > .menu-item.menu-item-sites .menu-item-logo.logo-bidmachine > svg {
	width: var(--bidmachine-header-logo-w);
}
.page-header .menu > .menu-item.menu-item-sites .menu-item-logo.logo-appgrowth > svg {
	width: var(--appgrowth-header-logo-w);
}
.page-header .menu > .menu-item-has-children:not(.menu-item-sites) > a:after {
	content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggc3Ryb2tlPSIjOEY5NUEzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0ibTIgNSA2IDYgNi02Ii8+Cjwvc3ZnPgo=);
	display: block;
	color: var(--header-chevron-color);
	width: var(--text-sm);
    height: var(--text-sm);
	transition: var(--transition);
}
.page-header .menu .menu-item-has-children .sub-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    overflow: visible;
	background-color: var(--header-background-color);
    transition: var(--transition);
	border-bottom-left-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-sm);
	box-shadow: 0px 10px 20px 0px rgba(35, 35, 35, 0.10);
	max-width: 64rem;
	z-index: 10;
	margin-left: calc(var(--gap-sm) * -1);
	margin-top: calc(var(--gap-xs) * -1);
	padding: var(--gap-sm) var(--gap-sm) var(--gap-sm) var(--gap-sm);
    opacity: 0;
    visibility: hidden;
}
.page-header .menu .menu-item-has-children.menu-item-sites .sub-menu {
  	max-width: 32rem
}
.page-header .menu .menu-item-has-children:hover .sub-menu {
	opacity: 1;
    visibility: visible;
}
.page-header .menu .menu-item-has-children:hover > a:after {
	transform: rotate(180deg);
}
.page-header .menu .menu-item-has-children .sub-menu a {
    align-items: flex-start;
    justify-content: flex-start;
}
.page-header .menu .sub-menu .menu-item a {
	display: flex;
	flex-direction: column;
	gap: var(--gap-xxs);
	align-items: flex-start;
	border-radius: var(--border-radius-sm);
	transition: var(--transition);
}
.page-header .menu .menu-item-sites .sub-menu .menu-item a {
	gap: var(--gap-sm);
}
.page-header .menu .sub-menu a:hover {
	background-color: var(--header-sub-menu-hover-background-color);
}
/*
.page-header .menu .sub-menu .current-menu-item > a {
	background-color: var(--header-sub-menu-current-background-color);
}
*/
.page-header .menu .sub-menu .current-menu-item > a .menu-item-title {
    display: block;
	border-bottom: 3px solid var(--header-menu-item-color);
}
body.dark-header .page-header .menu .sub-menu .current-menu-item > a .menu-item-title {
	border-bottom: 3px solid var(--dark-header-sub-menu-item-color);
}
body.light-header .page-header .menu .sub-menu .current-menu-item > a .menu-item-title {
	border-bottom: 3px solid var(--light-header-sub-menu-item-color);
}
.page-header .menu .sub-menu .menu-item a .menu-item-subtitle {
	display: block;
	font-size: var(--text-xs);
	white-space: normal;
    text-align: left;
}
.page-header .menu .menu-item-sites > a > .menu-item-title {
    width: var(--text-body);
    height: var(--text-body);
    display: block;
    scale: 1.1;
}
.page-header .menu .menu-item-sites > a > .menu-item-title svg {
    display: block;
}
.page-header-overlay {
	display: none;
}
body.fixed-header .page-header {
	position: fixed;
	background-color: var(--fixed-header-background-color);
}
body.dark-header .page-header .header-logo a,
body.dark-header .page-header .actions .btn-icon {
	color: var(--dark-header-logo-color);
}
body.light-header .page-header .header-logo a,
body.light-header .page-header .actions .btn-icon {
	color: var(--light-header-logo-color);
}
body.fixed-header .page-header .header-logo a,
body.fixed-header .page-header .actions .btn-icon {
	color: var(--fixed-header-logo-color);
}
body.dark-header .page-header .menu .menu-item a {
	color: var(--dark-header-sub-menu-item-color);
}
body.light-header .page-header .menu .menu-item a {
	color: var(--light-header-sub-menu-item-color);
}
body.dark-header .page-header .menu > .menu-item > a {
	color: var(--dark-header-menu-item-color);
}
body.light-header .page-header .menu > .menu-item > a {
	color: var(--light-header-menu-item-color);
}
body.fixed-header .page-header .menu > .menu-item > a {
	color: var(--fixed-header-menu-item-color);
}
@media screen and (min-width: 992px) {
    .page-header > .ct-section-inner-wrap {
        height: var(--header-height);
        justify-content: center;
    }
    body.fixed-header .page-header > .ct-section-inner-wrap {
        height: var(--fixed-header-height);
    }
	body.fixed-header .page-header .menu > .menu-item > a {
		padding-top: calc(var(--gap-sm) * 1.5);
		padding-bottom: calc(var(--gap-sm) * 1.5);
	} 
    body.dark-header .page-header .btn-dark-stroke {
        color: var(--dark-header-btn-dark-stroke-color-lg);
        box-shadow: inset 0 0 0 3px var(--dark-header-btn-dark-stroke-border-color-lg);
    }
    body.dark-header .page-header .btn-dark-stroke:hover {
        color: var(--dark-header-btn-dark-stroke-hover-color-lg);
        box-shadow: inset 0 0 0 3px var(--dark-header-btn-dark-stroke-hover-border-color-lg);
    }
    body.dark-header .page-header .btn-dark-stroke:focus {
        color: var(--dark-header-btn-dark-stroke-focus-color-lg);
        box-shadow: inset 0 0 0 3px var(--dark-header-btn-dark-stroke-focus-border-color-lg);
    }
    body.dark-header .page-header .btn-dark-stroke:active {
        color: var(--dark-header-btn-dark-stroke-active-color-lg);
        box-shadow: inset 0 0 0 3px var(--dark-header-btn-dark-stroke-active-border-color-lg);
    }
    body.fixed-header .page-header .btn-dark-stroke {
        color: var(--fixed-header-btn-dark-stroke-color-lg);
        box-shadow: inset 0 0 0 3px var(--fixed-header-btn-dark-stroke-border-color-lg);
    }
    body.fixed-header .page-header .btn-dark-stroke:hover {
        color: var(--fixed-header-btn-dark-stroke-hover-color-lg);
        box-shadow: inset 0 0 0 3px var(--fixed-header-btn-dark-stroke-hover-border-color-lg);
    }
    body.fixed-header .page-header .btn-dark-stroke:focus {
        color: var(--fixed-header-btn-dark-stroke-focus-color-lg);
        box-shadow: inset 0 0 0 3px var(--fixed-header-btn-dark-stroke-focus-border-color-lg);
    }
    body.fixed-header .page-header .btn-dark-stroke:active {
        color: var(--fixed-header-btn-dark-stroke-active-color-lg);
        box-shadow: inset 0 0 0 3px var(--fixed-header-btn-dark-stroke-active-border-color-lg);
    }
}
@media screen and (max-width: 991px) {
    .page-header > .ct-section-inner-wrap {
		padding-top: var(--gap-sm);
    	padding-bottom: var(--gap-sm);
    }
    body.fixed-header .page-header > .ct-section-inner-wrap {
		padding-top: var(--gap-xs);
    	padding-bottom: var(--gap-xs);
    }
    body.light-header .page-header .btn-dark-stroke {
        color: var(--fixed-header-btn-dark-stroke-color-lg);
        box-shadow: inset 0 0 0 3px var(--fixed-header-btn-dark-stroke-border-color-lg);
    }
    body.light-header .page-header .btn-dark-stroke:hover {
        color: var(--fixed-header-btn-dark-stroke-hover-color-lg);
        box-shadow: inset 0 0 0 3px var(--fixed-header-btn-dark-stroke-hover-border-color-lg);
    }
    body.light-header .page-header .btn-dark-stroke:focus {
        color: var(--fixed-header-btn-dark-stroke-focus-color-lg);
        box-shadow: inset 0 0 0 3px var(--fixed-header-btn-dark-stroke-focus-border-color-lg);
    }
    body.light-header .page-header .btn-dark-stroke:active {
        color: var(--fixed-header-btn-dark-stroke-active-color-lg);
        box-shadow: inset 0 0 0 3px var(--fixed-header-btn-dark-stroke-active-border-color-lg);
    }
    body.dark-header .page-header .btn-dark-stroke {
        color: var(--fixed-header-btn-dark-stroke-color-lg);
        box-shadow: inset 0 0 0 3px var(--fixed-header-btn-dark-stroke-border-color-lg);
    }
    body.dark-header .page-header .btn-dark-stroke:hover {
        color: var(--fixed-header-btn-dark-stroke-hover-color-lg);
        box-shadow: inset 0 0 0 3px var(--fixed-header-btn-dark-stroke-hover-border-color-lg);
    }
    body.dark-header .page-header .btn-dark-stroke:focus {
        color: var(--fixed-header-btn-dark-stroke-focus-color-lg);
        box-shadow: inset 0 0 0 3px var(--fixed-header-btn-dark-stroke-focus-border-color-lg);
    }
    body.dark-header .page-header .btn-dark-stroke:active {
        color: var(--fixed-header-btn-dark-stroke-active-color-lg);
        box-shadow: inset 0 0 0 3px var(--fixed-header-btn-dark-stroke-active-border-color-lg);
    }
	.page-header .ct-section-inner-wrap > * {
		max-height: 100vh;
	}
	body.is-page-header-overlay {
		overflow: hidden;
	}
	.page-header .header-logo a {
		color: var(--header-logo-color-sm);
	}
	body.dark-header .page-header .header-logo a,
	body.dark-header .page-header .actions .btn-icon {
		color: var(--dark-header-logo-color-sm);
	}
	body.light-header .page-header .header-logo a,
	body.light-header .page-header .actions .btn-icon {
		color: var(--light-header-logo-color-sm);
	}
    body.light-header .page-header .menu > .menu-item > a,
    body.dark-header .page-header .menu > .menu-item > a {
        color: var(--fixed-header-menu-item-color);
    }
	.page-header-overlay {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9;
		height: 100%;
		width: 100%;
		background: rgba(31, 33, 38, .94);
	}
	.page-header {
		background-color: var(--header-background-color-sm);
	}
	.page-header .nav-toggle {
		padding: var(--gap-xxs);
        margin-right: calc(-1 * var(--gap-xxs));
		cursor: pointer;
	}
	.page-header .nav-toggle span {
		position: relative;
		display: block;
		height: 3px;
		border-radius: 10px;
		width: 32px;
		margin: 6px 0;
		background-color: var(--header-nav-toggle-color);
		transition: var(--transition);
	}	
	.page-header .nav-toggle.open span:first-child {
		transform: rotate(45deg) translate(6.4px, 6.4px);
	}
	.page-header .nav-toggle.open span:nth-child(2) {
		width: 0%;
		opacity: 0;
	}
	.page-header .nav-toggle.open span:last-child {
		transform: rotate(-45deg) translate(6.4px, -6.4px);
	}
	.page-header .menu-toggle {
		max-height: 0;
		overflow: hidden;
		margin-right: -2rem;
	}	
	.page-header .menu-toggle > * {
		padding-right: 2rem;
	}
	.page-header .menu-toggle.active {
		max-height: 100vh;
		transition: var(--transition-x2);
		overflow: auto;
	}
	.page-header .menu-toggle .nav-items {
		overflow: auto;
		overflow-x: hidden;
	}
	.page-header .menu-toggle.active .actions {
        margin-top: var(--gap-md);
        width: 100%;
	}
	.page-header .menu-toggle.active .buttons {
		overflow: auto;
		flex-shrink: 0;
		flex-grow: 1;
		display: grid !important;
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
		grid-column-gap: var(--gap-sm) !important;
		align-self: stretch;
		/*max-width: var(--w-sm);*/
	}
	.page-header .menu-toggle .menu {
		flex-direction: column;
	}
	.page-header .menu-toggle .menu > .menu-item > a {
		padding: var(--gap-sm) 0;
		justify-content: space-between;
	}
	.page-header .menu-toggle .menu .menu-item .menu-item a {
		padding-top: var(--gap-sm);
		padding-bottom: var(--gap-sm);
	}
	.page-header .menu-toggle .menu .menu-item-has-children {
		transition: var(--transition);
	}
	.page-header .menu-toggle .menu .menu-item-has-children .sub-menu {
		display: none;
		max-width: none;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		padding: 0;
		box-shadow: none;
		position: relative;
		opacity: 1;
		visibility: visible;
        margin-left: 0;
        margin-top: 0;
	}
	.page-header .menu-toggle .menu .menu-item-has-children.menu-item-sites .sub-menu {
        margin-top: var(--gap-sm);
	}
	.page-header .menu-toggle .menu .menu-item-has-children:not(.menu-item-sites) .sub-menu {
		padding-left: var(--gap-sm);
	}
	.page-header .menu-toggle .menu .menu-item-has-children.open .sub-menu {
		display: flex;
	}
	.page-header .menu-toggle .menu .menu-item-has-children.open > a:after {
		transform: rotate(180deg) !important;
	}
	.page-header .menu-toggle .menu.sites-open .menu-item-has-children:not(.menu-item-sites) {
		display: none;
	}
	.page-header .menu-toggle .menu.sites-open .menu-item-has-children.menu-item-sites {
    	display: flex;
		flex-direction: column-reverse;
	}
	.page-header .menu-toggle .menu .menu-item-has-children.menu-item-sites > a {
		margin-top: var(--gap-sm);
		margin-bottom: var(--gap-sm);
	}
	.page-header .menu-toggle .menu .menu-item-has-children.menu-item-sites > a {
        display: flex;
        justify-content: center;
        color: var(--header-sites-button-color);
        box-shadow: inset 0 0 0 3px var(--header-sites-button-color);
        border-radius: 1.2rem;
        padding-top: calc(var(--gap-xs) * 1.5);
        padding-bottom: calc(var(--gap-xs) * 1.5);
	}
	.page-header .menu-toggle .menu.sites-open .menu-item-has-children.menu-item-sites > a {
		color: var(--header-sites-button-active-color);
		box-shadow: inset 0 0 0 3px var(--header-sites-button-active-color);
	}
	.page-header .menu-toggle .menu .sub-menu .menu-item a {
		padding-left: var(--gap-sm);
		padding-left: var(--gap-sm);
		font-size: var(--text-sm);
	}
	.page-header .menu-toggle .menu .menu-item-has-children:hover > a:after {
		transform: none;
	}
	.page-header .menu-toggle .menu .menu-item-has-children:not(.menu-item-sites) .sub-menu .menu-item a .menu-item-subtitle {
		display: none;
	}
	.page-header .menu-toggle .menu .sub-menu a:hover {
		background-color: var(--header-sub-menu-hover-background-color);
	}
	.page-header .menu-toggle .menu .sub-menu a:active {
		background-color: var(--header-sub-menu-active-background-color-sm);
	}
	.page-header .menu-toggle .menu .sub-menu a:focus {
		background-color: var(--header-sub-menu-focus-background-color-sm);
	}
}
/*
 * Current site
 */
/*
@media screen and (min-width: 992px) {
	.page-header .menu > .menu-item-has-children:nth-of-type(1) .sub-menu {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.page-header .menu > .menu-item-has-children:nth-of-type(1) .sub-menu > .menu-item {
		width: 50%;
	}
}
*/.page-footer ul {
	margin: 0;
    padding: 0;
    list-style-type: none;
}

.page-footer a {
	text-decoration: none;	
	color: var(--color-dark-300);
}
.page-footer a:hover {
	text-decoration: underline;
	color: var(--color-blue-500);
}
.page-footer .footer-logo {
    color: var(--color-dark-400);
}
.copy-menu .menu,
.footer-menu .menu {
	list-style-type: none;
}
.copy-menu .menu {
	display: flex;
	flex-direction: column;
	gap: var(--gap-xs) var(--gap-sm);
}

.secondary-menu .menu {
	display: flex;
	flex-direction: row;
	gap: var(--gap-xs) var(--gap-md);
	flex-wrap: wrap;
}
.secondary-menu a {
	color: var(--color-dark-300);
}
.secondary-menu .menu > li > a {
    color: var(--color-dark-0);
	font-size: var(--text-sm);
	border-radius: var(--border-radius-xs);
}
.footer-menu .menu {
	display: flex;
	flex-direction: row;
	gap: var(--gap-md);
    width: 66.66%;
}
.footer-menu .menu > li {
	flex: 1;
}
.footer-menu .menu > li {
	display: flex;
	flex-direction: column;
	gap: var(--gap-xs);
}
.footer-menu a {
	color: var(--color-dark-300);
}
.footer-menu .menu > li > a {
    color: var(--color-dark-0);
	font-size: var(--text-md);
	font-weight: 500;
	pointer-events: none;
}
.footer-menu .menu > li > .sub-menu {
	font-size: var(--text-sm);
	display: flex;
	flex-direction: column;
	gap: var(--gap-xs) var(--gap-sm);
}
.footer-menu .menu-item-subtitle {
	display: none;
}

.page-footer .search form {
    position: relative;
	border-bottom: var(--border-width) solid var(--color-dark-950);
	display: flex;
	align-items: center;
}
.page-footer .search form > div {
    flex-grow: 1;
}
.page-footer .search form input {
    display: block;
    padding: 1rem 2rem 1rem 0;
    font-size: var(--text-sm);
    color: var(--color-dark-950);
    background-color: transparent;
    border: none;
    transition: var(--transition);
	width: 100%
}
.page-footer .search form input::placeholder {
    color: var(--color-dark-400);
    opacity: 1;
}
.page-footer .search form button {
    display: flex;
    border: none;
	background-color: transparent;
    padding: 0.5rem 1rem;
	margin-right: -1rem;
	cursor: pointer;
}

.page-footer .search form button > svg {
    width: var(--text-lg);
    height: auto;
}
@media (max-width: 767px) {
	.copy-menu .menu {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.secondary-menu .menu {
		gap: var(--gap-xs) var(--gap-sm);
	}
	.footer-menu .menu {
		flex-direction: column;
	}
	
	.footer-menu .menu > li > .sub-menu {
		flex-direction: row;
		flex-wrap: wrap;
	}
}.ct-code-block > video {
    display: block;
	width: 100%;
}.aspect-ratio-4-5 {
	aspect-ratio: 4 / 5;
}.resize-animation-stopper * {
	animation: none !important;
	transition: none !important;
}
@keyframes fade {
    0% {
		opacity: 0;
	}
    100% {
		opacity: 1;
	}
}.tabs {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(10px,1fr));
    grid-column-gap: var(--gap-sm);
}
.tabs .tab {
    padding-top: var(--gap-xs);
    padding-right: var(--gap-xs);
    padding-bottom: var(--gap-xs);
    padding-left: var(--gap-xs);
    background-color: var(--color-dark-0);
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
	opacity: .7;
	cursor: pointer;
	transition: background-color .4s ease-in-out;
}
.tabs .tab > * {
	transition: color .4s ease-in-out, background-color .4s ease-in-out;
}
.tabs .tab.active {
	opacity: 1;
	cursor: default;
}
.tabs .tab:hover {
	opacity: 1;
}
.tabs .tab > * {
    text-align: center;
    align-self: center;
    padding: var(--gap-xxs);
    display: block;
    width: 100%;
    font-weight: 500;
    border-radius: 0.8rem;
}
.tabs .tab.active > * {
	color: var(--color-dark-0);
}

.tabs .tab-red:not(.active):hover {
	box-shadow: 0 -0.6rem 0 0 var(--color-red-500) inset;
}
.tabs .tab-blue:not(.active):hover {
	box-shadow: 0 -0.6rem 0 0 var(--color-blue-500) inset;
}
.tabs .tab-yellow:not(.active):hover {
	box-shadow: 0 -0.6rem 0 0 var(--color-yellow-500) inset;
}
.tabs .tab-violet:not(.active):hover {
	box-shadow: 0 -0.6rem 0 0 var(--color-violet-400) inset;
}
.tabs .tab-green:not(.active):hover {
	box-shadow: 0 -0.6rem 0 0 var(--color-green-300) inset;
}

.tabs .tab-red.active > * {
	background-color: var(--color-red-500);
}
.tabs .tab-blue.active > * {
	background-color: var(--color-blue-500);
}
.tabs .tab-yellow.active > * {
	background-color: var(--color-yellow-500);
}
.tabs .tab-violet.active > * {
	background-color: var(--color-violet-400);
}
.tabs .tab-green.active > * {
	background-color: var(--color-green-300);
}
.tabs .tab-fade > * {
    animation: fade .4s ease-in-out;
}.side-sticky {
    position: sticky;
    top: var(--gap-md);
}
body.fixed-header .side-sticky {
	top: calc(var(--gap-md) + var(--header-height));
}html {
    margin-top: 0 !important;
}
body.oxygen-builder-body .d-none {
	display: block !important;
	opacity: .5;
}
#wp-admin-bar-rank-math {
    max-width: 40px;
    overflow: hidden;
}
#wp-admin-bar-monsterinsights_frontend_button {
    max-width: 39px;
    overflow: hidden;
}
#wp-admin-bar-et-use-visual-builder {
    display: none;
}
#wp-admin-bar-new-content .ab-item .ab-label {
    display: none;
}
#wp-admin-bar-new-content .ab-item .ab-icon {
    margin-right: 0 !important;
}
#wpadminbar {
    opacity: 0.1;
}
#wpadminbar:hover {
    opacity: 1;
	transition: var(--transition);
}p {
  margin: 0;
  padding: 0;
}
ul, ol {
  margin: 0 0 0 var(--gap-sm);;
  padding: 0;
}
ul + ul,
ul + ol,
ol + ol,
ol + ul,{
  margin-left: var(--gap-sm);
}

.oxy-rich-text > * + *:not(:first-child) {
  margin-top: var(--gap-sm);
}

.oxy-rich-text li:not(:first-child) {
  margin-top: var(--gap-xs);
}