.sectionLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 15px;
    border-right: 1px dashed var(--section);
}

.sectionRight {
    width: 60%;
    padding: 10px 25px;
    text-align: center;
}

@media (max-width: 730px) {
    .sectionLeft {
        width: 100%;
        border-right: none;
        border-bottom: 1px dashed var(--section);
    }

    .sectionRight {
        width: 100%;
    }
}

.sectionRight__numbersDraw {
    margin: 30px 0;
}

.sectionRight__title {
    margin-bottom: 0px;
    font-size: 20px;
}

.sectionRight__description {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 12px;
    opacity: .7;
}

.showRandomNumber {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.randomNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 10px 10px 0;
    background: var(--section);
    border: 2px solid var(--gradientOne);
    border-radius: 50%;
    font-size: 20px;
    color: var(--textButton);
}

.sectionRight_win {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 1px 0;
    background: rgb(241, 196, 15);
    border: 2px solid rgb(243, 214, 100);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 1px rgb(77, 62, 4);
    box-shadow: 0 0 15px rgb(175, 143, 15);
    opacity: 0;
    transition: opacity .4s;
}

@media (max-width: 500px) {
    .sectionRight_win {
        width: 90%;
    }
}

@media (max-width: 280px) {
    .sectionRight_win {
        width: 98%;
        font-size: 16px;
    }
}

.sectionRight_win--show {
    opacity: 1;
}