* {
    padding: 0px;
    margin: 0px;
}

#hero {
    /* border: 2px solid red; */
    height: 500px;
}

#hero::before {
    content: "";
    background-color: #06277c;
    position: absolute;
    width: 100%;
    height: 510px;
    z-index: -1;
    top: 0px;
    left: 0px;
}

#hero-container {
    /* border: 2px solid green; */
    margin: 0px 120px;
}

#navbar {
    /* border: 3px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#log {
    position: relative;
    left: -314px;
}

#log a {
    text-decoration: none;
}

#log a img {
    height: 50px;
}

#list {
    display: flex;
}

#list li {
    list-style: none;
}

#list li a {
    padding: 2px 12px;
}

#litry {
    text-decoration: underline;
    color: #FFBD00;
    font-weight: bold;
    font-size: 18px;
}

.litey {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#contact {
    /* border: 2px solid rgb(128, 128, 128); */
    border: none;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 12px;
    padding: 4px 16px;
    font-weight: 600;
    position: relative;
    right: -320px;
    box-sizing: none;
    text-decoration: none;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

#heading-button {
    margin-top: 100px;
}

#hero-heading {
    /* border: 2px solid greenyellow; */
    text-align: center;
}

#hero-heading h1 {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

#hero-heading h2 {
    font-size: 40px;
    font-weight: 500;
    color: white;
}

#hero-button {
    margin-top: 32px;
    /* border: 2px solid black; */
    text-align: center;
}

#hero-button img {
    height: 50px;
}

#hero-circle {
    position: absolute;
    top: 214px;
    left: 350px;
    z-index: -1;
}

#hero-circle img {
    height: 300px;
}

#half {
    position: absolute;
    top: 445px;
    left: 586px;
}

#half img {
    height: 65px;
}

#arrow {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -35px;
    justify-content: center;
    align-items: center;
}

#arrow p {
    margin-right: 6px;
    color: white;
    margin-bottom: 8px;
}

#arrow img {
    height: 16px;
}

#arrow a {
    text-decoration: none;
}


/* About me section */

#how {
    height: 300px;
}

#how::before {
    content: "";
    background-color: #FFFDF5;
    z-index: -1;
    width: 100%;
    height: 300px;
    position: absolute;
}

#how-continer {
    display: flex;
    margin: auto 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
}

#ttty {
    display: flex;
    flex-direction: row;
    ;
}

.box {
    height: auto;
    width: 280px;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
}

.box h1 {
    color: #212529;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.box p {
    color: #000000;
    font-size: 20px;
    opacity: 0.9;
}


/* //map section */

#map-box {
    background-color: #00539E;
}

#map-box-continer {
    margin: 0px 120px;
    padding: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1200px;
}

#map-box-continer h1 {
    color: white;
    font-weight: bold;
    width: 260px;
    font-size: 32px;
}

.map-box-content {
    display: flex;
    width: 350px;
    height: 450px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    margin: 32px;
    border-radius: 16px;
}

.map-box-content p {
    height: auto;
    width: auto;
    font-size: 32px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}

#map1 {
    background-color: #5791c7;
    position: relative;
    left: -300px;
    top: 80px;
}

.map-text {
    margin-bottom: 16px;
}

.map-img img {
    height: 250px;
    width: 350px;
}

#map2 {
    background-color: #FF9C00;
    position: relative;
    top: -520px;
    left: 500px;
}

#map3 {
    background-color: #FF9C00;
    position: relative;
    top: 100px;
    left: -480px;
}

#map4 {
    background-color: #5791c7;
    position: relative;
    top: -500px;
    left: 500px;
}


/* testionial section */

#testimonial {
    background-color: #FFFDF5;
}

#testimonial {
    content: "";
    background: url(../Img/elpisgoldall.jpg) no-repeat center;
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
}

#testimonial-continer {
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
}

#heading {
    margin-top: 64px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#heading h3 {
    font-size: 28px;
    width: 320px;
    text-align: center;
    z-index: 1;
}

#circle-continer {
    position: relative;
    display: inline-block;
    width: 130px;
    top: -67px;
    left: 565px;
    z-index: 0;
}

#circle-continer img {
    height: 40px;
}


/* card */

#card-continer {
    display: flex;
    flex-direction: row;
    height: 350px;
    align-items: center;
}

.card {
    width: 350px;
    height: 250px;
    padding: 16px;
    margin-left: 32px;
    background-color: white;
    border-radius: 5px;
    box-shadow: -1px -1px 4px 1px rgb(165, 161, 161);
}

.icons {
    display: inline;
}


/* .icons img {try} */

.card-p {
    margin-top: 24px;
    font-size: 19px;
}

.card-auther {
    margin-top: 24px;
    font-size: 19px;
    font-weight: 600;
    opacity: 0.9;
}


/* footer section */


/* #footer {} */

#footer-continer {
    /* border: 2px solid red; */
    margin: 0px 120px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}


/* #footer-logo {} */

#footer-logo img {
    cursor: pointer;
}

#list-of {
    /* border: 2px solid red; */
    width: 550px;
    position: relative;
    left: 550px;
    top: 30px;
}

.list-of1 {
    /* border: 2px solid rgb(15, 216, 109); */
    display: flex;
    width: 550px;
    margin-bottom: 30px;
}

.list-of1 ul {
    display: flex;
}

.list-of1 ul li {
    list-style: none;
}

.list-of1 ul li a {
    padding: 0px 8px;
    cursor: pointer;
}

.icons {
    display: flex;
    margin-left: 16px;
}

.icons img {
    margin-right: 4px;
    cursor: pointer;
}


/* .icons p {} */

#copyright {
    display: flex;
    align-items: center;
    margin: 0px 120px;
}


/* #copy {} */


/* #copy p {} */

#privacy {
    display: flex;
    position: relative;
    left: 500px;
}

#privacy p {
    margin-left: 20px;
    cursor: pointer;
}