* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Norms";
  src: url("assets/font/norms-regular.woff2") format("woff2"), url("assets/font/norms-regular.woff") format("woff");
}
body {
  font-family: "Norms, Courier New", Courier, monospace;
  word-break: break-word;
  color: black;
}

header {
  height: 150px;
  width: 100vw;
}

.navbar {
  background-color: #d4f7bd;
}

.row {
  width: 130px;
}
.row button {
  width: 100%;
}

.logoFoodWaste {
  height: 70px;
  width: 70px;
}

.custom-btn {
  width: 150px;
  height: 40px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-family: "Norms", sans-serif;
  font-weight: 800;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.custom-btn.btn-14 {
  background: #d4f7bd;
  border: solid 0.1rem #57b01c;
  color: #57b01c;
  border-radius: 7px;
  z-index: 1;
}
.custom-btn.btn-14:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #57b01c;
  border-radius: 5px;
  box-shadow: inset 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.custom-btn.btn-14:hover {
  color: #fff;
}
.custom-btn.btn-14:hover:after {
  left: 0;
  width: 100%;
}
.custom-btn.btn-14:active {
  top: 2px;
}
.custom-btn.btn-15 {
  background: #d4f7bd;
  border: none;
  z-index: 1;
}
.custom-btn.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #57b01c;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.custom-btn.btn-15:hover {
  color: #fff;
}
.custom-btn.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.custom-btn.btn-15:active {
  top: 2px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sectionNews {
  height: auto;
  margin-inline: 3rem;
  width: 70%;
}

.titleH2 {
  width: auto;
  border-bottom-color: rgb(223, 234, 237);
  border-bottom: 4px solid #000000;
  border-top: 4px solid #000000;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  margin-bottom: 0.6em;
  font-weight: 900;
  text-transform: uppercase;
}

.cardNews {
  position: relative;
  height: 400px;
  padding: 1rem;
  background: url("assets/img/salade_zero-waste.jpg") center/cover no-repeat;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.cardNews-content {
  font-size: 10px;
  border-radius: 0.6rem;
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: #070b32;
  min-height: 100px;
  z-index: 2;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}
.cardNews-content h3 {
  font-size: 18px;
}

.cards {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas: "card1 card1" "card2 card2" "card3 card3";
}

.cardNews:nth-child(1) {
  grid-area: card1;
}
.cardNews:nth-child(1) .cardNews-content {
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
}

.cardNews:nth-child(2) {
  grid-area: card2;
  background: url("assets/img/ecologie.jpeg") center/cover no-repeat;
}

.cardNews:nth-child(3) {
  grid-area: card3;
  background: url("assets/img/bureau.jpg") center/cover no-repeat;
}

.cardNews:nth-child(2) .cardNews-content,
.cardNews:nth-child(3) .cardNews-content {
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
}

.cardNews:not(.cardNews) {
  font-size: 10px;
  border-radius: 0px 0px 10px 10px;
  width: 100vw;
  height: 100px;
  width: 92vw;
  background-color: green;
  padding: 3rem;
}

.gridTags {
  margin-bottom: 30px;
}

footer {
  height: auto;
  color: #fff;
  background-color: #070b32;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  margin-top: 80px;
}
footer .divFooter {
  width: 100vw;
}
footer .zeroWasteFrance {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .nousSuivre {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer i {
  margin-top: 5px;
  color: #fff;
  font-size: 2em;
}
footer .newsletterFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
}
footer .newsletterFooter > p {
  width: 240px;
}
footer .conception {
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  width: 100vw;
  height: 30px;
}
footer .conception > p {
  margin-bottom: 0;
  font-size: 12px;
}
footer .conception > p > a {
  text-decoration: none;
  color: #e2bb2e;
}

footer > div {
  display: flex;
  text-align: center;
  width: 200px;
}

footer > div > div > .footerTitle {
  border-bottom-color: rgb(223, 234, 237);
  border-bottom: 4px solid #dfeaed;
  border-top: 4px solid;
  display: inline-block;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  margin-bottom: 0.6em;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
}

@media (max-width: 768px) {
  .row {
    padding: 0;
    width: 100vw;
    justify-content: center;
  }
  .row-md {
    height: 70px;
    width: 49px;
  }
  .logoFoodWaste {
    padding: 0;
  }
  .btn {
    width: 250px;
  }
  .paragraph-container-header {
    width: 320px;
  }
  .title-container-header {
    width: 320px;
    margin-bottom: 20px;
  }
  .divFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .divFooter div {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=evenement.css.map */