@font-face {
  font-family: 'icomoon';
  src:
    url('https://cdn.dsmcdn.com/mweb/master/icomoon.inner.9704a22dcfe366790a693b95c1029bbd.woff2') format('woff2'),
    url('https://cdn.dsmcdn.com/mweb/master/icomoon.inner.029db6cc5604d9c43c26e10a0088ab3a.ttf') format('truetype'),
    url('https://cdn.dsmcdn.com/mweb/master/icomoon.inner.57982559c4c88f1f2158c32c7394abc1.woff') format('woff'),
    url('https://cdn.dsmcdn.com/mweb/master/icomoon.inner.1fefc4a7377406c08ba00c26a90ebacf.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket-success-new:before {
  content: "\eb4d";
}
.icon-slim-exclamation-mark:before {
  content: "\eb4c";
}
.icon-heart1:before {
  content: "\eb4a";
}
.icon-heart-filled1:before {
  content: "\eb4b";
}
.icon-price-label-coupon:before {
  content: "\eb46";
  color: #ff4988;
}
.icon-price-label-orders:before {
  content: "\eb47";
  color: #666;
}
.icon-price-label-discount:before {
  content: "\eb48";
  color: #b00;
}
.icon-price-label-tag:before {
  content: "\eb49";
  color: #f27a1a;
}
.icon-discount-coupon:before {
  content: "\e9bf";
}
.icon-smartphone:before {
  content: "\eae9";
  color: #e56d59;
}
.icon-tapeline:before {
  content: "\eadb";
}
.icon-fancy-heart .path1:before {
  content: "\eb01";
  color: rgb(243, 243, 243);
}
.icon-fancy-heart .path2:before {
  content: "\eb02";
  margin-left: -0.951171875em;
  color: rgb(153, 153, 153);
}
.icon-cargo-tracking:before {
  content: "\eb45";
}
.icon-amex-card-logo:before {
  content: "\eb44";
  color: #016fd0;
}
.icon-checkbox-large-tick:before {
  content: "\eb43";
}
.icon-my-reviews:before {
  content: "\eb3f";
}
.icon-message-square:before {
  content: "\eb26";
  color: #e56d59;
}
.icon-verify-sms:before {
  content: "\eb25";
  color: #999;
}
.icon-promotion-tag:before {
  content: "\eb24";
}
.icon-coupon-gift:before {
  content: "\eb21";
}
.icon-combined-shape:before {
  content: "\eb20";
  color: #22ab6d;
}
.icon-free-shipping-truck .path1:before {
  content: "\eb1c";
  color: rgb(240, 240, 240);
}
.icon-free-shipping-truck .path2:before {
  content: "\eb1d";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-free-shipping-truck .path3:before {
  content: "\eb1e";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-free-shipping-truck .path4:before {
  content: "\eb1f";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-cargo-plus .path1:before {
  content: "\eb17";
  color: rgb(240, 240, 240);
}
.icon-cargo-plus .path2:before {
  content: "\eb18";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-cargo-plus .path3:before {
  content: "\eb19";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-cargo-plus .path4:before {
  content: "\eb1a";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-cargo-plus .path5:before {
  content: "\eb1b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-marketplace-orders:before {
  content: "\eb16";
}
.icon-faq .path1:before {
  content: "\eb11";
  color: rgb(211, 211, 211);
}
.icon-faq .path2:before {
  content: "\eb12";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-order-return .path1:before {
  content: "\eb10";
  color: rgb(243, 243, 243);
}
.icon-order-return .path2:before {
  content: "\eb13";
  margin-left: -0.875em;
  color: rgb(229, 109, 89);
}
.icon-Right-Arrow:before {
  content: "\eb0f";
}
.icon-order-tracking:before {
  content: "\eb0e";
}
.icon-shopping-bag-left-arrow:before {
  content: "\eb0b";
}
.icon-shopping-bag-right-arrow:before {
  content: "\eb0c";
}
.icon-bold-cart:before {
  content: "\eb05";
}
.icon-blue-info .path1:before {
  content: "\eb08";
  color: rgb(1, 111, 208);
}
.icon-blue-info .path2:before {
  content: "\eb09";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-blue-info .path3:before {
  content: "\eb0a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user-data:before {
  content: "\eb07";
}
.icon-hanger:before {
  content: "\eb06";
  color: #fff;
}
.icon-return-package:before {
  content: "\eb04";
}
.icon-return-red:before {
  content: "\eafe";
  color: #d55959;
}
.icon-info-outline:before {
  content: "\eaff";
  color: #e56d59;
}
.icon-verify-email:before {
  content: "\eafd";
  color: #999;
}
.icon-giro-pay-logo .path1:before {
  content: "\eaf1";
  color: rgb(15, 51, 101);
}
.icon-giro-pay-logo .path2:before {
  content: "\eaf2";
  margin-left: -1.5em;
  color: rgb(255, 255, 254);
}
.icon-giro-pay-logo .path3:before {
  content: "\eaf3";
  margin-left: -1.5em;
  color: rgb(255, 255, 254);
}
.icon-giro-pay-logo .path4:before {
  content: "\eaf4";
  margin-left: -1.5em;
  color: rgb(15, 51, 101);
}
.icon-giro-pay-logo .path5:before {
  content: "\eaf5";
  margin-left: -1.5em;
  color: rgb(255, 255, 254);
}
.icon-giro-pay-logo .path6:before {
  content: "\eaf6";
  margin-left: -1.5em;
  color: rgb(255, 255, 254);
}
.icon-giro-pay-logo .path7:before {
  content: "\eaf7";
  margin-left: -1.5em;
  color: rgb(255, 255, 254);
}
.icon-giro-pay-logo .path8:before {
  content: "\eaf8";
  margin-left: -1.5em;
  color: rgb(216, 35, 42);
}
.icon-giro-pay-logo .path9:before {
  content: "\eaf9";
  margin-left: -1.5em;
  color: rgb(216, 35, 42);
}
.icon-giro-pay-logo .path10:before {
  content: "\eafa";
  margin-left: -1.5em;
  color: rgb(216, 35, 42);
}
.icon-giro-pay-logo .path11:before {
  content: "\eafb";
  margin-left: -1.5em;
  color: rgb(216, 35, 42);
}
.icon-giro-pay-logo .path12:before {
  content: "\eafc";
  margin-left: -1.5em;
  color: rgb(200, 200, 200);
}
.icon-apple-pay-logo .path1:before {
  content: "\eaea";
  color: rgb(0, 0, 0);
}
.icon-apple-pay-logo .path2:before {
  content: "\eaeb";
  margin-left: -1.5380859375em;
  color: rgb(255, 255, 255);
}
.icon-apple-pay-logo .path3:before {
  content: "\eaec";
  margin-left: -1.5380859375em;
  color: rgb(0, 0, 0);
}
.icon-apple-pay-logo .path4:before {
  content: "\eaed";
  margin-left: -1.5380859375em;
  color: rgb(0, 0, 0);
}
.icon-apple-pay-logo .path5:before {
  content: "\eaee";
  margin-left: -1.5380859375em;
  color: rgb(0, 0, 0);
}
.icon-apple-pay-logo .path6:before {
  content: "\eaef";
  margin-left: -1.5380859375em;
  color: rgb(0, 0, 0);
}
.icon-apple-pay-logo .path7:before {
  content: "\eaf0";
  margin-left: -1.5380859375em;
  color: rgb(0, 0, 0);
}
.icon-google-pay-logo .path1:before {
  content: "\eadc";
  color: rgb(255, 255, 255);
}
.icon-google-pay-logo .path2:before {
  content: "\eadd";
  margin-left: -1.833984375em;
  color: rgb(60, 64, 67);
}
.icon-google-pay-logo .path3:before {
  content: "\eade";
  margin-left: -1.833984375em;
  color: rgb(60, 64, 67);
}
.icon-google-pay-logo .path4:before {
  content: "\eadf";
  margin-left: -1.833984375em;
  color: rgb(60, 64, 67);
}
.icon-google-pay-logo .path5:before {
  content: "\eae0";
  margin-left: -1.833984375em;
  color: rgb(60, 64, 67);
}
.icon-google-pay-logo .path6:before {
  content: "\eae1";
  margin-left: -1.833984375em;
  color: rgb(66, 133, 244);
}
.icon-google-pay-logo .path7:before {
  content: "\eae2";
  margin-left: -1.833984375em;
  color: rgb(52, 168, 83);
}
.icon-google-pay-logo .path8:before {
  content: "\eae3";
  margin-left: -1.833984375em;
  color: rgb(250, 187, 5);
}
.icon-google-pay-logo .path9:before {
  content: "\eae4";
  margin-left: -1.833984375em;
  color: rgb(233, 66, 53);
}
.icon-page-not-found .path1:before {
  content: "\ead7";
  color: rgb(243, 243, 243);
}
.icon-page-not-found .path2:before {
  content: "\ead8";
  margin-left: -0.955078125em;
  color: rgb(153, 153, 153);
}
.icon-page-not-found .path3:before {
  content: "\ead9";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-orders .path1:before {
  content: "\ead3";
  color: rgb(243, 243, 243);
}
.icon-empty-orders .path2:before {
  content: "\ead4";
  margin-left: -0.955078125em;
  color: rgb(153, 153, 153);
}
.icon-empty-orders .path3:before {
  content: "\ead5";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-check-user-info .path1:before {
  content: "\ead1";
  color: rgb(34, 171, 109);
}
.icon-check-user-info .path2:before {
  content: "\ead2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-empty-location .path1:before {
  content: "\eace";
  color: rgb(243, 243, 243);
}
.icon-empty-location .path2:before {
  content: "\eacf";
  margin-left: -0.955078125em;
  color: rgb(153, 153, 153);
}
.icon-empty-location .path3:before {
  content: "\ead0";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-error-message .path1:before {
  content: "\ea8f";
  color: rgb(213, 89, 89);
}
.icon-error-message .path2:before {
  content: "\eabb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-facebook-square .path1:before {
  content: "\eabc";
  color: rgb(76, 110, 168);
}
.icon-facebook-square .path2:before {
  content: "\eabd";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-google-square .path1:before {
  content: "\eabe";
  color: rgb(241, 67, 54);
}
.icon-google-square .path2:before {
  content: "\eabf";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-google-square .path3:before {
  content: "\eac0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-refund-success .path1:before {
  content: "\e91d";
  color: rgb(223, 255, 237);
}
.icon-refund-success .path2:before {
  content: "\eaba";
  margin-left: -1em;
  color: rgb(11, 193, 92);
}
.icon-ssl-secured .path1:before {
  content: "\eab5";
  color: rgb(204, 203, 202);
}
.icon-ssl-secured .path2:before {
  content: "\eab6";
  margin-left: -2.171875em;
  color: rgb(16, 192, 92);
}
.icon-ssl-secured .path3:before {
  content: "\eab7";
  margin-left: -2.171875em;
  color: rgb(255, 255, 254);
}
.icon-ssl-secured .path4:before {
  content: "\eab8";
  margin-left: -2.171875em;
  color: rgb(16, 192, 92);
}
.icon-ssl-secured .path5:before {
  content: "\eab9";
  margin-left: -2.171875em;
  color: rgb(16, 192, 92);
}
.icon-add-address:before {
  content: "\eaaf";
  color: #e56d59;
}
.icon-delivery-address:before {
  content: "\eaae";
}
.icon-empty-basket .path1:before {
  content: "\ea06";
  color: rgb(243, 243, 243);
}
.icon-empty-basket .path2:before {
  content: "\ea07";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path3:before {
  content: "\ea08";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path4:before {
  content: "\ea0c";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path5:before {
  content: "\ea91";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path6:before {
  content: "\ea92";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path7:before {
  content: "\ea93";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path8:before {
  content: "\ea94";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path9:before {
  content: "\ea95";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path10:before {
  content: "\ea96";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path11:before {
  content: "\ea97";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path12:before {
  content: "\ea98";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path13:before {
  content: "\ea99";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path14:before {
  content: "\ea9a";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path15:before {
  content: "\ea9b";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path16:before {
  content: "\ea9c";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path17:before {
  content: "\ea9d";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path18:before {
  content: "\ea9e";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path19:before {
  content: "\ea9f";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path20:before {
  content: "\eaa0";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path21:before {
  content: "\eaa1";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-basket .path22:before {
  content: "\eaa2";
  margin-left: -0.955078125em;
  color: rgb(153, 153, 153);
}
.icon-klarna-logo .path1:before {
  content: "\e9fe";
  color: rgb(255, 179, 199);
}
.icon-klarna-logo .path2:before {
  content: "\e9ff";
  margin-left: -1.7138671875em;
  color: rgb(10, 11, 9);
}
.icon-klarna-logo .path3:before {
  content: "\ea00";
  margin-left: -1.7138671875em;
  color: rgb(200, 200, 200);
}
.icon-rating-star-empty:before {
  content: "\e9fd";
  color: #d8d8d8;
}
.icon-rating-star-full:before {
  content: "\e9fc";
}
.icon-coupon:before {
  content: "\e9fa";
  color: #e56d59;
}
.icon-refund-icon .path1:before {
  content: "\ea88";
  color: rgb(214, 255, 236);
}
.icon-refund-icon .path2:before {
  content: "\ea89";
  margin-left: -1em;
  color: rgb(34, 171, 109);
}
.icon-refund-icon .path3:before {
  content: "\ea8a";
  margin-left: -1em;
  color: rgb(34, 171, 109);
}
.icon-refund-icon .path4:before {
  content: "\ea8b";
  margin-left: -1em;
  color: rgb(214, 255, 236);
}
.icon-refund-icon .path5:before {
  content: "\ea8c";
  margin-left: -1em;
  color: rgb(34, 171, 109);
}
.icon-cross-icon .path1:before {
  content: "\ea8d";
  color: rgb(255, 237, 237);
}
.icon-cross-icon .path2:before {
  content: "\ea8e";
  margin-left: -1.0322265625em;
  color: rgb(213, 89, 89);
}
.icon-web-header-account:before {
  content: "\ea7f";
}
.icon-web-header-cart:before {
  content: "\ea81";
}
.icon-web-header-favorites:before {
  content: "\ea80";
}
.icon-account-help:before {
  content: "\ea77";
}
.icon-adress-info:before {
  content: "\ea78";
}
.icon-announcement:before {
  content: "\ea79";
}
.icon-discount-coupons:before {
  content: "\ea7a";
}
.icon-my-orders:before {
  content: "\ea7b";
}
.icon-user-info:before {
  content: "\ea7c";
}
.icon-pass-change:before {
  content: "\ea7d";
}
.icon-sign-out:before {
  content: "\ea7e";
}
.icon-master-card-logo .path1:before {
  content: "\ea5a";
  color: rgb(255, 255, 255);
}
.icon-master-card-logo .path2:before {
  content: "\ea5b";
  margin-left: -1.5em;
  color: rgb(35, 31, 32);
}
.icon-master-card-logo .path3:before {
  content: "\ea5c";
  margin-left: -1.5em;
  color: rgb(255, 95, 0);
}
.icon-master-card-logo .path4:before {
  content: "\ea5d";
  margin-left: -1.5em;
  color: rgb(235, 0, 27);
}
.icon-master-card-logo .path5:before {
  content: "\ea5e";
  margin-left: -1.5em;
  color: rgb(247, 158, 27);
}
.icon-master-card-logo .path6:before {
  content: "\ea5f";
  margin-left: -1.5em;
  color: rgb(247, 158, 27);
}
.icon-master-card-logo .path7:before {
  content: "\ea60";
  margin-left: -1.5em;
  color: rgb(200, 200, 200);
}
.icon-paypal-logo .path1:before {
  content: "\ea61";
  color: rgb(255, 255, 255);
}
.icon-paypal-logo .path2:before {
  content: "\ea62";
  margin-left: -1.5em;
  color: rgb(0, 162, 211);
}
.icon-paypal-logo .path3:before {
  content: "\ea63";
  margin-left: -1.5em;
  color: rgb(28, 61, 146);
}
.icon-paypal-logo .path4:before {
  content: "\ea64";
  margin-left: -1.5em;
  color: rgb(0, 162, 211);
}
.icon-paypal-logo .path5:before {
  content: "\ea65";
  margin-left: -1.5em;
  color: rgb(28, 61, 146);
}
.icon-paypal-logo .path6:before {
  content: "\ea66";
  margin-left: -1.5em;
  color: rgb(28, 46, 126);
}
.icon-paypal-logo .path7:before {
  content: "\ea67";
  margin-left: -1.5em;
  color: rgb(200, 200, 200);
}
.icon-sofort-logo .path1:before {
  content: "\ea68";
  color: rgb(239, 128, 159);
}
.icon-sofort-logo .path2:before {
  content: "\ea69";
  margin-left: -1.5em;
  color: rgb(255, 255, 255);
}
.icon-sofort-logo .path3:before {
  content: "\ea6a";
  margin-left: -1.5em;
  color: rgb(255, 255, 255);
}
.icon-sofort-logo .path4:before {
  content: "\ea6b";
  margin-left: -1.5em;
  color: rgb(255, 255, 255);
}
.icon-sofort-logo .path5:before {
  content: "\ea6c";
  margin-left: -1.5em;
  color: rgb(255, 255, 255);
}
.icon-sofort-logo .path6:before {
  content: "\ea6d";
  margin-left: -1.5em;
  color: rgb(200, 200, 200);
}
.icon-visa-logo .path1:before {
  content: "\ea6e";
  color: rgb(255, 255, 255);
}
.icon-visa-logo .path2:before {
  content: "\ea6f";
  margin-left: -1.5em;
  color: rgb(0, 90, 155);
}
.icon-visa-logo .path3:before {
  content: "\ea70";
  margin-left: -1.5em;
  color: rgb(0, 90, 155);
}
.icon-visa-logo .path4:before {
  content: "\ea71";
  margin-left: -1.5em;
  color: rgb(0, 90, 155);
}
.icon-visa-logo .path5:before {
  content: "\ea72";
  margin-left: -1.5em;
  color: rgb(0, 90, 155);
}
.icon-visa-logo .path6:before {
  content: "\ea73";
  margin-left: -1.5em;
  color: rgb(0, 90, 155);
}
.icon-visa-logo .path7:before {
  content: "\ea74";
  margin-left: -1.5em;
  color: rgb(0, 90, 155);
}
.icon-visa-logo .path8:before {
  content: "\ea75";
  margin-left: -1.5em;
  color: rgb(250, 169, 41);
}
.icon-visa-logo .path9:before {
  content: "\ea76";
  margin-left: -1.5em;
  color: rgb(200, 200, 200);
}
.icon-basket-update .path1:before {
  content: "\ea54";
  color: rgb(214, 255, 236);
}
.icon-basket-update .path2:before {
  content: "\ea55";
  margin-left: -1.0322265625em;
  color: rgb(34, 171, 109);
}
.icon-basket-update .path3:before {
  content: "\ea56";
  margin-left: -1.0322265625em;
  color: rgb(34, 171, 109);
}
.icon-basket-update .path4:before {
  content: "\ea57";
  margin-left: -1.0322265625em;
  color: rgb(34, 171, 109);
}
.icon-basket-update .path5:before {
  content: "\ea58";
  margin-left: -1.0322265625em;
  color: rgb(34, 171, 109);
}
.icon-basket-update .path6:before {
  content: "\ea59";
  margin-left: -1.0322265625em;
  color: rgb(34, 171, 109);
}
.icon-int-menu:before {
  content: "\ea53";
}
.icon-payment-methods .path1:before {
  content: "\ea3a";
  color: rgb(0, 79, 139);
}
.icon-payment-methods .path2:before {
  content: "\ea3b";
  margin-left: -5.625em;
  color: rgb(0, 79, 139);
}
.icon-payment-methods .path3:before {
  content: "\ea3c";
  margin-left: -5.625em;
  color: rgb(0, 79, 139);
}
.icon-payment-methods .path4:before {
  content: "\ea3d";
  margin-left: -5.625em;
  color: rgb(0, 79, 139);
}
.icon-payment-methods .path5:before {
  content: "\ea3e";
  margin-left: -5.625em;
  color: rgb(237, 159, 45);
}
.icon-payment-methods .path6:before {
  content: "\ea3f";
  margin-left: -5.625em;
  color: rgb(29, 29, 27);
}
.icon-payment-methods .path7:before {
  content: "\ea40";
  margin-left: -5.625em;
  color: rgb(29, 29, 27);
}
.icon-payment-methods .path8:before {
  content: "\ea41";
  margin-left: -5.625em;
  color: rgb(29, 29, 27);
}
.icon-payment-methods .path9:before {
  content: "\ea42";
  margin-left: -5.625em;
  color: rgb(29, 29, 27);
}
.icon-payment-methods .path10:before {
  content: "\ea43";
  margin-left: -5.625em;
  color: rgb(29, 29, 27);
}
.icon-payment-methods .path11:before {
  content: "\ea44";
  margin-left: -5.625em;
  color: rgb(29, 29, 27);
}
.icon-payment-methods .path12:before {
  content: "\ea45";
  margin-left: -5.625em;
  color: rgb(29, 29, 27);
}
.icon-payment-methods .path13:before {
  content: "\ea46";
  margin-left: -5.625em;
  color: rgb(29, 29, 27);
}
.icon-payment-methods .path14:before {
  content: "\ea47";
  margin-left: -5.625em;
  color: rgb(29, 29, 27);
}
.icon-payment-methods .path15:before {
  content: "\ea48";
  margin-left: -5.625em;
  color: rgb(29, 29, 27);
}
.icon-payment-methods .path16:before {
  content: "\ea49";
  margin-left: -5.625em;
  color: rgb(29, 29, 27);
}
.icon-payment-methods .path17:before {
  content: "\ea4a";
  margin-left: -5.625em;
  color: rgb(227, 14, 23);
}
.icon-payment-methods .path18:before {
  content: "\ea4b";
  margin-left: -5.625em;
  color: rgb(234, 96, 10);
}
.icon-payment-methods .path19:before {
  content: "\ea4c";
  margin-left: -5.625em;
  color: rgb(245, 159, 0);
}
.icon-payment-methods .path20:before {
  content: "\ea4d";
  margin-left: -5.625em;
  color: rgb(245, 159, 0);
}
.icon-payment-methods .path21:before {
  content: "\ea4e";
  margin-left: -5.625em;
  color: rgb(239, 128, 159);
}
.icon-payment-methods .path22:before {
  content: "\ea4f";
  margin-left: -5.625em;
  color: rgb(255, 255, 255);
}
.icon-payment-methods .path23:before {
  content: "\ea50";
  margin-left: -5.625em;
  color: rgb(255, 255, 255);
}
.icon-payment-methods .path24:before {
  content: "\ea51";
  margin-left: -5.625em;
  color: rgb(255, 255, 255);
}
.icon-payment-methods .path25:before {
  content: "\ea52";
  margin-left: -5.625em;
  color: rgb(255, 255, 255);
}
.icon-int-promotion:before {
  content: "\ea33";
}
.icon-int-download:before {
  content: "\ea32";
  color: #fff;
}
.icon-int-return-icon .path1:before {
  content: "\ea2b";
  color: rgb(214, 255, 236);
}
.icon-int-return-icon .path2:before {
  content: "\ea2c";
  margin-left: -1.0322265625em;
  color: rgb(34, 171, 109);
}
.icon-int-return-icon .path3:before {
  content: "\ea2d";
  margin-left: -1.0322265625em;
  color: rgb(34, 171, 109);
}
.icon-int-return-icon .path4:before {
  content: "\ea2e";
  margin-left: -1.0322265625em;
  color: rgb(34, 171, 109);
}
.icon-int-return-icon .path5:before {
  content: "\ea2f";
  margin-left: -1.0322265625em;
  color: rgb(34, 171, 109);
}
.icon-int-return-icon .path6:before {
  content: "\ea30";
  margin-left: -1.0322265625em;
  color: rgb(34, 171, 109);
}
.icon-int-return-icon .path7:before {
  content: "\ea31";
  margin-left: -1.0322265625em;
  color: rgb(34, 171, 109);
}
.icon-int-call:before {
  content: "\ea2a";
}
.icon-int-email:before {
  content: "\ea29";
}
.icon-chat-us:before {
  content: "\ea28";
}
.icon-int-header-search .path1:before {
  content: "\ea1d";
  color: rgb(255, 255, 255);
}
.icon-int-header-search .path2:before {
  content: "\ea1e";
  margin-left: -0.9443359375em;
  color: rgb(51, 51, 51);
}
.icon-int-header-bag .path1:before {
  content: "\ea1f";
  color: rgb(255, 255, 255);
}
.icon-int-header-bag .path2:before {
  content: "\ea20";
  margin-left: -0.6669921875em;
  color: rgb(51, 51, 51);
}
.icon-int-header-logo .path1:before {
  content: "\ea21";
  color: rgb(255, 255, 255);
}
.icon-int-header-logo .path2:before {
  content: "\ea22";
  margin-left: -2.63671875em;
  color: rgb(51, 51, 51);
}
.icon-int-header-logo .path3:before {
  content: "\ea23";
  margin-left: -2.63671875em;
  color: rgb(255, 103, 27);
}
.icon-int-header-logo .path4:before {
  content: "\ea27";
  margin-left: -2.63671875em;
  color: rgb(255, 255, 255);
}
.icon-int-header-heart:before {
  content: "\ea24";
}
.icon-int-header-back .path1:before {
  content: "\ea25";
  color: rgb(255, 255, 255);
}
.icon-int-header-back .path2:before {
  content: "\ea26";
  margin-left: -1.1337890625em;
  color: rgb(51, 51, 51);
}
.icon-int-chevron-up:before {
  content: "\ea1b";
}
.icon-int-chevron-down:before {
  content: "\ea1c";
}
.icon-int-favorites-thin:before {
  content: "\ea1a";
}
.icon-int-share:before {
  content: "\ea19";
}
.icon-int-star:before {
  content: "\ea18";
}
.icon-int-favorites-full:before {
  content: "\ea17";
}
.icon-close1:before {
  content: "\ea12";
  color: #999;
}
.icon-search1:before {
  content: "\ea16";
}
.icon-ic-sort-24-px:before {
  content: "\ea13";
}
.icon-filter1:before {
  content: "\ea14";
}
.icon-path:before {
  content: "\ea15";
  color: #e56d59;
}
.icon-int-favorites:before {
  content: "\ea0e";
}
.icon-int-profile:before {
  content: "\ea0f";
  color: #fff;
}
.icon-int-search:before {
  content: "\ea10";
  color: #fff;
}
.icon-black-truck:before {
  content: "\ea0b";
}
.icon-int-basket:before {
  content: "\ea0d";
  color: #fff;
}
.icon-black-credit-cart:before {
  content: "\ea11";
}
.icon-wallet-error:before {
  content: "\ea0a";
}
.icon-report-product:before {
  content: "\eb42";
}
.icon-show-more-edit:before {
  content: "\eb40";
}
.icon-show-more-delete:before {
  content: "\eb41";
}
.icon-more-detail:before {
  content: "\eb3e";
  color: #999;
}
.icon-empty-collection-icon .path1:before {
  content: "\eb28";
  color: rgb(243, 243, 243);
}
.icon-empty-collection-icon .path2:before {
  content: "\eb29";
  margin-left: -0.9580078125em;
  color: rgb(153, 153, 153);
}
.icon-empty-collection-icon .path3:before {
  content: "\eb2a";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path4:before {
  content: "\eb2b";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path5:before {
  content: "\eb2c";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path6:before {
  content: "\eb2d";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path7:before {
  content: "\eb2e";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path8:before {
  content: "\eb2f";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path9:before {
  content: "\eb30";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path10:before {
  content: "\eb31";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path11:before {
  content: "\eb32";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path12:before {
  content: "\eb33";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path13:before {
  content: "\eb34";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path14:before {
  content: "\eb35";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path15:before {
  content: "\eb36";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path16:before {
  content: "\eb37";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path17:before {
  content: "\eb38";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path18:before {
  content: "\eb39";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path19:before {
  content: "\eb3a";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path20:before {
  content: "\eb3b";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path21:before {
  content: "\eb3c";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-empty-collection-icon .path22:before {
  content: "\eb3d";
  margin-left: -0.9580078125em;
  color: rgb(182, 186, 185);
}
.icon-collections-filled:before {
  content: "\eb27";
}
.icon-runs-out .path1:before {
  content: "\eb22";
  color: rgb(199, 31, 30);
}
.icon-runs-out .path2:before {
  content: "\eb23";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-helpful:before {
  content: "\eb15";
}
.icon-report-tip:before {
  content: "\eb14";
  color: #999;
}
.icon-help-menu-return:before {
  content: "\eb0d";
}
.icon-smartphone-black:before {
  content: "\eb03";
}
.icon-call-us:before {
  content: "\eb00";
}
.icon-refund-circle:before {
  content: "\eae8";
}
.icon-top-bottoms:before {
  content: "\eae5";
}
.icon-shoes:before {
  content: "\eae6";
}
.icon-swimwear:before {
  content: "\eae7";
}
.icon-free-cargo-truck:before {
  content: "\eada";
}
.icon-return-product:before {
  content: "\ead6";
}
.icon-delete:before {
  content: "\e9fb";
}
.icon-shopping-heart .path1:before {
  content: "\ea01";
  color: rgb(255, 240, 237);
}
.icon-shopping-heart .path2:before {
  content: "\ea02";
  margin-left: -1.029296875em;
  color: rgb(255, 255, 255);
}
.icon-shopping-heart .path3:before {
  content: "\ea04";
  margin-left: -1.029296875em;
  color: rgb(229, 109, 89);
}
.icon-shopping-heart .path4:before {
  content: "\ea05";
  margin-left: -1.029296875em;
  color: rgb(229, 109, 89);
}
.icon-exclamation .path1:before {
  content: "\eacc";
  color: rgb(255, 235, 235);
}
.icon-exclamation .path2:before {
  content: "\eacd";
  margin-left: -1em;
  color: rgb(213, 89, 89);
}
.icon-circle-coupon .path1:before {
  content: "\eac8";
  color: rgb(243, 243, 243);
}
.icon-circle-coupon .path2:before {
  content: "\eac9";
  margin-left: -0.955078125em;
  color: rgb(153, 153, 153);
}
.icon-circle-coupon .path3:before {
  content: "\eaca";
  margin-left: -0.955078125em;
  color: rgb(153, 153, 153);
}
.icon-circle-coupon .path4:before {
  content: "\eacb";
  margin-left: -0.955078125em;
  color: rgb(182, 186, 185);
}
.icon-about-trendyol:before {
  content: "\eac6";
}
.icon-bell-icon:before {
  content: "\eac7";
}
.icon-file-text:before {
  content: "\eac4";
}
.icon-fast-delivery:before {
  content: "\eac5";
}
.icon-white-return:before {
  content: "\eac3";
}
.icon-chat:before {
  content: "\eac2";
  color: #fff;
}
.icon-return:before {
  content: "\eac1";
}
.icon-card-white:before {
  content: "\eab4";
}
.icon-basket-plus .path1:before {
  content: "\eab0";
  color: rgb(51, 51, 51);
}
.icon-basket-plus .path2:before {
  content: "\eab1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-basket-plus .path3:before {
  content: "\eab2";
  margin-left: -1em;
  color: rgb(229, 109, 89);
}
.icon-basket-plus .path4:before {
  content: "\eab3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping-change .path1:before {
  content: "\eaa4";
  color: rgb(255, 240, 237);
}
.icon-shopping-change .path2:before {
  content: "\eaa5";
  margin-left: -1.0439453125em;
  color: rgb(229, 109, 89);
}
.icon-shopping-change .path3:before {
  content: "\eaa6";
  margin-left: -1.0439453125em;
  color: rgb(255, 255, 255);
}
.icon-shopping-change .path4:before {
  content: "\eaa7";
  margin-left: -1.0439453125em;
  color: rgb(255, 240, 237);
}
.icon-shopping-change .path5:before {
  content: "\eaa8";
  margin-left: -1.0439453125em;
  color: rgb(229, 109, 89);
}
.icon-shopping-time .path1:before {
  content: "\eaa9";
  color: rgb(255, 240, 237);
}
.icon-shopping-time .path2:before {
  content: "\eaaa";
  margin-left: -1.0439453125em;
  color: rgb(229, 109, 89);
}
.icon-shopping-time .path3:before {
  content: "\eaab";
  margin-left: -1.0439453125em;
  color: rgb(255, 240, 237);
}
.icon-shopping-time .path4:before {
  content: "\eaac";
  margin-left: -1.0439453125em;
  color: rgb(255, 255, 255);
}
.icon-shopping-time .path5:before {
  content: "\eaad";
  margin-left: -1.0439453125em;
  color: rgb(229, 109, 89);
}
.icon-tick-2:before {
  content: "\eaa3";
}
.icon-x:before {
  content: "\e9f9";
}
.icon-group:before {
  content: "\e9f7";
}
.icon-log-out:before {
  content: "\e9f8";
}
.icon-box:before {
  content: "\ea90";
}
.icon-world-icon:before {
  content: "\ea87";
}
.icon-search-big:before {
  content: "\ea86";
}
.icon-instagram-circle:before {
  content: "\ea82";
}
.icon-twitter-circle:before {
  content: "\ea83";
}
.icon-youtube-circle:before {
  content: "\ea84";
}
.icon-facebook-circle:before {
  content: "\ea85";
}
.icon-masked-phone .path1:before {
  content: "\ea34";
  color: rgb(255, 244, 236);
}
.icon-masked-phone .path2:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(242, 122, 26);
}
.icon-masked-phone .path3:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(242, 122, 26);
}
.icon-masked-phone .path4:before {
  content: "\ea37";
  margin-left: -1em;
  color: rgb(242, 122, 26);
}
.icon-masked-phone .path5:before {
  content: "\ea38";
  margin-left: -1em;
  color: rgb(242, 122, 26);
}
.icon-masked-phone .path6:before {
  content: "\ea39";
  margin-left: -1em;
  color: rgb(242, 122, 26);
}
.icon-waiting-passive:before {
  content: "\e9b7";
}
.icon-receipt:before {
  content: "\e9f2";
}
.icon-refund-rejected:before {
  content: "\e91e";
}
.icon-refund:before {
  content: "\e9e7";
}
.icon-location:before {
  content: "\e9e3";
}
.icon-sad-box:before {
  content: "\e961";
}
.icon-claim:before {
  content: "\e95e";
}
.icon-refresh:before {
  content: "\e9ea";
}
.icon-red-void:before {
  content: "\e9b3";
}
.icon-ok-passive:before {
  content: "\e9b2";
}
.icon-cargo-passive:before {
  content: "\e9aa";
}
.icon-waiting-passive-1:before {
  content: "\e9b8";
}
.icon-warning:before {
  content: "\ea03";
}
.icon-shopping-search:before {
  content: "\ea09";
}
.icon-seller:before {
  content: "\e93f";
}
.icon-cargo-location:before {
  content: "\e9f4";
}
.icon-chevron-decrease:before {
  content: "\e9f0";
}
.icon-history-bill:before {
  content: "\e9e0";
}
.icon-wallet-filled:before {
  content: "\e9c2";
  color: #999;
}
.icon-phone-verify:before {
  content: "\e9da";
}
.icon-furniture:before {
  content: "\e9d9";
}
.icon-lock:before {
  content: "\e9bd";
}
.icon-arrow-gray:before {
  content: "\e9d0";
  color: #999;
}
.icon-magnify-label .path1:before {
  content: "\e9cb";
  color: rgb(251, 251, 251);
}
.icon-magnify-label .path2:before {
  content: "\e9cc";
  margin-left: -1.0341796875em;
  color: rgb(236, 236, 236);
}
.icon-magnify-label .path3:before {
  content: "\e9cd";
  margin-left: -1.0341796875em;
  color: rgb(228, 228, 228);
}
.icon-magnify-label .path4:before {
  content: "\e9ce";
  margin-left: -1.0341796875em;
  color: rgb(220, 220, 220);
}
.icon-magnify-label .path5:before {
  content: "\e9cf";
  margin-left: -1.0341796875em;
  color: rgb(204, 204, 204);
}
.icon-arrow:before {
  content: "\e9ca";
}
.icon-call-phone1 .path1:before {
  content: "\e9b9";
  color: rgb(151, 151, 151);
}
.icon-call-phone1 .path2:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(139, 139, 139);
}
.icon-call-phone1 .path3:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(139, 139, 139);
}
.icon-call-phone1 .path4:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(139, 139, 139);
}
.icon-arrow-orange:before {
  content: "\e9be";
  color: #f27a1a;
}
.icon-fast-cargo1 .path1:before {
  content: "\e9c3";
  color: rgb(151, 151, 151);
}
.icon-fast-cargo1 .path2:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(139, 139, 139);
}
.icon-fast-cargo1 .path3:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(139, 139, 139);
}
.icon-fast-cargo1 .path4:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(139, 139, 139);
}
.icon-fast-cargo1 .path5:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(139, 139, 139);
}
.icon-fast-cargo1 .path6:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(139, 139, 139);
}
.icon-fast-cargo1 .path7:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(139, 139, 139);
}
.icon-red-refund:before {
  content: "\e9f3";
  color: #b00;
}
.icon-cargo-active:before {
  content: "\e9a0";
  color: #0bc15c;
}
.icon-ok-active:before {
  content: "\e9b1";
  color: #0bc15c;
}
.icon-thumbsup-active:before {
  content: "\e9b4";
  color: #0bc15c;
}
.icon-thumbsup-passive:before {
  content: "\e9b5";
  color: #999;
}
.icon-waiting-active:before {
  content: "\e9b6";
  color: #0bc15c;
}
.icon-message-box:before {
  content: "\e9a1";
}
.icon-bank-error-info-1 .path1:before {
  content: "\e980";
  color: rgb(151, 151, 151);
}
.icon-bank-error-info-1 .path2:before {
  content: "\e981";
  margin-left: -1.185546875em;
  color: rgb(242, 122, 26);
}
.icon-bank-error-info-2 .path1:before {
  content: "\e99f";
  color: rgb(139, 139, 139);
}
.icon-bank-error-info-2 .path2:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(243, 121, 0);
}
.icon-bank-error-info-2 .path3:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(242, 122, 26);
}
.icon-bank-error-info-3 .path1:before {
  content: "\e9a5";
  color: rgb(151, 151, 151);
}
.icon-bank-error-info-3 .path2:before {
  content: "\e9a6";
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-bank-error-info-3 .path3:before {
  content: "\e9a7";
  margin-left: -1.375em;
  color: rgb(151, 151, 151);
}
.icon-bank-error-info-3 .path4:before {
  content: "\e9a8";
  margin-left: -1.375em;
  color: rgb(242, 122, 26);
}
.icon-bank-error-info-3 .path5:before {
  content: "\e9a9";
  margin-left: -1.375em;
  color: rgb(242, 122, 26);
}
.icon-card-exclamation .path1:before {
  content: "\e96d";
  color: rgb(151, 151, 151);
}
.icon-card-exclamation .path2:before {
  content: "\e96e";
  margin-left: -1.7255859375em;
  color: rgb(151, 151, 151);
}
.icon-card-exclamation .path3:before {
  content: "\e96f";
  margin-left: -1.7255859375em;
  color: rgb(151, 151, 151);
}
.icon-card-exclamation .path4:before {
  content: "\e970";
  margin-left: -1.7255859375em;
  color: rgb(150, 150, 150);
}
.icon-card-exclamation .path5:before {
  content: "\e971";
  margin-left: -1.7255859375em;
  color: rgb(150, 150, 150);
}
.icon-card-exclamation .path6:before {
  content: "\e972";
  margin-left: -1.7255859375em;
  color: rgb(255, 255, 255);
}
.icon-card-exclamation .path7:before {
  content: "\e973";
  margin-left: -1.7255859375em;
  color: rgb(242, 122, 26);
}
.icon-ssl .path1:before {
  content: "\e99b";
  color: rgb(214, 213, 218);
}
.icon-ssl .path2:before {
  content: "\e9ec";
  margin-left: -2.1171875em;
  color: rgb(11, 193, 92);
}
.icon-ssl .path3:before {
  content: "\e9ed";
  margin-left: -2.1171875em;
  color: rgb(255, 255, 255);
}
.icon-ssl .path4:before {
  content: "\e9ee";
  margin-left: -2.1171875em;
  color: rgb(11, 193, 92);
}
.icon-ssl .path5:before {
  content: "\e9ef";
  margin-left: -2.1171875em;
  color: rgb(11, 193, 92);
}
.icon-collection-shape:before {
  content: "\e985";
  color: #f27a1a;
}
.icon-checkbox-unchecked:before {
  content: "\e96b";
}
.icon-checkbox-checked:before {
  content: "\e97e";
}
.icon-success-check:before {
  content: "\e9c1";
}
.icon-account:before {
  content: "\e974";
  color: #999;
}
.icon-help .path1:before {
  content: "\e975";
  color: rgb(153, 153, 153);
}
.icon-help .path2:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-exit:before {
  content: "\e977";
  color: #999;
}
.icon-woman:before {
  content: "\e978";
}
.icon-supermarket:before {
  content: "\e979";
}
.icon-spor-outdoor:before {
  content: "\e97a";
}
.icon-shoes-bag:before {
  content: "\e97b";
}
.icon-man:before {
  content: "\e97c";
}
.icon-home-life:before {
  content: "\e97d";
}
.icon-electronic:before {
  content: "\e97f";
}
.icon-cosmetic:before {
  content: "\e982";
}
.icon-clock-accessory:before {
  content: "\e983";
}
.icon-children:before {
  content: "\e984";
}
.icon-spinner:before {
  content: "\e964";
}
.icon-like:before {
  content: "\e968";
}
.icon-spinner-warning:before {
  content: "\e96c";
}
.icon-empty-star:before {
  content: "\e967";
}
.icon-star:before {
  content: "\e966";
  color: #e6e6e6;
}
.icon-alarm:before {
  content: "\e963";
  color: #999;
}
.icon-shopping-cart:before {
  content: "\e962";
}
.icon-cargo-box-light:before {
  content: "\e9f1";
  color: #666;
}
.icon-trendyol-partner .path1:before {
  content: "\e960";
  color: rgb(51, 51, 51);
}
.icon-trendyol-partner .path2:before {
  content: "\e965";
  margin-left: -3.5341796875em;
  color: rgb(242, 122, 26);
}
.icon-trendyol-partner .path3:before {
  content: "\e986";
  margin-left: -3.5341796875em;
  color: rgb(242, 122, 26);
}
.icon-twitter:before {
  content: "\e95f";
}
.icon-radio-unchecked:before {
  content: "\e93c";
}
.icon-radio-checked:before {
  content: "\e93d";
}
.icon-hamburger-menu-with-text-en:before {
  content: "\e9f5";
}
.icon-search-long:before {
  content: "\e930";
}
.icon-thumbs-up:before {
  content: "\e945";
}
.icon-time:before {
  content: "\e9e4";
}
.icon-cargo-with-arrow:before {
  content: "\e955";
}
.icon-wallet:before {
  content: "\e9e5";
}
.icon-box-with-hand:before {
  content: "\e96a";
}
.icon-location-mark-circled:before {
  content: "\e9e2";
}
.icon-sad-search:before {
  content: "\e969";
}
.icon-minus:before {
  content: "\e99d";
}
.icon-plus:before {
  content: "\e9c0";
}
.icon-call-phone:before {
  content: "\e997";
}
.icon-fast-cargo:before {
  content: "\e998";
}
.icon-question-circled:before {
  content: "\e99e";
}
.icon-reload:before {
  content: "\e9e1";
}
.icon-google:before {
  content: "\e999";
}
.icon-eye-close:before {
  content: "\e9e6";
}
.icon-eye-open:before {
  content: "\e9e8";
}
.icon-warning-tip:before {
  content: "\e99a";
}
.icon-basket-success-icon:before {
  content: "\e9e9";
}
.icon-rush-clock:before {
  content: "\e9df";
}
.icon-plus-18:before {
  content: "\e9de";
  color: #b30000;
}
.icon-fire-filled:before {
  content: "\e9dc";
}
.icon-help-filled:before {
  content: "\e9d7";
}
.icon-logout:before {
  content: "\e9d8";
}
.icon-info-filled:before {
  content: "\e9d2";
}
.icon-credit-card:before {
  content: "\e9d3";
}
.icon-location-mark:before {
  content: "\e9d4";
}
.icon-email:before {
  content: "\e9d5";
}
.icon-discount:before {
  content: "\e9d6";
}
.icon-hamburger-menu-with-text:before {
  content: "\e9b0";
}
.icon-trendyol-marketplace .path1:before {
  content: "\e9ad";
  color: rgb(51, 51, 51);
}
.icon-trendyol-marketplace .path2:before {
  content: "\e9ae";
  margin-left: -3.5830078125em;
  color: rgb(242, 122, 26);
}
.icon-trendyol-marketplace .path3:before {
  content: "\e9af";
  margin-left: -3.5830078125em;
  color: rgb(242, 122, 26);
}
.icon-seller1:before {
  content: "\e9a4";
}
.icon-sad-face-yellow .path1:before {
  content: "\e98e";
  color: rgb(0, 0, 0);
}
.icon-sad-face-yellow .path2:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(253, 209, 99);
}
.icon-sad-face-yellow .path3:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-sad-face-yellow .path4:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-smile-face .path1:before {
  content: "\e992";
  color: rgb(0, 0, 0);
}
.icon-smile-face .path2:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(236, 236, 236);
}
.icon-smile-face .path3:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-smile-face .path4:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-sad-face .path1:before {
  content: "\e987";
  color: rgb(0, 0, 0);
}
.icon-sad-face .path2:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(236, 236, 236);
}
.icon-sad-face .path3:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-sad-face .path4:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-smile-face-yellow .path1:before {
  content: "\e98b";
  color: rgb(0, 0, 0);
}
.icon-smile-face-yellow .path2:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(253, 209, 99);
}
.icon-smile-face-yellow .path3:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-smile-face-yellow .path4:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-more-vertical:before {
  content: "\e99c";
}
.icon-checkmark-full:before {
  content: "\e95d";
}
.icon-shopping-cart-with-time .path1:before {
  content: "\e959";
  color: rgb(128, 128, 128);
}
.icon-shopping-cart-with-time .path2:before {
  content: "\e95a";
  margin-left: -1.1041666666666663em;
  color: rgb(242, 122, 26);
}
.icon-shopping-cart-with-time .path3:before {
  content: "\e95b";
  margin-left: -1.1041666666666663em;
  color: rgb(255, 255, 255);
}
.icon-shopping-cart-with-time .path4:before {
  content: "\e95c";
  margin-left: -1.1041666666666663em;
  color: rgb(255, 255, 255);
}
.icon-facebook:before {
  content: "\e942";
}
.icon-messenger:before {
  content: "\e957";
}
.icon-whatsapp:before {
  content: "\e958";
}
.icon-share:before {
  content: "\e941";
}
.icon-copy:before {
  content: "\e93e";
}
.icon-mail:before {
  content: "\e940";
}
.icon-sms:before {
  content: "\e9f6";
}
.icon-arrow-drop-down:before {
  content: "\e93b";
}
.icon-discount-shape:before {
  content: "\e956";
}
.icon-info:before {
  content: "\e9eb";
}
.icon-alert-circle:before {
  content: "\e954";
}
.icon-group-789-2-2-2:before {
  content: "\e947";
}
.icon-refund-copy:before {
  content: "\e946";
}
.icon-trendyol-logo-de .path1:before {
  content: "\e948";
  color: rgb(34, 31, 32);
}
.icon-trendyol-logo-de .path2:before {
  content: "\e949";
  margin-left: -2.9091796875em;
  color: rgb(34, 31, 32);
}
.icon-trendyol-logo-de .path3:before {
  content: "\e94a";
  margin-left: -2.9091796875em;
  color: rgb(34, 31, 32);
}
.icon-trendyol-logo-de .path4:before {
  content: "\e94b";
  margin-left: -2.9091796875em;
  color: rgb(34, 31, 32);
}
.icon-trendyol-logo-de .path5:before {
  content: "\e94c";
  margin-left: -2.9091796875em;
  color: rgb(34, 31, 32);
}
.icon-trendyol-logo-de .path6:before {
  content: "\e94d";
  margin-left: -2.9091796875em;
  color: rgb(34, 31, 32);
}
.icon-trendyol-logo-de .path7:before {
  content: "\e94e";
  margin-left: -2.9091796875em;
  color: rgb(34, 31, 32);
}
.icon-trendyol-logo-de .path8:before {
  content: "\e94f";
  margin-left: -2.9091796875em;
  color: rgb(34, 31, 32);
}
.icon-trendyol-logo-de .path9:before {
  content: "\e950";
  margin-left: -2.9091796875em;
  color: rgb(255, 103, 27);
}
.icon-trendyol-logo-de .path10:before {
  content: "\e951";
  margin-left: -2.9091796875em;
  color: rgb(255, 255, 255);
}
.icon-trendyol-logo-de .path11:before {
  content: "\e952";
  margin-left: -2.9091796875em;
  color: rgb(255, 255, 255);
}
.icon-plane-icon:before {
  content: "\e953";
}
.icon-cargo-box:before {
  content: "\e944";
  color: #999;
}
.icon-info-tag:before {
  content: "\e943";
}
.icon-heart:before {
  content: "\e906";
}
.icon-not-found:before {
  content: "\e939";
}
.icon-trendyol-elite .path1:before {
  content: "\e908";
  color: rgb(35, 31, 32);
}
.icon-trendyol-elite .path2:before {
  content: "\e909";
  margin-left: -3.65625em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-elite .path3:before {
  content: "\e90a";
  margin-left: -3.65625em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-elite .path4:before {
  content: "\e90b";
  margin-left: -3.65625em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-elite .path5:before {
  content: "\e90c";
  margin-left: -3.65625em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-elite .path6:before {
  content: "\e90d";
  margin-left: -3.65625em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-elite .path7:before {
  content: "\e90e";
  margin-left: -3.65625em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-elite .path8:before {
  content: "\e90f";
  margin-left: -3.65625em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-elite .path9:before {
  content: "\e910";
  margin-left: -3.65625em;
  color: rgb(137, 138, 138);
}
.icon-trendyol-elite .path10:before {
  content: "\e911";
  margin-left: -3.65625em;
  color: rgb(255, 255, 255);
}
.icon-trendyol-elite .path11:before {
  content: "\e912";
  margin-left: -3.65625em;
  color: rgb(255, 255, 255);
}
.icon-trendyol-elite .path12:before {
  content: "\e913";
  margin-left: -3.65625em;
  color: rgb(255, 255, 255);
}
.icon-trendyol-elite .path13:before {
  content: "\e914";
  margin-left: -3.65625em;
  color: rgb(255, 255, 255);
}
.icon-trendyol-elite .path14:before {
  content: "\e915";
  margin-left: -3.65625em;
  color: rgb(137, 138, 138);
}
.icon-trendyol-elite .path15:before {
  content: "\e916";
  margin-left: -3.65625em;
  color: rgb(137, 138, 138);
}
.icon-trendyol-elite .path16:before {
  content: "\e917";
  margin-left: -3.65625em;
  color: rgb(137, 138, 138);
}
.icon-trendyol-elite .path17:before {
  content: "\e918";
  margin-left: -3.65625em;
  color: rgb(137, 138, 138);
}
.icon-trendyol-elite .path18:before {
  content: "\e919";
  margin-left: -3.65625em;
  color: rgb(137, 138, 138);
}
.icon-label-magnify .path1:before {
  content: "\e934";
  color: rgb(201, 201, 201);
}
.icon-label-magnify .path2:before {
  content: "\e935";
  margin-left: -1.0341796875em;
  color: rgb(201, 201, 201);
}
.icon-label-magnify .path3:before {
  content: "\e936";
  margin-left: -1.0341796875em;
  color: rgb(255, 255, 255);
}
.icon-label-magnify .path4:before {
  content: "\e937";
  margin-left: -1.0341796875em;
  color: rgb(201, 201, 201);
}
.icon-circle-bullet:before {
  content: "\e921";
}
.icon-check:before {
  content: "\e933";
}
.icon-tag:before {
  content: "\e9ab";
}
.icon-truck:before {
  content: "\e91f";
}
.icon-cancel:before {
  content: "\e91c";
}
.icon-trash:before {
  content: "\e91b";
}
.icon-user:before {
  content: "\e91a";
}
.icon-basket:before {
  content: "\e920";
}
.icon-trendyol-logo .path1:before {
  content: "\e922";
  color: rgb(35, 31, 32);
}
.icon-trendyol-logo .path2:before {
  content: "\e923";
  margin-left: -2.9130859375em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-logo .path3:before {
  content: "\e924";
  margin-left: -2.9130859375em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-logo .path4:before {
  content: "\e925";
  margin-left: -2.9130859375em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-logo .path5:before {
  content: "\e926";
  margin-left: -2.9130859375em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-logo .path6:before {
  content: "\e927";
  margin-left: -2.9130859375em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-logo .path7:before {
  content: "\e928";
  margin-left: -2.9130859375em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-logo .path8:before {
  content: "\e929";
  margin-left: -2.9130859375em;
  color: rgb(35, 31, 32);
}
.icon-trendyol-logo .path9:before {
  content: "\e92a";
  margin-left: -2.9130859375em;
  color: rgb(255, 103, 27);
}
.icon-trendyol-logo .path10:before {
  content: "\e92b";
  margin-left: -2.9130859375em;
  color: rgb(255, 255, 255);
}
.icon-trendyol-logo .path11:before {
  content: "\e92c";
  margin-left: -2.9130859375em;
  color: rgb(255, 255, 255);
}
.icon-trendyol-logo .path12:before {
  content: "\e92d";
  margin-left: -2.9130859375em;
  color: rgb(255, 255, 255);
}
.icon-trendyol-logo .path13:before {
  content: "\e92e";
  margin-left: -2.9130859375em;
  color: rgb(255, 255, 255);
}
.icon-forward-button:before {
  content: "\e92f";
}
.icon-back-button:before {
  content: "\e901";
}
.icon-filter:before {
  content: "\e905";
}
.icon-hamburger-menu:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e931";
}
.icon-sort-icon:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e932";
}
.icon-close:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-top:before {
  content: "\e93a";
}
.icon-heart-filled:before {
  content: "\e9dd";
}
.icon-star-filled:before {
  content: "\e9db";
}
.icon-ring-bell:before {
  content: "\e9d1";
}
.icon-orders:before {
  content: "\e9ac";
  color: #999;
}
.icon-heart-full:before {
  content: "\e938";
  color: #f27a1a;
}
