body{
    background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9vayUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
  }
  .navbar {
      overflow: hidden;
      height: 150px;
      margin-top: 10px;
    }
    .nav-links {
      margin: 0;
      padding: 0px;
      padding-left: 300px;
      padding-top: 30px;
      list-style: none;
      display: flex;
      font-family: Bradley Hand;
      font-size:35px;
      gap: 60px;
      display: flex;
    }
    .nav-links li {
      margin: 0;
      padding: 0;
    }  
    .nav-links li a {
      display: block;
      color: rgb(241, 228, 228);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    .nav-links li a:hover {
      background-color: #272828;
      border-radius: 50px;
    }
    @media screen and (max-width: 600px) {
      .nav-links {
        display: none;
      }
    }
    .nav-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 30px;
      padding: 150px;
      
    }
    
    .social-icons {
      display: flex;
    }
    
    .social-icon {
      color: rgb(249, 238, 238);
      font-size: 1.5rem;
      transition: color 0.3s;
      align-items: baseline;
    }
    
    .social-icon:hover {
      color: rgb(244, 220, 211);
    }
    .share {
      gap: 30px;
      display: flex;
      align-items: center;
      padding-top:20px;
      padding-left: 650px;
      color: white;
      height: 70px;
      }
   .book{
    padding-top: 50px;
    padding-left: 130px;
    gap: 100px;
      display: flex;
   }
   .book2{
    padding-top: 50px;
    padding-left: 130px;
    gap: 100px;
      display: flex;
   }
   img:hover {
    opacity: 0.5;
  }
  .search{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search input{
    outline: 0;
    border-color: black;
    width: 350px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
  }
  
     