.topslotwrap {
    font-family: 'inter regular';
    background: #fff;
    margin-bottom: 5px;
    background-image: linear-gradient(to bottom, white, white) !important;
    background-position: 50% !important;
    background-size: 1120px 140px !important;
    background-repeat: no-repeat !important
}

.topslotwrap div.navigationsegment {
    font-family: "inter medium";
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 14000;
    box-shadow: 0px 1px 9px 0px lightgrey
}

.topslotwrap div.navigationsegment .left-desktop-sticky-btn {
    float: left;
    background: url(/pimg/desktop-icon/soninio_meniu_menu.png) no-repeat -17px 18px/40px 14px;
    width: 46px;
    height: 50px;
    cursor: pointer
}

.topslotwrap div.navigationsegment .left-desktop-sticky-btn:hover {
    background: url(/pimg/desktop-icon/soninio_meniu_menu_hover.png) no-repeat -17px 18px/40px 14px
}

.topslotwrap div.navigationsegment .calendarlogo {
    display: none
}

.topslotwrap div.navigationsegment .left-desktop-sticky-btn-close {
    display: none
}

.topslotwrap div.navigationsegment .left-desktop-sticky {
    min-width: 374px;
    width: 25vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 14500;
    padding-top: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start
}

.topslotwrap div.navigationsegment .left-desktop-sticky .options {
    display: flex;
    align-items: center
}

.topslotwrap div.navigationsegment .left-desktop-sticky .options .close-desktop-sticky {
    width: 34px;
    height: 30px;
    font-size: x-large;
    text-align: center;
    cursor: pointer;
    background-image: url(/pimg/2/nav/burger_menu_close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px;
    margin-left: 20px;
    margin-bottom: -2px;
    display: inline-block
}

.topslotwrap div.navigationsegment .left-desktop-sticky .options .searchbox {
    display: none
}

.topslotwrap div.navigationsegment .left-desktop-sticky .options .pwrs {
    display: none
}

.topslotwrap div.navigationsegment .movein {
    animation-name: moveinleft;
    animation-duration: 0.2s;
    animation-timing-function: ease-out
}

.topslotwrap div.navigationsegment .moveout {
    animation-name: moveoutleft;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    z-index: -1;
    opacity: 0
}

@keyframes moveinleft {
    0% {
        opacity: 0;
        transform: translatex(-300px)
    }

    100% {
        opacity: 1;
        transform: translatex(0);
        display: none
    }
}

@keyframes moveoutleft {
    0% {
        opacity: 1;
        z-index: 1000;
        transform: translatex(0)
    }

    100% {
        opacity: 0;
        z-index: 1000;
        transform: translatex(-100px)
    }
}

@keyframes appear {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.topslotwrap div.navigationsegment .iconic-popup-cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0
}

.topslotwrap div.navigationsegment .show-cover {
    display: none;
    animation: showcover 0.2s ease-out 0.2s;
    animation-fill-mode: backwards;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 14400;
    animation-name: appear
}

.topslotwrap div.navigationsegment .sticky-hide {
    display: none
}

.topslotwrap div.navigationsegment .slide-menu-content {
    height: max-content;
    margin-top: 25px;
    font-family: 'inter bold', arial black, arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase
}

.topslotwrap div.navigationsegment .slide-menu-content h3 {
    font-size: 17px
}

.topslotwrap div.navigationsegment .slide-menu-chapter {
    border-bottom: 3px red solid
}

.topslotwrap div.navigationsegment .slide-menu-submenu {
    display: grid;
    grid-template-columns: 180px auto;
    margin-top: 15px;
    font-family: 'inter medium', arial;
    font-size: 15px;
    line-height: 22px;
    text-decoration-line: none;
    text-transform: initial
}

.topslotwrap div.navigationsegment .slide-menu-container {
    margin: 30px 0 50px 30px
}

.topslotwrap div.navigationsegment .overflow-hidden {
    overflow: hidden
}

.topslotwrap div.navigationsegment .header-item-wrap.account {
    position: relative
}

.topslotwrap div.navigationsegment .header-item-wrap.account .header-item {
    background: url("/pimg/2/nav/account_white.svg") no-repeat center;
    background-size: 17px;
    filter: invert(1)
}

.topslotwrap div.navigationsegment .header-item-wrap.account:hover .header-item {
    filter: invert(35%) sepia(100%) saturate(7447%) hue-rotate(356deg) brightness(102%) contrast(121%) !important
}

.topslotwrap div.navigationsegment .user-sub-block {
    visibility: hidden;
    opacity: 0;
    min-width: 185px;
    margin-left: -20px;
    position: absolute;
    top: 37px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
    right: -51px;
    z-index: 1111
}

.topslotwrap div.navigationsegment .user-sub-block .square {
    display: none;
    width: 12px;
    height: 12px;
    margin-left: 120px;
    margin-top: -16px;
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.topslotwrap div.navigationsegment .user-sub-block.open {
    visibility: visible;
    opacity: 1
}

.topslotwrap div.navigationsegment .user-sub-block.open .square {
    display: block
}

.topslotwrap div.navigationsegment .user-sub-block.open .a-sub-menu-item {
    display: block;
    color: #000000;
    font-size: 14px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none
}

.topslotwrap div.navigationsegment div.first-strip {
    height: 39px;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    left: 0;
    z-index: 10001;
    border-bottom: 1px solid #cdcdcd
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items {
    max-width: 1200px;
    height: 40px;
    padding-left: calc((100% - 1200px) / 2)
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap {
    display: inline-block;
    float: left;
    height: 100%;
    line-height: 40px;
    color: #777777
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item {
    width: fit-content;
    height: 100%
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .fl-ml {
    float: left;
    margin-left: 3px
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .p-icon,
.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .s-icon,
.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .w-icon {
    float: left;
    margin-top: 13px;
    height: 26px
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .paieska,
.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .pranesti,
.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .orai {
    text-decoration: none;
    color: #777777 !important
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .menu-icon {
    background: url(/pimg/2/menu-icons.png);
    background-repeat: no-repeat
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .w {
    width: 14px
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .p-icon {
    background-position: -110px 0
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .s-icon {
    background-position: -157px 0
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .w-icon {
    background-position: -91px 0
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .z-icon {
    background-position: -171px 0;
    float: left;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 9px;
    height: 14px;
    width: 37px
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .tv3-play-icon {
    background-position: -52px 0;
    float: left;
    margin-top: 6px;
    height: 22px;
    width: 39px
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .k-icon {
    background-position: 0 0;
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 9px;
    height: 11px;
    width: 44px
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item .pwr-icon {
    background-position: -125px 0;
    float: left;
    margin-top: 5px;
    height: 22px;
    width: 29px
}

.topslotwrap div.navigationsegment div.first-strip div.header-link-items div.header-item-wrap div.header-item div.button-tv3play {
    width: 90px;
    margin-top: 6px;
    height: 30px;
    border-radius: 25px
}

.topslotwrap div.navigationsegment div.restriction {
    width: 1200px;
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: calc((100% - 1200px) / 2);
    position: relative;
    top: 40px
}

.topslotwrap div.navigationsegment div.restriction img.tv3-main-banner {
    width: 68px;
    height: 37px;
    margin-top: 7px
}

.topslotwrap div.navigationsegment div.restriction>.header-item-wrap {
    display: none
}

.topslotwrap div.navigationsegment div.restriction>.header-item-wrap .header-item-mobile {
    display: none
}

.topslotwrap div.navigationsegment div.restriction div.spriteurl {
    background: url("/pimg/2/navigation-segment-v2.31.png");
    background-repeat: no-repeat
}

.topslotwrap div.navigationsegment div.restriction div.headerlogo {
    float: left;
    height: 100%;
    cursor: pointer;
    position: relative
}

.topslotwrap div.navigationsegment div.restriction div.headerlogo div.firstlogo {
    float: left;
    width: 78px;
    height: 100%;
    background-position: 10px 5px;
    padding-right: 10px;
    padding-left: 10px
}

.topslotwrap div.navigationsegment div.restriction div.headerlogo:hover div.firstlogo {
    background-color: #ffffff
}

.topslotwrap div.navigationsegment div.restriction div.headeritems {
    overflow: hidden;
    float: left;
    width: 1031px;
    padding-left: 25px
}

.topslotwrap div.navigationsegment div.restriction div.headeritems:has(.header-item-wrap.account) {
    overflow: visible
}

.topslotwrap div.navigationsegment div.restriction div.headeritems div.menuitems {
    float: left;
    height: 100%
}

.topslotwrap div.navigationsegment div.restriction div.headeritems div.menuitems div.menuitemslink {
    float: left;
    font-size: 14px;
    font-family: "inter extra bold"
}

.topslotwrap div.navigationsegment div.restriction div.headeritems div.menuitems div.menuitemslink a {
    color: #000;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    text-transform: uppercase;
    font-weight: 500
}

.topslotwrap div.navigationsegment div.restriction div.headeritems div.menuitems div.menuitemslink a:hover {
    text-decoration: none;
    color: #ff0000 !important;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out
}

.topslotwrap div.navigationsegment div.restriction div.headeritems div.menuitems div.menuitemslink a.text-transform-none {
    text-transform: none
}

.topslotwrap div.navigationsegment div.restriction div.headeritems div.menuitems div.menuitemslink h3 {
    font-size: 15px;
    font-weight: normal
}

.topslotwrap div.navigationsegment div.restriction div.headeritems div.menuitems:hover div.menuitemarrow {
    background-position: -710px 2px;
    background-color: #ffffff
}

.topslotwrap div.navigationsegment div.restriction div.headeritems div.menuitems:hover div.menuitemslink a {
    color: #ff0000;
    background-color: #ffffff
}

.topslotwrap div.navigationsegment .live-broadcast-line-segment .info-block-right {
    margin: auto 0 !important
}

.topslotwrap .tv3anonsastop {
    max-width: 1200px;
    margin: 0 auto;
    height: 60px
}

.topslotwrap .tv3anonsastop.mobile {
    display: none
}

.topslotwrap .tv3anonsastop .textonanonsas {
    display: inline-block;
    float: left
}

.topslotwrap .tv3anonsastop .dots {
    display: none
}

.topslotwrap .tv3anonsastop.hasdots {
    position: relative
}

.topslotwrap .tv3anonsastop.hasdots .dots {
    display: block;
    position: absolute;
    z-index: 10;
    height: 11px;
    width: 100%;
    padding: 0;
    bottom: 20px;
    text-align: center
}

.topslotwrap .tv3anonsastop.hasdots .dots>li {
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 30px;
    display: inline-block;
    height: 10px;
    overflow: hidden;
    text-indent: -999em;
    width: 10px;
    position: relative;
    z-index: 99;
    margin-inline: 5px;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s
}

.topslotwrap .tv3anonsastop.hasdots .dots>li.active {
    background-color: #ff0000;
    border: 1px solid #ff0000
}

.design-v4a .topslotwrap {
    margin-bottom: 0 !important;
    margin-right: -1px !important
}

.design-v4a .topslotwrap .tv3anonsastop {
    max-width: 1095px;
    margin: 0 auto;
    background-color: #fff
}

.design-v4a .topslotwrap .tv3anonsastop .rubricslider {
    max-width: 1095px;
    max-height: 55px
}

.design-v3 .topslotwrap .tv3anonsastop {
    margin: -15px auto 10px auto
}

@media screen and(min-width: 1025px) {
    .header-item-wrap.account {
        height: 50px
    }

    .header-item-wrap.account:hover .user-sub-block {
        visibility: visible;
        opacity: 1
    }

    .header-item-wrap.account:hover .user-sub-block .square {
        display: block
    }

    .header-item-wrap.account:hover .user-sub-block .a-sub-menu-item {
        display: block;
        color: #000000;
        font-size: 14px;
        line-height: 30px;
        padding-left: 30px;
        padding-right: 30px;
        text-decoration: none
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .navigationsegment .restriction .left-desktop-sticky-btn {
        margin-left: 15px
    }

    .navigationsegment .restriction .headerlogo {
        width: 83px
    }

    .navigationsegment .two-side .info-block-left span.title-style {
        padding-left: 15px
    }

    .header-link-items {
        max-width: 1200px;
        width: 100% !important;
        display: flex
    }

    .header-link-items .header-item-wrap:nth-child(1) {
        padding-left: 15px
    }

    .header-link-items .header-item-wrap:nth-child(2) {
        flex: 1
    }
}

@media screen and(max-width: 1024px) {
    body .topslotwrap {
        min-height: unset
    }

    body .topslotwrap div.navigationsegment {
        height: 105px
    }

    body .topslotwrap div.navigationsegment .left-desktop-sticky-btn {
        background: url(/pimg/2/nav/burger_menu.svg) no-repeat 15px 12px/32px 28px !important
    }

    body .topslotwrap div.navigationsegment .calendarlogo {
        background: url(/pimg/2/nav/calendar.png) no-repeat center;
        background-size: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px
    }

    body .topslotwrap div.navigationsegment .calendarlogo span {
        width: 100%;
        text-align: center;
        padding-top: 4px
    }

    body .topslotwrap div.navigationsegment .left-desktop-sticky {
        min-width: unset;
        width: 100vw;
        height: 100vh
    }

    body .topslotwrap div.navigationsegment #leftdesktopsticky .options .close-desktop-sticky {
        width: 14px;
        height: 26px
    }

    body .topslotwrap div.navigationsegment #leftdesktopsticky .options .searchbox {
        display: inline-block;
        position: relative;
        margin-left: 15px
    }

    body .topslotwrap div.navigationsegment #leftdesktopsticky .options .searchbox input {
        width: 40vw;
        height: 40px;
        border-radius: 20px;
        background-color: #eaecee;
        border: none;
        font-family: 'inter medium';
        font-size: 15px;
        color: #717577;
        padding-top: 1px;
        padding-left: 42px;
        box-sizing: border-box
    }

    body .topslotwrap div.navigationsegment #leftdesktopsticky .options .searchbox .searchsubmitbutton {
        background-image: url("/pimg/2/nav/search.svg");
        background-repeat: no-repeat;
        background-color: #eaecee;
        position: absolute;
        height: 17px;
        width: 17px;
        background-size: 17px 17px;
        top: 12px;
        left: 17px;
        border: 0
    }

    body .topslotwrap div.navigationsegment #leftdesktopsticky .options .pwrs {
        display: inline-block
    }

    body .topslotwrap div.navigationsegment .slide-menu-container {
        margin: 10px 30px 100px 20px
    }

    body .topslotwrap div.navigationsegment div.first-strip {
        display: none
    }

    body .topslotwrap div.navigationsegment div.restriction {
        width: 100%;
        height: unset;
        top: 5px;
        display: inline-flex
    }

    body .topslotwrap div.navigationsegment div.restriction:has(.header-item-wrap.account) .left-desktop-sticky-btn {
        width: 66px !important
    }

    body .topslotwrap div.navigationsegment div.restriction .header-item-mobile #menu-back-button.left-block-back.main-sprite-v2 {
        background: url("/pimg/2/nav/arrow_back_black.svg") no-repeat;
        background-position-y: center;
        height: 50px;
        width: 24px;
        background-size: 24px 24px;
        filter: none;
        -webkit-filter: none;
        margin-left: 15px;
        display: none;
        float: left;
        cursor: pointer
    }

    body .topslotwrap div.navigationsegment div.restriction .header-item-wrap {
        display: inline-flex;
        width: 23px
    }

    body .topslotwrap div.navigationsegment div.restriction .header-item-wrap .header-item-mobile {
        margin: auto 15px auto -17px !important;
        display: block
    }

    body .topslotwrap div.navigationsegment div.restriction .header-item-mobile.onswitchdisplay {
        position: absolute;
        right: 5px
    }

    body .topslotwrap div.navigationsegment div.restriction div.headerlogo {
        margin: auto
    }

    body .topslotwrap div.navigationsegment div.restriction div.headeritems {
        display: none
    }

    body .topslotwrap div.navigationsegment .header-item-wrap.account {
        width: 37px !important
    }

    body .topslotwrap div.navigationsegment .header-item-wrap.account .header-item {
        filter: invert(1) !important
    }

    body .topslotwrap div.navigationsegment .header-item-wrap.account:has(.user-sub-block.open) .header-item {
        filter: invert(35%) sepia(100%) saturate(7447%) hue-rotate(356deg) brightness(102%) contrast(121%) !important
    }

    body .topslotwrap div.navigationsegment .header-item-wrap.account .user-sub-block {
        right: 10px;
        z-index: 14005
    }

    body .topslotwrap div.navigationsegment .header-item-wrap.account .user-sub-block .square {
        margin-left: 161px
    }

    body .topslotwrap div.navigationsegment .live-broadcast-line-segment {
        top: 105px
    }

    body .topslotwrap div.navigationsegment .live-broadcast-line-segment .this-frame .two-side,
    body .topslotwrap div.navigationsegment .live-broadcast-line-segment .this-frame .three-side {
        background-color: unset
    }

    body .topslotwrap div.navigationsegment .live-broadcast-line-segment .this-frame .info-block .title .title-style {
        margin-left: 15px
    }

    body .topslotwrap div.navigationsegment .live-broadcast-line-segment .this-frame .info-block .dot {
        padding-right: 10px
    }

    body .topslotwrap div.navigationsegment .live-broadcast-line-segment .this-frame .info-block .text {
        background-color: #000000;
        white-space: nowrap;
        overflow: hidden
    }

    body .topslotwrap div.navigationsegment .live-broadcast-line-segment .this-frame .info-block .text span {
        display: inline-block;
        color: #ffffff;
        padding-left: calc(100vw - 133px)
    }

    body .topslotwrap div.navigationsegment .live-broadcast-line-segment .this-frame .info-block .info-block-left {
        width: auto;
        min-width: fit-content;
        z-index: 1
    }

    body .topslotwrap div.navigationsegment .live-broadcast-line-segment .this-frame .info-block .info-block-right {
        width: 100%;
        height: auto;
        margin: 0 !important;
        display: flex;
        align-items: center;
        padding-left: 0
    }

    body .topslotwrap div.navigationsegment .live-broadcast-line-segment .this-frame .info-block .scrollable {
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        will-change: transform;
        animation: marquee 10s linear infinite;
        -moz-animation: marquee 10s linear infinite;
        -webkit-animation: marquee 10s linear infinite
    }

    @-webkit-keyframes marquee {
        0% {
            text-indent: 100vw
        }

        100% {
            text-indent: -100vw
        }
    }

    body .topslotwrap div.navigationsegment .live-broadcast-line-segment .this-frame .info-block .text span:hover {
        animation-play-state: paused
    }

    @keyframes marquee {
        0% {
            transform: translatex(0)
        }

        100% {
            transform: translatex(-100%)
        }
    }

    @-moz-keyframes marquee {
        0% {
            -moz-transform: translatex(0)
        }

        100% {
            -moz-transform: translatex(-100%)
        }
    }

    @-webkit-keyframes marquee {
        0% {
            -webkit-transform: translatex(0)
        }

        100% {
            -webkit-transform: translatex(-100%)
        }
    }

    body .topslotwrap .tv3anonsastop {
        display: none
    }

    body .topslotwrap .tv3anonsastop.mobile {
        display: block;
        max-width: 720px
    }

    body .topslotwrap .tv3anonsastop.mobile .rubricslider {
        max-width: 720px;
        max-height: unset;
        width: 100% !important;
        height: unset !important
    }
}

.hover:hover {
    cursor: pointer
}

* {
    margin: 0;
    padding: 0
}

html {
    min-height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #ffffff !important
}

body {
    min-height: 100%;
    height: 100%;
    color: #4e4e4e;
    font-weight: normal;
    font-family: "inter", arial, sans-serif;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 90px;
    overflow-x: hidden
}

body b,
body strong {
    font-weight: 600
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'inter var', arial, sans-serif
    }
}

#tv980x200_tv3_lt {
    min-height: 200px;
    margin-bottom: 10px
}

.custom-stick-div {
    width: 300px;
    text-align: right;
    font-family: arial;
    font-size: 8px;
    font-weight: bold;
    color: #bababa;
    display: grid
}

.custom-stick-div.mob {
    display: none
}

.ad-wrap-1200-150-mb2-s3 {
    margin-bottom: 30px
}

.ad-wrap-600-300-mb2-s3 {
    position: absolute;
    right: 0
}

.adform-adbox-fixed-l {
    z-index: 14001 !important
}

#back-to-top {
    position: fixed;
    bottom: 0px;
    background: #ffffff;
    height: 59px;
    width: 69px;
    z-index: 9999;
    display: none;
    cursor: pointer;
    opacity: .5;
    border: 1px solid #474747;
    border-bottom: none;
    color: #000;
    left: 50%;
    margin-left: 390px
}

#back-to-top:hover {
    opacity: 1;
    border: 1px solid #ff0000;
    border-bottom: none;
    background: #ff0000;
    color: #ffffff
}

#back-to-top:hover div {
    background: url("/pimg/2/icons/arrow_top_white.png") center 9px no-repeat
}

#back-to-top div {
    background: url("/pimg/2/icons/arrow_top_dark.png") center 9px no-repeat;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    padding-top: 30px
}

@-webkit-keyframes fontfix {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

a {
    text-decoration: none;
    outline: none;
    color: #000
}

a:hover {
    text-decoration: none;
    color: #ff0000 !important;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out
}

a .logo {
    display: block;
    width: 157px;
    height: 42px;
    background: url("https://static2.inspektorius.lt/static.php?v=4.2.6.94&t=i&f=/pimg/2/logo.png") 0 0 no-repeat;
    margin-top: 15px;
    float: left
}

img {
    border: 0
}

input,
select,
textarea {
    outline: none !important;
    color: #000;
    font-weight: normal;
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 1.4
}

h1 {
    font-size: 26px
}

h2 {
    font-size: 20px
}

h3 {
    font-size: 20px
}

#page {
    width: 100%;
    max-width: 1200px;
    background: #fff;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
    clear: both;
    overflow: visible
}

#page #mainbar {
    width: 100%;
    max-width: 1200px;
    background: #fff;
    float: left;
    color: #000
}

body.tv3.design-v4a #page {
    width: 1095px
}

body.tv3.design-v4a #page #mainbar {
    padding: 10px 15px 10px 10px;
    margin: 0 0 0 -12px
}

body.tv3.design-v5 #page {
    display: flex;
    width: 1120px
}

body.tv3.design-v5 #page #mainbar {
    width: 780px;
    padding-right: 10px;
    display: flex;
    flex-direction: column
}

.clear {
    clear: both
}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
}

@font-face {
    font-family: 'bebas neue bold';
    src: url("/pcss/2/fonts/bebasneuebold.woff") format("woff");
    font-display: swap
}

@media screen and(min-width: 1025px) and(max-width: 1280px) {
    #mainbar {
        padding-left: 15px !important;
        padding-right: 15px !important;
        box-sizing: border-box
    }
}

@media screen and(max-width: 1024px) {

    html,
    body {
        max-width: 100%;
        overflow-x: unset;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: #ffffff !important
    }

    body {
        margin-top: 105px
    }

    a.logo {
        display: block;
        width: 157px;
        height: 42px;
        background: url("https://static2.inspektorius.lt/static.php?v=4.2.6.94&t=i&f=/pimg/2/logo.png") 0 0 no-repeat;
        margin-top: 15px;
        float: left
    }

    #page {
        overflow: hidden;
        width: 100vw !important
    }

    #page #mainbar {
        margin: unset !important;
        padding: unset !important
    }

    #tv980x200_tv3_lt,
    #wrapper980x {
        display: none
    }

    #back-to-top {
        display: none !important
    }

    .custom-stick-div.mob {
        display: block;
        top: 0 !important;
        width: 100vw;
        min-height: 270px;
        padding: 0 20px;
        box-sizing: border-box
    }
}

.topslotwrap div.commonblocheader.big {
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    float: none;
    padding-bottom: 5px
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo {
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 1px
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .mynewsbutton,
.topslotwrap div.commonblocheader.big div.blocheaderinfo .bubblespartition {
    display: none
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel #lightslider-bubblemenu {
    height: 44px !important
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel #lightslider-bubblemenu.w1200 {
    width: 1200px !important
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel #lightslider-bubblemenu.w350 {
    width: 350px !important
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .slider-item {
    display: block;
    border-radius: 17px;
    background-color: #eaecee;
    height: 35px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 0 10px 4px !important;
    float: left;
    cursor: grab;
    font-size: 15px;
    line-height: 35px
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .slider-item.tokyo {
    border-radius: 15px;
    background-color: #8b2030;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    height: 31px;
    width: 149px;
    margin: 2px 0 3px 0 !important;
    cursor: pointer;
    font-size: 14px;
    line-height: 36px
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .slider-item.tokyo img {
    border-radius: 0;
    box-shadow: none;
    width: 37px;
    height: 18px;
    margin: 6px 0 0 11px !important
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .slider-item.tokyo a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'inter medium';
    margin: -3px 9px 0 0 !important;
    padding: 0 !important;
    color: #ffffff;
    font-size: 14px;
    float: right;
    text-decoration: none
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .slider-item.tokyo:hover {
    background-color: #8b2030 !important
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .slider-item.tokyo:hover a {
    color: #ffffff !important
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .slider-item a {
    margin: 10px;
    margin-top: -1px !important
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .slider-item a:hover {
    text-decoration: none !important
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .slider-item:hover {
    background-color: #ff0000 !important
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .slider-item:hover a {
    color: #ffffff !important
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .arrow-left,
.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .arrow-right {
    height: 33px;
    min-width: 20px;
    margin-top: 7px;
    cursor: pointer;
    z-index: 1;
    display: none
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .arrow-left {
    background: url(/pimg/2/arrow-left.svg) no-repeat;
    margin-left: -5px
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .arrow-right {
    background: url(/pimg/2/arrow-right.svg) no-repeat;
    margin-right: -5px
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .gradient-left,
.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .gradient-right {
    position: absolute;
    width: 33px;
    height: 35px;
    z-index: 105;
    margin-top: -7px;
    display: none
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .gradient-left {
    margin-left: 20px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white)
}

.topslotwrap div.commonblocheader.big div.blocheaderinfo .meniu-carusel .gradient-right {
    margin-left: -33px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white)
}

.meniu-carusel {
    max-width: 1200px;
    width: 100vw;
    display: flex;
    position: relative;
    font-family: "inter medium"
}

@media screen and(min-width: 1025px) and(max-width: 1280px) {
    .topslotwrap .commonblocheader.big {
        float: left
    }

    .topslotwrap .commonblocheader.big .meniu-carusel {
        padding-left: 13px;
        padding-right: 15px;
        box-sizing: border-box;
        margin-right: 0
    }

    .topslotwrap .commonblocheader.big .meniu-carusel .w1200 {
        max-width: 1200px;
        width: 100% !important
    }
}

@media screen and(min-width: 1025px) {
    body.tv3.design-v5 .commonblocheader .meniu-carusel {
        max-width: 1110px !important
    }
}

@media screen and(max-width: 1024px) {
    .tv3 .topslotwrap .commonblocheader.big .blocheaderinfo .meniu-carusel {
        width: 100vw !important;
        margin-top: 10px
    }

    .tv3 .topslotwrap .commonblocheader.big .blocheaderinfo .meniu-carusel .lsslidewrapper {
        margin-left: unset;
        margin-right: unset
    }

    .topslotwrap div.commonblocheader {
        padding-bottom: unset;
        width: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        float: none;
        position: fixed;
        z-index: 14000;
        top: 50px
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        background-color: #fff;
        padding-top: 1px
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo .mynewsbutton {
        width: 125px;
        height: 31px;
        border-radius: 16px;
        border: 1px solid #ff0000;
        margin: 0 5px 0 10px !important;
        font-family: 'inter medium';
        font-size: 15px;
        text-align: center;
        line-height: 33px;
        position: relative;
        display: none
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo .mynewsbutton a {
        text-decoration: none;
        margin-top: -1px
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo .mynewsbutton .notificationbubble {
        display: none;
        background: #ff0000;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        position: absolute;
        top: -5px;
        right: 8px;
        box-shadow: 0 0 0 0 white;
        transform: scale(1);
        animation: pulse 2s infinite
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo span.bubblespartition {
        width: 1px;
        height: 33px;
        background-color: #dcdee2;
        margin-bottom: 0;
        margin-right: 0 !important;
        display: none
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel #lightslider-bubblemenu {
        height: 44px !important
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel #lightslider-bubblemenu.w1200 {
        width: 1200px !important
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel #lightslider-bubblemenu.w350 {
        width: 350px !important
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel #lightslider-bubblemenu .lsaction {
        display: none !important
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .slider-item {
        line-height: 37px;
        margin: 0 0 10px 4px !important;
        height: 33px;
        display: block;
        border-radius: 17px;
        background-color: #eaecee;
        width: fit-content;
        width: -moz-fit-content;
        float: left;
        cursor: grab;
        font-size: 15px
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .slider-item.tokyo {
        border-radius: 15px;
        background-color: #8b2030;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        height: 31px;
        width: 149px;
        margin: 2px 0 3px 0 !important;
        cursor: pointer;
        font-size: 14px;
        line-height: 37px
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .slider-item.tokyo img {
        border-radius: 0;
        box-shadow: none;
        width: 37px;
        height: 18px;
        margin: 6px 0 0 11px !important
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .slider-item.tokyo a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'inter medium';
        margin: -3px 9px 0 0 !important;
        padding: 0 !important;
        color: #ffffff;
        font-size: 14px;
        float: right;
        text-decoration: none
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .slider-item.tokyo.active {
        margin-left: 15px
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .slider-item.tokyo:hover {
        background-color: #8b2030 !important
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .slider-item.tokyo:hover a {
        color: #ffffff !important
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .slider-item.active {
        margin-left: 4px
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .slider-item a {
        margin: 10px;
        margin-top: -1px !important
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .slider-item a:hover {
        text-decoration: none !important
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .slider-item:hover {
        background-color: #ff0000 !important
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .slider-item:hover a {
        color: #ffffff !important
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .arrow-left,
    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .arrow-right {
        height: 38px;
        min-width: 20px;
        margin-top: -4px;
        cursor: pointer;
        z-index: 1;
        display: none;
        position: absolute;
        background-color: #fff !important;
        background-position: 0 12px !important
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .arrow-left {
        margin-left: 0;
        background: url(/pimg/2/arrow-left.svg) no-repeat
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .arrow-right {
        margin-right: 0;
        right: 0;
        background: url(/pimg/2/arrow-right.svg) no-repeat
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .gradient-left,
    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .gradient-right {
        position: absolute;
        width: 33px;
        height: 39px;
        z-index: 105;
        margin-top: 0;
        display: none
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .gradient-left {
        margin-left: 20px;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white)
    }

    .topslotwrap div.commonblocheader.big div.blocheaderinfo div.meniu-carusel .gradient-right {
        margin-left: -33px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white)
    }

    .arrow-left {
        margin-left: 0px !important
    }

    .arrow-right {
        margin-right: 0px !important
    }

    body.tv3.design-v4a .topslotwrap div.commonblocheader .meniu-carusel .arrow-left,
    body.tv3.design-v5 .topslotwrap div.commonblocheader .meniu-carusel .arrow-left {
        position: absolute;
        margin-left: 0px;
        background-color: #ffffff;
        background-position: 0 12px;
        margin-top: -5px;
        height: 38px
    }

    body.tv3.design-v4a .topslotwrap div.commonblocheader .meniu-carusel .arrow-left .gradient-left,
    body.tv3.design-v5 .topslotwrap div.commonblocheader .meniu-carusel .arrow-left .gradient-left {
        height: 39px
    }

    body.tv3.design-v4a .topslotwrap div.commonblocheader .meniu-carusel .arrow-right,
    body.tv3.design-v5 .topslotwrap div.commonblocheader .meniu-carusel .arrow-right {
        margin-right: 0px;
        right: 0;
        position: absolute;
        background-color: #ffffff;
        background-position: 0 12px;
        margin-top: -5px;
        height: 38px
    }

    body.tv3.design-v4a .topslotwrap div.commonblocheader .meniu-carusel .arrow-right .gradient-right,
    body.tv3.design-v5 .topslotwrap div.commonblocheader .meniu-carusel .arrow-right .gradient-right {
        height: 39px
    }

    body.tv3.design-v3 div.commonblocheader.big div.blocheaderinfo div.morerelatedarticles {
        display: none
    }

    body.tv3.design-v5 .topslotwrap .navigationsegment .lsslideouter {
        margin: 0
    }

    body.tv3.design-v5 .topslotwrap .navigationsegment .lsslideouter .slider-item:first-of-type {
        margin-left: 10px !important
    }
}

#footer {
    position: relative;
    clear: both;
    font-family: 'inter regular'
}

#footer .footer-v1-segment {
    background-color: #e2e2e2;
    overflow: auto;
    padding-top: 45px
}

#footer .footer-v1-segment .this-frame-block {
    width: 980px;
    margin: 0 auto;
    overflow: auto
}

#footer .footer-v1-segment .this-frame-block .links-block {
    width: 88%;
    margin: auto;
    overflow: auto
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block {
    float: left
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block.first {
    width: 23%
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block.second {
    width: 22.5%
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block.third {
    width: 24.5%
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block.fourth {
    width: 22%
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block.fifth {
    width: 8%
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block p.title-text,
#footer .footer-v1-segment .this-frame-block .links-block .column-block a.title-link {
    font-family: 'inter bold';
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 9px;
    color: #000000
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block p.title-text.right {
    text-align: right
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block a {
    display: block;
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -o-transition: color 300ms;
    -ms-transition: color 300ms;
    transition: color 300ms
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block a.text-link {
    font-family: 'inter medium';
    font-size: 14px;
    padding-bottom: 2px;
    color: #000000
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block a:hover {
    color: #1a1a1c !important;
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -o-transition: color 500ms;
    -ms-transition: color 500ms;
    transition: color 500ms
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block a.f-ico {
    background-position: -3430px 0
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block a.m-ico {
    background-position: -3475px 0
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block a.in-ico {
    background-position: -3386px 0
}

#footer .footer-v1-segment .this-frame-block .links-block .column-block a.f-ico,
#footer .footer-v1-segment .this-frame-block .links-block .column-block a.m-ico,
#footer .footer-v1-segment .this-frame-block .links-block .column-block a.in-ico {
    width: 42px;
    height: 42px;
    margin-bottom: 5px;
    float: right;
    clear: both
}

#footer .footer-v1-segment .this-frame-block .action-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    overflow: auto;
    width: 88%;
    margin: auto
}

#footer .footer-v1-segment .this-frame-block .action-block span.title-text {
    color: #000000;
    font-weight: 700;
    line-height: 32px;
    font-family: 'inter bold'
}

#footer .footer-v1-segment .this-frame-block .action-block .footer-left {
    max-width: 300px;
    flex: 1
}

#footer .footer-v1-segment .this-frame-block .action-block .footer-right {
    max-width: 230px;
    flex: 1
}

#footer .footer-v1-segment .this-frame-block .action-block .email span.title-text {
    margin-right: 10px;
    font-size: 14px;
    vertical-align: top
}

#footer .footer-v1-segment .this-frame-block .action-block .email .input-group {
    display: flex;
    flex-direction: column;
    margin-right: 70px
}

#footer .footer-v1-segment .this-frame-block .action-block .email .input-group .inputfield {
    display: flex
}

#footer .footer-v1-segment .this-frame-block .action-block .email .input-group input.email-input {
    width: 259px;
    height: 32px;
    border: 0px;
    padding-left: 15px;
    border-radius: 25px;
    margin-bottom: 17px;
    font-family: "inter medium";
    line-height: 41px
}

#footer .footer-v1-segment .this-frame-block .action-block .email .input-group .send-mail-button {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    float: right;
    background-position: -392px 9px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    display: none
}

#footer .footer-v1-segment .this-frame-block .action-block .email .msg-block {
    font-size: 12px;
    width: 259px;
    display: none;
    padding-top: 5px;
    margin-top: -13px;
    margin-bottom: 17px
}

#footer .footer-v1-segment .this-frame-block .action-block .email .msg-block.greentext {
    color: #00c750
}

#footer .footer-v1-segment .this-frame-block .action-block .email .msg-block.redtext {
    color: #ff6550
}

#footer .footer-v1-segment .this-frame-block .action-block .privacypolicy {
    display: inline-flex;
    align-items: flex-start
}

#footer .footer-v1-segment .this-frame-block .action-block .privacypolicy input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 18px;
    width: 18px;
    z-index: 2
}

#footer .footer-v1-segment .this-frame-block .action-block .privacypolicy #customcheckbox {
    margin-right: 9px;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    background-color: #fff
}

#footer .footer-v1-segment .this-frame-block .action-block .privacypolicy #customcheckbox:after {
    content: "";
    display: none;
    position: absolute;
    margin-left: 6px;
    margin-top: 1px;
    width: 4px;
    height: 11px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

#footer .footer-v1-segment .this-frame-block .action-block .privacypolicy input:checked~#customcheckbox:after {
    display: block
}

#footer .footer-v1-segment .this-frame-block .action-block .privacypolicy label {
    font-size: 15px;
    font-family: 'inter medium';
    color: #000
}

#footer .footer-v1-segment .this-frame-block .action-block .privacypolicy label a {
    border-bottom: 1px solid black;
    text-decoration: none
}

#footer .footer-v1-segment .this-frame-block .action-block .mobile span.title-text {
    margin-right: 10px;
    font-size: 14px
}

#footer .footer-v1-segment .this-frame-block .action-block .mobile a.image-link-apple {
    background-position: -424px 0;
    margin-right: 10px;
    display: block
}

#footer .footer-v1-segment .this-frame-block .action-block .mobile a.image-link-google {
    background-position: -542px 0
}

#footer .footer-v1-segment .this-frame-block .action-block .mobile a.image-link-apple,
#footer .footer-v1-segment .this-frame-block .action-block .mobile a.image-link-google {
    width: 108px;
    height: 32px;
    display: inline-block;
    vertical-align: middle
}

#footer .footer-v1-segment .this-frame-block .action-block .mobile a.f-ico-mobile,
#footer .footer-v1-segment .this-frame-block .action-block .mobile a.m-ico-mobile,
#footer .footer-v1-segment .this-frame-block .action-block .mobile a.in-ico-mobile {
    display: none
}

#footer .footer-v1-segment .this-frame-block .action-block .copyright {
    align-content: center;
    float: right;
    margin-top: 17px
}

#footer .footer-v1-segment .this-frame-block .action-block .email,
#footer .footer-v1-segment .this-frame-block .action-block .mobile {
    float: left
}

#footer .footer-v1-segment .this-frame-block .mobile-contacts-block {
    display: none
}

.main-sprite {
    background: url(/pimg/2/main-sprite-v2.92.png);
    background-repeat: no-repeat
}

@media screen and(max-width: 350px) {
    #footer div.footer-v1-segment div.this-frame-block div.action-block div.mobile {
        display: inline
    }

    #footer div.footer-v1-segment div.this-frame-block div.action-block div.mobile a.image-link-apple,
    #footer div.footer-v1-segment div.this-frame-block div.action-block div.mobile a.image-link-google {
        margin: 0 16px
    }

    #footer div.footer-v1-segment div.this-frame-block div.action-block div.mobile a.f-ico-mobile,
    #footer div.footer-v1-segment div.this-frame-block div.action-block div.mobile a.m-ico-mobile,
    #footer div.footer-v1-segment div.this-frame-block div.action-block div.mobile a.in-ico-mobile {
        margin: 10px 30px 0
    }
}

@media screen and(max-width: 1024px) {
    #footer {
        width: 100%
    }

    #footer .footer-v1-segment .this-frame-block {
        width: 100%
    }

    #footer .footer-v1-segment .this-frame-block .links-block {
        display: none
    }

    #footer .footer-v1-segment .this-frame-block .action-block {
        width: 91%;
        flex-direction: column
    }

    #footer .footer-v1-segment .this-frame-block .action-block span.title-text {
        display: table;
        margin: 0 auto 15px auto !important;
        font-family: "inter bold";
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: left;
        text-transform: uppercase;
        color: #000000
    }

    #footer .footer-v1-segment .this-frame-block .action-block .footer-left,
    #footer .footer-v1-segment .this-frame-block .action-block .footer-right {
        max-width: unset;
        flex: 1
    }

    #footer .footer-v1-segment .this-frame-block .action-block .email {
        float: none
    }

    #footer .footer-v1-segment .this-frame-block .action-block .email .input-group {
        justify-content: center;
        margin-right: unset
    }

    #footer .footer-v1-segment .this-frame-block .action-block .email .input-group input.email-input {
        height: 40px;
        width: 100% !important
    }

    #footer .footer-v1-segment .this-frame-block .action-block .email .input-group .send-mail-button {
        height: 40px;
        width: 26px;
        background-position: -398px 12px
    }

    #footer .footer-v1-segment .this-frame-block .action-block .email .msg-block.greentext {
        padding-top: unset;
        margin-left: 10px
    }

    #footer .footer-v1-segment .this-frame-block .action-block .email .msg-block.redtext {
        padding-top: unset;
        margin-left: 10px
    }

    #footer .footer-v1-segment .this-frame-block .action-block .mobile {
        margin-top: 30px;
        display: inline-flex;
        justify-content: space-around;
        width: 100%
    }

    #footer .footer-v1-segment .this-frame-block .action-block .mobile span.title-text {
        display: none
    }

    #footer .footer-v1-segment .this-frame-block .action-block .mobile a.image-link-apple {
        margin-right: 0
    }

    #footer .footer-v1-segment .this-frame-block .action-block .mobile a.image-link-google {
        margin-right: 3px
    }

    #footer .footer-v1-segment .this-frame-block .action-block .mobile a.f-ico-mobile,
    #footer .footer-v1-segment .this-frame-block .action-block .mobile a.m-ico-mobile,
    #footer .footer-v1-segment .this-frame-block .action-block .mobile a.in-ico-mobile {
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;
        clear: both
    }

    #footer .footer-v1-segment .this-frame-block .action-block .mobile a.f-ico-mobile {
        background-position: -3435px -5px;
        border-radius: 20px
    }

    #footer .footer-v1-segment .this-frame-block .action-block .mobile a.m-ico-mobile {
        background-position: -3480px -5px;
        border-radius: 20px
    }

    #footer .footer-v1-segment .this-frame-block .action-block .mobile a.in-ico-mobile {
        background-position: -3391px -5px;
        border-radius: 20px
    }

    #footer .footer-v1-segment .this-frame-block .action-block .copyright {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 108px;
        float: none;
        align-content: center
    }

    #footer .footer-v1-segment .this-frame-block .mobile-contacts-block {
        width: 100%;
        height: 60px;
        background-color: #f3f3f3;
        display: inline-flex;
        justify-content: space-evenly;
        font-family: "inter medium";
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: left;
        color: #000000
    }

    #footer .footer-v1-segment .this-frame-block .mobile-contacts-block a {
        margin: auto
    }
}
