@import '/css/reset.css';

body,
textarea,
input,
select {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

body {
    line-height: 1.3em;
    color: #000000;
    font-size: 62.5%;
    background: #dbdbdb
}

a {
    color: #1e8d94;
    text-decoration: underline
}

a:hover {
    color: #1e8d94;
    text-decoration: underline
}

.clr {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 0;
    overflow: hidden
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clear {
    display: inline-block
}

.clear {
    display: block
}

::selection {
    background: #dbdbdb;
    color: #000000
}

::-moz-selection {
    background: #dbdbdb;
    color: #000000
}

.image_left {
    float: left;
    margin: 0 16px 16px 0
}

.image_right {
    float: right;
    margin-left: 0 0 16px 16px
}

.button,
a.button {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000000;
    font-weight: bold;
    padding: 10px 24px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin: 0;
    border: none;
    background: #c3c3c3;
    cursor: pointer;
    text-decoration: none !important
}

span.media {
    display: inline-block;
    background: url(/images/ico.png) no-repeat 0 -45px;
    width: 16px;
    height: 13px;
    vertical-align: -2px;
    margin-right: 4px
}

span.video,
span.youtube {
    display: inline-block;
    background: url(/images/ico.png) no-repeat 0 -22px;
    width: 16px;
    height: 13px;
    vertical-align: -2px;
    margin-right: 4px
}

span.file {
    display: inline-block;
    background: url(/images/ico.png) no-repeat 0 0;
    width: 21px;
    height: 12px;
    vertical-align: -1px;
    margin-right: 4px
}

.b-bblock {
    margin-bottom: 16px
}

.b-bblock.youtube {
    display: none
}

.b-bblock img {
    max-width: 100%
}

.b-bblock-promo {
    margin: 16px auto;
    text-align: center
}

.b-bblock-header {
    width: 728px;
    margin: 16px auto
}

.b-bblock-footer {
    margin: 0 auto;
    padding: 16px;
    background: #ffffff;
    text-align: center
}

.b-bblock-wcontent {
    text-align: center
}

.b-bblock-sidebar .b-block-name {
    background: #ffffff;
    margin-bottom: 0
}

.section {
    clear: both;
    padding: 0px;
    margin: 0px
}

.col {
    display: block;
    float: left;
    margin: 0 0 0 1.6%
}

.col:first-child {
    margin-left: 0
}

.col.top {
    margin-bottom: 0
}

.group:before,
.group:after {
    content: "";
    display: table
}

.group:after {
    clear: both
}

.group {
    zoom: 1
}

.span_7_of_7 {
    width: 100%
}

.span_6_of_7 {
    width: 85.48%
}

.span_5_of_7 {
    width: 70.97%
}

.span_4_of_7 {
    width: 56.45%
}

.span_3_of_7 {
    width: 41.94%
}

.span_2_of_7 {
    width: 27.42%
}

.span_1_of_7 {
    width: 12.91%
}

.span_5_of_5 {
    width: 100%
}

.span_4_of_5 {
    width: 79.68%
}

.span_3_of_5 {
    width: 59.36%
}

.span_2_of_5 {
    width: 39.04%
}

.span_1_of_5 {
    width: 18.72%
}

.span_3_of_3 {
    width: 100%
}

.span_2_of_3 {
    width: 66.06%
}

.span_1_of_3 {
    width: 32.13%
}

@media only screen and (max-width: 740px) {
    .col {
        margin: 1% 0 1% 0%
    }

    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3 {
        width: 100%
    }

    .span_1_of_5,
    .span_2_of_5,
    .span_3_of_5,
    .span_4_of_5,
    .span_5_of_5 {
        width: 100%
    }

    .span_1_of_7,
    .span_2_of_7,
    .span_3_of_7,
    .span_4_of_7,
    .span_5_of_7,
    .span_6_of_7,
    .span_7_of_7 {
        width: 100%
    }
}

.b-tabs {
    margin-bottom: 20px
}

.b-tabs li {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.1em;
    line-height: 1.2em;
    color: #000000;
    text-transform: uppercase
}

.b-tabs li a {
    display: inline-block;
    padding: 5px 10px;
    color: #000000
}

.b-tabs li a.active,
.b-tabs li a:hover {
    background: #e4e4e4;
    color: #000000;
    text-decoration: none
}

.b-wrap {
    max-width: 1350px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative
}

.b-layout,
.b-block-wrap {
    max-width: 1400px;
    margin: 0 auto;
    position: relative
}

.b-content-holder {
    width: 100%;
    margin-right: -316px;
    float: left
}

.b-content-holder-in {
    margin-right: 316px;
    position: relative
}

.b-sidebar-adv {
    float: right;
    width: 300px
}

.b-sidebar-media {
    background: #ffffff;
    margin-bottom: 16px
}

.b-sidebar-media .b-block-name {
    margin-bottom: 0;
    background: #ffffff
}

.b-sidebar-media .b-news-image {
    margin-bottom: 0
}

.b-sidebar-adv .b-photo-anons .b-block-name,
.b-sidebar-adv .b-video-anons .b-block-name {
    display: none
}

.b-block.calendar {
    margin-bottom: 16px;
    padding: 16px;
    background: #ffffff
}

.b-shadow {
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3)
}

.h-block-wrap {
    padding: 16px;
    overflow: hidden;
    zoom: 1;
    background: #ffffff
}

.b-holder {
    overflow: hidden;
    zoom: 1
}

.b-content {}

.b-content.fullwidth {}

.b-content-block {
    position: relative
}

.b-block-inside {}

.b-content-leftside.fullwidth .b-block-inside {
    margin-right: 0
}

.b-content-block.fullwidth,
.b-content.fullwidth {
    margin-right: 0;
    float: none
}

.b-content-leftside {}

.b-content-leftside.fullwidth {}

.b-sidebar {
    float: right;
    width: 300px
}

.b-content-sidebar {
    width: 300px;
    float: right
}

.b-block-name {
    color: #000000;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 16px;
    padding: 10px;
    background: #e4e4e4
}

.b-block-name.dark {
    background: #636363;
    color: #ffffff
}

.b-video-anons .b-block-name,
.b-photo-anons .b-block-name {}

.b-sidebar-adv .b-blog-sidebar .b-block-name {
    background: #ffffff
}

.b-media-main .b-photo-anons .b-block-name,
.b-media-main .b-video-anons .b-block-name {
    display: none
}

.hidename .b-block-name {
    display: none
}

.b-news-main .b-news-list.last .b-block-name {
    display: none
}

.b-share {
    margin-bottom: 30px
}

.b-block-name a {
    color: #000000;
    text-decoration: underline
}

.b-breadcrumbs {
    font-size: 2.2em;
    font-family: 'noto serif', serif;
    color: #000000;
    line-height: 1.2em;
    font-weight: normal;
    padding: 6px 0 16px 0;
    margin-bottom: 16px;
    position: relative;
    border-bottom: 1px solid #e4e4e4
}

.b-breadcrumbs a {
    color: #1e8d94
}

.b-breadcrumbs li {
    display: inline
}

h1.name {
    font-size: 3.8em;
    font-family: 'noto serif', serif;
    color: #000000;
    line-height: 1.2em;
    font-weight: normal;
    margin-bottom: 20px;
    position: relative
}

.b-page-name {
    font-size: 2.2em;
    font-family: 'noto serif', serif;
    color: #000000;
    line-height: 1.2em;
    font-weight: normal;
    padding-top: 6px;
    margin-bottom: 16px;
    position: relative
}

h1.name a,
.b-page-name a {
    color: #1080a5;
    text-decoration: underline
}

.b-page-name li {
    display: inline
}

h1.title {
    font-size: 4em;
    color: #000000;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative
}

.b-column-holder {
    position: relative
}

.b-column-left {
    width: 65%;
    float: left
}

.b-column-right {
    width: 30%;
    float: right
}

.ya-share2 {}

.b-header-wrapper {
    position: relative;
    background: #ffffff;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3)
}

.b-header {
    position: relative;
    border-bottom: 2px solid #000000
}

.h-header {}

.b-top-line {
    font-size: 1.1em;
    line-height: 1.2em;
    text-transform: uppercase
}

.h-top-line {
    max-width: 1318px;
    margin: 0 auto;
    position: relative;
    text-align: right;
    padding: 0 16px;
    margin-bottom: 10px;
    overflow: hidden;
    zoom: 1
}

.b-top-line a {
    text-decoration: none;
    padding: 8px 0;
    display: inline-block;
    color: #000000
}

.b-header-line {
    position: relative;
    background: #e4e4e4
}

.h-header-line {
    margin: 0 auto;
    position: relative
}

.b-auth-header {
    float: left
}

.b-search-footer {
    position: relative;
    max-width: 140px;
    float: right
}

.b-search-footer .b-search-header-form {
    display: block !important
}

.b-auth-footer {
    font-size: 1.1em;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 16px
}

.b-auth-header-info {
    float: left
}

.b-auth-header a {
    color: #000000;
    text-decoration: none
}

.b-auth-footer a {
    color: #000000;
    text-decoration: none;
    padding: 8px 0;
    display: inline-block
}

.b-auth-header a.user,
.b-auth-footer a.user {
    padding-left: 28px;
    background: url(/images/user_ico.png) no-repeat center left
}

.b-search-header {
    position: absolute;
    top: 38px;
    right: 16px;
    z-index: 2
}

body.welcome .b-search-header {
    top: auto;
    bottom: -79px;
    right: 0
}

.b-search-header-form {
    display: none;
    background: #ffffff
}

.b-search-header-ico {
    position: absolute;
    right: 0;
    z-index: 1
}

body.welcome .b-search-header-ico {
    background: #ffffff;
    top: -37px
}

.b-search-header-ico a {
    display: block;
    background: url(/images/src_ico.png) no-repeat 50% 50%;
    width: 18px;
    height: 18px;
    padding: 9px 8px 8px 8px;
    border: 1px solid #000000
}

.b-search-header-form input.input {
    background: #ffffff;
    border: 1px solid #636363;
    font-size: 1.4em;
    padding: 9px 24px 9px 10px;
    width: 140px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.b-search-header-form .submit {
    position: absolute;
    width: 18px;
    height: 18px;
    display: block;
    background: url(/images/src_ico.png) no-repeat 0 0;
    top: 10px;
    right: 9px;
    text-indent: -9999px;
    border: none;
    margin: 0;
    font-size: 0;
    border: none
}

.b-social {
    overflow: hidden;
    zoom: 1;
    margin-bottom: 16px
}

.b-social a {
    float: right;
    margin-left: 5px;
    width: 32px;
    height: 32px
}

.b-social a.youtube {
    background: url(/images/social.png) no-repeat 0 0
}

.b-social a.facebook {
    background: url(/images/social.png) no-repeat -41px 0
}

.b-social a.twitter {
    background: url(/images/social.png) no-repeat -83px 0
}

.b-social a.vkontakte {
    background: url(/images/social.png) no-repeat -125px 0
}

.b-social a.insta {
    background: url(/images/social.png) no-repeat -168px 0
}

.b-social-header {
    display: inline-block;
    vertical-align: -8px
}

.b-social-header a {
    width: 24px;
    height: 24px
}

.b-social-header a.google {
    background: url(/images/social_ico.png) no-repeat 0 0
}

.b-social-header a.facebook {
    background: url(/images/social_ico.png) no-repeat -31px 0
}

.b-social-header a.twitter {
    background: url(/images/social_ico.png) no-repeat -63px 0
}

.b-social-header a.vkontakte {
    background: url(/images/social_ico.png) no-repeat -95px 0
}

.b-logo {
    text-align: center;
    padding: 40px 0
}

.b-logo img {
    max-width: 200px
}

.b-logo-category {
    font-size: 2em;
    line-height: 1.1em;
    color: #000000;
    font-family: 'noto serif', serif;
    text-transform: uppercase;
    font-weight: bold;
    width: 420px;
    text-align: center;
    position: absolute;
    top: 68px;
    left: 50%;
    margin-left: -210px;
    z-index: 1
}

.b-logo-category span.ugolovniy-sud,
.b-logo-category span.admin-sud,
.b-logo-category span.hos-sud,
.b-logo-category span.civil-sud,
.b-logo-category span.bpvs,
.b-logo-category span.echr {
    font-size: 12px
}

body.welcome .b-logo img {
    max-width: 330px
}

.b-menu-ico {
    position: absolute;
    top: 38px;
    left: 16px
}

body.welcome .b-menu-ico {
    display: none
}

.b-menu-ico a {
    display: block;
    background: url(/images/menu_ico.png) no-repeat 50% 50%;
    width: 16px;
    height: 16px;
    padding: 10px;
    border: 1px solid #000000
}

.b-menu {
    padding: 12px 16px
}

.b-menu-links {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1
}

.b-menu-links.mobile {
    display: none;
    position: relative;
    top: auto;
    right: auto
}

.b-menu-links a {
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 3px
}

.b-menu-links.mobile a {
    float: none;
    display: inline-block
}

.b-menu-links a.msg {
    background: url(/images/s_ico.png) no-repeat 0 0
}

.b-menu-links a.rss {
    background: url(/images/s_ico.png) no-repeat -30px 0
}

.b-menu-links a.youtube {
    background: url(/images/s_ico.png) no-repeat -60px 0
}

.b-menu-links a.facebook {
    background: url(/images/s_ico.png) no-repeat -90px 0
}

.b-menu-links a.twitter {
    background: url(/images/s_ico.png) no-repeat -120px 0
}

.b-menu-links a.vkontakte {
    background: url(/images/s_ico.png) no-repeat -150px 0
}

.b-menu-links a.insta {
    background: url(/images/s_ico.png) no-repeat -180px 0
}

.b-menu-links a.telegram {
    background: url(/images/s_ico.png) no-repeat -209px 0
}

.b-sub-menu {
    background: #636363;
    padding: 12px 16px;
    position: relative
}

.b-hot-category {
    padding: 5px 0
}

.b-hot-category-top {
    margin-bottom: 5px;
    padding: 30px 20px;
    background: #ff7f27;
    text-align: center;
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2em;
    -moz-box-shadow: 0 0 3px rgba(68, 68, 68, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(68, 68, 68, 0.4);
    box-shadow: 0 0 3px rgba(68, 68, 68, 0.4);
    display: none
}

.b-hot-category-top a {
    color: #fff;
    text-decoration: none;
    padding-right: 30px;
    background: url(/images/hot/arrow.jpg) no-repeat center right
}

.b-hot-category ul {
    display: flex;
    justify-content: space-between
}

.b-hot-category li {
    padding: 20px;
    text-align: center;
    position: relative;
    background: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-grow: 1;
    margin: 10px 20px 0 0;
    border-top: 3px solid #ff7f27;
    font-size: 1.6em;
    color: #000000;
    line-height: 1.2em;
    -moz-box-shadow: 0 0 3px rgba(68, 68, 68, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(68, 68, 68, 0.4);
    box-shadow: 0 0 3px rgba(68, 68, 68, 0.4)
}

.b-hot-category li .sub {
    display: none;
    text-align: left;
    font-size: 17px;
    padding: 10px 20px;
    background: #fff;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 2;
    margin-top: 20px;
    text-transform: none;
    font-weight: normal
}

.b-hot-category li .submobile {
    display: none;
    margin-top: 20px
}

.b-hot-category li .submobile a {
    display: inline-block;
    padding: 20px;
    background: #fff;
    color: #000
}

.b-hot-category li .sub a {
    display: inline-block;
    margin-bottom: 8px
}

.b-hot-category li.vsud:hover .sub {
    display: block
}

.b-hot-category li.vsud a.top {
    padding-right: 20px;
    background: url(/images/arrow.gif) no-repeat center right
}

.b-hot-category li.last {
    margin-right: 0
}

.b-hot-category li a {
    color: #000000;
    text-decoration: none
}

.b-site-nav {}

.b-site-nav li {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.2em;
    margin-right: 16px;
    color: #3d3d3d;
    font-family: 'noto serif', serif;
    position: relative;
    display: inline-block;
    *zoom: 1;
    *display: inline
}

.b-sub-menu li {
    font-size: 1.1em;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 16px;
    position: relative;
    display: inline-block;
    *zoom: 1;
    *display: inline
}

.b-site-nav ul ul {
    position: absolute;
    padding-bottom: 10px;
    background: #636363;
    top: 36px;
    left: 0;
    z-index: 12;
    padding-top: 10px
}

.b-site-nav li li {
    font-size: 12px;
    line-height: 14px;
    padding: 0 16px 5px 16px;
    float: none;
    color: #ffffff;
    white-space: nowrap
}

.b-site-nav li a {
    color: #3d3d3d;
    text-decoration: none;
    display: inline-block;
    *zoom: 1;
    *display: inline
}

.b-sub-menu li a {
    color: #ffffff;
    text-decoration: none
}

.b-site-nav li a:hover,
.b-site-nav li.sfhover a.sf-with-ul,
.b-site-nav li.current>a,
.b-site-nav li.current_ancestor>a {
    color: #3d3d3d;
    text-decoration: underline
}

.b-site-nav li li a {
    color: #3d3d3d
}

.b-lang {
    position: absolute;
    top: 2px;
    right: 16px;
    z-index: 1;
    cursor: pointer
}

.b-lang a {
    text-decoration: underline;
    display: inline-block;
    padding: 2px 4px;
    color: #1e8d94
}

.b-lang a:hover,
.b-lang a.active {
    background: #1e8d94;
    color: #fff;
    text-decoration: none
}

.b-news-list {}

.b-news-full {}

.b-news-ear {
    position: absolute;
    top: 16px;
    right: 16px;
    max-width: 260px;
    z-index: 1;
    overflow: hidden;
    zoom: 1;
    display: none
}

body.welcome .b-news-ear {
    display: block
}

.b-news-ear-item {
    background: #e4e4e4;
    max-height: 100px
}

.b-news-ear-item h3 {
    font-size: 1.2em;
    color: #000000;
    line-height: 1.2em;
    font-weight: normal
}

.b-news-ear-item h3 a {
    color: #000000;
    text-decoration: none
}

.b-news-ear-image {
    float: left
}

.b-news-ear-image a {
    display: block
}

.b-news-ear-image img {
    max-width: 120px;
    max-height: 100px;
    display: block
}

.b-news-ear-info {
    padding: 8px 16px;
    display: table-cell
}

.b-feed-date {
    font-size: 1.2em;
    line-height: 1.2em;
    color: #474743;
    text-transform: uppercase;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 16px;
    padding-bottom: 16px;
    font-weight: bold
}

.b-news-media,
.b-news-ico {
    display: inline-block
}

.b-news-item {
    position: relative;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e4e4e4
}

.b-news-item a.category {
    font-size: 11px
}

.b-news-item.last {
    padding-bottom: 0;
    border-bottom: none
}

.b-news-category .b-news-item.top {}

.b-news-item-info {
    overflow: hidden;
    zoom: 1
}

.b-news-list.last .b-news-item-info {}

.b-news-list.last .b-news-date {}

.b-news-item-info h3 {
    font-size: 1.6em;
    color: #000000;
    line-height: 1.2em;
    display: inline
}

.b-blog-list .b-news-item-info h3,
.b-sidebar-media .b-news-item-info h3,
.b-news-list.large .b-news-item-info h3,
.b-news-plain .b-news-item-info h3 {
    font-family: 'noto serif', serif;
    display: block;
    margin-bottom: 10px;
    font-weight: bold
}

.b-news-gallery .b-news-item-info h3,
.b-news-sidebar .b-news-item-info h3,
.b-news-toplist .b-news-item-info h3 {
    font-family: 'noto serif', serif;
    display: block;
    margin-bottom: 10px;
    font-weight: bold
}

.b-news-list.last .b-news-item.last {
    padding-bottom: 0;
    border-bottom: none
}

.b-news-item-info h3 a {
    color: #000000;
    text-decoration: none
}

.b-news-item-info h3 a.important {
    font-weight: bold
}

.b-news-item-info h3 a.selected {
    color: #db1818
}

.b-news-item-info h3 a.selected2 {
    padding-left: 20px;
    color: #f47b13;
    background: url(/images/ico.png) no-repeat 0 -102px
}

.b-news-item-info h3 a:hover {
    color: #db1818
}

.b-news-item-info h3 a:visited {
    color: #1e8d94
}

.b-news-author,
.b-news-source,
.b-news-tags,
.b-news-file {
    color: #6b6b6b;
    margin-bottom: 20px;
    font-size: 1.4em;
    line-height: 1.3em;
    overflow: hidden;
    zoom: 1
}

.b-news-tags {
    padding-left: 26px;
    background: url(/images/tags_ico.png) no-repeat 0 0
}

.b-news-file {
    padding-left: 26px;
    background: url(/images/file_ico.png) no-repeat 0 0
}

.b-news-issue {
    color: #6b6b6b;
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 16px
}

.b-news-item-author {
    font-size: 1.4em;
    color: #4f5a6e;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 16px
}

.b-news-item-author a,
.b-news-author a,
.b-news-source a,
.b-news-tags a,
.b-news-issue a,
.b-news-file a {
    font-weight: normal;
    color: #1e8d94
}

.b-news-date {
    font-size: 11px;
    color: #868686;
    line-height: 12px;
    text-transform: uppercase;
    display: inline
}

.b-news-date.date {
    display: none
}

.news_author .b-news-date.date {
    display: inline-block
}

.b-news-date.block {
    display: block;
    margin-bottom: 5px
}

.b-news-date.dark {
    background: #868686;
    padding: 2px;
    color: #ffffff;
    margin-right: 5px;
    font-weight: bold
}

.b-news-toplist .b-news-date {
    display: none
}

.b-sidebar-adv .b-news-toplist {
    background: #ffffff;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 16px
}

.b-sidebar-adv .b-news-plain {
    overflow: hidden;
    zoom: 1
}

.b-sidebar-adv .b-block-name.dark {
    background: #ffffff;
    margin-bottom: 0;
    color: #000000
}

.b-sidebar-adv .b-news-item {
    padding: 0 10px;
    overflow: hidden;
    zoom: 1
}

.b-welcome-gallery .b-news-item {
    padding: 0 !important
}

.b-sidebar-adv .b-news-plain .b-news-item-info h3 {
    margin-bottom: 0
}

.b-news-full .b-news-date {
    display: block;
    margin-bottom: 10px
}

.b-blog-sidebar .b-news-date {}

body.welcome .b-blog-sidebar .b-news-date {
    display: none
}

.b-news-date a.category {
    color: #1e8d94;
    text-transform: uppercase;
    text-decoration: none
}

.b-news-stat .b-news-date {
    float: left;
    margin-right: 20px;
    padding: 7px 0 0 0
}

.b-news-desc {
    font-size: 1.5em;
    color: #000000;
    line-height: 1.3em
}

.b-news-desc a {
    color: #171717;
    text-decoration: none
}

.b-news-author {}

.b-news-video div {
    max-width: 100%
}

.b-news-announce {
    font-size: 2em;
    line-height: 1.2em;
    color: #5f5f5f;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 30px
}

.b-news-gallery {}

.b-news-gallery ul {
    text-align: justify;
    text-justify: newspaper;
    zoom: 1
}

.b-news-gallery ul:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block
}

.b-news-gallery li {
    width: 48%;
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
    vertical-align: top; //display : inline; //zoom : 1}.b-news-gallery li.fullwidth{width: 100%}.b-news-media .b-news-item-image{float: none}.b-news-other{}.b-news-other .b-block-name{}.b-news-other .b-news-item{padding-bottom: 0; margin-bottom: 6px; border-bottom: none}.b-news-other .b-news-item a.selected, .b-news-other .b-news-item a.selected2{background: none!important; color: #0e62be!important}.b-news-other li{padding-left: 16px; background: url(/images/bullet.gif) no-repeat 0 8px}.b-news-stat{margin-bottom: 30px; background: #f4f0ec; padding: 10px 20px; overflow: hidden; zoom: 1}.b-news-image, .b-news-item-image{position: relative; margin-bottom: 10px}.b-news-item.medium .b-news-image{float: left; margin-right: 16px; max-width: 190px; margin-bottom: 0}.b-news-image img, .b-news-item-image img{width: 100%}.b-news-top{margin-bottom: 16px; position: relative}.b-news-top .b-news-item-info{padding: 16px}.b-news-top .b-news-image{margin-bottom: 0}.b-news-top .b-news-item-info h3{font-size: 30px; color: #000000; font-family: 'noto serif', serif; margin-bottom: 10px}.b-news-top .b-news-item-info h3 a{color: #000000; text-decoration: none}.b-news-top .b-news-item-info .b-news-date{display: none}.b-news-sidebar{position: relative}.b-sidebar .b-news-sidebar{margin-top: 20px}.b-news-sidebar .b-news-item-image{float: none; margin: 0 0 10px 0}.b-news-sidebar .b-news-item-info{}.b-news-sidebar .b-news-item{}.sidebar .b-news-sidebar .b-feed-date{display: none!important}.sidebar .b-news-sidebar .b-news-date{display: inline!important; margin-bottom: 0!important}.sidebar .b-news-sidebar .b-news-item-info h3{display: inline!important; font-family: 'roboto', sans-serif; margin-bottom: 0; font-weight: normal}.b-news-publist{}.b-news-publist .b-news-item{padding-bottom: 0; border-bottom: none}.b-publications-desc h3{font-size: 1.6em; color: #000000; line-height: 1.2em}.b-publications-desc h3 a{color: #000000; text-decoration: none}.b-publications-title h3{font-family: 'noto serif', serif; display: block; margin-bottom: 10px; font-size: 1.6em; color: #000000; line-height: 1.2em; font-weight: bold}.b-publications-title h3 a{color: #000000; text-decoration: none}.b-pub-list{}.b-pub-list ul{text-align: justify; text-justify: newspaper; zoom: 1}.b-pub-list ul:after{width: 100%; height: 0px; visibility: hidden; overflow: hidden; content: ''; display: inline-block}.b-pub-list li{width: 31%; margin-bottom: 20px; display: inline-block; text-align: left; vertical-align: top; //display : inline; //zoom : 1}.b-pub-list li .b-news-item{padding-bottom: 0; border-bottom: none; margin-bottom: 0}.b-news-gallery li .b-news-item{padding-bottom: 0; border-bottom: none; margin-bottom: 20px}.b-pub-list .b-news-date, .b-news-gallery li .b-news-date{margin-bottom: 8px; display: block}.b-news-toplist li .b-news-item, .b-news-toplist .b-news-item{padding-bottom: 0; border-bottom: none}.b-news-toplist li .b-news-item .b-news-desc{display: none}.b-news-title h3{color: #000000; font-family: 'noto serif', serif; font-size: 2em; line-height: 1.2em; font-weight: bold; margin-bottom: 10px}.b-news-toplist li .b-news-title h3{margin-bottom: 0}.b-news-title h3 a{color: #000000; text-decoration: none}.b-news-title h3 a:hover{color: #db1818}.b-news-title h3 a:visited{color: #1e8d94}.b-news-category .b-block-name{}.b-news-category .b-news-image{float: left; margin-right: 16px; margin-bottom: 0; max-width: 130px}.home .b-news-image{float: none; margin-right: 0; margin-bottom: 10px; max-width: 100%}.b-news-category .b-news-title h3{font-size: 1.6em; margin-bottom: 0}.b-author-about{background: #f9f9f5; padding: 16px; margin-bottom: 16px; overflow: hidden; zoom: 1}.b-author-info{overflow: hidden; zoom: 1}.b-author-img{float: left; margin-right: 32px}.b-author-img img{width: 112px; height: 112px; display: blcok; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%}.b-author-name{font-size: 2.4em; font-family: 'noto serif', serif; color: #000000; line-height: 1.2em; font-weight: normal; margin-bottom: 20px}.b-author-desc{font-size: 1.3em; color: #000000; line-height: 1.3em}.b-photo-anons .b-news-gallery li{width: 100%}.b-photo-anons .b-news-date{display: none}.b-welcome-gallery .b-news-item{background: #ffffff}.b-video-anons .b-news-item, .b-welcome-gallery .b-news-item, .b-photo-anons .b-news-item{padding-bottom: 0; border-bottom: 0; margin-bottom: 0}.b-photo-anons .b-news-item-info, .b-video-anons .b-news-item-info, .b-welcome-gallery .b-news-item-info{padding: 16px}.b-welcome-gallery .b-news-desc, .b-welcome-gallery .b-news-date{display: none}.b-tags-list{font-size: 2.4em; color: #006b32; line-height: 1.1em}.b-static-text{}.b-static-text a{color: #1e8d94}.b-static-text.fullwidth{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0; column-gap: 0}.b-static-img{position: relative; margin-bottom: 30px}.b-static-text img, .b-static-img img, .b-static-img iframe, .b-static-text video, .b-static-text object, .b-static-text embed, .b-static-text iframe, .b-static-video embed, .b-static-video video, .b-static-video object, .b-static-video iframe{max-width: 100%}.b-static-imgdesc{font-size: 1.4em; line-height: 1.3em; color: #5f5f5f; font-weight: 300; margin-top: -15px; margin-bottom: 20px}.b-static-text img, .b-static-img img{height: auto}.b-static-text h1{font-size: 3.8em; color: #171717; line-height: 1.2em; margin-bottom: 16px; font-family: 'noto serif', serif; font-weight: bold}.b-static-text h2{font-size: 3em; color: #171717; line-height: 1.2em; margin-bottom: 16px; font-family: 'noto serif', serif; font-weight: bold}.b-static-text h3{font-size: 2.6em; color: #171717; line-height: 1.2em; margin-bottom: 16px; font-family: 'noto serif', serif; font-weight: bold}.b-static-text h4{font-size: 1.8em; color: #171717; line-height: 1.2em; margin-bottom: 16px; font-family: 'noto serif', serif; font-weight: bold}.b-static-text p{font-size: 1.8em; color: #000000; font-weight: 400; line-height: 1.3em; padding-bottom: 16px}.b-static-text p strong{font-weight: bold}.b-static-text p em{font-style: italic}.b-static-text ul, .b-static-text ol{margin: 0 0 16px 48px}.b-static-text ul li{font-size: 1.8em; color: #000000; font-weight: 400; line-height: 1.3em; padding-bottom: 8px; list-style: disc}.b-static-text ol li{font-size: 1.8em; color: #000000; font-weight: 400; line-height: 1.3em; padding-bottom: 8px; list-style: decimal}.b-static-text blockquote{font-size: 2em; line-height: 1.2em; padding-left: 64px; background: url(/images/blockquote.png) no-repeat 0 0; color: #5f5f5f; font-weight: 300; font-style: italic; margin-bottom: 20px; clear: both}.b-static-text blockquote p{font-size: 20px; color: #5f5f5f; padding: 0}.b-static-text table{width: 100%; margin-bottom: 20px}.b-static-text th, .b-static-text thead td{font-size: 1.6em; font-weight: bold; vertical-align: top; line-height: 1.3em; color: #000000; text-align: left; padding: 0 8px 8px 0; border-bottom: 1px solid #4f5a6e}.b-static-text td{font-size: 1.4em; vertical-align: top; line-height: 1.3em; color: #000000; text-align: left; padding: 8px 8px 8px 0; border-bottom: 1px solid #4f5a6e}.b-static-text .noborder td{border-bottom: none}.b-static-text td p{font-size: 14px; font-weight: normal; color: #000000; padding: 0}.b-static-text td li{font-size: 14px; font-weight: normal; color: #000000; padding: 0}.b-mapa{height: 490px; position: relative; margin-bottom: 20px}#mapa{width: 100%; height: 490px; margin: 0px; padding: 0px}.b-all{font-size: 1.2em; color: #000000; line-height: 1.3em; text-align: center; padding: 10px; background: #e4e4e4; text-transform: uppercase}.b-all a{color: #000000}.b-media-gallery{margin-bottom: 30px; position: relative; clear: both; overflow: hidden; zoom: 1}.b-media-gallery ul{margin: 0!important}.b-media-gallery li{float: left; margin-right: 16px; list-style: none!important; padding: 0!important}.b-issue-list{}.b-fresh-issue{position: absolute; bottom: 0; left: 16px; z-index: 1; padding: 0 16px; display: none}body.welcome .b-fresh-issue{display: block}.b-issue-line{position: absolute; bottom: 0; left: 0; text-align: center; font-size: 1.3em; color: #000000; font-weight: bold; line-height: 1.2em; padding-top: 18px; text-transform: uppercase; width: 206px; height: 22px; background: url(/images/issue_line.png) no-repeat 0 0; z-index: 1}.b-issue-line a{color: #000000; text-decoration: none}.b-fresh-issue a.image{display: block; height: 100px; width: 160px; border: 1px solid #f3f3f3; padding: 6px; position: relative; -moz-box-shadow: 0 0 3px rgba(68,68,68,0.4); -webkit-box-shadow: 0 0 3px rgba(68,68,68,0.4); box-shadow: 0 0 3px rgba(68,68,68,0.4)}.b-issue-list ul{text-align: justify; text-justify: newspaper; zoom: 1}.b-issue-list ul:after{width: 100%; height: 0px; visibility: hidden; overflow: hidden; content: ''; display: inline-block}.b-issue-list li{width: 28%; margin-bottom: 40px; display: inline-block; text-align: left; vertical-align: top; //display : inline; //zoom : 1}.b-issue-item{border: 1px solid #f3f3f3; padding: 5px; position: relative; -moz-box-shadow: 0 0 2px rgba(68,68,68,0.4); -webkit-box-shadow: 0 0 2px rgba(68,68,68,0.4); box-shadow: 0 0 2px rgba(68,68,68,0.4)}.b-issue-item img{display: block; max-width: 100%}.b-issue-number{background: #ffffff; padding: 10px 0 0 0; font-size: 1.3em; line-height: 1.2em; color: #000000; text-align: center}.b-issue-number p{font-size: 20px; font-weight: bold; padding-bottom: 5px; color: #000000}.b-issue-number a{color: #000000; text-decoration: none}.b-issue-about{margin-bottom: 30px; overflow: hidden; zoom: 1}.b-issue-poster{border: 1px solid #f3f3f3; padding: 5px; -moz-box-shadow: 0 0 2px rgba(68,68,68,0.4); -webkit-box-shadow: 0 0 2px rgba(68,68,68,0.4); box-shadow: 0 0 2px rgba(68,68,68,0.4); float: left; margin-right: 30px; max-width: 130px}.b-issue-poster img{display: block; max-width: 100%}.b-issue-info{background: #f9f9f5; overflow: hidden; zoom: 1}.h-issue-info{padding: 20px}.b-issue-title, .b-issue-theme{font-size: 2.2em; font-family: 'noto serif', serif; color: #000000; line-height: 1.2em; font-weight: normal; margin-bottom: 16px}.b-issue-desc{font-size: 1.3em; color: #000000; line-height: 1.2em}.b-issue-header{font-size: 2.2em; color: #000000; font-family: 'noto serif', serif; line-height: 1.2em; font-weight: normal; margin-bottom: 16px}.b-vote-item{margin-bottom: 15px}.b-vote-name{font-family: 'noto serif', serif; display: block; margin-bottom: 10px; font-weight: bold; font-size: 1.6em; color: #000000; line-height: 1.2em}.b-vote-answers{margin-bottom: 15px}.b-vote-answers li{margin-bottom: 10px; font-size: 1.5em; color: #000000; line-height: 1.3em}.b-vote-answers li input{vertical-align: -3px; margin-right: 5px; display: inline-block}.b-vote-answers li a{color: #000000; text-decoration: underline}.b-blog-list{}.b-blog-list ul{text-align: justify; text-justify: newspaper; zoom: 1}.b-blog-list ul:after{width: 100%; height: 0px; visibility: hidden; overflow: hidden; content: ''; display: inline-block}.b-blog-list li{width: 48%; display: inline-block; text-align: left; margin-bottom: 20px; vertical-align: top; //display : inline; //zoom : 1}.b-blog-list li .b-news-item{padding-bottom: 0; margin-bottom: 0; border-bottom: none}.b-blog-sidebar{background: #ffffff}.home .b-dob-sidebar{display: none}.b-sidebar-adv .b-blog-sidebar{margin-bottom: 16px}.b-blog-sidebar li{margin-bottom: 0; width: 100%}.b-blog-sidebar li .b-news-item{padding-bottom: 16px; margin-bottom: 16px; border-bottom: 1px solid #e4e4e4}.b-blog-sidebar li .b-news-item.last{padding-bottom: 0; border-bottom: none}.b-blog-author{margin-bottom: 10px; font-size: 1.3em; color: #000000; overflow: hidden; zoom: 1; line-height: 1.2em; text-transform: uppercase}.b-blog-author a{color: #000000; text-decoration: none; display: block}.b-blog-author-img{float: left; margin-right: 16px}.b-blog-author-img img{display: block; width: 48px; height: 48px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%}.b-blog-author-info{overflow: hidden; zoom: 1}.b-blog-author-info a{padding: 16px 0 20px 0}.b-blog-author-info strong{padding-top: 16px}.b-form{}.b-form.profile{padding: 16px; background: #e4e4e4; overflow: hidden; zoom: 1}.a2lix_translationslocales{display: none}.b-profile-ava{float: left; margin: 16px}.b-profile-ava.full{float: none; margin: 0 0 30px 0; text-align: center}.b-profile-ava img{max-width: 100%; width: 128px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%}.b-profile-view{}.b-profile-view h2{font-size: 3.8em; color: #000000; line-height: 1em; font-weight: 200; font-family: 'noto serif', serif; margin-bottom: 10px}.b-profile-view p{font-size: 1.4em; color: #737373; line-height: 1.2em; padding-bottom: 5px}.b-profile-view-link{margin-top: 10px; font-size: 1.4em; line-height: 1.2em}.b-form-leftside{padding-right: 16px; border-right: 1px solid #cbcbcb}.b-form-leftside.fullwidth{padding-right: 0; border-right: none}.b-form-rightside{}.b-form-rightside p{font-size: 1.4em; color: #737373; line-height: 1.2em; padding-bottom: 10px}.b-form-rightside a.social-login-button{float: left; margin-right: 10px; width: 32px; height: 32px; text-indent: -9999px}.b-form-rightside a.google{background: url(/images/social.png) no-repeat 0 0}.b-form-rightside a.facebook{background: url(/images/social.png) no-repeat -41px 0}.b-form-rightside a.twitter{background: url(/images/social.png) no-repeat -83px 0}.b-form-rightside a.vkontakte{background: url(/images/social.png) no-repeat -125px 0}.b-form-links{margin-left: 142px; font-size: 1.2em; margin-bottom: 20px}.b-form-links a{color: #000000}.b-form-links p{display: inline-block; padding-right: 5px}.b-form.registration .b-form-links{margin-left: 0}.b-form-row{margin-bottom: 20px}.b-form-row label{font-size: 1.4em; color: #737373; line-height: 1.2em; font-style: normal; padding: 0 14px 10px 0; display: table-cell}.b-form-row label.required{}.b-form.addblog .b-form-row label.required{display: none}.b-form .input, .b-form select, .b-form textarea{font-size: 16px; color: #171717; font-weight: normal; width: 100%; margin: 0; background: #ffffff; border: 1px solid #e0e0e0; padding: 6px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box}.b-form textarea{width: 100%}.b-form-row .form-help-label{font-size: 1.3em; color: #4f5a6e; padding-top: 5px}.b-form dt{float: left; width: 140px; padding-top: 8px; font-size: 1.4em; line-height: 1.2em; color: #737373}.b-form dd{margin-left: 142px; margin-bottom: 10px; font-size: 14px}.b-form dd.remember_me input{vertical-align: -2px}.b-form-submit{margin-left: 142px}.b-form-submit.left, .b-form.registration .b-form-submit{margin-left: 0}.b-form-done{font-size: 1.6em; color: #5cb07f; font-weight: normal; line-height: 1.3em; padding: 16px 16px 16px 50px; background: #edf8f2 url(/images/form_ico.png) no-repeat 15px 18px; margin-bottom: 16px}.b-form-notice{font-size: 1.6em; color: #4f5a6e; font-weight: normal; line-height: 1.3em; padding: 16px 16px 16px 50px; background: #f0f2f4 url(/images/form_ico.png) no-repeat 15px -113px; margin-bottom: 16px}.b-form-error{font-size: 1.6em; color: #d32727; font-weight: normal; line-height: 1.3em; padding: 16px 16px 16px 50px; background: #fceeee url(/images/form_ico.png) no-repeat 15px -49px; margin-bottom: 16px}.b-search-form{background: #e4e4e4; padding: 16px; margin-bottom: 16px; position: relative; overflow: hidden; zoom: 1}.b-search-form .input{background: #ffffff; border: 1px solid #bdbdbd; padding: 10px; font-size: 14px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box}.b-search-exact{padding-top: 10px; font-size: 1.6em; color: #000000; line-height: 1.2em}.b-search-exact input{vertical-align: -2px}.b-search-category{padding-top: 10px; font-size: 1.6em; color: #000000; line-height: 1.2em}.b-search-category dt{font-size: 1.6em; color: #000000; line-height: 1.2em; padding-bottom: 5px; color: #000000}.b-search-category dd{color: #000000; font-size: 1.6em; line-height: 1.2em; padding-bottom: 5px; float: left; width: 30%}.b-search-category dd input{vertical-align: -2px}.b-search-submit{margin-top: 8px}.b-search-count{font-size: 1.4em; line-height: 1.2em; font-weight: bold; color: #474743; text-transform: uppercase; border-bottom: 1px solid #e4e4e4; margin-bottom: 16px; padding-bottom: 16px}.b-search-error{}.b-page-selector{text-align: center; font-size: 1.4em; line-height: 1.3em; font-weight: bold; margin-bottom: 30px}.b-page-selector a{text-decoration: none; color: #1e8d94; padding: 8px 12px; display: inline-block; *zoom: 1; *display: inline}.b-page-selector span.current{text-decoration: none; color: #000000; background: #e4e4e4; padding: 8px 12px; display: inline-block; *zoom: 1; *display: inline}.b-page-selector a:hover{text-decoration: none; color: #000000; background: #e4e4e4}.b-bottom-line{position: relative; background: #ffffff}.b-bottom-line li{float: left; width: 140px; margin-right: 30px}.b-bottom-line li li{width: 100%; margin-right: 0; margin-bottom: 0}.b-bottom-line li.newspapper{padding-left: 138px; background: url(/images/newspapper.png) no-repeat 0 0; min-height: 165px}.h-bottom-line{padding: 16px 0; margin: 0 16px; border-top: 1px solid #cbcbcb; overflow: hidden; zoom: 1}.b-bottom-line dt{color: #000000; font-family: 'noto serif', serif; font-size: 2em; line-height: 1.2em; margin-bottom: 16px}.b-bottom-line dt a{color: #000000}.b-bottom-line dd, .b-footer-menu li{font-size: 1.2em; color: #000000; line-height: 1.3em; display: block; padding-bottom: 5px; color: #5f5f5f}.b-bottom-line dd a, .b-footer-menu li a{color: #000000}.b-bottom-text{float: right; text-align: right}.b-bottom-links{margin-bottom: 16px; font-size: 1.2em; color: #000000; line-height: 1.3em}.b-bottom-links a{color: #000000; text-decoration: underline; display: inline-block}.b-footer{position: relative; background: #ffffff}.h-footer{padding: 16px 0; margin: 0 16px; border-top: 1px solid #cbcbcb; overflow: hidden; zoom: 1}.b-copyright{width: 60%; margin-bottom: 16px}.b-copyright p, .b-webdev, .b-contact-info p{font-size: 1.2em; line-height: 1.2em; color: #5f5f5f; padding-bottom: 5px}.b-contact-info{position: absolute; top: 16px; right: 16px; z-index: 1; width: 260px; margin-bottom: 16px}.b-contact-info p.name{font-size: 1.2em; text-transform: uppercase; font-weight: bold; line-height: 1.2em; color: #5f5f5f; padding-bottom: 16px}.b-comments{padding-top: 30px; border-top: 1px solid #e4e4e4; position: relative}.b-comments-hint{background: #f0f0f0; padding: 16px; font-size: 1.3em; color: #575757; font-style: italic; margin-bottom: 1px}.b-comments h3.panel-title, .b-comments h3.count{font-size: 2.2em; font-family: 'noto serif', serif; color: #000000; margin-bottom: 30px}.b-comments-form{background: #f0f0f0; padding: 16px; margin-bottom: 30px; position: relative}.b-comment-item .b-comments-form{margin-bottom: 0; margin-top: 16px}.b-comments-form textarea{font-size: 14px; color: #575757; font-weight: normal; width: 100%; margin: 0; background: #ffffff; border: 1px solid #d9d9d9; padding: 8px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box}.b-comments-form.noavatar textarea{width: 100%}.b-comments-submit{padding-top: 8px}.b-comments-action{position: absolute; top: 28px; right: 0; z-index: 1; display: none}.b-comments-action .button{padding: 2px 4px; font-size: 14px}.b-comment-item{padding-bottom: 16px; margin-bottom: 16px; border-bottom: 1px solid #e4e4e4}.b-comment-author{margin-bottom: 15px; overflow: hidden; zoom: 1}.b-comment-author-ava{float: left; margin-right: 16px; display: none}.b-comment-author-ava img{width: 48px; height: 48px; display: block; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%}.b-comments-form .b-comment-author-ava img{}.b-comment-author-name{font-size: 1.4em; color: #000000; font-weight: bold; margin-bottom: 3px; font-family: 'noto serif', serif; line-height: 1.2em; display: block}.b-comment-author-name img{display: block; float: left; margin-right: 16px; width: 48px; height: 48px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%}.b-comment-date{font-size: 11px; color: #868686; line-height: 12px; text-transform: uppercase}.b-comment-manage{font-size: 11px; line-height: 12px; display: block; padding-top: 3px}.b-comment-manage a{color: #1e8d94; text-decoration: underline; padding-right: 4px; cursor: pointer}.b-comment-body{font-size: 1.4em; color: #000000; line-height: 1.2em; padding-bottom: 10px}.b-comment-link{font-size: 11px}.b-comments-form .b-comment-link{position: absolute; right: 16px; bottom: 32px; z-index: 1}.b-comment-link a{cursor: pointer; color: #1e8d94}.b-comments-form.noavatar .b-comment-link{margin-left: 0}.b-comment-tree{padding-left: 20px}#back-top{position: fixed; bottom: 60px; right: 20px; z-index: 3333; width: 48px; height: 48px}#back-top a{display: block; width: 48px; height: 48px; background: url(/images/top.png) no-repeat 0 0}.ui-datepicker{width: auto!important}@media only screen and (max-width : 960px){.b-logo img{max-width: 220px!important}.b-menu-ico{display: block!important}.b-header-line{display: none}.b-fresh-issue, .b-news-ear{display: none!important}.b-search-header{top: 38px!important; right: 16px!important; bottom: auto!important}.b-search-header-ico{display: block!important; right: 0!important; top: auto}body.welcome .b-search-header-ico{top: auto}body.welcome .b-header-line, body.welcome .b-search-header-form{display: none}.b-search-footer{float: left}.b-header-wrapper{position: relative}.b-content-sidebar{display: none}.b-sidebar-adv{display: none}.b-content-holder{float: none; margin-right: 0}.b-content-holder-in{margin-right: 0}.b-bottom-text{float: none; clear: both; text-align: left}.b-bottom-line li{width: 22%; margin-right: 16px; margin-bottom: 16px}.b-social a{float: left; margin: 0 5px 0 0}.b-copyright{width: 100%}.b-contact-info{position: relative; top: auto; right: auto}.b-news-category .b-news-image{float: none; margin-right: 0; margin-bottom: 10px; max-width: 100%}}@media only screen and (max-width : 740px){.b-menu-links{display: none!important}.b-menu-links.mobile{display: block!important}.col.sidebar{display: none}.b-social{float: none}.b-sidebar, .b-sidebar-adv{display: none}.b-static-img, .b-news-image{margin-right: 0}.b-form-leftside{padding-right: 0; border-right: none}.b-form-rightside{}.b-copyright{width: 100%}.b-bottom-line li{width: 40%}.b-comment-tree{padding-left: 2px}h1.title, h1.name{font-size: 2.6em}.b-page-name{padding-top: 0}.b-bblock{display: none}.b-bblock-content{display: block!important}.b-bblock.youtube, .b-bblock.b-bblock-promo{display: block!important}.b-news-item-info h3{font-size: 2em}}@media only screen and (max-width : 680px){.b-bottom-line li{width: 100%}.b-logo-category{width: 300px; margin-left: -150px; font-size: 1.6em}.h-top-line{text-align: left}.b-auth-header{float: none; margin-top: 10px}.b-sub-menu li{display: block; margin-right: 0; margin-bottom: 10px}.b-author-name{font-size: 1.6em}.b-author-img{margin-right: 16px}.b-issue-number p{font-size: 14px}.home .b-dob-sidebar{display: block}table, thead, tbody, th, td, tr{display: block}#hotlist{display: none}.b-hot-category ul{display: block}.b-hot-category li{margin-right: 0; position: relative; width: 100%; padding: 30px 20px; text-align: center; font-size: 2em; color: #fff; font-weight: bold; text-transform: uppercase; line-height: 1.2em}.b-hot-category li a{color: #fff}.b-hot-category li.vsud{background: url(/images/hot/vsud.jpg) no-repeat center center}.b-hot-category li.bpvs{background: url(/images/hot/bpvs.jpg) no-repeat center center}.b-hot-category li.echr{background: url(/images/hot/echr.jpg) no-repeat center center}.b-hot-category li.info{background: url(/images/hot/info.jpg) no-repeat center center}.b-hot-category-top{display: block}.b-hot-category li.vsud a.top{padding-right: 0; background: none}.b-hot-category li .sub, .b-hot-category li.vsud:hover .sub{display: none}.b-hot-category li .submobile{display: block; padding: 0; text-align: center; position: relative; top: auto; left: auto; background: none}}@media only screen and (max-width : 540px){.b-news-other li, .b-news-gallery li, .b-pub-list li, .b-issue-list li{width: 100%}.b-issue-poster{float: none; margin-right: 0; margin-bottom: 20px}}
