html,
body {
    height: 100%
}

.oembed_custom-thumbnail_icon {
    opacity: .6
}

.green-txt {}

.purple-txt {}

.uppercase {
    text-transform: uppercase
}

.shutters-purple {
    text-transform: uppercase;
    background: url(//19928113.fs1.hubspotusercontent-na1.net/hubfs/19928113/raw_assets/public/thycotic-centrify/tc-main/images/shutters-solid-purple-green.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.shutters-purple-center {
    text-transform: uppercase;
    background: url(//19928113.fs1.hubspotusercontent-na1.net/hubfs/19928113/raw_assets/public/thycotic-centrify/tc-main/images/delinea-masthead-background.gif);
    background-size: 100% auto;
    background-repeat: repeat-y;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.green-shutter-bar {
    width: 100%;
    padding: 5px;
    background: url(//19928113.fs1.hubspotusercontent-na1.net/hubfs/19928113/raw_assets/public/thycotic-centrify/tc-main/images/shutter-bar-green-top.png);
    background-size: cover
}

ul {
    padding: 0 20px
}

ul.thumb-icon li {
    list-style-type: none;
    background: url('https://19928113.fs1.hubspotusercontent-na1.net/hubfs/19928113/delinea/icons/delinea-icon-thumbprint-bullet.png') no-repeat left 0px;
    background-size: 30px auto
}

.thumb-icon {
    padding-left: 0px
}

.thumb-icon li {
    padding-left: 35px;
    padding-top: 3px;
    paddin-bottom: 20px;
    margin-bottom: 20px;
    line-height: 1.25em;
    font-size: 16px;
    min-height: 30px
}

ul.thumb-icon:last-child {
    margin-bottom: 5px
}

ul.thumb-icon:first-child {
    margin-top: 5px
}

.footer-menu ul {
    padding: 0px
}

.footer-bottom-menu a.footer-bottom-menu-link {
    color: #fff;
    font-size: 0.7rem;
    padding: 0 10px;
    border-left: 1px solid #fff
}

.footer-bottom-menu a.footer-bottom-menu-link:first-child {
    border-left: none
}

.footer-bottom-menu a.footer-bottom-menu-link * {
    color: #fff
}

.header-links .button {
    padding-top: 8px !important
}

blockquote {
    margin: 45px 20px;
    padding-left: 50px;
    border-top: 5px solid #00b95a;
    border-bottom: 5px solid #00b95a;
    padding: 20px 0px 20px 50px;
    border-left: 0px;
    color: #00b95a;
    position: relative
}

blockquote::before {
    color: #00b95a;
    content: "“";
    font-size: 8em;
    line-height: 24px;
    margin-right: 0;
    vertical-align: -.5em;
    font-family: arial;
    position: absolute;
    left: 0px;
    top: 55px;
    margin-left: 0px
}

.blog-post blockquote p {
    display: inline;
    padding: 0 !important;
    font-size: 22px;
    line-height: 30px
}

.blog-post ul {
    padding: 0 15px
}

@media screen and (max-width: 959px) {
    .header__container {
        flex-direction: column;
        padding: 20px 0 0 !important
    }
}

.error-page {
    padding: 5rem 0;
    position: relative;
    text-align: center
}

.error-page .error-content {
    max-width: 60%;
    float: left;
    vertical-align: middle;
    padding-left: 40px;
    padding-top: 40px
}

.error-page .error-content h1 {
    font-size: 42px
}

.error-page .error-image {
    max-width: 40%;
    float: right;
    vertical-align: middle;
    padding-right: 40px
}

.error-page .error-search {
    width: 50%;
    margin: 20px auto
}

.clear {
    clear: both
}

@media screen and (max-width: 540px) {
    .error-page .error-content {
        max-width: 80%;
        float: none;
        vertical-align: middle;
        margin: 20px auto;
        padding: 20px
    }

    .error-page .error-content h1 {
        font-size: 32px
    }

    .error-page .error-image {
        max-width: 80%;
        float: none;
        vertical-align: middle;
        margin: 20px auto;
        text-align: center;
        padding-20px
    }
}

.font150 {
    font-size: 150px !important;
    line-height: 145px !important
}

@media screen and (max-width: 960px) {
    .font150 {
        font-size: 120px !important;
        line-height: 110px !important
    }
}

@media screen and (max-width: 540px) {
    .font150 {
        font-size: 80px !important;
        line-height: 75px !important
    }
}

@media screen and (max-width: 320px) {
    .font150 {
        font-size: 60px !important;
        line-height: 55px !important
    }
}

.font80 {
    font-size: 80px !important;
    line-height: 75px !important
}

@media screen and (max-width: 960px) {
    .font80 {
        font-size: 60px !important;
        line-height: 55px !important
    }
}

@media screen and (max-width: 540px) {
    .font80 {
        font-size: 48px !important;
        line-height: 46px !important
    }
}

@media screen and (max-width: 320px) {
    .font80 {
        font-size: 36px !important;
        line-height: 36px !important
    }
}

.font60 {
    font-size: 60px !important;
    line-height: 55px !important
}

@media screen and (max-width: 960px) {
    .font60 {
        font-size: 48px !important;
        line-height: 46px !important
    }
}

@media screen and (max-width: 540px) {
    .font60 {
        font-size: 36px !important;
        line-height: 34px !important
    }
}

@media screen and (max-width: 320px) {
    .font60 {
        font-size: 30px !important;
        line-height: 30px !important
    }
}

.font48 {
    font-size: 48px !important;
    line-height: 55px !important
}

@media screen and (max-width: 960px) {
    .font48 {
        font-size: 48px !important;
        line-height: 52px !important
    }
}

@media screen and (max-width: 540px) {
    .font48 {
        font-size: 30px !important;
        line-height: 34px !important
    }
}

@media screen and (max-width: 320px) {
    .font48 {
        font-size: 26px !important;
        line-height: 30px !important
    }
}

.font36 {
    font-size: 36px !important;
    line-height: 40px !important
}

@media screen and (max-width: 960px) {
    .font36 {
        font-size: 30px !important;
        line-height: 36px !important
    }
}

@media screen and (max-width: 540px) {
    .font36 {
        font-size: 24px !important;
        line-height: 30px !important
    }
}

@media screen and (max-width: 320px) {
    .font36 {
        font-size: 18px !important;
        line-height: 24px !important
    }
}

.font30 {
    font-size: 30px !important;
    line-height: 36px !important
}

@media screen and (max-width: 960px) {
    .font30 {
        font-size: 26px !important;
        line-height: 30px !important
    }
}

@media screen and (max-width: 540px) {
    .font30 {
        font-size: 22px !important;
        line-height: 28px !important
    }
}

@media screen and (max-width: 320px) {
    .font30 {
        font-size: 16px !important;
        line-height: 22px !important
    }
}

.font28 {
    font-size: 28px !important;
    line-height: 32px !important
}

@media screen and (max-width: 960px) {
    .font28 {
        font-size: 28px !important;
        line-height: 32px !important
    }
}

@media screen and (max-width: 540px) {
    .font28 {
        font-size: 26px !important;
        line-height: 30px !important
    }
}

@media screen and (max-width: 320px) {
    .font28 {
        font-size: 24px !important;
        line-height: 28px !important
    }
}

.font24 {
    font-size: 24px !important;
    line-height: 30px !important
}

@media screen and (max-width: 960px) {
    .font24 {
        font-size: 24px !important;
        line-height: 28px !important
    }
}

@media screen and (max-width: 540px) {
    .font24 {
        font-size: 20px !important;
        line-height: 24px !important
    }
}

@media screen and (max-width: 320px) {
    .font24 {
        font-size: 16px !important;
        line-height: 20px !important
    }
}

.font22 {
    font-size: 22px !important;
    line-height: 24px !important
}

@media screen and (max-width: 960px) {
    .font22 {
        font-size: 22px !important;
        line-height: 24px !important
    }
}

@media screen and (max-width: 540px) {
    .font22 {
        font-size: 20px !important;
        line-height: 22px !important
    }
}

@media screen and (max-width: 320px) {
    .font22 {
        font-size: 18px !important;
        line-height: 20px !important
    }
}

.font20 {
    font-size: 20px !important;
    line-height: 28px !important
}

@media screen and (max-width: 960px) {
    .font20 {
        font-size: 20px !important;
        line-height: 24px !important
    }
}

@media screen and (max-width: 540px) {
    .font20 {
        font-size: 18px !important;
        line-height: 22px !important
    }
}

@media screen and (max-width: 320px) {
    .font20 {
        font-size: 16px !important;
        line-height: 20px !important
    }
}

.font18 {
    font-size: 18px !important;
    line-height: 24px !important
}

@media screen and (max-width: 960px) {
    .font18 {
        font-size: 18px !important;
        line-height: 22px !important
    }
}

@media screen and (max-width: 540px) {
    .font18 {
        font-size: 16px !important;
        line-height: 18px !important
    }
}

@media screen and (max-width: 320px) {
    .font18 {
        font-size: 12px !important;
        line-height: 14px !important
    }
}

.font16 {
    font-size: 16px !important;
    line-height: 20px !important
}

@media screen and (max-width: 960px) {
    .font16 {
        font-size: 16px !important;
        line-height: 22px !important
    }
}

@media screen and (max-width: 540px) {
    .font16 {
        font-size: 14px !important;
        line-height: 18px !important
    }
}

@media screen and (max-width: 320px) {
    .font16 {
        font-size: 11px !important;
        line-height: 16px !important
    }
}

.product-page .hs_cos_wrapper {
    overflow: hidden !important
}

.product-page .hs_cos_wrapper img.hs-image-widget {
    height: 100% !important;
    max-width: inherit !important
}

.product-page .hs_cos_wrapper img.hs-image-widget {
    width: 100%;
    margin-bottom: -8px
}

.product-page .hs_cos_wrapper .oembed_custom-thumbnail {
    height: 100.8% !important
}

.product-page .dnd-section .dnd-column {
    padding: 0 20px
}

.product-page .col-spacer {
    width: 33.3333%;
    display: table-cell
}

.product-page .col-text {
    width: 66.6666%;
    padding: 40px;
    display: table-cell
}

.product-page .two-col-content-cols {
    width: 100%;
    display: flex
}

.product-page .two-col-content-col1,
.product-page .two-col-content-col2 {
    width: 100%;
    display: flex
}

.product-page .two-col-content-col1 {
    border-right: 5px solid #fff
}

.product-page .two-col-content-col2 {
    border-left: 5px solid #fff
}

@media screen and (max-width: 640px) {
    .product-page .two-col-content-cols {
        display: block
    }

    .product-page .two-col-content-col1,
    .product-page .two-col-content-col2 {
        display: block;
        width: 100%;
        border-left: none;
        border-right: none;
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff
    }
}

.features_glance th,
.features_glance td {
    border: none
}

.features_glance {
    width: 100%;
    border-collapse: collapse;
    border: 0px
}

.features_glance tr {
    border-bottom: solid #cfcfcf 1px
}

.features_glance h3,
.features_glance p {
    margin: 0px
}

.features_glance tr:last-child {
    border-bottom: 0px
}

.features_glance img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

#three_col_glance td:first-child {
    width: 30%
}

#three_col_glance td {
    padding: 12px 7px;
    width: 15%
}

#three_col_glance td h3 {
    padding: 0;
    margin: 0
}

#three_col_glance td .font20 {
    line-height: 16px !important
}

#two_col_glance td:first-child {
    font-weight: bold;
    width: 25%
}

#two_col_glance td {
    padding: 14px;
    width: 75%
}

#four_col_glance td:first-child {
    width: 30%
}

#four_col_glance td {
    padding: 4px 0 14px;
    width: 18.75% !important
}

#training-table td {
    padding: 14px;
    width: 25%;
    vertical-align: top
}

#training-table tr {
    border-bottom: 1px solid #00b95a
}

#training-table tr:last-child {
    border-bottom: none
}

.solution-page .hs_cos_wrapper {
    overflow: hidden !important
}

.solution-page .hs_cos_wrapper img.hs-image-widget {
    height: 100% !important;
    max-width: inherit !important
}

.solution-page .hs_cos_wrapper img.hs-image-widget {
    width: 100%;
    margin-bottom: -8px
}

.home-page .hs_cos_wrapper {
    overflow: hidden !important
}

.home-page .hs_cos_wrapper img.hs-image-widget {
    height: 100% !important;
    max-width: inherit !important
}

.home-page .hs_cos_wrapper img.hs-image-widget {
    width: 100%;
    margin-bottom: -8px
}

.glossary-post .blog-related-posts__post {
    padding: 0
}

.glossary-post .blog-related-posts .content-wrapper {
    max-width: 1150px
}

.glossary-post h2 {
    font-size: 30px
}

.glossary-post .breadcrumb {
    padding: 40px 20px 0px 20px;
    margin: 0px auto;
    font-size: 14px;
    max-width: 1150px
}

.globe_class {
    background-image: url(https://20519236.fs1.hubspotusercontent-na1.net/hubfs/20519236/globe.png) !important;
    width: 12px !important;
    height: 12px !important
}

.header__language-switcher--label-current {
    font-size: 12px !important;
    color: #fff !important;
    margin-bottom: 0px !important
}

.header__language-switcher--label-current::after {
    border-top: 6px solid #fff !important
}

.header__language-switcher .lang_list_class li,
.header__language-switcher .lang_list_class li a {
    font-size: 12px !important;
    background-color: inherit !important
}

.lang_list_class li {
    border-top: 1px solid #fff !important
}

.lang_list_class li:first-child {
    padding-top: 10px !important;
    border-top: 0px solid #fff !important
}

.lang_list_class li:last-child {
    padding-bottom: 10px !important
}

.lang_list_class li a:hover {
    color: #00ff5a !important
}

.header__language-switcher .lang_list_class::after {
    display: none !important
}

.globe_class:before {}

:root {
    --theme-primary-color: #231556;
    --theme-secondary-color: #00ff5a;
    --theme-button-bg-color: #231556;
    --theme-button-bg-color-hover: #554788;
    --theme-button-text-color: #ffffff;
    --theme-button-text-color-hover: #ffffff;
    --theme-body-font-size: 16px;
    --theme-body-text-color: #54565a
}

.content-wrapper {
    max-width: 1240px
}

.dnd-section,
.content-wrapper--vertical-spacing {
    padding: 80px 20px
}

.dnd-section>.row-fluid {
    max-width: 1240px
}

html {
    font-size: 16px
}

body {
    font-family: manrope, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #54565a
}

p {
    font-family: manrope, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none
}

a {
    color: #0270e0
}

a:hover,
a:focus {
    color: #0048b8
}

a:active {
    color: #2a98ff
}

h1 {
    font-family: manrope, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #54565a;
    font-size: 50px;
    font-weight: 400
}

h2 {
    font-family: manrope, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #54565a;
    font-size: 38px;
    font-weight: 400
}

h3 {
    font-family: manrope, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #54565a;
    font-size: 24px;
    font-weight: 400
}

h4 {
    font-family: manrope, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #54565a;
    font-size: 24px;
    font-weight: 400
}

h5 {
    font-family: manrope, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #54565a;
    font-size: 16px;
    font-weight: 400
}

h6 {
    font-family: manrope, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #54565a;
    font-size: 14px;
    font-weight: 400
}

blockquote {
    border-left-color: #00ff5a
}

button,
.button {
    background-color: rgba(35, 21, 86, 1.0);
    border: 1px solid #231556;
    border-radius: 6px;
    color: #ffffff;
    padding: 10px 55px;
    font-weight: bold
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: rgba(#null, 0.0);
    border-color: #00002e;
    color: #ffffff
}

button:active,
.button:active {
    background-color: rgba(#null, 0.0);
    border-color: #4b3d7e;
    color: #ffffff
}

form,
.submitted-message {
    font-family: manrope, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none
}

.form-title {
    background-color: rgba(35, 21, 86, 1);
    color: #00ff5a
}

form label {
    color: #ffffff
}

form legend {
    color: #494a52
}

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
select,
form textarea {
    border-color: #d1d6dc;
    color: #54565a
}

select {
    background-color: #fff
}

form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=tel]:focus,
form input[type=number]:focus,
form input[type=file]:focus,
form select:focus,
select:focus,
form textarea:focus {
    border-color: #231556
}

::-webkit-input-placeholder {
    color: #54565a
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder,
.hs-fieldtype-date .input .hs-dateinput:before {
    color: #54565a
}

.fn-date-picker td.is-selected .pika-button {
    background: #231556
}

.fn-date-picker td .pika-button:hover {
    background-color: #231556 !important
}

.fn-date-picker td.is-today .pika-button {
    color: #231556
}

form input[type=submit],
form .hs-button {
    background-color: rgba(35, 21, 86, 1.0);
    border: 1px solid #231556;
    border-radius: 6px;
    color: #ffffff;
    padding: 10px 55px
}

form input[type=submit]:hover,
form input[type=submit]:focus,
form .hs-button:hover,
form .hs-button:focus {
    background-color: rgba(#null, 0.0);
    border-color: #00002e;
    color: #ffffff
}

form input[type=submit]:active,
form .hs-button:active {
    background-color: rgba(#null, 0.0);
    border-color: #4b3d7e;
    color: #ffffff
}

.legal-consent-container {
    margin-top: 90px;
    height: 120px;
    padding-bottom: 30px
}

form {
    position: relative
}

.legal-consent-container p {
    font-size: 12px !important
}

.hs-form .hs-submit {
    text-align: center !important;
    position: absolute;
    bottom: 140px;
    left: 0;
    right: 0
}

form input[type="submit"],
form .hs-button {
    font-size: .72rem !important
}

.hs-form-field {
    margin-bottom: .7rem
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form input[type="number"],
form input[type="file"],
form select,
form textarea {
    font-size: .875rem;
    padding: .3rem
}

.product-page .legal-consent-container p a,
.solution-page .legal-consent-container p a,
.flex-page .legal-consent-container p a,
.landing-page .legal-consent-container p a {
    color: #ffff;
    text-decoration: underline
}

@media screen and (max-width: 960px) {
    .legal-consent-container {
        height: 180px
    }

    .hs-form .hs-submit {
        bottom: 200px
    }
}

@media screen and (max-width: 760px) {
    .legal-consent-container {
        height: 120px
    }

    .hs-form .hs-submit {
        bottom: 140px
    }
}

table {
    background-color: rgba(255, 255, 255, 1.0);
    border-color: #494a52
}

th,
td {
    border-color: #494a52;
    color: #494a52
}

thead th,
thead td {
    background-color: rgba(35, 21, 86, 1);
    border-bottom-color: #494a52;
    color: #ffffff
}

tfoot td {
    background-color: rgba(255, 255, 255, 1.0);
    color: #494a52
}

.header {
    background-color: rgba(35, 21, 86, 1.0)
}

body .navigation-primary a,
.header__logo .logo-company-name,
.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
    color: #ffffff;
    font-family: manrope, sans-serif
}

body .navigation-primary a:hover,
body .navigation-primary a:focus,
.header__language-switcher-label-current:hover,
.header__language-switcher-label-current:focus,
.header__language-switcher .lang_list_class li:hover a,
.header__language-switcher .lang_list_class li a:focus {
    color: #d7d7d7
}

body .navigation-primary a:active,
.header__language-switcher-label-current:active,
.header__language-switcher .lang_list_class li a:active {
    color: #ffffff
}

body .navigation-primary .submenu.level-1>li>a.active-item:after {
    background-color: #231556
}

body .submenu.level-2,
.header__language-switcher .lang_list_class {
    background-color: rgba(35, 21, 86, 1.0);
    border-color: #ffffff
}

body .submenu.level-2>li:first-child:before {
    border-color: #ffffff
}

.header__language-switcher .lang_list_class:before {
    border-bottom-color: #ffffff
}

body .submenu.level-2 .menu-item .menu-link:hover,
body .submenu.level-2 .menu-item .menu-link:focus,
.header__language-switcher .lang_list_class li:hover,
body .submenu.level-2>li:first-child:hover:before,
body .submenu.level-2>li:first-child.focus:before {
    background-color: rgba(35, 21, 86, 1.0)
}

.header__language-switcher .lang_list_class.first-active::after {
    border-bottom-color: rgba(35, 21, 86, 1.0)
}

.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
    font-family: manrope, sans-serif
}

.header__language-switcher-label-current:after {
    border-top-color: #ffffff
}

@media(max-width: 767px) {
    .header__navigation {
        background-color: rgba(35, 21, 86, 1.0);
        display: inherit
    }

    .header__navigation-toggle svg,
    .menu-arrow svg {
        fill: #ffffff
    }

    .header__row-2 {
        justify-content: center;
        padding: inherit
    }
}

.two-col-sub .submenu .menu_subhead-4,
.two-col-sub .submenu .menu_subhead-5 {
    background-color: #f2f2f2
}

.two-col-sub .menu-txt {
    width: 90%
}

.two-col-sub div.button-nav {
    background-color: #00ffd1 !important;
    color: #231556 !important;
    padding: 8px 30px !important;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 200px !important;
    text-align: center;
    margin-top: 10px;
    border: none;
    font-size: 13px !important;
    font-weight: bold
}

.two-col-sub div.button-nav:hover {
    background-color: #01e5c7 !important;
    color: #231556 !important
}

.menu>ul>li.two-col-sub>ul>li.menu_subhead-4 {
    width: 66%;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 20px;
    height: 235px;
    margin-bottom: -20px
}

.menu>ul>li.two-col-sub>ul>li.menu_subhead-5 {
    margin-right: -25px;
    padding-right: 15px;
    padding-top: 20px;
    margin-left: -5px;
    width: 37.48%;
    height: 235px;
    margin-bottom: -20px
}

@media only screen and (max-width:1200px) {
    .menu>ul>li.two-col-sub>ul>li.menu_subhead-5 {
        width: 37.75%
    }
}

@media only screen and (max-width:1050px) {
    .menu>ul>li.two-col-sub>ul>li.menu_subhead-5 {
        width: 38.35%
    }
}

@media only screen and (max-width:959px) {

    .two-col-sub .submenu .menu_subhead-4,
    .two-col-sub .submenu .menu_subhead-5 {
        background-color: transparent
    }

    @media only screen and (max-width:1200px) {}

    .menu>ul>li.two-col-sub>ul>li.menu_subhead-4 {
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
        height: auto;
        margin-bottom: 0px
    }
}

.three-col-sub .submenu .menu_subhead-4 {
    background-color: #f2f2f2
}

.menu>ul>li.three-col-sub>ul>li.menu_subhead-4>ul.submenu>li div.menu-icon {
    margin-top: 8px
}

.menu>ul>li.three-col-sub>ul>li.menu_subhead-4>ul.submenu>li div.menu-txt {
    width: 95%
}

.menu>ul>li.three-col-sub>ul>li.menu_subhead-4>ul.submenu>li div.menu-txt div:nth-child(-n + 1) {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px
}

.menu>ul>li.three-col-sub>ul>li.menu_subhead-4>ul.submenu>li div.menu-txt span.menu-desc div {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    margin-top: 8px
}

.three-col-sub div.button-nav {
    background-color: #00ffd1 !important;
    color: #231556 !important;
    padding: 8px 30px !important;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 200px !important;
    text-align: center;
    border: none;
    font-size: 13px !important;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
    margin-top: -10px !important
}

.three-col-sub div.button-nav:hover {
    background-color: #01e5c7 !important;
    color: #231556 !important
}

.menu>ul>li.three-col-sub>ul>li.menu_subhead-4 {
    width: 103.25%;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: -20px;
    margin-right: -20px;
    padding-right: 20px
}

@media only screen and (max-width:1200px) {
    .menu>ul>li.three-col-sub>ul>li.menu_subhead-4 {
        width: 103.65%
    }

    .menu>ul>li.three-col-sub>ul>li.menu_subhead-4>ul.submenu>li div.menu-txt span.menu-desc div {
        width: 90%
    }
}

@media only screen and (max-width:1050px) {
    .menu>ul>li.three-col-sub>ul>li.menu_subhead-4 {
        width: 104.25%
    }

    .three-col-sub div.button-nav {
        margin-left: 0;
        margin-top: 10px !important
    }
}

@media only screen and (max-width:959px) {
    .three-col-sub .submenu .menu_subhead-4 {
        background-color: transparent
    }

    .menu>ul>li.three-col-sub>ul>li.menu_subhead-4 {
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
        height: auto;
        margin-bottom: 0px
    }
}

.menu>ul>li.four-col-sub-grid>ul>li {
    width: 24.7%
}

.four-col-sub-grid .submenu.level-2 {
    font-size: 15px
}

.four-col-sub-grid .menu-grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto
}

.four-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 100%
}

.four-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-2 {
    grid-column: 1;
    grid-row: 2;
    width: 100%
}

.four-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-3 {
    grid-column: 2;
    grid-row: 1;
    width: 100%
}

.four-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-4 {
    grid-column: 2;
    grid-row: 2;
    width: 100%
}

.four-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-5 {
    grid-column: 3;
    grid-row: 1 / span 2;
    width: 100%
}

.four-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-6 {
    grid-column: 4;
    grid-row: 1 / span 2;
    width: 100%
}

.four-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-7 {
    grid-column: 1 / span 4;
    grid-row: 3
}

.four-col-sub-grid .submenu.level-2 li.menu_subhead strong div {
    padding-left: 5px;
    line-height: 16px;
    padding-bottom: 5px
}

.four-col-sub-grid .submenu .menu_subhead-7 {
    background-color: #f2f2f2
}

.menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-7>ul.submenu>li div.menu-icon {
    margin-top: 8px
}

.menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-7>ul.submenu>li div.menu-txt {
    width: 95%
}

.menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-7>ul.submenu>li div.menu-txt div:nth-child(-n + 1) {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px
}

.menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-7>ul.submenu>li div.menu-txt span.menu-desc div {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    margin-top: 8px
}

.four-col-sub-grid div.button-nav {
    background-color: #00ffd1 !important;
    color: #231556 !important;
    padding: 8px 30px !important;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 200px !important;
    text-align: center;
    border: none;
    font-size: 13px !important;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
    margin-top: -10px !important
}

.four-col-sub-grid div.button-nav:hover {
    background-color: #01e5c7 !important;
    color: #231556 !important
}

.menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-7 {
    width: 103.25%;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: -20px;
    margin-right: -20px;
    padding-right: 20px
}

.menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-5>ul.submenu.level-3 {
    margin-right: 0px
}

.menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-6>ul.submenu.level-3 {
    margin-left: -5px
}

@media only screen and (max-width:1200px) {
    .menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-7 {
        width: 103.65%
    }

    .menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-7>ul.submenu>li div.menu-txt span.menu-desc div {
        width: 90%
    }
}

@media only screen and (max-width:1050px) {
    .menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-7 {
        width: 104.25%
    }

    .four-col-sub-grid div.button-nav {
        margin-left: 0;
        margin-top: 10px !important
    }
}

@media only screen and (max-width:959px) {
    .four-col-sub-grid .submenu .menu_subhead-7 {
        background-color: transparent
    }

    .menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-7 {
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
        height: auto;
        margin-bottom: 0px
    }

    .menu>ul>li.four-col-sub-grid>ul>li {
        width: 100%
    }

    .menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-5>ul.submenu.level-3 {
        margin-right: 8px
    }

    .menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-6>ul.submenu.level-3 {
        margin-top: -40px;
        border: none;
        margin-left: 8px
    }

    .menu>ul>li.four-col-sub-grid>ul>li.menu_subhead-6 div.menusub-5 {
        display: none
    }
}

.menu>ul>li.five-col-sub>ul>li {
    width: 19.7%
}

.five-col-sub .submenu.level-2 {
    font-size: 15px
}

.five-col-sub .submenu.level-2 li.menu_subhead strong div {
    padding-left: 5px;
    line-height: 16px;
    padding-bottom: 5px
}

.five-col-sub .submenu .menu_subhead-11 {
    background-color: #f2f2f2
}

.menu>ul>li.five-col-sub>ul>li>ul.submenu>li div.menu-icon {
    margin-right: 0px
}

.menu>ul>li.five-col-sub>ul>li.menu_subhead-11>ul.submenu>li div.menu-icon {
    margin-top: 8px
}

.menu>ul>li.five-col-sub>ul>li.menu_subhead-11>ul.submenu>li div.menu-txt {
    width: 85%
}

.menu>ul>li.five-col-sub>ul>li.menu_subhead-11>ul.submenu>li div.menu-txt div:nth-child(-n + 1) {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px
}

.menu>ul>li.five-col-sub>ul>li.menu_subhead-11>ul.submenu>li div.menu-txt span.menu-desc div {
    width: 95%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    margin-top: 8px
}

.five-col-sub div.button-nav {
    background-color: #00ffd1 !important;
    color: #231556 !important;
    padding: 8px 30px !important;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 200px !important;
    text-align: center;
    border: none;
    font-size: 13px !important;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
    margin-top: -10px !important
}

.five-col-sub div.button-nav:hover {
    background-color: #01e5c7 !important;
    color: #231556 !important
}

.menu>ul>li.five-col-sub>ul>li.menu_subhead-11 {
    width: 103.25%;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: -20px;
    margin-right: -20px;
    padding-right: 20px
}

.menu>ul>li.five-col-sub>ul>li.menu_subhead-4>ul.submenu.level-3 {}

.menu>ul>li.five-col-sub>ul>li.menu_subhead-5>ul.submenu.level-3 {}

.menu>ul>li.five-col-sub>ul>li.menu_subhead-6>ul.submenu.level-3,
.menu>ul>li.five-col-sub>ul>li.menu_subhead-7>ul.submenu.level-3,
.menu>ul>li.five-col-sub>ul>li.menu_subhead-8>ul.submenu.level-3,
.menu>ul>li.five-col-sub>ul>li.menu_subhead-9>ul.submenu.level-3,
.menu>ul>li.five-col-sub>ul>li.menu_subhead-10>ul.submenu.level-3 {
    margin-right: 0px
}

.menu>ul>li.five-col-sub>ul>li.menu_subhead-7>ul.submenu.level-3,
.menu>ul>li.five-col-sub>ul>li.menu_subhead-8>ul.submenu.level-3,
.menu>ul>li.five-col-sub>ul>li.menu_subhead-9>ul.submenu.level-3,
.menu>ul>li.five-col-sub>ul>li.menu_subhead-10>ul.submenu.level-3 {
    margin-left: -5px
}

@media only screen and (max-width:1200px) {
    .menu>ul>li.five-col-sub>ul>li.menu_subhead-11 {
        width: 103.65%
    }

    .menu>ul>li.five-col-sub>ul>li.menu_subhead-11>ul.submenu>li div.menu-txt span.menu-desc div {
        width: 90%
    }
}

@media only screen and (max-width:1050px) {
    .menu>ul>li.five-col-sub>ul>li.menu_subhead-11 {
        width: 104.25%
    }

    .five-col-sub div.button-nav {
        margin-left: 0;
        margin-top: 10px !important
    }
}

@media only screen and (max-width:959px) {

    .menu>ul>li.five-col-sub>ul>li.menu_subhead-7>ul.submenu.level-3,
    .menu>ul>li.five-col-sub>ul>li.menu_subhead-8>ul.submenu.level-3,
    .menu>ul>li.five-col-sub>ul>li.menu_subhead-9>ul.submenu.level-3,
    .menu>ul>li.five-col-sub>ul>li.menu_subhead-10>ul.submenu.level-3 {
        margin-left: 5px
    }

    .five-col-sub .submenu .menu_subhead-11 {
        background-color: transparent
    }

    .menu>ul>li.five-col-sub>ul>li.menu_subhead-11 {
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
        height: auto;
        margin-bottom: 0px
    }

    .menu>ul>li.five-col-sub>ul>li {
        width: 100%
    }

    .menu>ul>li.five-col-sub>ul>li.menu_subhead-6>ul.submenu.level-3 {
        margin-right: 8px
    }

    .menu>ul>li.five-col-sub>ul>li.menu_subhead-7>ul.submenu.level-3,
    .menu>ul>li.five-col-sub>ul>li.menu_subhead-8>ul.submenu.level-3,
    .menu>ul>li.five-col-sub>ul>li.menu_subhead-9>ul.submenu.level-3,
    .menu>ul>li.five-col-sub>ul>li.menu_subhead-10>ul.submenu.level-3 {
        margin-top: -30px;
        border: none;
        margin-left: 8px
    }

    .menu>ul>li.five-col-sub>ul>li.menu_subhead-7 div.menusub-7,
    .menu>ul>li.five-col-sub>ul>li.menu_subhead-8 div.menusub-8,
    .menu>ul>li.five-col-sub>ul>li.menu_subhead-9 div.menusub-9,
    .menu>ul>li.five-col-sub>ul>li.menu_subhead-10 div.menusub-10 {
        display: none
    }

    .menu>ul>li.five-col-sub>ul>li.menu_subhead-11>ul.submenu>li div.menu-txt span.menu-desc div {
        width: 80%;
        display: inline-block;
        vertical-align: top;
        padding-top: 3px;
        margin-top: 8px
    }
}

.menu>ul>li.five-col-sub-grid>ul>li {
    width: 19.7%
}

.five-col-sub-grid .submenu.level-2 {
    font-size: 15px
}

.five-col-sub-grid .menu-grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto
}

.five-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 100%
}

.five-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-2 {
    grid-column: 2;
    grid-row: 1;
    width: 100%
}

.five-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-3 {
    grid-column: 2;
    grid-row: 2;
    width: 100%
}

.five-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-4 {
    grid-column: 3;
    grid-row: 1;
    width: 100%
}

.five-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-5 {
    grid-column: 4;
    grid-row: 1 / span 2;
    width: 100%
}

.five-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-6 {
    grid-column: 5;
    grid-row: 1 / span 2;
    width: 100%
}

.five-col-sub-grid .submenu.level-2.submenu-1 li.menu_subhead-7 {
    grid-column: 1 / span 5;
    grid-row: 3
}

.five-col-sub-grid .submenu.level-2 li.menu_subhead strong div {
    padding-left: 5px;
    line-height: 16px;
    padding-bottom: 5px
}

.five-col-sub-grid .submenu .menu_subhead-7 {
    background-color: #f2f2f2
}

.menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-7>ul.submenu>li div.menu-icon {
    margin-top: 8px
}

.menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-7>ul.submenu>li div.menu-txt {
    width: 95%
}

.menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-7>ul.submenu>li div.menu-txt div:nth-child(-n + 1) {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px
}

.menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-7>ul.submenu>li div.menu-txt span.menu-desc div {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    margin-top: 8px
}

.five-col-sub-grid div.button-nav {
    background-color: #00ffd1 !important;
    color: #231556 !important;
    padding: 8px 30px !important;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 200px !important;
    text-align: center;
    border: none;
    font-size: 13px !important;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
    margin-top: -10px !important
}

.five-col-sub-grid div.button-nav:hover {
    background-color: #01e5c7 !important;
    color: #231556 !important
}

.menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-7 {
    width: 103.25%;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: -20px;
    margin-right: -20px;
    padding-right: 20px
}

.menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-5>ul.submenu.level-3 {
    margin-right: 0px
}

.menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-6>ul.submenu.level-3 {
    margin-left: -5px
}

@media only screen and (max-width:1200px) {
    .menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-7 {
        width: 103.65%
    }

    .menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-7>ul.submenu>li div.menu-txt span.menu-desc div {
        width: 90%
    }
}

@media only screen and (max-width:1050px) {
    .menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-7 {
        width: 104.25%
    }

    .five-col-sub-grid div.button-nav {
        margin-left: 0;
        margin-top: 10px !important
    }
}

@media only screen and (max-width:959px) {
    .five-col-sub-grid .submenu .menu_subhead-7 {
        background-color: transparent
    }

    .menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-7 {
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
        height: auto;
        margin-bottom: 0px
    }

    .menu>ul>li.five-col-sub-grid>ul>li {
        width: 100%
    }

    .menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-5>ul.submenu.level-3 {
        margin-right: 8px
    }

    .menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-6>ul.submenu.level-3 {
        margin-top: -40px;
        border: none;
        margin-left: 8px
    }

    .menu>ul>li.five-col-sub-grid>ul>li.menu_subhead-6 div.menusub-5 {
        display: none
    }
}

.menu>ul>li.four-and-five-col-sub>ul>li {
    width: 19.7%
}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-1,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-2,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-4 {
    width: 24.7%
}

.four-and-five-col-sub .submenu.level-2 {
    font-size: 15px
}

.four-and-five-col-sub .submenu.level-2 li.menu_subhead strong div {
    padding-left: 5px;
    line-height: 16px;
    padding-bottom: 5px
}

.four-and-five-col-sub .submenu .menu_subhead-10 {
    background-color: #f2f2f2
}

.menu>ul>li.four-and-five-col-sub>ul>li>ul.submenu>li div.menu-icon {
    margin-right: 0px
}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-10>ul.submenu>li div.menu-icon {
    margin-top: 8px
}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-10>ul.submenu>li div.menu-txt {
    width: 85%
}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-10>ul.submenu>li div.menu-txt div:nth-child(-n + 1) {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px
}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-10>ul.submenu>li div.menu-txt span.menu-desc div {
    width: 95%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    margin-top: 8px
}

.four-and-five-col-sub div.button-nav {
    background-color: #00ffd1 !important;
    color: #231556 !important;
    padding: 8px 30px !important;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 200px !important;
    text-align: center;
    border: none;
    font-size: 13px !important;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
    margin-top: -10px !important
}

.four-and-five-col-sub div.button-nav:hover {
    background-color: #01e5c7 !important;
    color: #231556 !important
}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-10 {
    width: 103.25%;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: -20px;
    margin-right: -20px;
    padding-right: 20px
}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-4>ul.submenu.level-3 {}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-5>ul.submenu.level-3 {}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-1>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-2>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-3>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-4>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-5>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-6>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-7>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-8>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-9>ul.submenu.level-3 {
    margin-right: 0px
}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-2>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-3>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-4>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-6>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-7>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-8>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-9>ul.submenu.level-3 {
    margin-left: -5px
}

@media only screen and (max-width:1200px) {
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-10 {
        width: 103.65%
    }

    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-10>ul.submenu>li div.menu-txt span.menu-desc div {
        width: 90%
    }
}

@media only screen and (max-width:1050px) {
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-10 {
        width: 104.25%
    }

    .four-and-five-col-sub div.button-nav {
        margin-left: 0;
        margin-top: 10px !important
    }
}

@media only screen and (max-width:959px) {

    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-2>ul.submenu.level-3,
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-3>ul.submenu.level-3,
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-4>ul.submenu.level-3,
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-6>ul.submenu.level-3,
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-7>ul.submenu.level-3,
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-8>ul.submenu.level-3,
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-9>ul.submenu.level-3 {
        margin-left: 5px
    }

    .four-and-five-col-sub .submenu .menu_subhead-10 {
        background-color: transparent
    }

    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-10 {
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
        height: auto;
        margin-bottom: 0px
    }

    .menu>ul>li.four-and-five-col-sub>ul>li,
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-1,
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-2,
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-3,
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-4 {
        width: 100%
    }

    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-4>ul.submenu.level-3,
    .menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-6>ul.submenu.level-3,
    {
    margin-right: 8px
}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-2>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-3>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-4>ul.submenu.level-3 {
    margin-top: -50px;
    border: none;
    margin-left: 8px
}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-6>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-7>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-8>ul.submenu.level-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-9>ul.submenu.level-3 {
    margin-top: -50px;
    border: none;
    margin-left: 8px
}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-2 div.menusub-3,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-3 div.menusub-4,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-4 div.menusub-5,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-5 div.menusub-6,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-6 div.menusub-7,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-7 div.menusub-8,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-8 div.menusub-9,
.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-9 div.menusub-10 {
    display: none
}

.menu>ul>li.four-and-five-col-sub>ul>li.menu_subhead-10>ul.submenu>li div.menu-txt span.menu-desc div {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    margin-top: 8px
}
}

.menu>ul>li.five-col-sub-single>ul>li {
    width: 19.7%
}

.five-col-sub-single .submenu.level-2 {
    font-size: 15px
}

.five-col-sub-single .submenu.level-2 li.menu_subhead strong div {
    padding-left: 5px;
    line-height: 16px;
    padding-bottom: 5px
}

.five-col-sub-single .submenu .menu_subhead-6 {
    background-color: #f2f2f2
}

.menu>ul>li.five-col-sub-single>ul>li>ul.submenu>li div.menu-icon {
    margin-right: 0px
}

.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-6>ul.submenu>li div.menu-icon {
    margin-top: 8px
}

.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-6>ul.submenu>li div.menu-txt {
    width: 85%
}

.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-6>ul.submenu>li div.menu-txt div:nth-child(-n + 1) {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px
}

.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-6>ul.submenu>li div.menu-txt span.menu-desc div {
    width: 95%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    margin-top: 8px
}

.five-col-sub-single div.button-nav {
    background-color: #00ffd1 !important;
    color: #231556 !important;
    padding: 8px 30px !important;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 200px !important;
    text-align: center;
    border: none;
    font-size: 13px !important;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
    margin-top: -10px !important
}

.five-col-sub-single div.button-nav:hover {
    background-color: #01e5c7 !important;
    color: #231556 !important
}

.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-6 {
    width: 103.25%;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: -20px;
    margin-right: -20px;
    padding-right: 20px
}

.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-4>ul.submenu.level-3 {}

.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-5>ul.submenu.level-3 {}

.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-2>ul.submenu.level-3,
.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-3>ul.submenu.level-3,
.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-4>ul.submenu.level-3,
.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-5>ul.submenu.level-3 {
    margin-right: 0px
}

.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-3>ul.submenu.level-3,
.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-4>ul.submenu.level-3,
.menu>ul>li.five-col-sub-single>ul>li.menu_subhead-5>ul.submenu.level-3 {
    margin-left: -5px
}

@media only screen and (max-width:1200px) {
    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-6 {
        width: 103.65%
    }

    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-6>ul.submenu>li div.menu-txt span.menu-desc div {
        width: 90%
    }
}

@media only screen and (max-width:1050px) {
    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-6 {
        width: 104.25%
    }

    .five-col-sub-single div.button-nav {
        margin-left: 0;
        margin-top: 10px !important
    }
}

@media only screen and (max-width:959px) {

    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-3>ul.submenu.level-3,
    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-4>ul.submenu.level-3,
    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-5>ul.submenu.level-3 {
        margin-left: 5px
    }

    .five-col-sub-single .submenu .menu_subhead-6 {
        background-color: transparent
    }

    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-6 {
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
        height: auto;
        margin-bottom: 0px
    }

    .menu>ul>li.five-col-sub-single>ul>li {
        width: 100%
    }

    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-2>ul.submenu.level-3 {
        margin-right: 8px
    }

    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-3>ul.submenu.level-3,
    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-4>ul.submenu.level-3,
    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-5>ul.submenu.level-3 {
        margin-top: -30px;
        border: none;
        margin-left: 8px
    }

    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-3 div.menusub-3,
    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-4 div.menusub-4,
    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-5 div.menusub-5 {
        display: none
    }

    .menu>ul>li.five-col-sub-single>ul>li.menu_subhead-6>ul.submenu>li div.menu-txt span.menu-desc div {
        width: 80%;
        display: inline-block;
        vertical-align: top;
        padding-top: 3px;
        margin-top: 8px
    }
}

.footer {
    background-color: rgba(58, 59, 58, 1.0)
}

.footer p,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer label,
.footer span,
.footer li,
.footer img {
    color: #ffffff
}

.footer img.hs-image-widget {
    min-width: 110px !important
}

.footer .social-links {
    margin: 0 -20px
}

.footer .social-links__icon {
    height: 30px;
    margin: 10px 5px;
    width: 30px
}

.footer #ot-sdk-btn.d-cookie-btn {
    display: inline-flex;
    align-items: center
}

.footer #ot-sdk-btn.d-cookie-btn>.d-cookie-btn__txt {
    padding-right: 5px
}

.footer #ot-sdk-btn.d-cookie-btn>img {
    height: auto;
    width: 30px
}

.body-container--blog-index .hs_cos_wrapper {
    overflow: hidden !important
}

.body-container--blog-post .breadcrumb {
    padding: 40px 20px 0px 0px;
    margin: 0px auto;
    font-size: 14px;
    max-width: 1150px
}

.blog-index__post-content h3 {
    font-size: 16px
}

.blog-index__post-content h2 {
    font-size: 18px;
    font-weight: bold
}

.blog-post,
.blog-header__inner,
.blog-related-posts {
    padding: 80px 0
}

.blog-related-posts {
    background-color: #f2f2f2
}

.blog-index__post-title-link {
    color: #54565a
}

.blog-index__post-tag,
.blog-index__post-author-name {
    color: #54565a
}

.avatar-circle {
    width: 72px;
    height: 72px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    border: 2px solid #00b95a;
    vertical-align: middle
}

.avatar-circle img {
    width: 100%
}

.author-name {
    display: inline-block;
    vertical-align: middle
}

.blog-pagination__link {
    color: #54565a
}

.blog-pagination__link--active:after,
.blog-pagination__prev-link:after,
.blog-pagination__next-link:after {
    background-color: #231556
}

.blog-pagination__next-link svg,
.blog-pagination__prev-link svg {
    fill: #54565a
}

.blog-post__meta a {
    color: #54565a
}

.blog-post__tag-link {
    color: #54565a
}

.blog-post__tag-link:hover,
.blog-post__tag-link:focus {
    color: #2c2e32
}

.blog-post__tag-link:active {
    color: #7c7e82
}

.blog-related-posts__title a {
    color: #54565a
}

.blog-comments {
    margin-bottom: 80px
}

#comments-listing .comment-reply-to {
    color: #0270e0
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
    color: #0048b8
}

#comments-listing .comment-reply-to:active {
    color: #2a98ff
}

.blog-cta-20 {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    text-align: left
}

.blog-cta-75 {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
    text-align: center
}

.blog-cta-55 {
    display: inline-block;
    width: 55%;
    vertical-align: middle;
    text-align: left
}

.blog-cta-40 {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    text-align: center
}

@media screen and (max-width: 760px) {
    .blog-cta-20 {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        text-align: left;
        margin-left: 20px;
        margin-top: 15px
    }

    .blog-cta-75 {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        text-align: left;
        padding-right: 15px
    }

    .blog-cta-75 h2 {
        font-size: 30px
    }

    .blog-cta-55 {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        text-align: left;
        margin-left: 20px;
        padding-right: 15px
    }

    .blog-cta-40 {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 15px
    }
}

.card__price {
    font-family: manrope, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #54565a;
    font-size: 24px
}
