< !doctype html public><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="x-ua-compatible" content="ie=edge" /><meta http-equiv="content-type" content="text/html; charset=windows-1251" /><title>ðåãèñòðàòîð r01 - ðåãèñòðàöèÿ äîìåíîâ. äîìåíû âòîðîãî óðîâíÿ â çîíàõ .ru è .su. ðåãèñòðàöèÿ ip-àäðåñîâ è àâòîíîìíûõ ñèñòåì</title><meta name="keywords" content="ðåãèñòðàöèÿ äîìåíîâ, ðåãèñòðàòîð, äîìåí ru, äîìåí su, primary, secondary, web-forwarding, mail-forwarding, dns, íàñòðîéêà dns, ïîääåðæêà äîìåíà, äîìåí, ðåãèñòðàöèÿ äîìåííîãî èìåíè, dns ñåðâåð, äîìåííîå èìÿ, whois, ïðîâåðèòü äîìåí, ïðîâåðêà äîìåíà, èíòåðíåò àäðåñ, õîñòèíã, äîìåí âòîðîãî óðîâíÿ, ïåðåàäðåñàöèÿ, ip, ip àäðåñ, óçíàòü ip àäðåñ, óçíàòü ip, áåñïëàòíûå äîìåíû, êóïèòü äîìåí" /><meta name="description" content="ðåãèñòðàöèÿ äîìåíîâ. õîñòèíã. ïðîäàæà äîìåíîâ. ðåãèñòðàöèÿ ip-àäðåñîâ è àâòîíîìíûõ ñèñòåì. êóïèòü äîìåí: òåë. (495) 783-3-783" /><meta name="robots" content="index, follow" /><link href="/bitrix/components/bitrix/advertising.banner/templates/.default/style.css" type="text/css" rel="stylesheet" /><link href="/bitrix/templates/r01/styles.css" type="text/css" rel="stylesheet" /><link href="/bitrix/templates/r01/template_styles.css" type="text/css" rel="stylesheet" /><meta http-equiv='cache-control' content="no-cache, must-revalidate" /><meta http-equiv='pragma' content='no-cache' /><script type="text/javascript" src="/scripts/whois.js"></script><script type="text/javascript" src="/scripts/jquery.js"></script><script type="text/javascript" src="/scripts/jquery.color.js"></script><script type="text/javascript" src="/scripts/flash_detect.js"></script><link rel="alternate" type="application/rss+xml" title="íîâîñòè" href="https://r01.ru/rss_feed.php" /><link rel="shortcut icon" href="/bitrix/r01images/r01.ico" /><style type="text/css">pre * {
    font-family: monospace !important
}

.newsdata {
    color: #aaa;
    font-size: 11px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: .5em;
    width: 90%;
    display: block
}

* {
    outline: none !important
}

.logo,
.logo_light {
    width: 124px;
    height: 94px
}

.logo {
    background: url(/bitrix/r01images/rd/logo.png) center
}

.logo_light {
    background: url(/bitrix/r01images/rd/logo_light.png) center
}

th>a {
    background: url(/bitrix/r01images/rd/arrow.png) no-repeat left center;
    padding-left: 1em !important
}

.colla {
    display: none
}

.controlpanel * {
    padding: .4em .5em .4em .5em !important;
    font-size: 11px !important;
    white-space: nowrap;
    text-align: left
}

form {
    padding: 0px;
    margin: 0px
}

.gray {
    color: #555
}

p.small {
    margin: 0;
    padding: 1em
}

.content {
    background: url(/bitrix/r01images/rd/content_bg.jpg) repeat-x top #e9e9e9;
    border-left: 2px solid #d7d7d7;
    padding: 1.4em 1em .4em 1em
}

.content b {
    font-weight: bold
}

.container,
.container>* {}

h1,
h2,
h3 {
    font: bold 18px tahoma !important
}

h1 *,
h2 *,
h3 * {
    font: bold 18px tahoma !important
}

.divider {
    width: 90%;
    height: 1px;
    background: #ccc;
    margin: 1em 0 1em 0
}

hr {
    height: 1px;
    background: #bbb;
    border: none
}

.search input[type='text'] {
    height: 25px;
    line-height: 26px;
    vertical-align: middle;
    border: 1px solid #b1b1b1;
    background: url(/bitrix/r01images/rd/input_bg.jpg) repeat-x bottom;
    color: #999;
    border-right: none;
    padding: 0 .3em 0 .3em
}

.search input[type='text']:hover,
.search input[type='text']:active {
    color: #000
}

.oplata b {
    font-weight: bold
}

.oplata a {
    color: gray;
    text-decoration: underline
}

.oplata {
    margin: 1em;
    text-align: center
}

.online {
    margin: 1em;
    text-align: center;
    background: #f3f3f3;
    border: 2px solid #fff;
    border-radius: 4px
}

.stable b {
    font-weight: bold
}

.stable p {
    text-align: left
}

a {
    text-decoration: none;
    color: #008ae0
}

body {
    margin: 0;
    padding: 0;
    background: url(/bitrix/r01images/rd/bg_top.jpg) repeat-x top center #e9e9e9
}

body,
body * {
    font: normal 12px verdana, geneva, sans-serif
}

.act a,
.noact a {
    width: 187px !important;
    height: 26px !important;
    line-height: 26px !important;
    vertical-align: middle !important;
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    text-align: center;
    font: bold 12px verdana
}

.act * {
    background: url(/bitrix/r01images/topmenu_act.png) no-repeat center bottom
}

.noact * {
    background: url(/bitrix/r01images/topmenu.png) no-repeat center bottom
}

.act a {
    color: #000
}

.noact a {
    color: #fff
}

.menutop,
.menutop * {
    color: #000000;
    font: bold 12px verdana;
    border-collapse: collapse;
    height: 39px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer
}

.small,
.small * {
    font-size: 11px !important
}

.left,
.right,
.blueleft,
.blueright {
    width: 6px;
    padding: 0 !important
}

.left {
    background: url(/bitrix/r01images/rd/menu_white_left.jpg) no-repeat center
}

.right {
    background: url(/bitrix/r01images/rd/menu_white_right.jpg) no-repeat center
}

.blueleft {
    background: url(/bitrix/r01images/rd/menu_blue_left.jpg) no-repeat center
}

.blueright {
    background: url(/bitrix/r01images/rd/menu_blue_right.jpg) no-repeat center
}

.white {
    background: url(/bitrix/r01images/rd/menu_white_bg.jpg) repeat-x center
}

.white.border {
    border-right: 1px solid #028cd4
}

.blue {
    background: url(/bitrix/r01images/rd/menu_blue_bg.jpg) repeat-x center;
    cursor: default
}

.shadow {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    filter: progid:dximagetransform.microsoft.dropshadow(offx=0, offy=1, color='#19000000'), progid:dximagetransform.microsoft.dropshadow(offx=1, offy=2, color='#19000000')
}

.shadow * {
    box-shadow: none;
    filter: none
}

table.stable,
table.itable {
    border-collapse: collapse;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-decoration: none;
    border: none !important;
    background-color: #fdfdfd
}

.stable td,
.itable td,
.forum-main td {
    border: 1px solid #dddddd
}

.content td {
    text-align: left;
    padding: .4em .7em .4em .7em;
    font: normal 12px verdana;
    text-decoration: none
}

input[type='submit'] {
    border: 1px solid #bbb;
    background: url(/bitrix/r01images/rd/button.jpg) repeat-x bottom center;
    border-radius: 4px;
    padding: 0em 1em 0em;
    overflow: visible;
    margin: 0px;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    color: #240909;
    text-shadow: 0 1px 0 #fff;
    display: inline-block
}

input[type='submit']:hover {
    background: url(/bitrix/r01images/rd/button.jpg) repeat-x bottom -2px center;
    border: 1px solid #aaa
}

input[type='submit']:active {
    background: url(/bitrix/r01images/rd/button.jpg) repeat-x bottom -12px center;
    border: 1px solid #666
}

.stable th>*,
.stable th,
th,
th>*,
.itable th {
    color: #ffffff;
    text-shadow: none;
    padding: .3em;
    text-shadow: 0px 0 1px #111111
}

.nobordered td,
.nobordered th {
    border: none
}

table.inner {
    border: 8px solid #ffffff !important;
    border-collapse: collapse;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    filter: none
}

.border1px td,
.border1px th {
    border: 1px solid #dddddd;
    padding: .3em
}

.vmiddle,
.vmiddle * {
    vertical-align: middle
}

.gmiddle,
.gmiddle * {
    text-align: center !important
}

.checkbox,
.checkbox * {
    font: normal 11px verdana, geneva, sans-serif;
    line-height: 22px;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    *display: inline
}

.td_gray th {
    background: #d7d7d7 !important;
    height: 34px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    text-align: center !important;
    color: #000 !important;
    text-shadow: none;
    font-weight: bold;
    border: 1px solid #fff
}

.td_gray td {
    border: 1px solid #fff !important
}

.td_gray tr:nth-child(2n) {
    background: #f0f0f0 !important
}

.td_blue_left,
th:first-child {
    height: 34px !important;
    text-align: left;
    padding-left: 14px !important
}

.td_lightblue_right {
    border: none !important;
    background: #00a9ec !important;
    height: 34px !important;
    padding-right: 14px !important;
    text-align: right !important
}

.td_lightblue_left {
    border: none !important;
    background: #00a9ec !important;
    height: 34px !important;
    padding-left: 14px !important;
    text-align: left !important
}

.td_red_right {
    border: none !important;
    background: #ff5c43 !important;
    height: 34px !important;
    padding-right: 14px !important;
    text-align: right !important
}

.td_red_left {
    border: none !important;
    background: #ff5c43 !important;
    height: 34px !important;
    padding-left: 14px !important;
    text-align: left !important
}

td:first-child,
th:first-child {
    border-left: none !important
}

td:last-child,
th:last-child {
    border-right: none !important
}

.td_blue_right,
th:last-child {
    height: 34px !important;
    padding-right: 14px !important
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    border-spacing: 0;
    border: 1px solid #0150b1;
    background-color: #0471c3
}

.td_shadow_gray_top {
    //background:url(/bitrix/r01images/rd/td_shadow_gray_top.jpg) repeat-x top; min-height:30px}.news{padding:.2em; -webkit-border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; background:url(/bitrix/r01images/rd/news_bg.jpg) repeat-x top center #f5f5f5}.news, .news *{font-size:11px; list-style-type:none}.newsbody{margin:0 1em 0 1em; margin-bottom:1.2em; padding-bottom:1em; border-bottom:1px dashed #aaa}.newsbody img{display:none}.newsbody b{font:bold 11px verdana}.newsbody a{margin-bottom:11em; font:bold 12px verdana !important}.data{margin:0 1em 0 1em; font:normal 11px monospace; color:#999}.menu{list-style-type:none; margin-left:0 !important; padding:0 !important}.menu li, .menu li > *{display:block; list-style-type:none; margin:0; text-shadow:0 1px 0 #eee; color:#333; padding:.2em 0 .3em .7em !important; font:normal 11px verdana}.menuselected{background:url(/bitrix/r01images/rd/leftmenu_bg.jpg) no-repeat left top}.menuselected a{font-weight:bold; text-shadow:none}.b-mainpage__banner{background: url(/bitrix/r01images/banner_r01.jpg) no-repeat; background-size: cover; box-sizing: border-box; color: #fff; font-family: verdana; min-height: 369px; padding: 84px 67px 55px 67px; width: 100%}.b-bdescript__smalltext{font-size: 14px; line-height: 22px; margin: 0}.b-bdescript__bigtext{font-size: 40px; font-weight: bold; margin: 0}.b-promolist{list-style: none; margin-top: 72px; padding: 0}.b-promolist__service{box-sizing: border-box; max-width: 170px}.b-promolist__service--dns{background: url(/bitrix/r01images/dns_banner.png) 0 50% no-repeat; margin-left: 64px; padding-left: 80px}.b-promolist__service--auct{background: url(/bitrix/r01images/auct.png) 0 50% no-repeat; margin-left: 10px; padding-left: 58px}.b-promolist__link{border: 2px solid #fff; color: #fff; display: inline-block; font-weight: bold; opacity: 0.9; padding: 14px 22px}.b-promolist__link:hover{opacity: 1}.g-col2{width: 50%}.g-col3{width: 33%}.g-col5{width: 20%}.g-col8{width: 13%}.g-left{float: left}.g-bold{font-weight: bold}.g-font10{font-size: 10px}.g-centertext{text-align: center}.clearfix:after{clear: both; content: ""; display: block; height: 0}.b-partner__tariffs{box-sizing: border-box; list-style: none; margin: 0; min-width: 980px; padding: 0; width: 95%}.b-tariffs__tariff{border: 2px solid transparent; box-sizing: border-box}.b-tariff--first{padding-right: 18px}.b-tariff__minheight40{min-height: 40px}.b-tariff--orangeborder{border: 2px solid #fa4e33}.b-tariff__pad20{padding: 20px 0}.g-orangetext{color: #fa4e33}.g-greytext{color: #a3a3a3}.g-darkgreyback{background: #e4e4e4}.b-servlist__service{padding: 70px 62px 0 62px}.b-servlist{list-style: none; margin: 60px 0 0 0; padding: 0}.b-partservices{width: 95%}.b-servlist__service{box-sizing: border-box}.b-servlist__service--dns{background: url(/bitrix/r01images/dns_orange.png) 50% 0 no-repeat}.b-servlist__service--auct{background: url(/bitrix/r01images/auct_orange.png) 50% 0 no-repeat}.rub{background: url(/bitrix/r01images/rub.png) no-repeat; display: inline-block; height: 30px; width: 28px}.attention__p{min-height: 32px; vertical-align: middle; padding-left: 4em; background: url(/bitrix/r01images/attention.png) left center no-repeat}div#reg_button input{background-color: #0471c3; background: #0471c3; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; text-shadow: none; font-size: 16px; border-radius: 4px; cursor: pointer}</style> </head> <body> <script type="text/javascript"> $(document).ready(function(){$('#inputsearch').css({'color' : '#ddd'}) $('#inputsearch').animate({opacity : 0.7}, 200) $('#inputsearch').focus(function(){if($('#inputsearch').val()=='ïîèñê') $(this).val('') $(this).css({'color' : '#000'}) $('#inputsearch').animate({opacity : 1}, 200)}).focusout(function(){$(this).css({'color' : '#ddd'}) $('#inputsearch').stop(true, true).animate({opacity : 0.7}, 200)}).mouseenter(function(){$('#inputsearch').animate({opacity : 1}, 200)}).mouseleave(function(){$('#inputsearch').stop(true, true).animate({opacity : 0.7}, 200)}) $('.online').css({opacity : 0.7}) $('.online').mouseenter(function(){$(this).animate({opacity : 1}, 200)}).mouseleave(function(){$(this).stop(true, true).animate({opacity : 0.7}, 200)}) $('.itable td').mouseenter(function(){$(this).parent().find('td').animate({backgroundcolor : '#fbfbfb'}, 300)}).mouseleave(function(){$(this).parent().find('td').stop(true, true).animate({backgroundcolor : '#fff'}, 300)}) $('.menu li').mouseenter(function(){$(this).animate({backgroundcolor : '#d0d0d0'}, 300)}).mouseleave(function(){$(this).stop(true, true).animate({backgroundcolor : '#d7d7d7'}, 300)}) $('.logo').mouseenter(function(){$('.logo_light').css({background : 'url(/bitrix/r01images/rd/logo_light.png) center'})}).mouseleave(function(){$('.logo_light').css({background : 'none'})})}) var _gaq = _gaq || []; _gaq.push(['_setaccount', 'ua-3258956-1']); _gaq.push(['_trackpageview']); (function(){var gaa = document.createelement('script'); gaa.type = 'text/javascript'; gaa.async = true; gaa.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getelementsbytagname('script')[0]; s.parentnode.insertbefore(gaa, s)})(); jquery.loadscript = function (url, arg1, arg2){var cache = false, callback = null; //arg1 and arg2 can be interchangable if ($.isfunction(arg1)){callback = arg1; cache = arg2 || cache}else{cache = arg1 || cache; callback = arg2 || callback}var load = true; //check all existing script tags in the page for the url jquery('script[type="text/javascript"]') .each(function (){return load = (url != $(this).attr('src'))}); if (load){//didn't find it in the page, so load it jquery.ajax({type: 'get', url: url, success: callback, datatype: 'script', cache: cache})}else{//already loaded so just call the callback if (jquery.isfunction(callback)){callback.call(this)}}}; var ga = ga || function(){}; $.loadscript( '//www.google-analytics.com/analytics.js', true, function(){ga('create', 'ua-3258956-1', 'auto',{'legacycookiedomain': 'nic.ru'}); $(document).trigger('ga_loaded')}); </script> <div style='display: none;'> <form name='whois_form' id='whois_form' action='/domain/whois/status.php' method="post"> <input type='hidden' id='suffix_ru' name='suffix_ru' value='1' /> <input type='hidden' id='suffix_su' name='suffix_su' value='1' /> <input type='hidden' id='suffix_com' name='suffix_com' value='1' /> <input type='hidden' id='suffix_net' name='suffix_net' value='1' /> <input type='hidden' id='suffix_org' name='suffix_org' value='1' /> </form> </div> <table style="width:100%; height:100%;" align="center" cellpadding="0" cellspacing="0"> <tr> <td valign="middle" align="center"> <div class="logo_light" style="cursor:pointer" onclick="location.assign('/')"> <div class="logo"></div> </div> </td> <td valign="bottom"> <table cellpadding="0" cellspacing="0" class=""> <!-- tr> <td class="left">&nbsp;</td> <td class="white border"><a href="/auction/">àóêöèîí äîìåíîâ</a></td> <td class="blue"><a href='https://r01.ru'>ðåãèñòðàöèÿ äîìåíîâ</a></td> <td class="white border"><a href="https://hosting.r01.ru/">õîñòèíã</a></td> <td class="white"><a href="https://r01.ru/about/" >î ðåãèñòðàòîðå</a></td> <td class="right">&nbsp;</td> </tr --> <tr> <td class="noact"><a href="https://partner.r01.ru/auction/">àóêöèîí äîìåíîâ</a></td> <td class="act"><a href="https://r01.ru">ðåãèñòðàöèÿ äîìåíîâ</a></td> <td class="noact"><a href="https://hosting.r01.ru/">õîñòèíã</a></td> <td class="noact"><a href="https://r01.ru/about/" >î ðåãèñòðàòîðå</a></td> </tr> </table> </td> <td style="height:121px;" valign="middle" align="center"> <!--header--> <table cellspacing="0" cellpadding="0" style="background:#fefefe;" class="controlpanel shadow border1px"> <tr> <td><a href="https://partner.r01.ru/">âõîä äëÿ êëèåíòîâ</a></td> </tr> <tr> <td><a href="https://partner.r01.ru/offerta/offerta_add_select_type.khtml" >çàêëþ÷èòü äîãîâîð</a></td> </tr> <tr> <td><a href="/about/contacts/" target="_blank">êîíòàêòû</a></td> </tr> </table> </td> </tr> <!--//header--> <tr> <td valign="top" style="width:200px; background-color:#d7d7d7; padding-top:1em;"> <!--left menu--> <ul class="menu"><li class=" "><a href="/domain/" >çàðåãèñòðèðîâàòü äîìåí</a></li><li class=" "><a href="/domain/pay/" >òàðèôû</a></li><li class=" "><a href="/domain/whois/" >whois. ïðîâåðêà äîìåíà</a></li><li class=" "><a href="/domain/whois/check_website.php" >ïðîâåðêà ñàéòà</a></li><li class=" "><a href="/domain/partner/" >ïàðòíåðñêàÿ ïðîãðàììà</a></li><li class=" "><a href="/domain/partner/packet/" >ïàêåòíûå óñëóãè</a></li><li class=" "><a href="https://r01.ru/adcomps/" >àêöèè</a></li><div align="center"><div class="divider"></div></div><ul class="menu"><li class=" "><a href="http://help.r01.ru/" >ïîìîùü</a></li><div align="center"><div class="divider"></div></div><ul class="menu"><li class=" "><a href="https://help.r01.ru/domain/index.html" target="_blank">äîìåíû</a></li><li class=" "><a href="https://help.r01.ru/hosting/index.html" target="_blank">õîñòèíã</a></li><li class=" "><a href="https://help.r01.ru/dns/faq/" target="_blank">âîïðîñû ïî dns</a></li><li class=" "><a href="https://help.r01.ru/ssl/" target="_blank">ssl-ñåðòèôèêàòû</a></li><li class=" "><a href="https://help.r01.ru/payment/index.html" target="_blank">ñïîñîáû îïëàòû</a></li></ul> <!--//left menu--> <!-- webim button --> <!-- <div class="online shadow"><a href="https://r01.ru/" target="_blank" onclick="if (navigator.useragent.tolowercase().indexof('opera') != -1 &amp;&amp; window.event.preventdefault) window.event.preventdefault();this.newwindow = window.open('https://r01.ru/consult.html' , 'webim_online_hc_ru', 'toolbar=0, scrollbars=0, location=0, menubar=0, width=480, height=290, resizable=0');if (this.newwindow==null)return false;this.newwindow.focus();this.newwindow.opener=window;return false"> <img src="/bitrix/r01images/rd/online.jpg" border="0" /></a></div> --> <!--//banners--> <div class="ban" align="center"> </div> <div class="ban" align="center"> </div> <div class="ban" align="center"> </div> <div class="banners" align="center"> <br /> <!--rating@mail.ru counter--> <script language="javascript" type="text/javascript"><!-- d=document;var a='';a+=';r='+escape(d.referrer) js=10//--></script> <script language="javascript1.1" type="text/javascript"><!-- a+=';j='+navigator.javaenabled() js=11//--></script> <script language="javascript1.2" type="text/javascript"><!-- s=screen;a+=';s='+s.width+'*'+s.height a+=';d='+(s.colordepth?s.colordepth:s.pixeldepth) js=12//--></script> <script language="javascript1.3" type="text/javascript"><!-- js=13//--></script> <script language="javascript" type="text/javascript"><!-- d.write('<a href="http://top.mail.ru/jump?from=1125793"'+' target="_top"><img src="http://dd.c2.b1.a1.top.mail.ru/counter'+'?id=1125793;t=210;js='+js+a+';rand='+math.random()+'" alt="ðåéòèíã@mail.ru"'+' border="0" height="31" width="88"/><\/a>') if(11<js)d.write('<'+'!-- ')//--></script> <noscript> <br /> <a target="_top" href="http://top.mail.ru/jump?from=1125793"><img src="http://dd.c2.b1.a1.top.mail.ru/counter?js=na;id=1125793;t=210" border="0" height="31" width="88" alt="ðåéòèíã@mail.ru"/></a> </noscript> <script language="javascript" type="text/javascript"><!-- if(11<js)d.write('--'+'>')//--></script> <!--/counter--> <!--//left col--> <br /> <!--a href="http://hostdeclaration.ru/" target="_blank"><img src="/bitrix/r01images/declaration-badge.png" width="150" height="45" alt="ó÷àñòíèê äåêëàðàöèè õîñòèíã-ïðîâàéäåðîâ" border="0" /></a--> </div> </td> <td class="content" valign="top" > <div align="center" style="padding:0em 1em 0 1em;"> </div> <script type="text/javascript"> var is_shown = false; var favor_checked = true; var is_shown_hosting = false; var is_shown_extras = false; function showallzones(){is_shown = !is_shown $('#whois_form2 .colla').toggle('fast') $('#whois_form2 #showzones').html(is_shown ? 'ñêðûòü äîïîëíèòåëüíûå çîíû' : 'ðàçâåðíóòü âñå çîíû')}function checkedfavor(){favor_checked = !favor_checked if (favor_checked){$('#zone_ru, #zone_com, #zone_net, #zone_online, #zone_club, #zone_shop, #zone_rf, #zone_xn--p1ai, #zone_xn--p1acf, #zone_moscow, #zone_xn--80adxhks, #zone_store, #zone_group').attr('checked', 'checked')}else{$('#zone_ru, #zone_com, #zone_net, #zone_online, #zone_club, #zone_shop, #zone_rf, #zone_xn--p1ai, #zone_xn--p1acf, #zone_moscow, #zone_xn--80adxhks, #zone_store, #zone_group').removeattr('checked')}}function showallhosting(){is_shown_hosting = !is_shown_hosting $('#hostingtable .colla').toggle('fast') $('#hostingtable #showhosting').html(is_shown_hosting ? 'ñêðûòü ïîäðîáíîñòè î òðàôàõ íà õîñòèíã' : 'ðàçâåðíóòü ïîäðîáíîñòè î òàðèôàõ íà õîñòèíã')}function showallextras(){is_shown_extras = !is_shown_extras $('#extrastable .colla').toggle('fast') $('#extrastable #showextras').html(is_shown_extras ? 'ñêðûòü ÷àñòü äîïîëíèòåëüíûõ óñëóã' : 'ðàçâåðíóòü âñå äîïîëíèòåëüíûå óñëóãè')}function formfocus(formidforfocus){var aform = document.getelementbyid(formidforfocus); if( aform.elements[0]!=null){var i; var max = aform.length; for( i = 0; i < max; i++ ){if( aform.elements[ i ].type != "hidden" && !aform.elements[ i ].disabled && !aform.elements[ i ].readonly ){aform.elements[ i ].focus(); break}}}}var checked_all = false function checkedall(){checked_all = !checked_all $('#zone_ru, #zone_su, #zone_com, #zone_net, #zone_org, #zone_biz, #zone_info, #zone_name, #zone_link, #zone_me, #zone_mobi, #zone_asia, #zone_us, #zone_in, #zone_cc, #zone_ws, #zone_bz, #zone_mn, #zone_tel, #zone_kz, #zone_ðô, #zone_club, #zone_online, #zone_shop, #zone_expert, #zone_market, #zone_store, #zone_xn--p1acf, #zone_group, #zone_moscow, #zone_xn--80asehdb, #zone_xn--80adxhks, #zone_xn--p1ai, #zone_tech, #zone_site, #zone_space, #zone_team, #zone_center, #zone_click, #zone_agency, #zone_world, #zone_studio, #zone_life, #zone_art, #zone_app, #zone_city, #zone_company, #zone_style, #zone_media, #zone_one, #zone_news, #zone_help, #zone_ooo').attr('checked', checked_all)}function changeformtype(t){var but = document.getelementbyid("f_but"); var areg = document.getelementbyid("a_reg"); var aget = document.getelementbyid("a_get"); var acheck = document.getelementbyid("a_check"); var wiztype = document.getelementbyid("wiz_type"); wiztype.value=t; if(t == 'reg'){but.value='çàðåãèñòðèðîâàòü'; areg.classname="a003"; aget.classname="a001"; acheck.classname="a001"}if(t == 'get'){but.value='ïåðåíåñòè'; areg.classname="a001"; aget.classname="a003"; acheck.classname="a001"}if(t == 'check'){but.value='ïðîâåðèòü'; areg.classname="a001"; aget.classname="a001"; acheck.classname="a003"}formfocus("whois_form2")}$(document).ready(function(){if(!flashdetect.installed){$('#banner_web-lex').hide()}else{$(window).resize(function(){$('#banner_web-lex embed').attr('width', '100%') $('#banner_web-lex embed').attr('height', $('#banner_web-lex embed').width()/7 )})}}) </script> <!-- div align="center" class="shadow" style="background:url(/bitrix/r01images/trans.gif) repeat center; overflow:hidden; margin-bottom:1em;"><a href="/about/news/detail.php?id=4378" target="_blank"><div style="background:url(/bitrix/r01images/pack_part.jpg) no-repeat center; height:130px;" title=".ru èëè .ðô ïî 150 ðóáëåé"></div></a></div --> <!-- <div align="center" class="shadow" style="background:url(/bitrix/r01images/trans.gif) repeat center; overflow:hidden; margin-bottom:1em;"> <a href="/domain/whois/status.php" target="_blank"> <div style="background:url(/bitrix/r01images/moscow_banner.png) no-repeat center; height:327px;" title=".moscow èëè .ìîñêâà ïî 69 ðóáëåé äî 14 ñåíòÿáðÿ"></div> </a> </div> --> <div class="b-mainpage__banner b-banner"> <div class="b-banner__bdescript b-bdescript"> <p class="b-bdescript__smalltext">òàðèô äëÿ ïàðòíåðîâ <br> îò 50 äîìåíîâ íà äîãîâîðå</p> <p class="b-bdescript__bigtext">150&nbsp;ðóá. çà&nbsp;äîìåí</p> </div> <ul class="b-banner__promolist b-promolist clearfix"> <li class="g-left"><a href="/domain/partner/" class="b-promolist__link">ñòàòü ïàðòíåðîì</a></li> <li class="g-left b-promolist__service b-promolist__service--dns">óñòàíîâêà è íàñòðîéêà áåñïëàòíî</li> <li class="g-left b-promolist__service b-promolist__service--auct">äîìåíû ïðîäàþòñÿ â r01 è â ru-center</li> </ul> </div> <br /> <form name='whois_form2' id='whois_form2' action='/domain/whois/status.php' method="post"> <p><b>òàðèôû äëÿ êëèåíòîâ</b></p> <input type='hidden' id='wiz_type' name='wiz_type' value='reg' /> <table width="100%" class="itable nobordered shadow"> <tr> <th class="td_blue_left">äîìåíû</th> <th colspan="2" align="right" class="td_blue_right"><a href='javascript:showallzones();' id='showzones'>ðàçâåðíóòü âñå çîíû</a></th> </tr> <tr> <td align="right" valign="top" class="td_shadow_gray_top"><span style="border-right:none;">äîìåí:</span></td> <td colspan="2" class="td_shadow_gray_top"> <div class="checkbox"> <input type="text" size="30" name="dom_name3" id="dom_name3" onkeydown='if(event.keycode == 13){zone_submit2()}'/> &nbsp; <input type='submit' id='f_but' value='çàðåãèñòðèðîâàòü' onclick="zone_submit2()" /> </div> <br /> <div class="checkbox" title='íàæìèòå, ÷òîáû ïåðåêëþ÷èòü íà ìàñòåð ðåãèñòðàöèè äîìåíîâ'><a href="#" onclick="changeformtype('reg')" id='a_reg' class="a003">çàðåãèñòðèðîâàòü</a> &nbsp;|&nbsp; <a href="#" onclick="changeformtype('get')" id='a_get' class="a001">ïåðåíåñòè</a> &nbsp;|&nbsp; <a href="#" onclick="changeformtype('check')" id='a_check' class="a001">ïðîâåðèòü</a></div> </td> </tr> <tr> <td colspan="3"> <table width="100%" class="inner border1px"> <tr> <td> <div class='checkbox'> <input id='zone_ru' name='suffix_ru' type='checkbox' checked /> <a href='/domain/index.php?zone=.ru' title='ru - íàöèîíàëüíûé äîìåí ðîññèéñêîé ôåäåðàöèè. äåëåãèðîâàí â 1994 ãîäó. r01 - ïåðâûé àêêðåäèòîâàííûé ðåãèñòðàòîð äîìåíîâ â çîíå .ru'>ru</a>&nbsp;590 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_rf' name='suffix_rf' type='checkbox' checked /> <a style='color:red; font-weight:bold;' href='/domain_rf/' title='ðô - íàöèîíàëüíûé äîìåí ðîññèéñêîé ôåäåðàöèè. ñâîáîäíàÿ ðåãèñòðàöèÿ ñ 11 íîÿáðÿ 2010 ãîäà. r01 - àêêðåäèòîâàííûé ðåãèñòðàòîð äîìåíîâ â çîíå .ðô'>ðô</a>&nbsp;590 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_su' name='suffix_su' type='checkbox' /> <a href='/domain/index.php?zone=.su' title='su - èñïîëüçóåòñÿ êàê åäèíîå èíôîðìàöèîííîå ïðîñòðàíñòâî äëÿ ñòðàí áûâøåãî ñîâåòñêîãî ñîþçà. äîìåí çàðåãèñòðèðîâàí â 1990 ãîäó. âîçìîæíà ðåãèñòðàöèÿ íà íàöèîíàëüíûõ ÿçûêàõ (idn). r01 - àêêðåäèòîâàííûé ðåãèñòðàòîð äîìåíîâ â çîíå .su'>su</a>&nbsp;590 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_com' name='suffix_com' type='checkbox' checked /> <a href='/domain/index.php?zone=.com' title='com - îò àíãë. commercial. îáùèé äîìåí âåðõíåãî óðîâíÿ äëÿ êîììåð÷åñêèõ îðãàíèçàöèé. ââåäåí â 1985 ãîäó. ñåé÷àñ èñïîëüçóåòñÿ áåç îãðàíè÷åíèé.'>com</a>&nbsp;1690 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_org' name='suffix_org' type='checkbox' /> <a href='/domain/index.php?zone=.org' title='org - îò àíãë. organizations. îäèí èç ïåðâûõ äîìåíîâ âåðõíåãî óðîâíÿ. ââåäåí â 1985 ãîäó. ïåðâîíà÷àëüíî ïðåäíàçíà÷åíí äëÿ îðãàíèçàöèé. ñåé÷àñ èñïîëüçóåòñÿ áåç îãðàíè÷åíèé.'>org</a>&nbsp;1590 ðóá. </div> </td> </tr> <tr> <td> <div class='checkbox'> <input id='zone_club' name='suffix_club' type='checkbox' checked /> <a href='/domain/index.php?zone=.club' title='club - '>club</a>&nbsp;1719 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_online' name='suffix_online' type='checkbox' checked /> <a href='/domain/index.php?zone=.online' title='online - '>online</a>&nbsp;319 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_shop' name='suffix_shop' type='checkbox' checked /> <a href='/domain/index.php?zone=.shop' title='shop - '>shop</a>&nbsp;419 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_link' name='suffix_link' type='checkbox' /> <a href='/domain/index.php?zone=.link' title='link - '>link</a>&nbsp;1189 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_market' name='suffix_market' type='checkbox' /> <a href='/domain/index.php?zone=.market' title='market - '>market</a>&nbsp;1059 ðóá. </div> </td> </tr> <tr> <td> <div class='checkbox'> <input id='zone_store' name='suffix_store' type='checkbox' checked /> <a style='color:red; font-weight:bold;' href='/domain/index.php?zone=.store' title='store - '>store</a>&nbsp;419 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_click' name='suffix_click' type='checkbox' /> <a href='/domain/index.php?zone=.click' title='click - '>click</a>&nbsp;189 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_group' name='suffix_group' type='checkbox' checked /> <a style='color:red; font-weight:bold;' href='/domain/index.php?zone=.group' title='group - '>group</a>&nbsp;1059 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_net' name='suffix_net' type='checkbox' checked /> <a href='/domain/index.php?zone=.net' title='net - îò àíãë. network. îáùèé äîìåí âåðõíåãî óðîâíÿ äëÿ ñåòåâûõ ñòðóêòóð. ââåäåí â 1985 ãîäó. ñåé÷àñ èñïîëüçóåòñÿ áåç îãðàíè÷åíèé.'>net</a>&nbsp;1790 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_moscow' name='suffix_moscow' type='checkbox' checked /> <a href='/domain/index.php?zone=.moscow' title='moscow - äîìåí, ïðåäíàçíà÷åííûé äëÿ ôîðìèðîâàíèÿ åäèíîãî èíôîðìàöèîííîãî ïðîñòðàíñòâà ãîðîäà â ñåòè è îíëàéí-áðåíäà ñòîëèöû.'>moscow</a>&nbsp;379 ðóá. </div> </td> </tr> <tr> <td> <div class='checkbox'> <input id='zone_tech' name='suffix_tech' type='checkbox' /> <a href='/domain/index.php?zone=.tech' title='tech - '>tech</a>&nbsp;390 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_site' name='suffix_site' type='checkbox' /> <a href='/domain/index.php?zone=.site' title='site - '>site</a>&nbsp;269 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_space' name='suffix_space' type='checkbox' /> <a href='/domain/index.php?zone=.space' title='space - '>space</a>&nbsp;109 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_team' name='suffix_team' type='checkbox' /> <a href='/domain/index.php?zone=.team' title='team - '>team</a>&nbsp;849 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_center' name='suffix_center' type='checkbox' /> <a href='/domain/index.php?zone=.center' title='center - '>center</a>&nbsp;1059 ðóá. </div> </td> </tr> <tr> <td> <div class='checkbox'> <input id='zone_xn--p1acf' name='suffix_xn--p1acf' type='checkbox' /> <a href='/domain/index.php?zone=.ðóñ' title='ðóñ - '>ðóñ</a>&nbsp;749 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_agency' name='suffix_agency' type='checkbox' /> <a href='/domain/index.php?zone=.agency' title='agency - '>agency</a>&nbsp;599 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_world' name='suffix_world' type='checkbox' /> <a href='/domain/index.php?zone=.world' title='world - '>world</a>&nbsp;599 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_studio' name='suffix_studio' type='checkbox' /> <a href='/domain/index.php?zone=.studio' title='studio - '>studio</a>&nbsp;1169 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_life' name='suffix_life' type='checkbox' /> <a href='/domain/index.php?zone=.life' title='life - '>life</a>&nbsp;379 ðóá. </div> </td> </tr> <tr> <td> <div class='checkbox'> <input id='zone_xn--80asehdb' name='suffix_xn--80asehdb' type='checkbox' /> <a href='/domain/index.php?zone=.îíëàéí' title='îíëàéí - '>îíëàéí</a>&nbsp;2399 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_xn--80adxhks' name='suffix_xn--80adxhks' type='checkbox' checked /> <a href='/domain/index.php?zone=.ìîñêâà' title='ìîñêâà - '>ìîñêâà</a>&nbsp;379 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_info' name='suffix_info' type='checkbox' /> <a href='/domain/index.php?zone=.info' title='info - '>info</a>&nbsp;590 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_expert' name='suffix_expert' type='checkbox' /> <a href='/domain/index.php?zone=.expert' title='expert - '>expert</a>&nbsp;849 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_me' name='suffix_me' type='checkbox' /> <a href='/domain/index.php?zone=.me' title='me - '>me</a>&nbsp;1359 ðóá. </div> </td> </tr> <tr class='colla'> <td> <div class='checkbox'> <input id='zone_art' name='suffix_art' type='checkbox' /> <a href='/domain/index.php?zone=.art' title='art - '>art</a>&nbsp;379 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_in' name='suffix_in' type='checkbox' /> <a href='/domain/index.php?zone=.in' title='in - íàöèîíàëüíûé äîìåí âåðõíåãî óðîâíÿ äëÿ èíäèè. ââåäåí â 1992 ãîäó. äëÿ âñåõ æåëàþùèõ ðåãèñòðàöèÿ îòêðûòà â 2005 ãîäó. '>in</a>&nbsp;2390 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_city' name='suffix_city' type='checkbox' /> <a href='/domain/index.php?zone=.city' title='city - '>city</a>&nbsp;709 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_company' name='suffix_company' type='checkbox' /> <a href='/domain/index.php?zone=.company' title='company - '>company</a>&nbsp;1279 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_style' name='suffix_style' type='checkbox' /> <a href='/domain/index.php?zone=.style' title='style - '>style</a>&nbsp;3759 ðóá. </div> </td> </tr> <tr class='colla'> <td> <div class='checkbox'> <input id='zone_media' name='suffix_media' type='checkbox' /> <a href='/domain/index.php?zone=.media' title='media - '>media</a>&nbsp;4019 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_one' name='suffix_one' type='checkbox' /> <a href='/domain/index.php?zone=.one' title='one - '>one</a>&nbsp;1419 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_news' name='suffix_news' type='checkbox' /> <a href='/domain/index.php?zone=.news' title='news - '>news</a>&nbsp;3079 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_help' name='suffix_help' type='checkbox' /> <a href='/domain/index.php?zone=.help' title='help - '>help</a>&nbsp;3459 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_ooo' name='suffix_ooo' type='checkbox' /> <a href='/domain/index.php?zone=.ooo' title='ooo - '>ooo</a>&nbsp;3589 ðóá. </div> </td> </tr> <tr class='colla'> <td> <div class='checkbox'> <input id='zone_us' name='suffix_us' type='checkbox' /> <a href='/domain/index.php?zone=.us' title='us - íàöèîíàëüíûé äîìåí âåðõíåãî óðîâíÿ äëÿ ñøà. ââåäåí â 1985 ãîäó. '>us</a>&nbsp;1690 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_biz' name='suffix_biz' type='checkbox' /> <a href='/domain/index.php?zone=.biz' title='biz - îò àíãë. business, îáùèé äîìåí âåðõíåãî óðîâíÿ äëÿ áèçíåñ-ñòðóêòóð. äîìåí áûë ñîçäàí â 2001 ãîäó ñ öåëüþ ðåøèòü ïðîáëåìó äåôèöèòà äîìåíîâ, âîçíèêøóþ â ðåçóëüòàòå ïåðåíàñûùåííîñòè çîí com, net è org.'>biz</a>&nbsp;2190 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_name' name='suffix_name' type='checkbox' /> <a href='/domain/index.php?zone=.name' title='name - îáùèé äîìåí âåðõíåãî óðîâíÿ äëÿ ïåðñîíàëüíûõ ñàéòîâ. ââåäåí â 2001 ãîäó.'>name</a>&nbsp;1890 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_tel' name='suffix_tel' type='checkbox' /> <a href='/domain/index.php?zone=.tel' title='tel - ïåðâûé äîìåí âòîðîãî óðîâíÿ, äëÿ êîòîðîãî íå íóæåí õîñòèíã, èíôîðìàöèÿ õðàíèòñÿ íà dns-ñåðâåðàõ. îáùåäîñòóïíàÿ ðåãèñòðàöèÿ îòêðûòà â 2009 ãîäó.'>tel</a>&nbsp;2090 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_mobi' name='suffix_mobi' type='checkbox' /> <a href='/domain/index.php?zone=.mobi' title='mobi - îáùèé äîìåí âåðõíåãî óðîâíÿ, èñïîëüçóåìûé äëÿ ñàéòîâ, àäàïòèðîâàííûõ äëÿ ïðîñìîòðà íà ýêðàíå ìîáèëüíûõ óñòðîéñòâ (òåëåôîíû, êîììóíèêàòîðû è ò.ä.). ââåäåí â 2006 ãîäó.'>mobi</a>&nbsp;4790 ðóá. </div> </td> </tr> <tr class='colla'> <td> <div class='checkbox'> <input id='zone_cc' name='suffix_cc' type='checkbox' /> <a href='/domain/index.php?zone=.cc' title='cc - íàöèîíàëüíûé äîìåí âåðõíåãî óðîâíÿ äëÿ êîêîñîâûõ îñòðîâîâ. ââåäåí â 1997 ãîäó. ñåé÷àñ ðåãèñòðàöèÿ îòêðûòà äëÿ âñåõ æåëàþùèõ. '>cc</a>&nbsp;3490 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_bz' name='suffix_bz' type='checkbox' /> <a href='/domain/index.php?zone=.bz' title='bz - íàöèîíàëüíûé äîìåí âåðõíåãî óðîâíÿ äëÿ áåëèçà, ðàñïîëîæåííîãî â öåíòðàëüíîé àìåðèêå. ñ 2000 ã. äîìåíû .bz ïîçèöèîíèðóþòñÿ êàê äîìåíû äëÿ áèçíåñà. '>bz</a>&nbsp;3990 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_mn' name='suffix_mn' type='checkbox' /> <a href='/domain/index.php?zone=.mn' title='mn - íàöèîíàëüíûé äîìåí âåðõíåãî óðîâíÿ äëÿ ìîíãîëèè. ðåãèñòðàöèÿ îòêðûòà äëÿ âñåõ æåëàþùèõ. '>mn</a>&nbsp;7490 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_ws' name='suffix_ws' type='checkbox' /> <a href='/domain/index.php?zone=.ws' title='ws - íàöèîíàëüíûé äîìåí çàïàäíîãî ñàìîà, íåáîëüøîãî îñòðîâíîãî ãîñóäàðñòâà â ïîëèíåçèè. ââåäåí â 1995 ãîäó. ìíîãèå êîìïàíèè âûáèðàþò äîìåí .ws ïî ïðè÷èíå ïðèâëåêàòåëüíîñòè ýòîé àááðåâèàòóðû, êîòîðóþ ìîæíî ðàñøèôðîâàòü êàê web-site.'>ws</a>&nbsp;1790 ðóá. </div> </td> <td> <div class='checkbox'> <input id='zone_kz' name='suffix_kz' type='checkbox' /> <a href='/domain/index.php?zone=.kz' title='kz - íàöèîíàëüíûé äîìåí âåðõíåãî óðîâíÿ äëÿ êàçàõñòàíà. ââåäåí â 1994 ãîäó.'>kz</a>&nbsp;2190 ðóá. </div> </td> </tr> <tr class='colla'> <td> <div class='checkbox'> <input id='zone_asia' name='suffix_asia' type='checkbox' /> <a href='/domain/index.php?zone=.asia' title='asia - îáùèé äîìåí âåðõíåãî óðîâíÿ, ïðåäíàçíà÷åííûé äëÿ èíòåðíåò-êîìïàíèé è îðãàíèçàöèé àçèàòñêîãî ðåãèîíà. ðåãèñòðàöèÿ âîçìîæíà òîëüêî äëÿ ðåçèäåíòîâ àçèàòñêèõ ñòðàí. '>asia</a>&nbsp;2690 ðóá. </div> </td> </tr> </table> </td> </tr> <tr> <td colspan="3" bgcolor="#f4f4f4" style="padding:6px 14px 6px 14px;"> <div class="checkbox"> <input id="zones_favor2" name="zones_favor2" type="checkbox" onclick="javascript:checkedfavor();" checked/> - ïîïóëÿðíûå <input id="zones_all2" name="zones_all2" type="checkbox" onclick="javascript:checkedall();" /> - âûáðàòü âñå</div> </td> </tr> </table> </form> <p class="small">* - óêàçàííàÿ öåíà äåéñòâèòåëüíà ïðè âûáîðå r01 â ìàñòåðå ðåãèñòðàöèè. <a href="/domain/pay/">ïîäðîáíåå î òàðèôàõ</a>.</p> <table width="100%" class="stable shadow"> <tr> <th class="td_red_left"><a href="/domain/index.php">ïðåèìóùåñòâà ðåãèñòðàòîðà r01</a></th> </tr> <tr> <td class="td_shadow_gray_top"> <ol> <li>ïåðâûé àêêðåäèòîâàííûé ðåãèñòðàòîð â çîíå .ru</li> <li>îïòîâàÿ ðåãèñòðàöèÿ äîìåíîâ. õîñòèíã + äîìåí èç åäèíîãî èíòåðôåéñà</li> <li>óäîáíàÿ ðåñåëëåðñêàÿ ïàíåëü - áèëëèíã r01 äëÿ àâòîìàòèçàöèè áèçíåñà</li> <li>èíäèâèäóàëüíûå ïàðòíåðñêèå ïðîãðàììû, ôóíêöèîíàëüíûé øëþç äëÿ ïàðòíåðîâ</li> <li>ïîëíîå ñêðûòèå ëè÷íûõ äàííûõ â whois-ñåðâèñå</li> <li>óäîáíàÿ ñèñòåìà ðåãèñòðàöèè äîìåíîâ è óïðàâëåíèÿ çîíîé dns</li> <li>ìû íå ñíèìàåì ñ äåëåãèðîâàíèÿ íåîïëà÷åííûå äîìåíû â âûõîäíûå è ïðàçäíè÷íûå äíè. îòäûõàéòå ñïîêîéíî!</li> </ol> </td> </tr> </table> <br /> <!-- <table width="100%" cellpadding="0" cellspacing="0" class="stable nobordered"> <tr> <th colspan="2">ssl-ñåðòèôèêàò â ïîäàðîê</th> </tr> <tr> <td class="td_shadow_gray_top"> <p><b>ssl-ñåðòèôèêàò</b>  ýòî óíèêàëüíàÿ öèôðîâàÿ ïîäïèñü ñàéòà äëÿ íàäåæíîé çàùèòû ïðè ïåðåäà÷å äàííûõ.</p> <p>ïîäòâåðæäàåò ïîäëèííîñòü ñàéòà è <b>ïîëîæèòåëüíî âëèÿåò</b> íà ðàíæèðîâàíèå â ïîèñêîâûõ ñèñòåìàõ.</p> <p><a href="/adcomps/freessl.php">êàê ïîëó÷èòü ñåðòèôèêàò â ïîäàðîê</a></p> </td> </tr> </table> <br /> --> <table width="100%" cellpadding="0" cellspacing="0" class="stable shadow" id="hostingtable"> <tr> <th class="td_blue_left">õîñòèíã</th> <th><a href="https://hosting.r01.ru/">ìèíè</a></th> <th><a href="https://hosting.r01.ru/">ìàêñè</a></th> <th><a href="https://hosting.r01.ru/">óëüòðà</a></th> </tr> <tr> <td>äèñê</td> <td class="gmiddle">3 ãá</td> <td class="gmiddle">7 ãá</td> <td class="gmiddle">12 ãá</td> </tr> <tr> <td>ñàéòîâ</td> <td class="gmiddle">äî 6</td> <td class="gmiddle">äî 12</td> <td class="gmiddle">äî 24</td> </tr> <tr> <td>php, perl, mysql</td> <td class="gmiddle">-</td> <td class="gmiddle">+</td> <td class="gmiddle">+</td> </tr> <tr> <td>âûäåëåííàÿ ïàìÿòü, ìá</td> <td class="gmiddle">64</td> <td class="gmiddle">128</td> <td class="gmiddle">192</td> </tr> <tr> <td>×èñëî ïðîöåññîâ</td> <td class="gmiddle">16</td> <td class="gmiddle">32</td> <td class="gmiddle">64</td> </tr> <tr> <td>âûäåëåííûé ip, ssl</td> <td class="gmiddle">-</td> <td class="gmiddle">-</td> <td class="gmiddle">+</td> </tr> <tr> <td>öåíà *</td> <td class="gmiddle"><a href="https://hosting.r01.ru/">îò 162.5 ðóá/ìåñ</a></td> <td class="gmiddle"><a href="https://hosting.r01.ru/">îò 262.5 ðóá/ìåñ</a></td> <td class="gmiddle"><a href="https://hosting.r01.ru/">îò 407.5 ðóá/ìåñ</a></td> </tr> <tr> <td>&nbsp;</td> <td class="gmiddle"> <form action="https://partner.r01.ru/ab/hosting_add1b.khtml?htid=12"> <input type="submit" value="çàêàçàòü" /> </form> </td> <td class="gmiddle"> <form action="https://partner.r01.ru/ab/hosting_add1b.khtml?htid=13"> <input type="submit" value="çàêàçàòü" /> </form> </td> <td class="gmiddle"> <form action="https://partner.r01.ru/ab/hosting_add1b.khtml?htid=14"> <input type="submit" value="çàêàçàòü" /> </form> </td> </tr> </table> <br/> <table width="100%" cellpadding="0" cellspacing="0" class="stable nobordered" id="extrastable"> <tr> <th colspan="2" class="td_lightblue_left">äîïîëíèòåëüíûå óñëóãè</th> <th colspan="3" align="right" class="td_lightblue_right"><a href='javascript:showallextras();' id='showextras2'>ðàçâåðíóòü âñå äîïîëíèòåëüíûå óñëóãè</a></th> </tr> <tr> <td width="20%" class="gmiddle"><img src="/bitrix/r01images/rd/i1.jpg" /></td> <td width="20%" class="gmiddle"><img src="/bitrix/r01images/rd/i2.jpg" /></td> <td width="20%" class="gmiddle"><img src="/bitrix/r01images/rd/i3.jpg" /></td> <td width="20%" class="gmiddle"><img src="/bitrix/r01images/rd/i4.jpg" /></td> <td width="20%" class="gmiddle"><img src="/bitrix/r01images/rd/i5.jpg" /></td> </tr> <tr class="small"> <td class="gmiddle"><a href="/domain/whois/check_website.php">ïðîâåðêà ðàáîòû ñàéòà</a></td> <td class="gmiddle"><a href="http://help.r01.ru/services/personal_data.html" target="_blank">îòêðûòèå ôèî, òåëåôîíà è e-mail</a></td> <td class="gmiddle"><a href="http://help.r01.ru/dns/editor/index.html" target="_blank">ðåäàêòîð dns</a></td> <td class="gmiddle"><a href="http://help.r01.ru/services/parkovka.html" target="_blank">ïàðêîâêà äîìåíîâ</a> (ïðîñòîé ñàéò-âèçèòêà, èñïîëüçóÿ ãîòîâûå øàáëîíû)</td> <td class="gmiddle"><a href="http://help.r01.ru/services/mail_forw.html" target="_blank">mail-forwarding</a> (ïåðåíàïðàâëåíèå ïî÷òû)</td> </tr> <tr class='colla'> <td class="gmiddle"><a href="http://help.r01.ru/services/web_forw.html" target="_blank" class="nounderline"><img src="/bitrix/r01images/park.png" alt="ïåðåíàïðàâëåíèå ñàéòà" border="0"/></a></td> <td class="gmiddle"><a href="http://help.r01.ru/services/sms_notify.html" target="_blank"><img src="/domain/img/sms16.png" alt="sms-óâåäîìëåíèÿ" border="0"/></a></td> <td class="gmiddle"><a href="http://help.r01.ru/services/limit_access_ip.html" target="_blank"><img src="/domain/img/acl_16.png" alt="îãðàíè÷åíèå äîñòóïà ê ëè÷íîìó êàáèíåòó ïî ip" border="0"/></a></td> <!--td class="gmiddle"><a href="http://help.r01.ru/entry/2003/" target="_blank"><img src="/domain/img/dialup16_2.png" alt="" border="0"/></a></td--> <td class="gmiddle"><a href="http://help.r01.ru/services/r01_bar.html" target="_blank"><img src="/domain/img/bar01_16_2.png" alt="r01.bar" border="0"/></a></td> <td class="gmiddle">&nbsp;</td> </tr> <tr class="small colla"> <td class="gmiddle"><a href="http://help.r01.ru/services/web_forw.html" target="_blank">web-forwarding</a> (ïåðåíàïðàâëåíèå ñàéòà)</td> <td class="gmiddle"><a href="http://help.r01.ru/services/sms_notify.html" target="_blank">sms-óâåäîìëåíèÿ</a></td> <td class="gmiddle"><a href="http://help.r01.ru/services/limit_access_ip.html" target="_blank">îãðàíè÷åíèå äîñòóïà ê ëè÷íîìó êàáèíåòó ïî ip</a></td> <td class="gmiddle"><a href="http://help.r01.ru/services/r01_bar.html" target="_blank">r01.bar</a></td> <td class="gmiddle">&nbsp;</td> </tr> </table> <p class="small">âñå öåíû ïðåäñòàâëåíû â ðóáëÿõ ñ ó÷åòîì íäñ=20%</p> <table width="100%" class="stable shadow"> <tr> <th><a href="/domain/index.php">ðåãèñòðàöèÿ äîìåíà çà ñåêóíäû</a></th> </tr> <tr> <td class="td_shadow_gray_top"> <p><b>çàðåãèñòðèðîâàòü äîìåí è çàêàçàòü õîñòèíã íà ñàéòå ðåãèñòðàòîðà r01 ïðîñòî!</b></p> <p>âàì ïîòðåáóåòñÿ âñåãî 4 øàãà:</p> <ul> <li>ïðîâåðüòå, ñâîáîäíî ëè âûáðàííîå âàìè äîìåííîå èìÿ, èñïîëüçóÿ ñåðâèñ <a href="/domain/whois" >whois </a></li> <li>çàêëþ÷èòå <a href="https://partner.r01.ru/offerta/offerta_add_select_type.khtml" >äîãîâîð îôåðòû</a></li> <li>ïîïîëíèòå ñâîé ëèöåâîé ñ÷åò <a href="/domain/pay/way.php" >óäîáíûì äëÿ âàñ ñïîñîáîì</a></li> <li>çàïîëíèòå è îòïðàâüòå çàÿâêó íà ðåãèñòðàöèþ äîìåíà â <a href="https://partner.r01.ru " >ëè÷íîì êàáèíåòå</a></li> </ul> </td> </tr> </table> <!--//main content--> </td> <!--right col--> <td valign="top" style="width:200px;"> <!--banner in right colomn--> <div class="banners" align="center" style="padding:1em;"> </div> <div class="banners" align="center" style="padding:1em;"> <a href="https://r01.ru/about/news/detail.php?id=3806" target="_self" > <img alt="ãàðàíò ïðîäàæ" title="ãàðàíò ïðîäàæ" src="/upload/bx/e9a/r01-garant-button2.png" width="169" height="70" border="0" /></a> </div> <div align="center"> <a href="https://r01.ru/about/news/detail.php?id=5043" target="_blank"> <img alt="îñòåðåãàéòåñü ìîøåííèêîâ" title="îñòåðåãàéòåñü ìîøåííèêîâ" src="/bitrix/r01images/r01-attantion3.png" width="169" height="70" border="0"> </a> </div> <!--banner end--> <div><br /><br /><br /><br /></div> <div class="news shadow"> <p style="font-size:14px; font-weight:bold;" align="center">íîâîñòè</p> <!--news--> <div id="news"> <div class="data">04.03.2025</div> <div class="newsbody"><a href="/about/news/detail.php?id=5233"><b>èçìåíåíèå ãðàôèêà ðàáîòû</b></a><br /> <a href="/about/news/detail.php?id=5233"></a></div> <div class="data">28.01.2025</div> <div class="newsbody"><a href="/about/news/detail.php?id=5231"><b>èçìåíåíèÿ â òàðèôàõ íà óñëóãè</b></a><br /> ñ 1 ôåâðàëÿ 2025 ãîäà <a href="/about/news/detail.php?id=5231"></a></div> <div class="data">28.12.2024</div> <div class="newsbody"><a href="/about/news/detail.php?id=5229"><b>èçìåíåíèå ãðàôèêà ðàáîòû</b></a><br /> <a href="/about/news/detail.php?id=5229"></a></div> <div class="data">19.12.2024</div> <div class="newsbody"><a href="/about/news/detail.php?id=5227"><b>èçìåíåíèÿ â òàðèôàõ íà óñëóãè</b></a><br /> ñ 1 ÿíâàðÿ 2025 ãîäà <a href="/about/news/detail.php?id=5227"></a></div> <div class="data">16.12.2024</div> <div class="newsbody"><a href="/about/news/detail.php?id=5225"><b>èçìåíåíèå ãðàôèêà ðàáîòû</b></a><br /> <a href="/about/news/detail.php?id=5225"></a></div> <div class="data">28.10.2024</div> <div class="newsbody"><a href="/about/news/detail.php?id=5223"><b>èçìåíåíèå ãðàôèêà ðàáîòû</b></a><br /> <a href="/about/news/detail.php?id=5223"></a></div> <div class="data">22.10.2024</div> <div class="newsbody"><a href="/about/news/detail.php?id=5221"><b>èçìåíåíèå ãðàôèêà ðàáîòû</b></a><br /> <a href="/about/news/detail.php?id=5221"></a></div> <div class="data">26.09.2024</div> <div class="newsbody"><a href="/about/news/detail.php?id=5219"><b>èçìåíåíèÿ â òàðèôàõ íà óñëóãè</b></a><br /> ñ 4 îêòÿáðÿ 2024 ãîäà <a href="/about/news/detail.php?id=5219"></a></div> <div align="center" style="padding:1em 1em 1em 1em;"> <form action="/about/news/"> <input type="submit" value="âñå íîâîñòè" /> </form><br /> <table align="center"> <tr> <td><a href="https://r01.ru/rss_feed.php"><img src="/bitrix/r01images/rss_feed.gif" border="0" height="24" width="24" /></a></td> <td><a href="https://twitter.com/r01_ru" target=_blank><img src="/bitrix/r01images/twitter_icon.gif" alt="twitter" height="24" width="24" border="0" /></a></td> <td><a href="https://vk.com/r01_ru" target="_blank"><img src="/bitrix/r01images/vk.png" alt="âêîíòàêòå" border="0" height="24" width="24" /></a></td> <td><a href="https://www.facebook.com/r01.ru" target="_blank"><img src="/bitrix/r01images/facebook.png" alt="facebook" border="0" height="24" width="24" /></a></td> </tr> </table> </div> </div> </div> <!--//news--> </td> <!--//right col--> </tr> <tr> <td colspan="3" style="height:100px; padding:5px 0 0 0;"> <!-- begin of top100 code --> <!-- script id="top100counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?975344"></script --> <noscript> <!-- img src="http://counter.rambler.ru/top100.cnt?975344" alt="" width="1" height="1" border="0" / --> </noscript> <!-- end of top100 code --> <!-- yandex.metrika counter --> <script type="text/javascript"> (function (d, w, c){(w[c] = w[c] || []).push(function(){try{w.yacounter439827 = new ya.metrika({id:439827, webvisor:true, clickmap:true, tracklinks:true, accuratetrackbounce:true})}catch(e){}}); var n = d.getelementsbytagname("script")[0], s = d.createelement("script"), f = function (){n.parentnode.insertbefore(s, n)}; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object opera]"){d.addeventlistener("domcontentloaded", f, false)}else{f()}})(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="//mc.yandex.ru/watch/439827" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /yandex.metrika counter --> <div style="width:100%; height:100%; background-color:#d7d7d7;"> <table class="small gray"> <tr> <td valign="top" style="padding:2em 0 0 1em">copyright &copy; 2000-2025 ðåãèñòðàòîð r01</td> <td valign="top" style="padding:1em"> <div style="border-left:5px solid #bababa; padding:1em;"> <a href="https://r01.ru/about/contacts/">êîíòàêòû</a> </div> </td> </tr> </table> </div> </td> </tr> </table> </body></html>
