@import url('https://fonts.googleapis.com/css2?family=roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
button,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

fieldset {
    border: 0
}

button {
    border: none;
    background: transparent
}

:focus {
    outline: none
}

img {
    border: 0;
    vertical-align: bottom
}

object,
embed {
    vertical-align: bottom
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

a * {
    cursor: pointer;
    text-decoration: none
}

a {
    cursor: pointer;
    text-decoration: none
}

input,
textarea {
    box-sizing: border-box;
    font-family: 'rajdhani', sans-serif;
    outline: none
}

body {
    background: #fff;
    font-size: 14px;
    line-height: 16px;
    font-family: 'rajdhani', sans-serif;
    color: #000
}

button:focus {
    outline: none
}

html,
body {
    height: 100%
}

.empty-content {
    margin-bottom: 20px;
    color: #000;
    line-height: 1.2;
    font-size: 17px;
    padding: 0 10px
}

body.dark .empty-content {
    color: #fff
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.main {
    flex: 1 0 auto
}

.footer {
    flex: 0 0 auto;
    text-align: center;
    padding: 0 0 50px
}

.opt.hidden {
    display: none
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?8q9lvp');
    src: url('../fonts/icomoon.eot?8q9lvp#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?8q9lvp') format('truetype'), url('../fonts/icomoon.woff?8q9lvp') format('woff'), url('../fonts/icomoon.svg?8q9lvp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-calendar:before {
    content: "\e900"
}

.icon-time:before {
    content: "\e901"
}

.icon-eye:before {
    content: "\e902"
}

.icon-right:before {
    content: "\e903"
}

.icon-down:before {
    content: "\e904"
}

.icon-close:before {
    content: "\e905"
}

.icon-left:before {
    content: "\e906"
}

.icon-search:before {
    content: "\e907"
}

.icon-bin:before {
    content: "\e9ac"
}

.icon-download:before {
    content: "\e9c2"
}

.icon-eye1:before {
    content: "\e9ce"
}

.icon-arrow-up:before {
    content: "\ea32"
}

.icon-arrow-down:before {
    content: "\ea36"
}

.player-wrap {
    position: relative
}

#kt_player {
    position: absolute !important
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 30px
}

.main .container {
    padding: 50px 30px 0
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px
}

.header_panel {
    display: flex;
    align-items: center
}

.header {
    box-shadow: 0 1px 0 #cfcfcf;
    box-sizing: border-box
}

.search {
    display: none;
    width: 100%
}

body.search-open .navigation,
body.search-open .button_search {
    display: none
}

body.search-open .search {
    display: flex
}

body.search-open .header_panel {
    width: 100%;
    max-width: 793px
}

.navigation {
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
    box-sizing: border-box
}

.navigation .item {
    padding: 0 10px
}

.navigation .item .link {
    display: block;
    padding: 8px 8px;
    white-space: nowrap;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 10px;
    background: transparent;
    transition: color .3s, background .3s
}

.navigation .item .link.link-drop {
    border: 1px solid transparent;
    box-sizing: border-box;
    border-bottom: none;
    transition: border .3s
}

.navigation .item .link.active {
    color: #fff;
    background: #000
}

.header .logo img {
    width: 162px;
    height: auto
}

.burger,
.navigation .icon-close {
    display: none
}

.icon-search {
    font-size: 19px
}

.switch_search {
    cursor: pointer
}

.search+.switch_search {
    margin: 0 10px 0 0
}

.search .input {
    border-radius: 10px 0 0 10px;
    border: 1px solid #cfcfcf;
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    padding: 7px 20px;
    width: 100%
}

.search .button {
    background: #000;
    color: #fff;
    border-radius: 0 10px 10px 0;
    padding: 7px 15px 7px 15px;
    line-height: 0;
    font-size: 0
}

.search form {
    font-size: 0;
    line-height: 0;
    display: flex;
    width: 100%;
    position: relative
}

.close_button.switch_search {
    margin: 0 0 0 10px;
    font-size: 30px;
    color: #9b9a9a;
    font-size: 0;
    line-height: 0;
    position: static;
    background: transparent !important;
    width: 25px;
    height: auto;
    border: none !important;
    padding: 0
}

.close_button.switch_search i {
    font-size: 25px;
    line-height: 25px
}

.footer_logo {
    margin: 0 0 30px
}

.footer_logo img {
    max-width: 162px;
    height: auto
}

.footer .intro {
    color: #9b9a9a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px
}

.footer .holder {
    display: flex;
    justify-content: center;
    padding: 0 0 30px
}

.footer .holder .item {
    padding: 0 15px
}

.footer .holder a {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px
}

.box {
    padding: 0 0 15px
}

.box .headline {
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
    padding: 0 0 20px;
    display: flex;
    justify-content: space-between
}

.box .headline:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 15px;
    height: 4px;
    width: 110px;
    background: #000
}

.img-holder {
    position: relative;
    padding: 0 0 56.25%
}

.items.custom .img-holder {
    padding: 0 0 141.25%
}

.items {
    margin: 0 -10px;
    font-size: 0
}

.clearfix::before,
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    width: 100%
}

.spot.footer.list .text {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 10%
}

.spot.footer.list .opt {
    margin: 0 50px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translatey(-50%)
}

.spot.footer.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 25px 0;
    float: right;
    display: inline-block;
    width: calc(50% - 20px);
    height: 100%;
    position: relative;
    padding: 0 0 27.9%;
    margin: 0 10px 0 0
}

.items-categories .spot.footer.list {
    padding: 0 0 calc(18.5% + 100px)
}

.items-categories#list_categories_categories_list_items .spot.footer.list {
    padding: 0 0 calc(18.5% + 148px)
}

.items-models .spot.footer.list {
    width: calc(33.33% - 20px);
    padding: 0 0 calc(31.2% + 148px)
}

.items .item {
    width: 25%;
    padding: 0 10px 20px;
    box-sizing: border-box;
    display: inline-block;
    position: relative
}

.items.items-categories .item {
    width: 16.66%
}

.info-holder .items.items-categories .item {
    width: 25%
}

.items.items-models .item {
    width: 11.11%
}

.info-holder .items.items-models .item {
    width: 16.6%
}

.items.items-models .img-holder {
    padding: 0 0 152%
}

.items .item a {
    border-radius: 10px;
    display: block;
    overflow: hidden;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    position: relative
}

.item .title {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    padding: 13px 5px;
    background: transparent;
    transition: background .3s, color .3s;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis
}

.items.items-categories .title,
.items.items-models .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.items.items-categories .title div,
.items.items-models .title div {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
    width: 100%
}

.items.items-categories .title span,
.items.items-models .title span {
    font-size: 16px
}

.img-holder img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto
}

.slick-arrow.slick-disabled {
    opacity: 0;
    visibility: hidden
}

.slick-arrow {
    position: absolute;
    top: calc(50% - 20px);
    transform: translatey(-50%);
    left: -10px;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    z-index: 9;
    color: #fff;
    cursor: pointer;
    transition: background .3s, opacity .3s, visibility .3s;
    opacity: 1;
    font-size: 0;
    line-height: 0;
    visibility: visible
}

.player-related-videos-container .slick-arrow {
    left: 13px
}

.player-related-videos-container .slick-next.slick-arrow {
    left: auto;
    right: 3px
}

.slider-cat .slick-arrow {
    top: calc(50% - 10px)
}

.slick-arrow i {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    font-size: 14px;
    line-height: 16px;
    padding: 2px 2px 0 0
}

.slick-next.slick-arrow {
    left: auto;
    right: -10px
}

.slick-next.slick-arrow i {
    padding: 0px 0px 2px 2px
}

.img-holder .no-thumb {
    position: absolute;
    color: #000;
    top: 50%;
    transform: translatey(-50%);
    left: 0;
    right: 0;
    text-align: center
}

.view_all {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px 13px;
    background: transparent;
    transition: color .3s, background .3s
}

.view_all i {
    font-size: 11px
}

.view_all.mob {
    display: none;
    text-align: center
}

.burger {
    height: 30px;
    align-items: center;
    position: relative
}

.burger span {
    width: 30px;
    height: 4px;
    background: #000
}

.burger:after,
.burger:before {
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 4px;
    left: 0;
    right: 0;
    top: 0
}

.burger:after {
    top: auto;
    bottom: 0
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 5px 0 0
}

.pagination .item {
    margin: 0 2px;
    font-size: 0;
    line-height: 0
}

.pagination .item.prev {
    margin: 0 20px 0 0
}

.pagination .item.prev i {
    margin: 0 10px 0 0;
    color: #000;
    transition: color .3s
}

.pagination .item.next {
    margin: 0 0 0 20px
}

.pagination .item.next i {
    margin: 0 0 0 10px;
    transition: color .3s;
    color: #000
}

.pagination .item.prev a,
.pagination .item.next a {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px 19px
}

.pagination .item a,
.pagination .item span {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #000;
    display: flex;
    align-items: center;
    background: transparent;
    transition: color .3s, background .3s
}

.pagination .item span {
    color: #fff;
    background: #000
}

.sort {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 0 15px;
    line-height: 34px
}

.sort-btn {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 3px 14px 1px;
    cursor: pointer
}

.sort-btn .icon-down {
    font-size: 10px;
    margin: 0 0 0 5px
}

.sort ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
    background: #fff;
    display: none
}

.sort ul a {
    width: 100%;
    text-align: center;
    display: block;
    background: #fff;
    color: #000;
    transition: color .3s, background .3s
}

.sort.open .sort-btn {
    border-radius: 10px 10px 0 0;
    border: 1px solid #000000;
    border-bottom: 1px solid transparent
}

.sort.open ul {
    border: 1px solid #000000;
    border-top: none;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.box .headline.sort-show {
    justify-content: flex-start;
    align-items: center
}

.alphabet {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 13px
}

.alphabet .btn {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 11px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    background: #fff;
    display: block;
    white-space: nowrap;
    margin: 2px 2px;
    transition: color .3s, background .3s
}

.alphabet div.btn {
    display: none;
    border: none;
    padding: 0%
}

.alphabet .btn.dvd {
    background: #f5dada
}

.alphabet .btn.models {
    background: #defcfa
}

.alphabet .btn.active {
    color: #fff;
    background: #000
}

.alphabet .label {
    line-height: 44px;
    font-size: 20px;
    font-weight: 500;
    margin: 0 8px 0 0
}

.from-by {
    display: flex;
    margin: 0 0 15px
}

.from-by .block {
    display: flex;
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    margin: 0 20px 0 0
}

.from-by .block .link {
    color: #f7070f;
    margin: 0 0 0 4px
}

.block-video .alphabet {
    margin: 0 -2px 20px
}

.block-video .headline h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block
}

.block-video {
    display: flex
}

.spot {
    margin: 0 0 0 20px;
    box-sizing: border-box;
    padding: 65px 75px 25px;
    border-radius: 10px;
    border: 1px solid #cfcfcf
}

.block-video .spot {
    margin: 0 0 0 20px;
    padding: 15px 75px 15px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content
}

.spot .text {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 6px
}

.block-video .spot .text {
    margin: 0 0 0px
}

.block-video .spot .opt {
    margin: 0 0 20px
}

.btn.btn-dvd {
    display: block;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 20px 0 20px;
    text-align: center;
    padding: 10px;
    color: #000;
    text-transform: uppercase;
    color: #f7070f;
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    background: transparent;
    transition: background .3s
}

.btn.btn-dvd span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    transition: color .3s
}

.more-less {
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 7px 27px;
    cursor: pointer;
    background: transparent;
    color: #000;
    display: flex;
    align-items: center;
    transition: color .3s, background .3s
}

.more-less i {
    font-size: 10px;
    margin: 0 0 0 5px;
    display: block
}

.info-holder {
    height: 0;
    visibility: hidden
}

.video-info.open .more-less i {
    font-size: 10px;
    margin: 0 0 4px 5px;
    transform: rotate(180deg);
    display: block
}

.video-info.open .more-less {
    margin: 4px 0 0
}

.video-info.open .info-holder {
    height: auto;
    visibility: visible;
    overflow: inherit
}

.block-video .column:first-of-type {
    width: calc(100% - 452px)
}

.item-list {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin: 0 0 20px
}

.item-list span {
    display: flex;
    align-items: center;
    margin: 0 20px 0 0
}

.item-list i {
    font-size: 18px;
    margin: 0 5px 0 0;
    color: #f60211
}

.info-holder .desc {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    margin: 0 0 20px
}

.info-holder .box {
    padding: 5px 0 5px
}

.related-videos .headline a {
    color: #b7b7b7;
    transition: color .3s
}

.related-videos .headline a.active {
    color: #f7070f
}

.load-more {
    text-align: center
}

.load-more .btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    background: transparent;
    transition: color .3s, background .3s;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 8px 27px 5px
}

.load-more .btn i {
    font-size: 10px;
    margin: 0 0 0 6px
}

.item.arrow svg {
    transform: rotate(180deg);
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #000;
    padding: 25px;
    fill: #000;
    background: #fff;
    transition: background .3s, fill .3s
}

.item.arrow .title {
    opacity: 0
}

.item.arrow .text {
    text-align: center;
    text-decoration: underline;
    font-weight: 500;
    font-size: 15px
}

.item.arrow .img-svg {
    position: absolute;
    top: calc(50% + 25px);
    transform: translatey(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center
}

#custom_list_dvds_groups_custom_popular_channels_group .item.arrow .img-svg {
    top: 50%
}

.item.arrow a {
    position: relative;
    color: #000
}

.headline h1 {
    display: flex;
    flex-direction: column
}

.headline h1 span {
    font-size: 29px
}

.easy-autocomplete {
    width: 100% !important
}

.easy-autocomplete-container {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 154;
    text-align: left;
    overflow: hidden
}

.easy-autocomplete-container ul {
    background: none repeat scroll 0 0 #fff;
    border: 0;
    display: none;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    top: 0;
    font-size: 14px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    overflow: hidden
}

.eac-category {
    background-color: #9b9a9a
}

.easy-autocomplete-container ul .eac-category {
    padding: 15px 15px;
    color: #fff
}

.easy-autocomplete a {
    display: block;
    color: #000
}

.easy-autocomplete-container a {
    display: block;
    padding: 20px 15px 20px;
    color: rgb(34, 34, 34);
    transition: background-color .3s, color .3s
}

.easy-autocomplete-container a b {
    color: #f7070f
}

.head,
.head-wrapper,
.right-player-col {
    overflow: initial
}

html.open-menu {
    overflow: hidden
}

.spot.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 20px;
    padding: 15px 0
}

.spot .opt {
    font-size: 0;
    width: 300px;
    overflow: hidden
}

.spot.footer .opt {
    margin: 0 40px
}

.spot.footer .text {
    width: 100%;
    margin: 0 0 0px
}

.spot.footer.top {
    display: none;
    padding: 10px 10px
}

.spot.footer.top .opt {
    width: 300px;
    height: 100px;
    overflow: hidden
}

.spot.footer.top .text {
    margin: 0 0 0px
}

.spot.footer.top img {
    width: 300px
}

.player-related-videos {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.items.kt-api-related-container {
    display: flex;
    width: calc(100% + 10px);
    left: 0;
    right: 0
}

.player-related-videos div.title {
    color: #fff;
    padding: 10px 20px;
    background: rgba(0, 0, 0, .3);
    font-size: 17px
}

.items.kt-api-related-container .item {
    min-width: 43%
}

.player-related-videos {
    height: 100%;
    background: rgba(0, 0, 0, .6)
}

.info-holder .slick-arrow {
    display: none !important
}

.info-holder.open .slick-arrow {
    display: inline-block !important
}

.navigation .item.item-drop {
    display: none;
    position: relative
}

.navigation .item.item-drop:after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: calc(100% - 12px);
    height: 1px;
    background: #fff;
    z-index: 99;
    left: 0;
    right: 0;
    margin: 0 auto
}

.navigation .item.item-drop .drop {
    position: absolute;
    top: 100%;
    right: 5px;
    margin: 0 auto;
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #fff;
    z-index: 9;
    border-radius: 10px 0 10px 10px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #000;
    transition: visibility .3s, opacity .3s
}

.navigation .item.item-drop.open .drop {
    visibility: visible;
    opacity: 1
}

.link.link-drop i {
    display: block;
    transform: rotate(90deg)
}

@media screen and (max-width: 1630px) {
    .navigation .item {
        padding: 0 5px
    }

    .spot.footer.list .text {
        top: 6%
    }
}

@media screen and (max-width: 1550px) {
    .block-video .spot .opt:last-of-type {
        display: none
    }

    .info-holder .items.items-models .item {
        width: 20%
    }
}

@media screen and (max-width: 1275px) {
    .navigation {
        padding: 0 10px 0 0
    }

    .spot.footer .opt {
        margin: 0 5px
    }

    .spot.footer.list .opt {
        top: 55%
    }

    .navigation .item.item-drop {
        display: block
    }

    .navigation .item.item-drop .link {
        border-radius: 10px 10px 0 0
    }

    .navigation .item.item-drop .link.link-drop:hover {
        color: #000;
        background: #fff
    }

    .navigation .item.item-drop.open .link.link-drop {
        border: 1px solid #000;
        border-bottom: none
    }

    .navigation .item.item-drop .drop .link {
        border-radius: 0
    }

    .navigation .item.item-drop .drop .item:first-of-type .link {
        border-radius: 10px 0 0 0
    }

    .navigation .item.item-drop .drop .item:last-of-type .link {
        border-radius: 0 0 10px 10px
    }

    .info-holder .items.items-categories .item {
        width: 33.33%
    }

    .info-holder .items.items-models .item {
        width: 20%
    }

    .info-holder .items.items-models .item {
        width: 25%
    }

    body.search-open .header_panel {
        max-width: 550px
    }
}

@media screen and (max-width: 1150px) {
    .items .item {
        width: 33.33%
    }

    .main .container {
        padding: 30px 30px 0
    }

    .box .headline {
        font-size: 27px;
        padding: 0 0 15px
    }

    .block-video .alphabet {
        margin: 0 -2px 15px
    }

    .btn.btn-dvd {
        font-size: 24px;
        margin: 15px 0 15px;
        padding: 5px
    }

    .navigation .item {
        padding: 0 5px
    }

    .navigation {
        padding: 0
    }

    .items.items-categories .item {
        width: 20%
    }

    .items.items-models .item {
        width: 16.66%
    }

    .block-video .spot {
        margin: 0 0 0 10px;
        padding: 15px
    }

    .block-video .spot .text {
        margin: 0 0 0px
    }

    .block-video .column:first-of-type {
        width: calc(100% - 352px)
    }

    .spot.footer.list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 25px 0;
        float: right;
        display: inline-block;
        width: calc(66.67% - 20px);
        height: 100%;
        position: relative;
        padding: 0 0 37.3%;
        margin: 0 10px 0 0
    }

    .items-categories .spot.footer.list {
        padding: 0 0 calc(22.3% + 100px);
        width: calc(60% - 20px)
    }

    .items-categories#list_categories_categories_list_items .spot.footer.list {
        padding: 0 0 calc(22.1% + 148px)
    }

    .items-models .spot.footer.list {
        width: calc(33.33% - 20px);
        padding: 0 0 calc(46.7% + 148px)
    }
}

@media screen and (max-width: 1035px) {
    .spot.footer .opt:last-of-type {
        display: none
    }
}

@media screen and (max-width: 991px) {
    .spot.footer .opt:last-of-type {
        display: none
    }

    .spot.footer.top .opt:last-of-type {
        display: block
    }

    .items.items-categories .item {
        width: 25%
    }

    .items.items-models .item {
        width: 20%
    }

    .block-video .spot .opt {
        margin: 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: 300px;
        margin: 0 auto
    }

    .block-video .spot .text {
        margin: 0 0 0px
    }

    .footer .spot.footer .text {
        width: 100%;
        margin: 0 0 0px
    }

    .item-list {
        margin: 0 0 15px
    }

    .info-holder .desc {
        font-size: 16px;
        line-height: 19px;
        margin: 0 0 5px
    }

    .info-holder .box {
        padding: 5px 0 5px
    }

    .btn.btn-dvd {
        font-size: 24px;
        margin: 15px 0;
        padding: 5px
    }

    .btn.btn-dvd span {
        font-size: 16px
    }

    #list_videos_the_best_videos .items .item:nth-last-child(-n+2),
    #list_videos_fresh_videos .items .item:nth-last-child(-n+2),
    #list_videos_trending_videos .items .item:nth-last-child(-n+2) {
        display: none
    }

    .pagination .page {
        display: none
    }

    .pagination .page.mobile {
        display: block
    }

    .pagination .item.prev a,
    .pagination .item.next a {
        font-size: 0;
        padding: 9px
    }

    .pagination .item.prev i,
    .pagination .item.next i {
        font-size: 18px;
        margin: 0
    }

    .pagination .item.prev {
        margin: 0 2px 0 0
    }

    .pagination .item.next {
        margin: 0 0 0 2px
    }

    .spot.footer.list {
        display: none
    }

    .info-holder .items.items-models .item {
        width: 33.33%
    }

    .container {
        padding: 0 10px
    }

    .main .container {
        padding: 20px 10px 0
    }

    .header .container {
        padding: 20px 10px
    }

    .slick-next.slick-arrow {
        right: 5px
    }

    .slick-arrow {
        left: 5px
    }
}

@media screen and (max-width: 799px) {
    .navigation .item.item-drop {
        display: none
    }

    .view_all.desc {
        display: none
    }

    .view_all.mob {
        display: block
    }

    .view_all {
        margin: 15px 0 0
    }

    .block-video {
        flex-direction: column
    }

    .spot.footer.top {
        display: flex
    }

    .navigation {
        position: absolute;
        left: -100%;
        top: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        z-index: 100;
        padding: 15px;
        align-items: flex-start;
        width: 100%;
        max-width: 350px;
        height: 100%;
        overflow-y: scroll;
        transition: left .3s
    }

    .burger,
    .navigation .icon-close {
        display: flex
    }

    .navigation .item {
        padding: 0;
        width: 100%;
        margin: 0 0 5px
    }

    .navigation .icon-close {
        color: #9b9a9a;
        font-size: 30px;
        margin: 0 0 50px
    }

    .icon-search {
        font-size: 30px
    }

    .search {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0 10px;
        box-sizing: border-box
    }

    body.search-open .header .holder {
        height: 76px;
        box-sizing: border-box
    }

    body.open .navigation {
        left: 0
    }

    body.open {
        overflow: hidden
    }

    body {
        position: relative
    }

    body:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        left: -100%;
        right: 0;
        top: 0;
        bottom: 0;
        transition: left .3s;
        z-index: 99
    }

    body.open:after {
        left: 0
    }

    .close_button.switch_search {
        display: block
    }

    .search .input {
        height: 100%;
        font-size: 16px;
        line-height: 24px
    }

    .search .button {
        padding: 10px 20px
    }

    .alphabet {
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin: 5px -10px 10px
    }

    .block-video .alphabet {
        margin: 0 -10px 15px
    }

    .alphabet .label {
        white-space: nowrap;
        padding: 0 0 0 10px
    }

    .alphabet div.btn {
        display: block;
        width: 30px;
        padding: 0 5px 0 0
    }

    .block-video .spot .opt:last-of-type,
    .block-video .spot .opt:nth-child(3) {
        display: none
    }

    .block-video .column:first-of-type {
        width: 100%
    }

    .block-video .spot {
        margin: 15px 0 0;
        padding: 15px 0;
        overflow: hidden
    }

    .more-less {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        justify-content: center
    }

    .alphabet {
        margin: 5px -10px 10px
    }

    .alphabet .label {
        padding: 0px 0 0 10px
    }

    .alphabet .btn {
        margin: 0px 2px 10px
    }

    .block-video .alphabet {
        margin: 0 -10px 15px
    }

    .load-more .btn {
        width: 100%;
        box-sizing: border-box
    }

    .slick-arrow {
        left: 0
    }

    .slick-next.slick-arrow {
        left: auto;
        right: 0px
    }

    .player {
        margin: 0 -10px
    }

    .info-holder {
        overflow: hidden
    }

    .footer .spot.footer .opt {
        display: none
    }

    .footer .spot.footer .opt:nth-child(2) {
        display: block
    }
}

@media screen and (max-width: 768px) {
    .sort-btn {
        margin-left: 20px
    }

    .sort.open ul {
        margin-left: 20px
    }

    .pagination {
        padding: 15px 0 5px
    }

    .load-more .btn {
        margin: 10px auto
    }

    .slick-arrow {
        left: 0
    }

    .slick-next.slick-arrow {
        right: 0px
    }

    .box .headline:after {
        height: 3px
    }

    .search {
        padding: 0 9px
    }

    .items.items-categories .item {
        width: 33.33%
    }

    .item .title {
        padding: 3px 5px
    }

    .item.arrow .img-svg {
        top: calc(50% + 15px)
    }

    #custom_list_dvds_groups_custom_popular_channels_group .item.arrow .img-svg {
        top: 50%
    }

    .items.items-models .item {
        width: 25%
    }

    .spot.footer.top .opt:nth-child(2) {
        display: block
    }

    .info-holder .items.items-models .item {
        width: 25%
    }
}

@media screen and (max-width: 640px) {
    .items .item {
        width: 50%;
        padding: 0 5px 10px
    }

    .items.slick-slider .item {
        padding: 0 5px 13px !important
    }

    .items .item a {
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2)
    }

    .items {
        margin: 0 -5px
    }

    .navigation .icon-close {
        font-size: 20px;
        margin: 0 0 20px
    }

    .navigation .item .link {
        padding: 9px 20px;
        font-size: 15px
    }

    .icon-search {
        font-size: 20px
    }

    .items.items-categories .item {
        width: 50%;
        padding: 0 5px 10px
    }

    .items.items-categories {
        margin: 0 -5px
    }

    .items.items-models .item {
        width: 33.33%
    }

    .info-holder .items.items-categories .item {
        width: 50%
    }
}

@media screen and (max-width: 550px) {
    .items .item {
        width: 100%
    }

    .burger {
        height: 24px
    }

    .box .headline {
        font-size: 22px
    }

    .burger span {
        width: 24px
    }

    .items.items-models .item {
        width: 50%
    }

    .info-holder .items.items-models .item {
        width: 33.33%
    }
}

@media screen and (max-width: 480px) {
    .info-holder .items.items-models .item {
        width: 50%
    }
}

@media screen and (max-width: 440px) {
    .info-holder .items.items-categories .item {
        width: 100%
    }
}

@media screen and (min-width: 1024px) {
    .navigation .item .link:hover {
        color: #fff;
        background: #000
    }

    .item a:hover .title {
        color: #fff;
        background: #000
    }

    .slick-arrow:hover {
        background: #f7070f
    }

    .view_all:hover {
        color: #fff;
        background: #000
    }

    .pagination .item a:hover {
        color: #fff;
        background: #000
    }

    .pagination .item a:hover i {
        color: #fff
    }

    .sort ul a:hover {
        background: #000;
        color: #fff
    }

    .alphabet .btn:hover {
        color: #fff;
        background: #000
    }

    .more-less:hover {
        color: #fff;
        background: #000
    }

    .related-videos .headline a:hover {
        color: #f7070f
    }

    .load-more .btn:hover {
        color: #fff;
        background: #000
    }

    .item.arrow a:hover svg {
        fill: #fff;
        background: #000
    }
}

.lazyload,
.lazyloading {
    opacity: 0
}

.lazyloaded {
    opacity: 1;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms
}

.item .preview {
    position: absolute;
    right: 15px;
    bottom: 25px;
    box-sizing: border-box;
    line-height: 1;
    background: rgba(0, 0, 0, .4);
    border-radius: 10px;
    cursor: pointer;
    display: block;
    width: 15%;
    min-width: 40px
}

.item .preview svg {
    padding: 5% 16%;
    width: 100%;
    box-sizing: border-box;
    height: auto
}

body.redy-load .item .preview svg {
    opacity: 1
}

body.redy-load .item .preview .loadingio-spinner-spinner-ut9souemu1r {
    display: none
}

@media screen and (max-width: 640px) {
    .item .preview {
        width: fit-content;
        right: 10px;
        bottom: 15px
    }

    .item .preview svg {
        max-width: 34px;
        height: 34px;
        box-sizing: initial;
        padding: 5px 10px
    }
}

.top_spot {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    max-width: 100%;
    margin: 2px 1px;
    display: none
}

.top_spot.desk {
    display: flex !important;
    padding: 5px;
    position: relative
}

.top_spot.desk iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media (max-width: 700px) {
    .top_spot.desk {
        display: none !important
    }

    .top_spot.mobile {
        display: flex !important
    }

    .top_spot.mobile .spot_wrap {
        position: relative
    }
}

@media (max-width: 480px) {
    .top_spot.mobile .spot_wrap {}
}

.top_spot.mobile iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.top_spot.mobile {
    background: none
}

.top_spot.mobile .text {
    margin-bottom: 1px;
    font-size: 15px;
    text-align: center
}

.top-spot div {
    overflow: hidden
}

@media (max-width: 799px) {
    .top_spot {
        margin: 10px 0
    }
}

@media (max-width: 799px) {
    .top_spot {
        margin: 0 0 15px
    }
}

@media (min-width: 800px) {
    .top_spot {
        margin: 0 0 15px
    }
}

.duration_item {
    font-size: 0.9rem;
    position: absolute;
    color: #fff;
    left: 4px;
    bottom: 4px;
    border-radius: 5px;
    background: #000;
    line-height: 1;
    padding: 2px 5px
}

.dark-checkbox:not(checked) {
    position: absolute;
    opacity: 0
}

.dark-checkbox:not(checked)+label {
    position: relative;
    padding: 0 0 0 40px
}

.dark-checkbox:not(checked)+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background: #d9d9d9;
    cursor: pointer
}

.dark-checkbox:not(checked)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f7070f;
    transition: all .2s;
    cursor: pointer
}

body.dark div:not(.preview_holder) .dark-button label:after {
    content: '';
    left: 20px
}

.dark-wrapper {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    max-width: fit-content !important;
    padding: 20px !important;
    margin-top: 20px !important;
    background-color: #d9d9d9 !important
}

.dark-wrapper .dark-block {
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center
}

.dark-wrapper .icon-dark-theme {
    margin-bottom: 10px !important
}

body.light .dark-wrapper .icon-dark-theme circle {
    stroke: #000
}

body.light .dark-wrapper .icon-dark-theme path {
    fill: #000
}

body.dark .dark-wrapper svg,
.dark-wrapper svg {
    color: #fff
}

.dark-wrapper .dark-checkbox+label:before {
    content: '';
    background-color: white
}

.dark-wrapper .icon-dark path {
    fill: white !important
}

.dark-wrapper .icon-dark,
.dark-wrapper .icon-light {
    width: 20px;
    height: 20px
}

.dark-block {
    align-items: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    max-width: 82px
}

.footer-head .dark-block {
    display: none;
    margin-left: 20px
}

.footer-head .dark-block svg {
    color: #d9d9d9;
    width: 16px;
    height: 16px
}

body.dark .footer-head .dark-block svg {
    color: #fff
}

body.light .dark-block svg.icon-light {
    color: #f7070f
}

body.dark .dark-block svg.icon-dark {
    color: #f7070f
}

.mob-nav .dark-block {
    display: flex !important;
    align-items: center;
    max-width: fit-content
}

.dark-button {
    position: relative;
    margin: 0 5px;
    height: 20px;
    cursor: pointer
}

.mob-nav .dark-button {
    margin: 0 5px !important;
    width: auto !important
}

body.dark {
    background-color: #000000;
    color: white
}

body.dark .dark-wrapper {
    background-color: black !important
}

body.dark .dark-checkbox:not(checked)+label:before {
    content: '';
    background-color: white
}

body.dark .dark-wrapper .dark-checkbox+label:before {
    content: '';
    background-color: #333333
}

body.dark .dark-wrapper .icon-dark-theme path {
    fill: white
}

body.dark .dark-wrapper .icon-dark-theme circle {
    stroke: white
}

body.dark .dark-wrapper .dark-block.active .icon-dark path {
    fill: #f7070f !important
}

body.dark .header {
    background-color: #333333;
    box-shadow: none
}

body.dark .box .headline {
    color: #fff
}

body.dark .box .headline:after {
    background: #fff
}

body.dark .spot {
    border-color: #333
}

body.dark .switch_search,
body.dark .navigation .item .link {
    color: #fff
}

body.dark .search .input {
    background: #333;
    color: #fff;
    border: 1px solid #fff;
    border-right: none
}

body.dark .view_all {
    color: #fff;
    border-color: #333
}

@media screen and (min-width: 1024px) {
    body.dark .view_all:hover {
        background: #333
    }
}

body.dark .items .item a {
    box-shadow: 0 5px 13px rgba(51, 51, 51, 0.2)
}

body.dark .items-categories.items .item a {
    border-color: #333
}

body.dark .item .title {
    color: #fff
}

@media screen and (min-width: 1024px) {
    body.dark .item a:hover .title {
        background: #000
    }
}

body.dark .spot.footer .text {
    color: #fff
}

body.dark .footer .holder a {
    color: #fff
}

body.dark .eac-category {
    background-color: #000
}

body.dark .easy-autocomplete-container ul {
    background: none repeat scroll 0 0 #333;
    border-color: #000
}

body.dark .easy-autocomplete-container a {
    color: #fff
}

body.dark .more-less,
body.dark .load-more .btn {
    border-color: #333;
    color: #fff
}

@media screen and (min-width: 1024px) {

    body.dark .more-less:hover,
    body.dark .load-more .btn:hover {
        background: #333
    }
}

body.dark .info-holder .desc,
body.dark .item-list {
    color: #fff
}

body.dark .btn.btn-dvd {
    border-color: #333
}

body.dark .btn.btn-dvd span {
    color: #fff
}

.empty-content a {
    color: #f60211
}

body.dark .burger:after,
body.dark .burger:before,
body.dark .burger span {
    background: #fff
}

@media screen and (max-width: 799px) {
    body.dark .navigation {
        background: #333
    }
}

body.dark .pagination .item a,
body.dark .pagination .item span {
    border-color: #333333;
    color: #fff
}

@media screen and (min-width: 1024px) {
    body.dark .pagination .item a:hover {
        background: #333
    }
}

body.dark .pagination .item span {
    background: #333
}

body.dark .pagination .item.prev i,
body.dark .pagination .item.next i {
    color: #fff
}

body.dark .sort-btn {
    border-color: #333
}

body.dark .sort.open .sort-btn {
    border: 1px solid #333;
    border-bottom: 1px solid transparent
}

body.dark .sort ul a {
    background: #000;
    color: #fff;
    border-top: 1px solid #333
}

body.dark .sort.open ul {
    border: 1px solid #333;
    border-top: none
}

@media screen and (min-width: 1024px) {
    body.dark .sort ul a:hover {
        background: #333
    }
}

body.dark .alphabet .btn {
    border-color: #333;
    color: #fff;
    background: #000
}

@media screen and (min-width: 1024px) {
    body.dark .alphabet .btn:hover {
        background: #333 !important
    }
}

body.dark .alphabet .btn.active {
    background: #333
}

@media screen and (max-width: 799px) {
    body.preview-right .duration_item {
        left: auto;
        right: 15px
    }

    body.preview-right .item .preview {
        left: 15px;
        bottom: 25px
    }
}

.themes-preview {
    padding: 0 !important;
    display: flex !important;
    align-items: flex-start !important;
    margin: 0 !important;
    display: none !important;
    order: 2
}

@media screen and (max-width: 799px) {
    .themes-preview {
        display: flex !important
    }
}

.themes-preview .preview_holder {
    margin-left: 10px
}

body.light .themes-preview .preview_holder svg {
    color: #fff
}

body.dark.preview-right .themes-preview .preview_holder .icon-preview-left,
body.dark .themes-preview .preview_holder svg {
    color: #333333
}

body.light:not(.preview-right) .dark-wrapper .icon-preview-right,
body.dark:not(.preview-right) .dark-wrapper .icon-preview-right {
    color: #f7070f !important
}

body.light.preview-right .dark-wrapper .icon-preview-left,
body.dark.preview-right .dark-wrapper .icon-preview-left {
    color: #f7070f !important
}

body.preview-right .preview_holder .dark-checkbox+label:after {
    content: '';
    left: 20px
}

body:not(.preview-right) .preview_holder label:after {
    right: 0 !important;
    content: '' !important;
    left: 20px
}

body.preview-right .preview_holder label:after {
    left: 0 !important;
    content: '' !important
}

body.dark .alphabet .cross::after,
body.dark .alphabet .cross::before {
    background: #fff
}

body.dark .back-video a {
    background-color: #333333
}

body.dark .vodeo-gallery {
    color: #f7070f
}

body.dark .content {
    background-color: #000
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentcolor;
    fill: currentcolor
}

body.dark .alphabet .btn.dvd {
    background-color: #4c1d1b
}

body.dark .alphabet .btn.models {
    background-color: #2c4067
}

body.dark .items.items-categories .title,
body.dark .items.items-models .title {
    background: #333
}

.more-favourites {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap
}

.more-favourites .btn-favourites {
    margin: 0 0 0 10px
}

.more-favourites .open-desc-and-tags {
    padding: 0 !important;
    margin: 0 !important
}

.more-favourites .open-desc-and-tags .less,
.more-favourites .open-desc-and-tags .more {
    padding: 0;
    border: none;
    display: flex;
    align-items: center
}

.open-desc .more-favourites .open-desc-and-tags .more,
.more-favourites .open-desc-and-tags .less {
    display: none
}

.open-desc .more-favourites .open-desc-and-tags .less {
    display: flex
}

.more-favourites .open-desc-and-tags .text {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
    margin: 0
}

.more-favourites .open-desc-and-tags svg {
    margin: 0 5px 0 0
}

.btn-favourites a {
    font-size: 20px;
    display: inline-block;
    transition: color .3s;
    max-height: 25px;
    overflow: hidden;
    font-size: 18px;
    line-height: 17px
}

.favourites_tags .btn-favourites a,
.btn-favourites a:hover {
    color: #f7070f
}

.btn-favourites span {
    opacity: 0;
    display: flex;
    align-items: center
}

.btn-favourites a[data-action=""] {
    opacity: 0
}

.btn-favourites a[data-action="delet"],
.btn-favourites a[data-action="add"],
.btn-favourites a[data-action="delet"] .delet,
.btn-favourites a[data-action="add"] .add {
    opacity: 1
}

.btn-favourites a[data-action="add"] .delet,
.btn-favourites a[data-action="delet"] .add {
    display: none
}

.headline .btn-favourites {
    margin: 0 auto 0 5px
}

@media screen and (max-width: 1150px) {
    .headline .btn-favourites {
        position: relative;
        top: 3px
    }
}

@media screen and (max-width: 550px) {
    .headline .btn-favourites {
        top: 4px
    }
}

#favorites_tags_holder {
    display: none
}

.btn-favourites svg {
    margin: 0 5px 0 0;
    font-size: 26px;
    color: #000
}

body.dark .btn-favourites svg {
    color: #fff
}

.btn-favourites .text {
    opacity: 1;
    color: #f7070f;
    cursor: pointer;
    border-bottom: 1px solid #f7070f;
    line-height: 1.2
}

@media (max-width: 799px) {
    .video-info {
        padding-bottom: 0
    }

    .more-favourites {
        justify-content: space-around;
        position: relative;
        width: 100%
    }

    .more-favourites .open-desc-and-tags {
        width: 50%;
        justify-content: center;
        padding: 10px 0 !important
    }

    .more-favourites .btn-favourites {
        width: 50%;
        margin: 0
    }

    .more-favourites .btn-favourites a {
        width: 100%;
        padding: 8px 0;
        max-height: 38px
    }

    .more-favourites .btn-favourites a .add,
    .more-favourites .btn-favourites a .delet {
        justify-content: center
    }

    body.dark .more-favourites .open-desc-and-tags,
    body.dark .more-favourites {
        border-color: #000
    }
}

.video-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
}

.video-info .info-holder {
    order: 2
}

.top-bl-ins.title_favourites {
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.save_holder {
    padding-top: 30px
}

.save-favourites {
    background-color: rgb(254, 254, 254);
    min-width: 30px;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    font-size: 14px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    margin: 5px auto;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 2px solid #999999
}

.save-favourites svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none
}

.save-favourites.loading {
    cursor: default;
    pointer-events: none
}

.save-favourites.loading svg {
    display: block
}

.save-favourites.loading span {
    opacity: 0
}

body.dark .save-favourites {
    background-color: #333333;
    color: #fff
}

@media (min-width: 1024px) {

    body.dark .save-favourites:hover,
    .save-favourites:hover {
        background-color: #f7070f;
        color: rgb(255, 255, 255)
    }
}

.save_link {
    text-align: center;
    display: none;
    margin-top: 0
}

.save_link-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.save_link-holder a {
    margin: 15px 5px;
    color: #f7070f !important;
    text-decoration: underline
}

@media (min-width: 1024px) {
    .save_link-holder a:hover {
        text-decoration: none
    }
}

.save_link-holder .copy-link {
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    background: rgb(240, 240, 240)
}

@media (min-width: 1024px) {
    .save_link-holder .copy-link:hover {
        background-color: #f7070f;
        color: rgb(255, 255, 255)
    }
}

.save_link-holder .copy-link svg {
    margin: 0 0 0 5px
}

.qrcode-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px
}

#qrcode {
    padding: 20px;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 10px
}

.content_removed {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translatey(-50%);
    display: none
}

.delet .preview,
.delet a:not(.js-favourites-thumb, .js-delete-history) {
    cursor: default !important;
    pointer-events: none !important
}

.delet .content_removed {
    display: block
}

.delet img {
    opacity: 0
}

.js-delete-history,
.js-favourites-thumb {
    line-height: 0;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 2;
    padding: 5px;
    background: rgba(0, 0, 0, .4);
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    border: none;
    cursor: pointer
}

@media (min-width: 1024px) {

    body.dark .js-delete-history:hover,
    .js-delete-history:hover,
    body.dark .js-favourites-thumb:hover,
    .js-favourites-thumb:hover {
        background-color: #f7070f;
        color: rgb(255, 255, 255)
    }
}

.sort li.hidden,
.top-bl-models .sort li.hidden {
    display: none
}

.text_holder {
    font-size: 16px;
    line-height: 1.2;
    color: #000
}

.text_holder a {
    color: #f7070f;
    font-weight: 500
}

.text_holder a:hover {
    text-decoration: underline
}

body.dark .text_holder {
    color: #fff
}

@media (min-width: 992px) {
    .text_holder {
        padding-left: 30px
    }
}

.text_holder ol {
    margin-top: 0;
    padding-top: 0;
    padding-left: 0
}

body.dark .empty-content.save_link {
    background: transparent
}

.icon-cross-bar {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentcolor;
    fill: currentcolor
}

.more-favourites .btn-favourites a {
    min-height: 40px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 7px 27px;
    cursor: pointer;
    background: transparent;
    color: #000;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    transition: color .3s, background .3s, border-color .3s
}

.more-favourites .btn-favourites a .text {
    border: none;
    color: #000;
    transition: color .3s, background .3s
}

.more-favourites .btn-favourites a svg {
    transition: fill .3s
}

body.dark .more-favourites .btn-favourites a {
    border-color: #333;
    color: #fff
}

body.dark .more-favourites .btn-favourites a svg {
    fill: #fff
}

body.dark .more-favourites .btn-favourites a .text {
    color: #fff
}

.more-favourites .btn-favourites a[data-action="delet"],
body.dark .more-favourites .btn-favourites a[data-action="delet"] {
    background: #000;
    border-color: #000;
    color: #fff
}

body.dark .more-favourites .btn-favourites a[data-action="delet"] {
    border-color: #333
}

.more-favourites .btn-favourites a[data-action="delet"] .text,
body.dark .more-favourites .btn-favourites a[data-action="delet"] .text {
    color: #fff
}

.more-favourites .btn-favourites a[data-action="delet"] svg,
body.dark .more-favourites .btn-favourites a[data-action="delet"] svg {
    fill: #fff
}

@media screen and (min-width: 1024px) {

    .more-favourites .btn-favourites a[data-action="delet"]:hover,
    .more-favourites .btn-favourites a:hover {
        color: #fff;
        background: #000;
        border-color: #000
    }

    .more-favourites .btn-favourites a[data-action="delet"]:hover .text,
    .more-favourites .btn-favourites a:hover .text {
        color: #fff
    }

    .more-favourites .btn-favourites a[data-action="delet"]:hover svg,
    .more-favourites .btn-favourites a:hover svg {
        fill: #fff
    }

    body.dark .more-favourites .btn-favourites a[data-action="delet"]:hover,
    body.dark .more-favourites .btn-favourites a:hover {
        background: #333;
        border-color: #333
    }
}

.video-info.open .more-favourites {
    margin: 0 0 10px
}

.video-info.open .more-less {
    margin: 0
}

@media screen and (max-width: 799px) {
    .more-favourites {
        justify-content: space-between
    }

    .more-favourites .more-less {
        padding: 7px 10px
    }

    .more-favourites .more-less,
    .more-favourites .btn-favourites {
        width: calc(50% - 5px)
    }

    .more-favourites .btn-favourites a {
        width: 100%;
        justify-content: center
    }
}

.hide-on-mobile {
    max-width: 300px;
    overflow: hidden
}

.hide-on-mobile.spot.footer {
    max-width: 100%
}

@media screen and (min-width: 501px) {
    .bn.bn-new .hide-on-mobile {
        margin: 0 auto
    }

    .hide-on-mobile .exo-native-widget-header {
        display: none !important
    }

    .hide-on-mobile .exo-native-widget .exo-native-widget-outer-container .exo-native-widget-item-container {
        flex-basis: calc(100% / 2) !important
    }

    .hide-on-mobile .exo-native-widget .exo-native-widget-outer-container .exo-native-widget-item-container a.exo-native-widget-item .exo-native-widget-item-content {
        height: auto !important
    }
}

@media screen and (max-width: 500px) {
    .bns-bl.show-on-mobile {
        display: inline-block;
        width: 100%;
        margin-top: 15px
    }

    .show-on-mobile {
        min-width: 300px
    }

    .show-on-mobile {
        display: inline-block
    }

    .hide-on-mobile {
        display: none
    }
}

.show-on-mobile {
    display: none !important
}

.block-video .spot .hide-on-mobile .opt,
.block-video .spot .show-on-mobile .opt {
    display: block
}

@media screen and (max-width: 500px) {
    .show-on-mobile {
        display: block !important
    }

    .show-on-mobile .opt {
        margin: 0 auto !important
    }

    .block-video .spot .opt:nth-child(4),
    .hide-on-mobile {
        display: none !important
    }
}
