:root {
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-pill: 9999px;
    --border-radius-rounded: 50%;
    --border-radius-rw-jumbo: 1.75em;
    --border-radius-rw-standard: 1.2em;
    --border-radius-rw-mini: 0.8em;
    --border-radius-rw-banner: 0.5rem;
    --border-radius-rw-testimonial: 20px;
    --border-width-rw-tertiary: 2px;
    --breakpoints-xsmall: 480px;
    --breakpoints-small: 768px;
    --breakpoints-medium: 1024px;
    --breakpoints-large: 1200px;
    --breakpoints-xlarge: 1440px;
    --color-green-01: #108000;
    --color-green-01-alt: #0d7300;
    --color-green-02: #2ca01c;
    --color-green-02-alt: #0e8900;
    --color-green-03: #53b700;
    --color-green-04: #7fd000;
    --color-green-05: #a9e838;
    --color-green-rw-mint: #94f8ba;
    --color-green-rw-green: #0fd46c;
    --color-green-rw-dark: #0a8543;
    --color-green-rw-darker: #086d37;
    --color-green-rw-light: #e8f5e3;
    --color-green-qrc: #009633;
    --color-grey-01: #393a3d;
    --color-grey-02: #6b6c72;
    --color-grey-03: #8d9096;
    --color-grey-04: #babec5;
    --color-grey-05: #d4d7dc;
    --color-grey-06: #e3e5e8;
    --color-grey-07: #eceef1;
    --color-grey-08: #f4f5f8;
    --color-grey-rw-grey-01: #e5e5e5;
    --color-grey-rw-grey-02: #f7f8f3;
    --color-grey-rw-grey-03: #dddddd;
    --color-grey-rw-grey: #c4c4c4;
    --color-grey-rw-dark-grey: #babec5;
    --color-grey-rw-light-grey: #f7f7f7;
    --color-grey-rw-tofu: #f3f2ef;
    --color-grey-rw-dark-tofu: #e2e0db;
    --color-red-01: #b80000;
    --color-red-02: #d52b1e;
    --color-red-light: #e6bcb9;
    --color-red-03: #dd2366;
    --color-blue-00: #053d6d;
    --color-blue-01: #055393;
    --color-blue-02: #0077c5;
    --color-blue-03: #0097e6;
    --color-blue-04: #21abf6;
    --color-blue-05: #34bfff;
    --color-blue-06: #bfdcf1;
    --color-blue-rw-dark: #0d333f;
    --color-blue-rw-darker: #09222a;
    --color-blue-rw-light: #d8eaeb;
    --color-blue-icom-light-blue: #bfdaef;
    --color-blue-rw-light-blue: #00d7d7;
    --color-blue-rw-sky: #dbedee;
    --color-teal-01: #008481;
    --color-teal-02: #00a6a4;
    --color-teal-03: #00c1bf;
    --color-teal-04: #00d7d7;
    --color-teal-05: #07c4d9;
    --color-purple-03: #7a3dd8;
    --color-yellow-02: #ffbb00;
    --color-yellow-mc-yellow: #fee01a;
    --color-pink-02: #c9007a;
    --color-pink-03: #e31c9e;
    --color-pink-04: #dd2366;
    --color-orange-01: #f95700;
    --color-orange-02: #ff6a00;
    --color-orange-03: #ff8000;
    --color-orange-04: #ff6a00;
    --color-orange-05: #f95700;
    --color-orange-rw: #ff8540;
    --color-orange-rw-orange: #ff8540;
    --color-gold-01: #a98343;
    --color-gold-02: #c4974d;
    --color-gold-03: #d2aa64;
    --color-gold-04: #e0bd7b;
    --color-gold-05: #eed092;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-sand-02: #f7f8f3;
    --color-rw-tofu: #f3f2ef;
    --color-rw-dark-tofu: #e2e0db;
    --color-accounting: #53b700;
    --color-payroll: #e31c9e;
    --color-payments: #0097e6;
    --color-time-tracking: #ff8000;
    --easing-slow: cubic-bezier(0.35, 0, 0.5, 1);
    --easing-quick: cubic-bezier(0.35, 0, 0.25, 1);
    --easing-exit: cubic-bezier(0.35, 0, 0.8, 1);
    --easing-entrance: cubic-bezier(0, 0, 0.1, 1);
    --easing-spirited: cubic-bezier(0.35, 1.35, 0.3, 1);
    --easing-spirited-entrance: cubic-bezier(0.15, 1.3, 0.3, 1);
    --easing-spirited-exit: cubic-bezier(0.7, -0.1, 0.6, 1);
    --elevation-skim: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    --elevation-lifted: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    --elevation-raised: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    --elevation-floating: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    --elevation-product-finder-item: 0px 2px 2px rgba(13, 51, 63, 0.1);
    --elevation-product-finder-card: 8px 0px 20px rgba(13, 51, 63, 0.15);
    --elevation-clickable-tooltip: 0px 20px 30px rgba(0, 0, 0, 0.1);
    --font-family-avenir: 'avenirnext forintuit', 'avenir', 'helvetica', 'arial', sans-serif;
    --font-size-10: 60px;
    --font-size-11: 72px;
    --font-size-12: 84px;
    --font-size-13: 96px;
    --font-size-14: 108px;
    --font-size-15: 120px;
    --font-size-16: 132px;
    --font-size-09: 48px;
    --font-size-08: 40px;
    --font-size-07: 34px;
    --font-size-06: 28px;
    --font-size-05: 24px;
    --font-size-04: 20px;
    --font-size-03: 16px;
    --font-size-02: 14px;
    --font-size-01: 12px;
    --font-size-00: 10px;
    --font-size-rw-video-link-font-size: 0.8rem;
    --font-size-rw-video-link-line-height: 1.1rem;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-demi: 600;
    --font-weight-bold: 700;
    --font-weight-heavy: 800;
    --font-lineheight-heading: 1.3;
    --font-lineheight-body: 1.5;
    --font-lineheight-heading-01: 1.4;
    --font-lineheight-body-01: 1.42857143;
    --font-lineheight-heading-02: 1.28571429;
    --font-lineheight-rw-video-link: 21.86px;
    --font-lineheight-size-10: 76px;
    --font-lineheight-size-11: 92px;
    --font-lineheight-size-12: 108px;
    --font-lineheight-size-13: 108px;
    --font-lineheight-size-14: 116px;
    --font-lineheight-size-15: 128px;
    --font-lineheight-size-16: 140px;
    --font-lineheight-size-09: 60px;
    --font-lineheight-size-08: 52px;
    --font-lineheight-size-07: 44px;
    --font-lineheight-size-06: 36px;
    --font-lineheight-size-05: 32px;
    --font-lineheight-size-04: 28px;
    --font-lineheight-size-03: 24px;
    --font-lineheight-size-02: 20px;
    --font-lineheight-size-01: 16px;
    --grid-gutter: 20px;
    --grid-margin-small: 16px;
    --grid-margin-base: 20px;
    --grid-column-10: 83.333%;
    --grid-column-11: 91.667%;
    --grid-column-12: 100%;
    --grid-column-01: 8.333%;
    --grid-column-02: 16.667%;
    --grid-column-03: 25%;
    --grid-column-04: 33.333%;
    --grid-column-05: 41.667%;
    --grid-column-06: 50%;
    --grid-column-07: 58.333%;
    --grid-column-08: 66.667%;
    --grid-column-09: 75%;
    --radius-small: 12px;
    --spacing-xxxsmall: 4px;
    --spacing-xxsmall: 8px;
    --spacing-xsmall: 16px;
    --spacing-small: 20px;
    --spacing-large: 40px;
    --spacing-xlarge: 60px;
    --spacing-xxlarge: 80px;
    --spacing-xxxlarge: 120px;
    --spacing-rw-small-button-height: 48px;
    --spacing-rw-medium-button-height: 52px;
    --spacing-rw-large-button-height: 56px;
    --spacing-rw-small-button-padding: 20px;
    --spacing-rw-medium-button-padding: 28px;
    --spacing-rw-large-button-padding: 36px;
    --spacing-rw-sec-nav-sticky-height-mobile: 134px;
    --spacing-rw-sec-nav-sticky-height-desktop: 90px;
    --zindex-dropdown: 1000;
    --zindex-sticky: 1100;
    --zindex-fixed: 1200;
    --zindex-overlay: 1300;
    --zindex-overlay-closer: 1305;
    --zindex-modal: 1400;
    --zindex-tooltip: 1500;
    --zindex-rw-hero-left: 1;
    --zindex-rw-hero-right: 0;
    --zindex-page-content: 100;
    --zindex-gbl-header-overlay: 1001;
    --zindex-rw-sub-layer: -1
}

.c03productcarouselitem-is-active-af7145e {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: opacity .4s cubic-bezier(.35, 0, .5, 1) .5s, visibility .4s cubic-bezier(.35, 0, .5, 1) .5s, -webkit-transform .4s cubic-bezier(.35, 0, .5, 1) .5s;
    transition: opacity .4s cubic-bezier(.35, 0, .5, 1) .5s, visibility .4s cubic-bezier(.35, 0, .5, 1) .5s, transform .4s cubic-bezier(.35, 0, .5, 1) .5s, -webkit-transform .4s cubic-bezier(.35, 0, .5, 1) .5s, -moz-transform .4s cubic-bezier(.35, 0, .5, 1) .5s;
    -moz-transition: opacity .4s cubic-bezier(.35, 0, .5, 1) .5s, visibility .4s cubic-bezier(.35, 0, .5, 1) .5s, transform .4s cubic-bezier(.35, 0, .5, 1) .5s, -moz-transform .4s cubic-bezier(.35, 0, .5, 1) .5s;
    -webkit-transition: opacity .4s .5s var(--easing-slow), visibility .4s .5s var(--easing-slow), -webkit-transform .4s .5s var(--easing-slow);
    transition: opacity .4s .5s var(--easing-slow), visibility .4s .5s var(--easing-slow), -webkit-transform .4s .5s var(--easing-slow);
    -moz-transition: opacity .4s .5s var(--easing-slow), visibility .4s .5s var(--easing-slow), transform .4s .5s var(--easing-slow), -moz-transform .4s .5s var(--easing-slow);
    transition: opacity .4s .5s var(--easing-slow), visibility .4s .5s var(--easing-slow), transform .4s .5s var(--easing-slow);
    transition: opacity .4s .5s var(--easing-slow), visibility .4s .5s var(--easing-slow), transform .4s .5s var(--easing-slow), -webkit-transform .4s .5s var(--easing-slow), -moz-transform .4s .5s var(--easing-slow)
}

.c03productcarouselitem-is-hidden-ff8c461 {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-5%, 0);
    -moz-transform: translate(-5%, 0);
    transform: translate(-5%, 0);
    -webkit-transition: opacity .4s cubic-bezier(.35, 0, .5, 1), visibility .4s cubic-bezier(.35, 0, .5, 1), -webkit-transform .4s cubic-bezier(.35, 0, .5, 1);
    transition: opacity .4s cubic-bezier(.35, 0, .5, 1), visibility .4s cubic-bezier(.35, 0, .5, 1), transform .4s cubic-bezier(.35, 0, .5, 1), -webkit-transform .4s cubic-bezier(.35, 0, .5, 1), -moz-transform .4s cubic-bezier(.35, 0, .5, 1);
    -moz-transition: opacity .4s cubic-bezier(.35, 0, .5, 1), visibility .4s cubic-bezier(.35, 0, .5, 1), transform .4s cubic-bezier(.35, 0, .5, 1), -moz-transform .4s cubic-bezier(.35, 0, .5, 1);
    -webkit-transition: opacity .4s var(--easing-slow), visibility .4s var(--easing-slow), -webkit-transform .4s var(--easing-slow);
    transition: opacity .4s var(--easing-slow), visibility .4s var(--easing-slow), -webkit-transform .4s var(--easing-slow);
    -moz-transition: opacity .4s var(--easing-slow), visibility .4s var(--easing-slow), transform .4s var(--easing-slow), -moz-transform .4s var(--easing-slow);
    transition: opacity .4s var(--easing-slow), visibility .4s var(--easing-slow), transform .4s var(--easing-slow);
    transition: opacity .4s var(--easing-slow), visibility .4s var(--easing-slow), transform .4s var(--easing-slow), -webkit-transform .4s var(--easing-slow), -moz-transform .4s var(--easing-slow)
}

.c03productcarouselitem-assets-wrapper-16399f1 {
    position: relative;
    grid-area: 1/1/2/2;
    padding-left: 12px;
    padding-right: 12px
}

.c03productcarouselitem-assets-wrapper-16399f1,
.c03productcarouselitem-assets-wrapper-16399f1 *,
.c03productcarouselitem-assets-wrapper-16399f1 ::after,
.c03productcarouselitem-assets-wrapper-16399f1 ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.c03productcarouselitem-assets-wrapper-16399f1 .c03productcarouselitem-assets-timer-695b68e {
    display: none
}

@media only screen and (min-width:768px) {
    .c03productcarouselitem-assets-wrapper-16399f1 {
        padding-left: 82px;
        padding-right: 82px
    }
}

@media only screen and (min-width:1024px) {
    .c03productcarouselitem-is-hidden-ff8c461 {
        -webkit-transform: translate(0, 5%);
        -moz-transform: translate(0, 5%);
        transform: translate(0, 5%)
    }

    .c03productcarouselitem-assets-wrapper-16399f1 {
        grid-area: 1/2/2/3;
        z-index: 1;
        padding-left: 0;
        padding-right: 0
    }

    .c03productcarouselitem-assets-wrapper-16399f1 .c03productcarouselitem-assets-timer-695b68e {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: absolute;
        bottom: 30px;
        left: 9.5%;
        z-index: 3
    }
}

.c03productcarouselitem-content-wrapper-dc62d7c {
    --gray-07: #00254a;
    --pepper-120: #21262a;
    grid-area: 4/1/5/2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px
}

.c03productcarouselitem-content-wrapper-dc62d7c .c03productcarouselitem-body-copy-a00b7f4,
.c03productcarouselitem-content-wrapper-dc62d7c .c03productcarouselitem-eyebrow-copy-c5eea10,
.c03productcarouselitem-content-wrapper-dc62d7c .c03productcarouselitem-headline-copy-d790f15 {
    margin: 0;
    font-family: 'avenirnext forintuit', avenir, helvetica, arial, sans-serif;
    font-family: var(--font-family-avenir);
    font-weight: 500;
    font-weight: var(--font-weight-medium)
}

.c03productcarouselitem-content-wrapper-dc62d7c .c03productcarouselitem-eyebrow-copy-c5eea10 {
    color: var(--gray-07);
    font-size: 1rem;
    line-height: 1.5
}

.c03productcarouselitem-content-wrapper-dc62d7c .c03productcarouselitem-eyebrow-copy-margin-bottom-8da84c1 {
    margin-bottom: 16px
}

.c03productcarouselitem-content-wrapper-dc62d7c .c03productcarouselitem-headline-copy-d790f15 {
    font-size: 1.5rem;
    line-height: 1.33
}

.c03productcarouselitem-content-wrapper-dc62d7c .c03productcarouselitem-headline-copy-margin-bottom-02ade56 {
    margin-bottom: 16px
}

.c03productcarouselitem-content-wrapper-dc62d7c .c03productcarouselitem-body-copy-a00b7f4 {
    font-size: 1rem;
    line-height: 1.5
}

.c03productcarouselitem-content-wrapper-dc62d7c .c03productcarouselitem-body-copy-margin-bottom-b04b7d7 {
    margin-bottom: 32px
}

.c03productcarouselitem-content-wrapper-dc62d7c .c03productcarouselitem-cta-wrapper-ed70d04 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px
}

@media only screen and (min-width:768px) {
    .c03productcarouselitem-content-wrapper-dc62d7c {
        grid-area: 3/1/4/2;
        padding-left: 82px;
        padding-right: 82px
    }

    .c03productcarouselitem-content-wrapper-dc62d7c .c03productcarouselitem-headline-copy-d790f15 {
        font-size: 1.75rem;
        line-height: 1.3
    }
}

@media only screen and (min-width:1024px) {
    .c03productcarouselitem-content-wrapper-dc62d7c {
        grid-area: 1/4/2/5;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0
    }

    .c03productcarouselitem-content-wrapper-dc62d7c .c03productcarouselitem-headline-copy-d790f15 {
        font-size: 2rem;
        line-height: 1.31
    }
}

@media only screen and (min-width:1440px) {
    .c03productcarouselitem-assets-wrapper-16399f1 .c03productcarouselitem-assets-timer-695b68e {
        bottom: 35px
    }

    .c03productcarouselitem-content-wrapper-dc62d7c {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}
