.video_slider_form_inter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 9;
}

.video_slider_form video {
    position: absolute;
    width: calc(100% - 10px) !important;
    height: calc(100% - 10px) !important;
    left: calc(0% + 4px) !important;
    object-fit: cover;
    border-radius: 22px;
    z-index: 5;
}

.video_slider_form_inter img {
    position: relative;
    width: calc(99% - 11px) !important;
    height: calc(97% - 5px) !important;
    margin-left: calc(0% + 6px) !important;
    object-fit: cover;
    margin-top: 7px;
}

.muckup_mask img {
    position: relative;
    width: 100% !important;
    height: 99% !important;
    object-fit: cover;
}


.page-template-page-without-header-footer-v2 #smooth-wrapper {
    overflow: initial;
    height: 100vh;
    margin-bottom: -50px;
}

.without-header-footer-page-v2 .acrobits_softphone-forms_style-2 .gform_wrapper .gform_fields .gfield--type-radio .ginput_container_radio .gfield_radio {
    display: flex;
    gap: 36px !important;
    justify-content: flex-start;
}

.without-header-footer-page-v2 .gfield_radio .gchoice {
    width: auto;
}

.without-header-footer-page-v2 .acrobits_softphone-forms__image1,
.without-header-footer-page-v2 .acrobits_softphone-forms__image2 {
    display: none !important;
}

.without-header-footer-page-v2 .features {
    display: none !important;
}


.slide_efect_form .slide_item:first-child {
    opacity: 1;
}

.slide_efect_form .slide_item {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}


.without-header-footer-page-v2 .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__title-box {
    padding: 0 10%;
    margin-bottom: 100px;
}

.without-header-footer-page-v2 .gform_wrapper.gravity-theme .gfield-choice-input+label {
    max-width: none !important;
}




/* Estilos generales del select */
.without-header-footer-page-v2 #gfield_10_46 select {
    appearance: none;
    /* Quita los estilos nativos */
    width: 100%;
    /* Asegura que ocupe todo el ancho disponible */
    padding: 30px 10px;
    font-size: 16px;
    border: 2px solid #BABFC9;
    /* Color normal */
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover */
.without-header-footer-page-v2 #gfield_10_46 select:hover {
    border-color: #8D95A5;
}

/* Active */
.without-header-footer-page-v2 #gfield_10_46 select:focus {
    border-color: rgba(30, 28, 33, 0);
    outline: none;
}

/* Estilo para las opciones */
.without-header-footer-page-v2 select option {
    background: white;
    color: #8D95A5;
    padding: 10px;
    /* Puede aumentar el tamaño visualmente */
    height: 40px;
    /* No siempre funciona */
}

select:focus-visible {
    border: none;
}

.without-header-footer-page-v2 select option:hover {
    background: white;
}


.without-header-footer-page-v2 #gfield_10_46 select .gf_placeholder {
    color: #BABFC9;
}

.without-header-footer-page-v2 .acro_form_6_wrapper select.has-value {
    color: #1e1c21 !important;
    border-bottom: 2px solid #1e1c21;
}

.without-header-footer-page-v2 .acro_form_6_wrapper select.has-value:hover {
    border-bottom: 2px solid #1e1c21;
}

.acro_form_6_wrapper input[type=text], .acro_form_6_wrapper select {
    color: #1e1c21 !important;
}

.acro_form_6_wrapper select {
    color: #babfc9 !important;
    border-bottom: 2px solid #babfc9;
    font-family: Figtree, sans-serif;
}

.acro_form_6_wrapper select:hover {
    color: #8D95A5 !important;
    border-bottom: 2px solid #8D95A5;
    font-family: Figtree, sans-serif;
}

/* Estilizar el scroll para navegadores basados en WebKit (Chrome, Edge, Safari) */
.without-header-footer-page-v2 .acrobits_softphone-forms__form::-webkit-scrollbar {
    width: 6px;
    /* Grosor de la barra de desplazamiento */
}

/* Estilo del track (fondo de la barra) */
.without-header-footer-page-v2 .acrobits_softphone-forms__form::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color de fondo */
    border-radius: 10px;
}

/* Estilo del thumb (barra deslizante) */
.without-header-footer-page-v2 .acrobits_softphone-forms__form::-webkit-scrollbar-thumb {
    background: rgba(141, 149, 165, 0.61);
    /* Color de la barra */
    border-radius: 10px;
    transition: background 0.3s ease;
}

/* Cambia el color cuando pasas el mouse */
.without-header-footer-page-v2 .acrobits_softphone-forms__form::-webkit-scrollbar-thumb:hover {
    background: #1E1C21;
}

/* Estilos para Firefox */
.without-header-footer-page-v2 .acrobits_softphone-forms__form {
    scrollbar-width: thin;
    scrollbar-color: #8D95A5 #f1f1f1;
    /* (thumb color, track color) */
}

.without-header-footer-page-v2 .acrobits_softphone-forms__form .gform_wrapper .gform_body #gform_page_10_2 .gform_page_footer input[type=button],
.without-header-footer-page-v2 .acrobits_softphone-forms__form .gform_wrapper .gform_body #gform_page_10_2 .gform_page_footer input[type=submit] {
    font-family: Figtree, Helvetica, sans-serif;
    font-size: 18px;
    color: #A889E6;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.acrobits_softphone-forms[data-current_page="4"] .acrobits_softphone-forms__title-box {
    margin-bottom: 10px;
}

.page-template-page-without-header-footer-v2 .acrobits_softphone-forms[data-current_page="4"] .acrobits_softphone-forms__form .gform_wrapper .gform_body #gform_page_10_2 .gform_page_footer input[type=button],
.page-template-page-without-header-footer-v2 .acrobits_softphone-forms[data-current_page="4"] .acrobits_softphone-forms__form .gform_wrapper .gform_body #gform_page_10_2 .gform_page_footer input[type=submit] {
    font-family: Figtree, Helvetica, sans-serif;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
}

.without-header-footer-page-v2 .acrobits_softphone-forms__form {
    padding-bottom: 40px;
    justify-content: flex-start;
}

.muckup_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-size: cover;
}

.slide_efect_form .slide_item {
    position: absolute;
    top: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    right: 0;
    overflow: hidden;
}

.video_slider_form {
    z-index: 10;
}

.slide_item_img_img {
    position: relative;
    right: -10%;
}


.page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .gform_wrapper .gform_fields .gfield--type-radio .ginput_container_radio .gfield_radio input:checked+label:before {
    border-color: #1DAF7E;
}



/* Estilo hover para el radio button */
.page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .gform_wrapper .gform_fields .gfield--type-radio .ginput_container_radio .gfield_radio label:hover:before {
    border-color: #7A7C7E;
    transition: border-color 0.3s ease;
}


.page-template-page-without-header-footer-v2 .acrobits_softphone-forms__form__subtitle.step-2 {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.68px;
    background: linear-gradient(180deg, #2d3442 0, #6c7689 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff0;
    background-clip: text;
}


.page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2[data-current_page="2"] .acrobits_softphone-forms__content-wrapper.step-2 .acrobits_softphone-forms__title-box {
    margin-bottom: 0px !important;
}



.step-3-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.step-3-content .step-3-title {
    font-family: Poppins, Helvetica, sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    font-size: 32px;
    line-height: 33px;
    letter-spacing: -0.28px;
    color: #515354;

}

.step-3-content .step-3-subtitle {
    font-family: Poppins, Helvetica, sans-serif;
    color: #515354;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.2px;

}

.step-3 .acrobits_softphone-forms__title,
.step-3 .acrobits_softphone-forms__subtitle {
    display: none;
}





.step-4-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.step-4-content .step-4-title {
    font-family: Poppins, Helvetica, sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    font-size: 28px;
    line-height: 29px;
    letter-spacing: -0.28px;
    color: #515354;

}

.step-4-content .step-4-subtitle {
    font-family: Poppins, Helvetica, sans-serif;
    color: #515354;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.2px;

}

.step-4 .acrobits_softphone-forms__title,
.step-4 .acrobits_softphone-forms__subtitle {
    display: none;
}


#ssa-booking-app .booking-app .back-button-wrapper button .mdc-button__label::before {
    content: '< Back to the previous step';
    font-family: Figtree, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: initial !important;
    letter-spacing: 0;
}

.slick-slide img {
    display: block;
    width: 100%;
}


.page-template-page-without-header-footer-v2 .acrobits_softphone-forms[data-current_page="2"] .acrobits_softphone-forms__form .acrobits_softphone-forms__form__subtitle.step-1 {
    display: flex !important;
}

.page-template-page-without-header-footer-v2 .acrobits_softphone-forms[data-current_page="2"] .booking-form__cal-head.step-2 {
    display: none !important;
}

.page-template-page-without-header-footer-v2 .acrobits_softphone-forms[data-current_page="3"] .acrobits_softphone-forms__form .acrobits_softphone-forms__form__subtitle.step-1 {
    display: flex !important;
}

.page-template-page-without-header-footer-v2 .acrobits_softphone-forms[data-current_page="3"] .acrobits_softphone-forms__form .acrobits_softphone-forms__form__subtitle.step-2 {
    display: none !important;
}

.page-template-page-without-header-footer-v2 .acrobits_softphone-forms[data-current_page="3"] .booking-form__cal-head.step-3 {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.68px;
    background: linear-gradient(180deg, #2d3442 0, #6c7689 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff0;
    background-clip: text;
    text-align: left;
    padding-top: 0px;
}

.page-template-page-without-header-footer-v2 .acrobits_softphone-forms[data-current_page="4"] .acrobits_softphone-forms__form .acrobits_softphone-forms__form__subtitle.step-1 {
    display: flex !important;
}

.page-template-page-without-header-footer-v2 .acrobits_softphone-forms[data-current_page="4"] .booking-form__cal-head.step-4 {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.68px;
    background: linear-gradient(180deg, #2d3442 0, #6c7689 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff0;
    background-clip: text;
    text-align: left;
    padding-top: 0px;
}





@media (max-width: 767px) {
    .contenedor_slider {
        width: 100vw;
        max-width: 100%;
        display: flex;
    }

    .slide_efect_form {
        position: relative;
        /*Para que los <li> sean relativos a este */
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .slide_efect_form .slide_item {
        position: absolute;
        top: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }


    .video_slider_form {
        position: absolute;
        overflow: hidden;
        width: 24%;
        height: 84%;
        bottom: 0px;
        left: 3%;
        border-radius: 15px;
    }


    .video_cont_slider_form {
        width: 100%;
        height: 100%;
    }

    .page-template-page-without-header-footer-v2 #smooth-wrapper {
        overflow: initial;
    }

    .acrobits_softphone-forms_style-2[data-current_page="1"] .acrobits_softphone-forms__content {
        height: auto;
        min-height: 47vh;
    }

    .acrobits_softphone-forms_style-2[data-current_page="2"] .acrobits_softphone-forms__content {
        height: 82vh;
        justify-content: flex-start;
    }

    .acrobits_softphone-forms_style-2[data-current_page="3"] .acrobits_softphone-forms__content {
        height: 110vh;
    }

    .acrobits_softphone-forms_style-2[data-current_page="4"] .acrobits_softphone-forms__content {
        min-height: 50vh;
        padding-bottom: 0px !important;
    }

    .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__content-wrapper.step-3 .acrobits_softphone-forms__title-box {
        margin-bottom: 0px;
    }

    .video_slider_form_inter img {
        width: calc(103% - 9px) !important;
        height: calc(98% - 5px) !important;
        border-radius: 11px;
        margin-left: calc(0% + 3px) !important;
        margin-top: 4px;
    }

    .video_slider_form video {
        position: absolute;
        width: calc(103% - 9px) !important;
        height: calc(100% - 10px) !important;
        left: calc(0% + 3px) !important;
        object-fit: cover;
        border-radius: 11px;
    }

    .acrobits_softphone-forms__form .gform_wrapper .gform_body .gform_page .acrobits_softphone-forms__form-title {
        font-size: 26px !important;
        line-height: 26px !important;
        letter-spacing: -0.52px !important;
    }

    .acrobits_softphone-forms__form .gform_wrapper .gform_body .gform_fields .gfield_label {
        font-size: 22px !important;
    }

    .page-template-page-without-header-footer-v2 .acro_form_6_wrapper .gform_body .gform_fields {
        grid-row-gap: 34px !important;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__form__subtitle.step-2 {
        font-size: 26px !important;
    }


    .booking-form__cal-head.step-2 {
        display: none;
    }

    .acrobits_softphone-forms_style-2[data-current_page="2"] .acrobits_softphone-forms__content-wrapper.step-2 .acrobits_softphone-forms__image-wrapper {
        height: 50vh !important;

    }

    .acrobits_softphone-forms_style-2[data-current_page="2"] .acrobits_softphone-forms__content-wrapper.step-2 .acrobits_softphone-forms__image-wrapper .acrobits_softphone-forms__slides__slides {
        height: 70vh !important;
    }

    .acrobits_softphone-forms_style-2[data-current_page="2"] .acrobits_softphone-forms__content-wrapper.step-2 .acrobits_softphone-forms__image-wrapper .acrobits_softphone-forms__slides__slides:before {
        width: 100% !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__title-box {
        padding: 0 0%;
        margin-bottom: 30px;
    }

    .acrobits_softphone-forms_style-2[data-current_page="2"] {
        max-height: 208vh !important;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__form {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+1,eeeff2+100 */
        background: linear-gradient(to bottom, #ffffff 66%, #eeeff2 84%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        padding-bottom: 0px !important;

    }

    .acrobits_softphone-forms_style-2[data-current_page="3"] .acrobits_softphone-forms__content .reviews-container {
        overflow: hidden;
    }

    .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__content {
        min-height: 60vh;
        padding-top: 0px !important;
    }

    .step-3-content .step-3-title {
        font-size: 24px !important;
    }

    .acrobits_softphone-forms__title {
        font-size: 24px !important;
        margin-bottom: 0px !important;
    }

    .step-4-content .step-4-title {
        font-size: 24px !important;
        line-height: 25px !important;
    }

    .time-select .md-align-center {
        justify-content: start !important;
    }

    .groundwire_container_lft {
        background: linear-gradient(to bottom, #ffffff 66%, #eeeff2 84%);
    }

    .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__content-wrapper.step-3 .acrobits_softphone-forms__title-box {
        margin-bottom: 0px;
    }



}

@media (min-width: 768px) and (max-width: 979px) {
    .without-header-footer-page-v2 .acrobits_softphone-forms__content {
        width: 50%;
        justify-content: center !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__form {
        width: 50%;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__title-box {
        margin-bottom: 40px;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__content-wrapper {
        margin-top: -21vh;
    }

    .contenedor_slider {
        width: 50vw;
        max-width: 100%;
        display: flex;
    }

    .slide_efect_form {
        position: relative;
        /*Para que los <li> sean relativos a este */
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .slide_efect_form .slide_item {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }


    .video_slider_form {
        position: absolute;
        overflow: hidden;
        width: 21%;
        height: 77%;
        bottom: 4px;
        left: 3%;
        border-radius: 15px;
    }


    .video_cont_slider_form {
        width: 80px;
        height: 167px;
        overflow: hidden;
    }

    .page-template-page-without-header-footer-v2 #smooth-wrapper {
        overflow: initial;
        overflow-x: hidden;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__title-box {
        padding: 0 10%;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__form .gform_wrapper .gform_body .gform_page .acrobits_softphone-forms__form-title {
        font-size: 23px;
        text-align: left;
    }

    .video_slider_form video {
        position: absolute;
        width: calc(103% - 10px) !important;
        height: calc(100% - 10px) !important;
        left: calc(0% + 4px) !important;
        border-radius: 11px;
    }

    .video_slider_form_inter img {
        width: calc(103% - 10px) !important;
        height: calc(98% - 5px) !important;
        border-radius: 11px;
    }

    .muckup_mask img {
        width: calc(111% - 10px) !important;
        height: calc(98% - 5px) !important;
        border-radius: 11px;
    }


}

@media (min-width: 980px) and (max-width:1024px) {
    .without-header-footer-page-v2 .acrobits_softphone-forms__content {
        width: 50%;
        justify-content: center !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__form {
        width: 50%;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__title-box {
        margin-bottom: 40px;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__content-wrapper {
        margin-top: -21vh;
    }

    .contenedor_slider {
        width: 50vw;
        max-width: 100%;
        display: flex;
    }

    .slide_efect_form {
        position: relative;
        /*Para que los <li> sean relativos a este */
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .slide_efect_form .slide_item {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }


    .video_slider_form {
        position: absolute;
        overflow: hidden;
        width: 21%;
        height: 77%;
        bottom: 4px;
        left: 3%;
        border-radius: 15px;
    }



    .video_cont_slider_form {
        width: 80px;
        height: 167px;
        overflow: hidden;
    }

    .page-template-page-without-header-footer-v2 #smooth-wrapper {
        overflow: initial;
        overflow-x: hidden;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__title-box {
        padding: 0 10%;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__form .gform_wrapper .gform_body .gform_page .acrobits_softphone-forms__form-title {
        font-size: 23px;
        text-align: left;
    }


    .video_slider_form video {
        position: absolute;
        width: calc(103% - 10px) !important;
        height: calc(100% - 10px) !important;
        left: calc(0% + 4px) !important;
        border-radius: 11px;
    }

    .video_slider_form_inter img {
        width: calc(103% - 10px) !important;
        height: calc(98% - 5px) !important;
        border-radius: 11px;
    }

    .muckup_mask img {
        width: calc(111% - 10px) !important;
        height: calc(98% - 5px) !important;
        border-radius: 11px;
    }
}

@media (min-width: 1025px) and (max-width:1280px) {
    .without-header-footer-page-v2 .acrobits_softphone-forms__content {
        width: 50%;
        justify-content: center !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__form {
        width: 50%;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__title-box {
        margin-bottom: 40px;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__content-wrapper {
        margin-top: -21vh;
    }

    .contenedor_slider {
        width: 50vw;
        max-width: 100%;
        display: flex;
    }

    .slide_efect_form {
        position: relative;
        /*Para que los <li> sean relativos a este */
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .slide_efect_form .slide_item {
        position: absolute;
        top: 0;
        width: 90%;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }


    .video_slider_form {
        position: absolute;
        overflow: hidden;
        width: 24%;
        height: 85%;
        bottom: 0;
        left: 3%;
        border-radius: 21px;
    }


    .video_cont_slider_form {
        width: 100%;
        height: 95%;
        overflow: hidden;
    }

    .page-template-page-without-header-footer-v2 #smooth-wrapper {
        overflow: initial;
        overflow-x: hidden;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__title-box {
        padding: 0 10%;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__form .gform_wrapper .gform_body .gform_page .acrobits_softphone-forms__form-title {
        font-size: 23px;
        text-align: left;
    }

    .video_slider_form video {
        position: absolute;
        width: calc(103% - 10px) !important;
        height: calc(100% - 10px) !important;
        left: calc(0% + 4px) !important;
        border-radius: 11px;
    }

    .video_slider_form_inter img {
        width: calc(103% - 10px) !important;
        height: calc(98% - 5px) !important;
        border-radius: 11px;
    }

    .muckup_mask img {
        width: calc(111% - 10px) !important;
        height: calc(98% - 5px) !important;
        border-radius: 11px;
    }

}




@media (min-width: 1281px) and (max-width:1366px) {
    .without-header-footer-page-v2 .acrobits_softphone-forms__content {
        width: 50%;
        justify-content: center !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__form {
        width: 50%;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__title-box {
        margin-bottom: 40px;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__content-wrapper {
        margin-top: -21vh;
    }

    .contenedor_slider {
        width: 50vw;
        max-width: 100%;
        display: flex;
    }

    .slide_efect_form {
        position: relative;
        /*Para que los <li> sean relativos a este */
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .slide_efect_form .slide_item {
        position: absolute;
        top: 0;
        width: 90%;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }


    .video_slider_form {
        position: absolute;
        overflow: hidden;
        width: 23%;
        height: 83%;
        bottom: 0;
        left: 3%;
        border-radius: 24px;
    }



    .video_cont_slider_form {
        width: 100%;
        height: 95%;
        overflow: hidden;
    }

    .page-template-page-without-header-footer-v2 #smooth-wrapper {
        overflow: initial;
        overflow-x: hidden;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__title-box {
        padding: 0 10%;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__form .gform_wrapper .gform_body .gform_page .acrobits_softphone-forms__form-title {
        font-size: 23px;
        text-align: left;
    }

    .video_slider_form video {
        position: absolute;
        width: calc(103% - 10px) !important;
        height: calc(100% - 10px) !important;
        left: calc(0% + 4px) !important;
        border-radius: 25px;
    }

    .video_slider_form_inter img {
        width: calc(103% - 10px) !important;
        height: calc(98% - 5px) !important;
        border-radius: 22px;
    }

    .muckup_mask img {
        width: calc(107% - 10px) !important;
        height: calc(98% - 5px) !important;
        border-radius: 22px;
    }
}





@media (min-width: 1367px) and (max-width:1480px) {
    .without-header-footer-page-v2 .acrobits_softphone-forms__content {
        width: 50%;
        justify-content: center !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__form {
        width: 50%;
        justify-content: center !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__title-box {
        margin-bottom: 40px;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__content-wrapper {
        margin-top: -43vh;
    }

    .contenedor_slider {
        width: 50vw;
        max-width: 100%;
        display: flex;
    }

    .slide_efect_form {
        position: relative;
        /*Para que los <li> sean relativos a este */
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .slide_efect_form .slide_item {
        position: absolute;
        top: 0;
        width: 90%;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }


    .video_slider_form {
        position: absolute;
        overflow: hidden;
        width: 24%;
        height: 78%;
        bottom: 12px;
        left: 3%;
        border-radius: 22px;
    }



    .video_cont_slider_form {
        width: 100%;
        height: 100%;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__title-box {
        padding: 0 4%;
    }


    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__title {
        font-size: 32px;
    }

    .page-template-page-without-header-footer-v2 h4.acrobits_softphone-forms__form-title {
        font-size: 34px !important;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .step-2-wrapper .step-2 {
        height: auto;
        margin-top: 0;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .step-2-wrapper .step-3 {
        height: auto;
        margin-top: 0;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .step-2-wrapper .step-4 {
        height: auto;
        margin-top: 0;
    }

    .video_slider_form video {
        position: absolute;
        width: calc(101% - 10px) !important;
        height: calc(104% - 10px) !important;
        left: calc(0% + 4px) !important;
        object-fit: cover;
        border-radius: 22px;
    }

    .video_slider_form_inter img {
        height: calc(102% - 5px) !important;
    }

    .muckup_mask img {
        width: 100% !important;
        height: 100% !important;
    }

    .video_slider_form_inter img {
        width: calc(99% - 8px) !important;
        height: calc(100% - 3px) !important;
        margin-left: calc(0% + 4px) !important;
        margin-top: 2px;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2[data-current_page="2"] .acrobits_softphone-forms__content-wrapper.step-2 .acrobits_softphone-forms__title-box {
        margin-bottom: 20px !important;
    }

}





@media (min-width: 1481px) and (max-width:1600px) {
    .without-header-footer-page-v2 .acrobits_softphone-forms__content {
        width: 50%;
        justify-content: center !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__form {
        width: 50%;
        justify-content: center !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__title-box {
        margin-bottom: 40px;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__content-wrapper {
        margin-top: -43vh;
    }

    .contenedor_slider {
        width: 50vw;
        max-width: 100%;
        display: flex;
    }

    .slide_efect_form {
        position: relative;
        /*Para que los <li> sean relativos a este */
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .slide_efect_form .slide_item {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }


    .video_slider_form {
        position: absolute;
        overflow: hidden;
        width: 22.5%;
        height: 73%;
        bottom: 12px;
        left: 3%;
        border-radius: 22px;
    }



    .video_cont_slider_form {
        width: 100%;
        height: 100%;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__title-box {
        padding: 0 4%;
    }


    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__title {
        font-size: 32px;
    }

    .page-template-page-without-header-footer-v2 h4.acrobits_softphone-forms__form-title {
        font-size: 34px !important;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .step-2-wrapper .step-2 {
        height: auto;
        margin-top: 0;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .step-2-wrapper .step-3 {
        height: auto;
        margin-top: 0;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .step-2-wrapper .step-4 {
        height: auto;
        margin-top: 0;
    }
}





@media (min-width: 1601px) and (max-width:1920px) {
    .without-header-footer-page-v2 .acrobits_softphone-forms__content {
        width: 50%;
        justify-content: center !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__form {
        width: 50%;
        justify-content: center !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__title-box {
        margin-bottom: 40px;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__content-wrapper {
        margin-top: -43vh;
    }

    .contenedor_slider {
        width: 50vw;
        max-width: 100%;
        display: flex;
    }

    .slide_efect_form {
        position: relative;
        /*Para que los <li> sean relativos a este */
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .slide_efect_form .slide_item {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }


    .video_slider_form {
        position: absolute;
        overflow: hidden;
        width: 21.5%;
        height: 74%;
        bottom: 12px;
        left: 3%;
        border-radius: 22px;
    }



    .video_cont_slider_form {
        width: 100%;
        height: 100%;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__title-box {
        padding: 0 10%;
    }


    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__title {
        font-size: 32px;
    }

    .page-template-page-without-header-footer-v2 h4.acrobits_softphone-forms__form-title {
        font-size: 34px !important;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .step-2-wrapper .step-2 {
        height: auto;
        margin-top: 0;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .step-2-wrapper .step-3 {
        height: auto;
        margin-top: 0;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .step-2-wrapper .step-4 {
        height: auto;
        margin-top: 0;
    }
}


@media (min-width: 1920px) {
    .without-header-footer-page-v2 .acrobits_softphone-forms__content {
        width: 50%;
        justify-content: center !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__form {
        width: 50%;
        justify-content: center !important;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms__title-box {
        margin-bottom: 40px;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms__content-wrapper {
        margin-top: -60vh;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms[data-current_page="3"] .acrobits_softphone-forms__content-wrapper.step-3 {
        margin-top: initial;
    }

    .contenedor_slider {
        width: 50vw;
        max-width: 100%;
        display: flex;
    }

    .slide_efect_form {
        position: relative;
        /*Para que los <li> sean relativos a este */
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .slide_efect_form .slide_item {
        position: absolute;
        top: 0;
        right: 0;
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }


    .video_slider_form {
        position: absolute;
        overflow: hidden;
        width: 22%;
        height: 74%;
        bottom: 15px;
        left: 3%;
        border-radius: 35px;
    }


    .video_cont_slider_form {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .page-template-page-without-header-footer-v2 #smooth-wrapper {
        overflow-x: hidden;
        overflow-y: auto;
        height: auto;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .step-2-wrapper .step-2 {
        height: auto;
        margin-top: 0;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .step-2-wrapper .step-3 {
        height: auto;
        margin-top: 0;
    }

    .page-template-page-without-header-footer-v2 .acrobits_softphone-forms_style-2 .step-2-wrapper .step-4 {
        height: auto;
        margin-top: 0;
    }

}




/***

groundwire styles

***/
#landing_cont {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.page-template-groundwire #main {
    height: 100vh;
    display: block;
    overflow: hidden;
}

.groundwire_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.groundwire_container_lft {
    width: 50%;
    background-color: #fff;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px 0;
    height: 100%;
}

.truspilot_cont h1 {
    background: linear-gradient(180deg, #2D3442 0, #6c7689 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff0;
    background-clip: text;
    text-fill-color: #fff0;
    font-family: Figtree, Helvetica, sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    font-size: 20px;
}

.truspilot_cont {
    display: flex;
    gap: 10px;
    align-items: center;
}

#groundwire_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.groundwire_body_tit {
    font-family: Poppins, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.24;
    background: linear-gradient(180deg, #2d3442 0, #6c7689 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff0;
    background-clip: text;
    text-fill-color: #fff0;
    letter-spacing: -.02em;
}

.groundwire_body_txt {
    font-family: Figtree, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #4F4B58;
    letter-spacing: -0.2;
    line-height: 34px;
}

.csp-features-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.csp-feature-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.csp-feature-text {
    font-family: Figtree, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #4F4B58;
    letter-spacing: -0.2;
    line-height: 34px;
}


.groundwire_body_note {
    font-family: Figtree, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4F4B58;
    letter-spacing: -0.2;
    line-height: 21px;
}

.groundwire_footer_cont {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.groundwire_footer_txt {
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.2;
}


.groundwire_container_rgt {
    width: 50%;
    background-image: url(../img/vectorbg.png);
    background-size: contain;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(238, 239, 242);
    background-image: url(../img/vectorbg.png), linear-gradient(rgb(238, 239, 242) 0px, rgb(238, 239, 242) 33.29%, rgb(238, 239, 242) 96.88%);
    color: rgb(81, 83, 84);
    text-align: center;
    height: 100%;
}

#groundwire_rgt_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap: 30px;
}

.groundwire_rgt_cont_txt {
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: -0.1px;
    color: #515354;
    text-align: center;
}

.groundwire_rgt_cont_imgs {
    width: 100%;
    display: flex;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-in-out;
}

.groundwire_rgt_cont_imgs.show-animation {
    opacity: 1;
    transform: translateY(0);
}

.csp-rgtcol-images {
    display: flex;
    width: 100%;
}

.imagen_cont {
    width: 33%;
    position: relative;
}

.imagen_cont:nth-child(2) {
    scale: 115%;
    z-index: 9;
}

.imagen_cont .image_mask {
    width: 100%;
    object-fit: cover;
}

.imagen_cont .image_mask img {
    width: 100%;
}

.imagen_cont video {
    position: absolute;
    width: 91%;
    object-fit: cover;
    top: 5px;
    left: 12px;
    border-radius: 35px;
}




/***
animacion entrada col izquiera
***/

.groundwire_rgt_cont_imgs {
    opacity: 0;
    transform: translateY(150px) scale(0.5);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.groundwire_rgt_cont_imgs.show-animation {
    opacity: 1;
    transform: translateY(0) scale(1);
}









/**estilos para las reviews**/
.reviews-container {
    display: flex;
    gap: 24px 14px;
    flex-wrap: wrap;
    justify-content: center;
}

.stars {
    width: 100%;
    display: flex;
    gap: 2px;
}

.star {
    width: 12px;
    display: inherit;
}

.star img {
    width: 100%;
}

.review-item-container {
    padding: 18px 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 1.745px 3.49px 0px rgba(7, 4, 146, 0.10), 0px 20.938px 52.344px 0px rgba(6, 47, 125, 0.05), 0px 10.469px 20.938px 0px rgba(27, 59, 119, 0.05);
    flex: 0 0 31%;
}

.review-header h3 {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
}

.review-text p {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 12.214px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.193px;
    /* 157.143% */
}

.review-item-container:nth-child(1) {
    flex: 0 0 50%;
    order: -1;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    align-self: center;
    padding: 30px 20px;
    border-radius: 12px;
    margin: 0 20%;
}

.review-item-container:nth-child(1) h3 {
    color: #000;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.review-item-container:nth-child(1) .star {
    width: 40px;
}

.extra_cont {
    display: none;
}

.review-item-container:nth-child(1) .extra_cont {
    display: flex !important;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.review-item-container:nth-child(1) .extra_cont p {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.review-item-container:nth-child(1) .review-text p {
    color: #000;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}

.review-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
}

.review-header {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.review-item-container:nth-child(1) .review-header {
    flex-direction: column-reverse;
    justify-content: space-between;
}

.review-item-container:nth-child(1) .review-item {
    justify-content: center;
}

.review-item-container:nth-child(1) .stars {
    justify-content: center;
}



.csp-footer-app-img-cont img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 9px 33px 0px rgba(162, 165, 168, 0), 0px 1.127px 4.132px 0px rgba(162, 165, 168, 0);
    display: block;
    border-radius: 10px;
    scale: 0.98;
}

.csp-footer-app-img-cont:hover img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 9px 33px 0px rgba(162, 165, 168, 0.20), 0px 1.127px 4.132px 0px rgba(162, 165, 168, 0.41) !important;
    scale: 1;
}

.csp-footer-images {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.csp-footer-images noscript {
    display: none;
}

.imagen_cont .image_mask {
    height: 100%;
    display: block;
}












/*responsive landing*/
/* Mobile first */
@media screen and (min-width: 320px) and (max-width: 479px) {

    #landing_cont {
        height: auto;
    }

    .page-template-groundwire #main {
        height: auto;
        overflow: initial;
    }

    .groundwire_container {
        flex-direction: column;
    }

    .groundwire_container_lft {
        width: 100%;
        height: auto;
        padding: 13px 16px;
    }

    .groundwire_header_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .groundwire_header_logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .truspilot_cont {
        flex-direction: column;
        align-items: center;
    }

    .groundwire_body_tit {
        font-size: 26px;
        text-align: left;
    }

    .groundwire_body_txt {
        font-size: 22px;
        line-height: 31px;
    }


    .csp-feature-text {
        font-size: 22px;
        line-height: 31px;
    }

    .groundwire_footer_txt {
        font-size: 22px;
        text-align: center;
    }

    .csp-footer-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .groundwire_container_rgt {
        width: 100%;
        height: auto;
        padding: 50px 15px;
    }

    .groundwire_rgt_cont_txt {
        font-size: 24px;
        line-height: 26px;
    }

    .imagen_cont video {
        position: absolute;
        width: 91%;
        object-fit: cover;
        top: 4px;
        left: 5px;
        border-radius: 13px;
    }

    .review-item-container:nth-child(1) {
        flex: 0 0 90%;
        margin: 0 0%;
    }

    .review-item-container {
        flex: 0 0 90%;
    }

    .groundwire_container {
        height: 190vh;
    }

    .acrobits_softphone-forms__images {
        padding-top: 0px !important;
    }

}

/* Mobile landscape */
@media screen and (min-width: 480px) and (max-width: 767px) {

    #landing_cont {
        height: auto;
    }

    .page-template-groundwire #main {
        height: auto;
        overflow: initial;
    }

    .groundwire_container {
        flex-direction: column;
    }

    .groundwire_container_lft {
        width: 100%;
        height: auto;
        padding: 13px 16px;
    }

    .groundwire_header_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .groundwire_header_logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .truspilot_cont {
        flex-direction: column;
        align-items: center;
    }

    .groundwire_body_tit {
        font-size: 26px;
        text-align: left;
    }

    .groundwire_body_txt {
        font-size: 22px;
        line-height: 31px;
    }


    .csp-feature-text {
        font-size: 22px;
        line-height: 31px;
    }

    .groundwire_footer_txt {
        font-size: 22px;
        text-align: center;
    }

    .csp-footer-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .groundwire_container_rgt {
        width: 100%;
        height: auto;
        padding: 50px 15px;
    }

    .groundwire_rgt_cont_txt {
        font-size: 24px;
        line-height: 26px;
    }

    #groundwire_rgt_cont {
        gap: 72px;
    }

    .imagen_cont video {
        width: 92%;
        top: 4px;
        left: 5px;
        border-radius: 13px;
    }

    .review-item-container:nth-child(1) {
        flex: 0 0 90%;
        margin: 0 0%;
    }

    .review-item-container {
        flex: 0 0 90%;
    }

    .groundwire_container {
        height: auto;
    }

    .without-header-footer-page-v2 .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__title-box {
        margin-bottom: 0px;
    }

    .acrobits_softphone-forms_style-2 .acrobits_softphone-forms__title {
        margin-bottom: 0px;
    }

    .acrobits_softphone-forms__images {
        padding-top: 0px !important;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page-template-groundwire #main {
        height: auto;
        overflow: initial;
    }

    .groundwire_container {
        flex-direction: column;
    }

    .groundwire_container_lft {
        width: 100%;
        height: auto;
        padding: 50px 15px;
    }

    .groundwire_header_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .groundwire_header_logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .truspilot_cont {
        flex-direction: column;
        align-items: center;
    }

    .groundwire_body_tit {
        font-size: 26px;
        text-align: left;
    }

    .groundwire_body_txt {
        font-size: 22px;
        line-height: 31px;
    }


    .csp-feature-text {
        font-size: 22px;
        line-height: 31px;
    }

    .groundwire_footer_txt {
        font-size: 22px;
        text-align: center;
    }

    .csp-footer-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .groundwire_container_rgt {
        width: 100%;
        height: auto;
        padding: 50px 15px;
    }

    .groundwire_rgt_cont_txt {
        font-size: 24px;
        line-height: 26px;
    }

    #groundwire_rgt_cont {
        gap: 90px;
    }

    .imagen_cont video {
        width: 91%;
        top: 5px;
        left: 11px;
        border-radius: 32px;
    }

    .review-item-container:nth-child(1) {
        flex: 0 0 90%;
        margin: 0 0%;
    }

    .review-item-container {
        flex: 0 0 90%;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) and (max-width: 1199px) {

    .groundwire_container_lft {
        width: 100%;
        height: auto;
        padding: 50px 15px;
    }

    .groundwire_header_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .groundwire_header_logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .truspilot_cont {
        flex-direction: column;
        align-items: center;
    }

    .groundwire_body_tit {
        font-size: 26px;
        text-align: left;
    }

    .groundwire_body_txt {
        font-size: 22px;
        line-height: 31px;
    }


    .csp-feature-text {
        font-size: 22px;
        line-height: 31px;
    }

    .groundwire_footer_txt {
        font-size: 22px;
        text-align: center;
    }

    .csp-footer-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .groundwire_container_rgt {
        width: 100%;
        height: 100%;
        padding: 50px 15px;
    }

    .groundwire_rgt_cont_txt {
        font-size: 24px;
        line-height: 26px;
    }

    #groundwire_rgt_cont {
        gap: 90px;
    }

    .imagen_cont video {
        width: 92%;
        object-fit: cover;
        top: 5px;
        left: 6px;
        border-radius: 20px;
    }

    .csp-rgtcol-images {
        height: 42.3vh;
    }
}

/* Large Desktop */
@media screen and (min-width: 1200px) and (max-width: 1339px) {
    .page-template-groundwire #main {
        height: 100vh;
        display: block;
        overflow: auto;
    }

    .groundwire_container_lft {
        width: 100%;
        height: auto;
        padding: 50px 15px;
    }

    .groundwire_header_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .groundwire_header_logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .truspilot_cont {
        flex-direction: column;
        align-items: center;
    }

    .groundwire_body_tit {
        font-size: 26px;
        text-align: left;
    }

    .groundwire_body_txt {
        font-size: 22px;
        line-height: 31px;
    }


    .csp-feature-text {
        font-size: 22px;
        line-height: 31px;
    }

    .groundwire_footer_txt {
        font-size: 22px;
        text-align: center;
    }

    .csp-footer-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .groundwire_container_rgt {
        width: 100%;
        height: 100%;
        padding: 50px 15px;
    }

    .groundwire_rgt_cont_txt {
        font-size: 24px;
        line-height: 26px;
    }

    #groundwire_rgt_cont {
        gap: 90px;
    }

    .imagen_cont video {
        width: 92%;
        top: 5px;
        left: 7px;
        border-radius: 24px;
    }
}

/* Extra Large Desktop */
@media screen and (min-width: 1340px) and (max-width: 1439px) {
    .imagen_cont video {
        width: 91%;
        top: 5px;
        left: 8px;
        border-radius: 21px;
    }
}

/* Extra Large Desktop */
@media screen and (min-width: 1440px) and (max-width: 1539px) {
    .imagen_cont video {
        width: 92%;
        top: 5px;
        left: 6px;
        border-radius: 23px;
    }
}

/* Extra Large Desktop */
@media screen and (min-width: 1540px) and (max-width: 1679px) {}

/* Extra Large Desktop */
@media screen and (min-width: 1680px) and (max-width: 1779px) {}

/* Extra Large Desktop */
@media screen and (min-width: 1780px) and (max-width: 1879px) {}

/* Extra Large Desktop */
@media screen and (min-width: 1880px) and (max-width: 1919px) {}

/* Extra Large Desktop */
@media screen and (min-width: 1920px) and (max-width: 2559px) {}

/* Extra Large Desktop */
@media screen and (min-width: 2560px) and (max-width: 3199px) {}

/* Extra Large Desktop */
@media screen and (min-width: 3200px) {}